@use "lib/colour";
@use "lib/fonts";

@use "sass:color";

table.filenames
{
  border-collapse: collapse;
  th, td { padding: 0px; }
}

.diff-type-marker
{
  font-size:18px;
  padding:2px;
  text-align:center;
  $n_dash: '\2013';
  $curved_right_arrow: '\21B7';
  &.created   { &:before { content: '+'; } }
  &.deleted   { &:before { content: $n_dash; } }
  &.renamed   { &:before { content: $curved_right_arrow; } }
  &.changed   { &:before { content: '!'; } }
  &.unchanged { &:before { content: '='; } }
}

.diff-type-marker, .diff-filename
{
  @include fonts.plaintext-font();
  &.created   { color: color.adjust(colour.$green,$lightness: 15%, $space: hsl); }
  &.deleted   { color: color.adjust(colour.$red,  $lightness: 15%, $space: hsl); }
  &.renamed   { color: color.adjust(colour.$blue, $lightness: 30%, $space: hsl); }
  &.changed   { color: white; }
  &.unchanged { color: color.adjust(DarkGray,$lightness: -20%, $space: hsl); }
}

.diff-filename
{
  font-size: 12pt;
  color: color.adjust(colour.$darker-color, $lightness: 50%, $space: hsl);
  border: 1px solid color.adjust(colour.$darker-color, $lightness: 2%, $space: hsl); // same as background
  padding-left: 3px;
  cursor: pointer;
  &:hover
  {
    background: color.adjust(colour.$darker-color, $lightness: 5%, $space: hsl);
    border: 1px solid color.adjust(colour.$darker-color, $lightness: 5%, $space: hsl);
  }
  &.selected
  {
    background: color.adjust(colour.$darker-color, $lightness: 10%, $space: hsl);
    border: 1px solid color.adjust(colour.$darker-color, $lightness: 10%, $space: hsl);
  }
}
