$diff-added-count-color: lighten($green, 35%);
$diff-deleted-count-color: lighten($red, 35%);
$diff-same-count-color: Gray;

.diff-line-count, .diff-line-count-icon
{
  @include plaintext-font();
  @include rounded-corner(3px);
  @include right-align(0px);

  text-align: right;
      margin: 0px;
      margin: { bottom: 2px; }
     padding: 2px;
   font-size: 11px;
       width: 20px;

   color: $darker-color;
  border: 1px solid lighten($darker-color,6%);
  margin: { right: 2px; }
  &:hover { border: 1px dotted lighten($darker-color,6%); }
  &[disabled]:hover { border: 1px solid lighten($darker-color,6%); }
  &.deleted, &.added, &.same { cursor:pointer; }

  &.deleted[disabled], &.added[disabled], &.same[disabled]
  {
    background: lighten($darker-color,10%);
    border: 1px solid lighten($darker-color,10%);
    cursor: default;
  }
}

//- - - - - - - - - - - - - - - -

.diff-line-count.deleted,
.diff-line-count-icon.deleted
{
  background: $diff-deleted-count-color;
  border: 1px solid $diff-deleted-count-color;
  &[disabled] { color: lighten($diff-deleted-count-color,5%); }
}

.diff-line-count.added,
.diff-line-count-icon.added
{
  background: $diff-added-count-color;
  border: 1px solid $diff-added-count-color;
  &[disabled] { color: lighten($diff-added-count-color,5%); }
}

.diff-line-count.same,
.diff-line-count-icon.same
{
  background: $diff-same-count-color;
  border: 1px solid $diff-same-count-color;
  &[disabled] { color: lighten($diff-same-count-color,5%); }
}

.diff-line-count-icon.added
{
  &:hover { border: 1px solid $diff-added-count-color; }
}

.diff-line-count-icon.deleted
{
  &:hover { border: 1px solid $diff-deleted-count-color; }
}

.diff-line-count-icon
{
  cursor:default;
  text-align:center;
  margin: { top:2px; bottom:4px; }
}

.diff-line-count
{
  &.on  { &:before { content: ' '; } }
  &.off { &:before { content: '*'; } }
}
