@use "lib/colour";
@use "lib/fonts";
@use "lib/right-align";
@use "lib/rounded-corner";
@use "common/diff-line-count-heading";

@use "sass:color";

.diff-line-count, .diff-line-count-icon
{
  @include fonts.plaintext-font();
  @include rounded-corner.rounded-corner(3px);
  @include right-align.right-align(0px);

  text-align: right;
      margin: 0px;
      margin: { bottom: 2px; }
     padding: 2px;
   font-size: 11px;
       width: 20px;

   color: colour.$darker-color;
  border: 1px solid color.adjust(colour.$darker-color,$lightness: 6%, $space: hsl);
  margin: { right: 2px; }
  &:hover { border: 1px dotted color.adjust(colour.$darker-color,$lightness: 6%, $space: hsl); }
  &[disabled]:hover { border: 1px solid color.adjust(colour.$darker-color,$lightness: 6%, $space: hsl); }
  &.deleted, &.added, &.same { cursor:pointer; }

  &.deleted[disabled], &.added[disabled], &.same[disabled]
  {
    background: color.adjust(colour.$darker-color,$lightness: 10%, $space: hsl);
    border: 1px solid color.adjust(colour.$darker-color,$lightness: 10%, $space: hsl);
    cursor: default;
  }
}

//- - - - - - - - - - - - - - - -

.diff-line-count.deleted,
.diff-line-count-icon.deleted
{
  background: colour.$diff-deleted-count-color;
  border: 1px solid colour.$diff-deleted-count-color;
  &[disabled] { color: color.adjust(colour.$diff-deleted-count-color,$lightness: 5%, $space: hsl); }
}

.diff-line-count.added,
.diff-line-count-icon.added
{
  background: colour.$diff-added-count-color;
  border: 1px solid colour.$diff-added-count-color;
  &[disabled] { color: color.adjust(colour.$diff-added-count-color,$lightness: 5%, $space: hsl); }
}

.diff-line-count.same,
.diff-line-count-icon.same
{
  background: colour.$diff-same-count-color;
  border: 1px solid colour.$diff-same-count-color;
  &[disabled] { color: color.adjust(colour.$diff-same-count-color,$lightness: 5%, $space: hsl); }
}

.diff-line-count-icon.added
{
  &:hover { border: 1px solid colour.$diff-added-count-color; }
}

.diff-line-count-icon.deleted
{
  &:hover { border: 1px solid colour.$diff-deleted-count-color; }
}

.diff-line-count-icon
{
  cursor:default;
  text-align:center;
  margin: { top:2px; bottom:4px; }
}

.diff-line-count
{
  &.on  { &:before { content: ' '; } }
  &.off { &:before { content: '*'; } }
}
