table.filenames
{
  border-collapse: collapse;
  th, td { padding: 0px; }
}

.diff-type-marker
{
  font-size:18px;
  padding:2px;
  text-align:center;
  $n_dash: '\2013';
  $curved_right_arrow: '\21B7';
  &.created   { &:before { content: '+'; } }
  &.deleted   { &:before { content: $n_dash; } }
  &.renamed   { &:before { content: $curved_right_arrow; } }
  &.changed   { &:before { content: '!'; } }
  &.unchanged { &:before { content: '='; } }
}

.diff-type-marker, .diff-filename
{
  @include plaintext-font();
  &.created   { color: lighten($green,30%); }
  &.deleted   { color: lighten($red,  30%); }
  &.renamed   { color: lighten($blue, 30%); }
  &.changed   { color: white; }
  &.unchanged { color: darken(DarkGray,20%); }
}

.diff-filename
{
  font-size: 12pt;
  color: lighten($darker-color, 50%);
  border: 1px solid lighten($darker-color, 2%); // same as background
  padding-left: 3px;
  cursor: pointer;
  &:hover
  {
    background: lighten($darker-color, 5%);
    border: 1px solid lighten($darker-color, 5%);
  }
  &.selected
  {
    background: lighten($darker-color, 10%);
    border: 1px solid lighten($darker-color, 10%);
  }
}
