@use "lib/fonts";

@use "sass:color";

.time-tick
{
  @include fonts.non-code-font();
     display: block;
  text-align: center;
   font-size: 13px;
       color: color.adjust(black,$lightness: 60%, $space: hsl);
  $down-triangle: "\25BF";
  &:after { content: $down-triangle; }
}

.d-for-days, .m-for-minutes, .h-for-hours
{
  font-size: 10px;
}
