<button id="checkout-button" type="button">checkout</button>

<script>
'use strict';
$(() => {

  const kata = cd.kata;
  const review = cd.review;

  const $button = $('#checkout-button');

  const refreshToolTip = () => {
    cd.createTip($button, () => {
      const event = review.currentEvent();
      const index = cd.lib.dottedIndex(event);
      const rag = cd.cssColour(`${index} ${event.colour}`);
      const name = cd.lib.avatarName(review.avatarIndex);
      const info = `Reviewing: ${name} ${rag}`;
      const action = `Click to make these files your files`;
      return `${info}<br/>${action}`;
    });
  };

  $button.click(() => review.fadeOut(cd.revertOrCheckout));

  review.checkoutButton = {
    show: () => {
      refreshToolTip();
      $button.show();
    },
    enable: () => $button.prop('disabled', false),
    disable: () => $button.prop('disabled', true),
    refresh: () => {
      refreshToolTip();
      if (cd.review.isOnFileEvent()) {
        review.checkoutButton.disable();
      } 
      else if (kata.id == review.id) {
        review.checkoutButton.disable();
      }
      else {
        review.checkoutButton.enable();
      }
    }
  };

  cd.revertOrCheckout = () => {
    const event = review.currentEvent();

    const args = {       // where we are writing to
      id: kata.id,       // eg 'Xd4f2P'
      index: kata.index, // eg 17
      src_id: review.id, // where we are reading from
      src_index: event.index,
      src_major_index: event.major_index,
      src_minor_index: event.minor_index,
      src_avatar_index: review.avatarIndex
    };
    cd.settings.showButton();
    $.post('/kata/checkout', args, (data) => {
      kata.incrementIndex();
      kata.editor.deleteFiles();
      for (const filename in data.files) {
        kata.editor.createFile(filename, { content: data.files[filename] });
        kata.editor.showFile(filename);
      }
      kata.editor.output(data.stdout.content, data.stderr.content, data.status);
      kata.tabs.output().click();
      kata.filenames.refresh();      
      kata.appendTrafficLight(data.light, {scrollIntoView: true});
    }, 'json');
  };

});
</script>
