<div id="details-checkbox-cell">
  <div id="details-checkbox-title">details</div>
  <input type="checkbox" id="details-checkbox" checked=""/>
</div>

<script>
'use strict';
$(() => {

  const review = cd.review;
  const $cell = $('#details-checkbox-cell');
  const $box = $('#details-checkbox');

  review.detailsCheckBox = {
    isChecked: () => $box.is(':checked'),
    setVisibility: () => {
      let fileEventsPresent = false;
      review.events.forEach((event) => {
        if (cd.lib.isFileEvent(event)) {
          fileEventsPresent = true;
        }
      });
      if (fileEventsPresent) {
        $cell.show();
      } 
      else {
        $cell.hide();
      }
    },
    refresh: (checked) => {
      $box
        .prop('checked', checked)
        .off('click')
        .on('click', () => {
          review.trafficLights.refresh(); // TODO: don't need to refresh the traffic-light-navigator
          review.refresh(review.id, review.index);
        });
    }
  };

});
</script>
