<div id="diff-checkbox-cell">
  <div id="diff-checkbox-title">diff</div>
  <input type="checkbox" id="diff-checkbox" checked=""/>
</div>

<script>
'use strict';
$(() => {

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // o) when moving to a new avatar
  //    - [x] ==> move to its _first_ traffic-light
  //    - [ ] ==> move to its _last_  traffic-light
  // o) when moving to a new traffic-light
  //    - [x] ==> diff is shown (wasIndex != nowIndex)
  //    - [ ] ==> diff is not shown (wasIndex == nowIndex)
  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  const review = cd.review;

  const $checkBox = $('#diff-checkbox');

  review.diffCheckBox = {
    isChecked: () => $checkBox.is(':checked'),
    refresh: (checked) => {
      $checkBox
        .prop('checked', checked)
        .off('click')
        .on('click', () => review.refresh(review.id, review.index));
    }
  };

});
</script>
