
<div id="diff">
  <div id="diff-title">diff?</div>
  <input type="radio" id="off"  name="diff" value="off" >
  <label for="off">off</label><br/>
  <input type="radio" id="simple" name="diff" value="simple" checked>
  <label for="simple">light-light</label><br/>
  <input type="radio" id="detailed" name="diff" value="detailed">
  <label for="detailed">detailed</label><br/>
</div>

<script>
'use strict';
$(() => {

  const review = cd.review;

  let diffRadioValue = 'simple';

  review.diffRadio = {
    isOn: () => diffRadioValue != 'off',
    isOff: () => diffRadioValue == 'off',
    isSimple: () => diffRadioValue == 'simple',
    isDetailed: () => diffRadioValue == 'detailed',
    refresh: () => {
      const lastEvent = review.events[review.events.length - 1];
      const noFileEvents = (lastEvent.index == lastEvent.major_index);
      $('#diff #detailed').prop('disabled', noFileEvents);
    }
  };

  $(`input[type=radio][name=diff]`, $('#diff')).change(function() { 
    diffRadioValue = this.value;
    review.refresh(review.id, review.index);
  });

});
</script>
