<div id="diff-checkbox-cell">
  <div id="diff-checkbox-title">diff</div>
  <input type="checkbox" id="diff-checkbox" checked=""/>
</div>

<script>
'use strict';
$(() => {

  const review = cd.review;

  const $box = $('#diff-checkbox');

  review.diffCheckBox = {
    isChecked: () => $box.is(':checked'),
    refresh: (checked) => {
      $box
        .prop('checked', checked)
        .off('click')
        .on('click', () => review.refresh(review.id, review.index));
    }
  };

});
</script>
