<div id="diff-checkbox-cell">
  <div id="diff-checkbox-title">diff</div>
  <input type="checkbox" id="diff-checkbox" checked=""/>
</div>

<div id="diff">
  <div class="diff-title">diff</div>
  <input type="radio" id="off"  name="diff" value="off" >
  <label for="off">off</label><br/>
  <input type="radio" id="simple" name="diff" value="simple">
  <label for="simple">simple</label><br/>
  <input type="radio" id="detailed" name="diff" value="detailed">
  <label for="detailed">detailed</label><br/>
</div>

<script>
'use strict';
$(() => {

  const review = cd.review;

  const $box = $('#diff-checkbox');

  review.diffCheckBox = {
    isChecked: () => $box.is(':checked'),
    refresh: (checked) => {
      $box
        .prop('checked', checked)
        .off('click')
        .on('click', () => review.refresh(review.id, review.index));
    }
  };

  const $diff = $('#diff');
  const diffRadio = `input[type=radio][name=diff]`;
  let diffRadioValue = undefined;

  review.diff = {
    _setTo: (value) => {
      diffRadioValue = value;
      const cssValue = diffRadio + `[value=${value}]`;
      $(cssValue, $diff).prop('checked', true);
    },
    off: () => {
      review.diff._setTo('off');
      //...
    },
    simple: () => {
      review.diff._setTo('simple');
      //...
    },
    detailed: () => {
      review.diff._setTo('detailed');
      //...
    },
    isOff: () => diffRadioValue == 'off',
    isSimple: () => diffRadioValue == 'simple',
    isDetailed: () => diffRadioValue == 'detailed'
  };

  $(diffRadio, $diff).change(function() { review.diff[this.value](); });
  review.diff.simple();

});
</script>
