
<div id="diff">
  <div id="diff-title">diff?</div>
  <input type="radio" id="off"  name="diff" value="off" >
  <label for="off">off</label><br/>
  <input type="radio" id="simple" name="diff" value="simple">
  <label for="simple">test - test</label><br/>
  <input type="radio" id="detailed" name="diff" value="detailed">
  <label for="detailed">detailed</label><br/>
</div>

<script>
'use strict';
$(() => {

  const review = cd.review;

  let diffValue = cd.urlParam('diff', 'simple');
  if (diffValue != 'off' && diffValue != 'simple' && diffValue != 'detailed') {
    diffValue = 'simple';
  }
  $(`#diff #${diffValue}`).prop('checked', true);

  review.diffRadio = {
    isOn: () => diffValue != 'off',
    isOff: () => diffValue == 'off',
    isSimple: () => diffValue == 'simple',
    isDetailed: () => diffValue == 'detailed',
    refresh: () => {
      const lastEvent = review.lastEvent();
      const zeroFileEvents = (lastEvent.index == lastEvent.major_index);
      const $detailed = $('#diff #detailed');
      $detailed.prop('disabled', zeroFileEvents);
      if (review.isOnFileEvent()) {
        $detailed.prop('checked', true);
        diffValue = 'detailed';
      } 
    }
  };

  $(`input[type=radio][name=diff]`, $('#diff')).change(function() { 
    diffValue = this.value;
    review.refresh(review.id, pickIndex());
  });

  const pickIndex = () => {
    const event = review.currentEvent();    
    if (review.diffRadio.isDetailed()) {
      // DETAILED, *stay* on current event
      return event.index;
    }
    else if (event.major_index > 0) {
      // NOT detailed, go *backwards* to previous major-event (which is NOT kata-create)
      return review.majorEventIndex(event.index);
    } 
    else {
      // NOT detailed, current-event == kata-create, go *forward* to 1st major event (if it exists)
      return review.firstEventIndex();
    }
  };

});
</script>
