<div id="extra-checkbox-cell">
  <div id="extra-checkbox-title">extra</div>
  <input type="checkbox" id="extra-checkbox" checked=""/>
</div>

<script>
'use strict';
$(() => {

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // o) when moving to a new avatar
  //    - [x] ==> ?
  //    - [ ] ==> ?
  // o) when moving to a new traffic-light
  //    - [x] ==> ?
  //    - [ ] ==> ?
  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  const review = cd.review;

  const $checkBox = $('#extra-checkbox');

  review.extraCheckBox = {
    isChecked: () => $checkBox.is(':checked'),
    refresh: (events) => {
      const event = events[review.index];
      const checked = (event.colour === undefined);
      $checkBox
        .prop('checked', checked)
        .off('click')
        .on('click', () => review.refresh(review.id, review.index));

      $('#extra-checkbox-title')
        .off('click')
        .on('click', () => {
          $checkBox.prop('checked', !review.extraCheckBox.isChecked());
          review.refresh(review.id, review.index);
      });
    }
  };

});
</script>
