<div id="extra-checkbox-cell">
  <div id="extra-checkbox-title">extra</div>
  <input type="checkbox" id="extra-checkbox" checked=""/>
</div>

<script>
'use strict';
$(() => {

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  //
  //
  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  const review = cd.review;

  const $checkBox = $('#extra-checkbox');

  review.extraCheckBox = {
    isChecked: () => $checkBox.is(':checked'),
    refresh: (checked) => {
      $checkBox
        .prop('checked', checked)
        .off('click')
        .on('click', () => review.refresh(review.id, review.index));

      $('#extra-checkbox-title')
        .off('click')
        .on('click', () => {
          $checkBox.prop('checked', !review.diffCheckBox.isChecked());
          review.refresh(review.id, review.index);
      });
    }
  };

});
</script>
