<div id="extra-checkbox-cell">
  <div id="extra-checkbox-title">extra</div>
  <input type="checkbox" id="extra-checkbox" checked=""/>
</div>

<script>
'use strict';
$(() => {

  const review = cd.review;
  const $cell = $('#extra-checkbox-cell');
  const $box = $('#extra-checkbox');

  review.extraCheckBox = {
    isChecked: () => $box.is(':checked'),
    setVisibility: (events) => {
      let fileEventsPresent = false;
      events.forEach((event) => {
        if (cd.lib.isFileEvent(event)) {
          fileEventsPresent = true;
        }
      });
      if (fileEventsPresent) {
        $cell.show();
      } else {
        $cell.hide();
      }
    },
    refresh: (checked) => {
      $box
        .prop('checked', checked)
        .off('click')
        .on('click', () => review.refresh(review.id, review.index));
    }
  };

});
</script>
