<button id="fork-button" type="button" style="display:none;">fork</button>

<div id="fork-dialog" style="display:none;">
  <div class="info">
    create a new practice<br/>
    from this traffic-light's files
  </div>
  <button class="kata"  type="button">ensemble style</button>
  <button class="group" type="button">classroom style</button>
  <button class="kata"  type="button">solo style</button>
</div>

<script>
'use strict';
$(() => {

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  // NB: logically there are other possibilities here...
  // - In a classroom practice, you could fork a new avatar (in that group)
  // - A "Deep-Fork" where the new session has the full git
  //   history of the forked-from session.
  // At present, there is no support for these.

  const $button = $('#fork-button');
  const $fork = $('#fork-dialog');

  cd.review.forkButton = {
    enable: () => $button.prop('disabled', false),
    disable: () => $button.prop('disabled', true),
    refresh: () => {
      if (cd.env['FORK_BUTTON'] !== 'off') {
        $button.show();
      }
      if (cd.review.isOnFileEvent()) {
        cd.review.forkButton.disable();
      }
      else {
        cd.review.forkButton.enable();
      }
    }
  };

  const tip = [
    'Create a new',
    'practice from this',
    "traffic-light's files"
  ].join('<br/>');

  const openForkDialog = () => {
    const xPos = $button.offset().left;
    const yPos = $button.offset().top + 30;
    $fork.dialog({
              title: cd.dialogTitle('fork'),
              width: 270,
             height: 350,
              modal: true,
           autoOpen: true,
           position: [ xPos, yPos ],
      closeOnEscape: true,
    });
  };

  const fork = (type) => {
    $fork.dialog('close');
    const method = `${type}_fork`;
    $.ajax({
            type: 'POST',
             url: `/saver/${method}?id=${cd.review.id}&index=${cd.review.index}`,
        dataType: 'json', // format we want response in
           async: true,
           error: error,
         success: (response) => {
           const id = response[method];
           if (id) {
             window.open(`/creator/enter?id=${id}`);
           }
           else {
             cd.dialogError(response);
           }
        }
    });
  };

  const error = (request, status, thrown) => {
    const message = [
      request.responseText,
      '----------------------------',
      `Status=${status}`,
      thrown
    ].join("\n");
    cd.dialogError(message);
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  cd.createTip($button, tip);
  $button.click(() => openForkDialog());
  $('.kata' , $fork).click(() => fork('kata'));
  $('.group', $fork).click(() => fork('group'));

});
</script>
