<div class="diff-help-icon">?</div>

<script>
'use strict';
$(() => {

  const setupHelpIconHoverTip = () => {
    let tip = '';
    tip += 'when moving to a new avatar:<br/>';
    tip += '&nbsp;&bull;&nbsp;if diff is checked, you move to the <em>first</em> traffic-light<br/>';
    tip += '&nbsp;&bull;&nbsp;if diff is unchecked, you move to the <em>last</em> traffic-light<br/>';
    tip += '';
    tip += '<hr/>';
    tip += 'filenames:<br/>';
    tip += '&nbsp;&bull;&nbsp;click to review<br/>';
    tip += '&nbsp;&bull;&nbsp;<u>re</u>click to cycle through the diffs<br/>';
    tip += '<hr/>';
    tip += '<table>';
    tip += tr3('changed', 'hover over <span class="hover diff-type-marker changed"></span> for diff info');
    tip += tr3('renamed', 'hover over <span class="hover diff-type-marker renamed"></span> for old filename');
    tip += tr3('created', '');
    tip += tr3('deleted', '');
    tip += tr3('unchanged', '');
    tip += '</table>';
    cd.createTip($('.diff-help-icon'), tip);
  };

  const tr3 = (type, info) => {
    return `<tr><td><span class="hover diff-type-marker ${type}"></span></td>` +
               `<td><span class="hover diff-filename ${type}">${type}-file</span></td>` +
               `<td>${info}</td>`;
  };

  setupHelpIconHoverTip();

});
</script>
