<div id="diff-output-filenames"></div>

<script>
'use strict';
$(() => {

  const review = cd.review;

  review.output = {
    refresh: () => {
      const isLight = cd.lib.isLight(review.events[review.index]);
      if (isLight && review.index != 0) {
        review.getJSON('saver', 'kata_event', { id:review.id, index:review.index }, (event) => {
          outputRefresher(event);
        });
      } 
      else {
        const $diffOutputFilenames = $('#diff-output-filenames');
        $diffOutputFilenames.html('');
      }
    }
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  const outputRefresher = (event) => {
    const stdout = makeNoDiffOutput('stdout', event.stdout.content);
    const stderr = makeNoDiffOutput('stderr', event.stderr.content);
    const status = makeNoDiffOutput('status', event.status);

    const $stdout = review.makeDiffFileContent(stdout);
    const $stderr = review.makeDiffFileContent(stderr);
    const $status = review.makeDiffFileContent(status);
    const $diffContentOutput = $('#diff-content-output');
    $diffContentOutput.empty().append($stdout, $stderr, $status);
    const $diffOutputFilenames = $('#diff-output-filenames');
    $diffOutputFilenames.html($makeOutputFilenames(stdout, stderr, status));
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  const makeNoDiffOutput = (name, content) => {
    // Real file diffs have a numeric diff.id so using
    // id = stdout|stderr|status will never clash.
    return {
            id: name,
          type: '',
      filename: name,
         lines: makeSameLines(content)
    }
  };

  const makeSameLines = (str) => {
    return lines(str).map((line,number) => makeLine('same', line, number+1));
  };
  const makeLine = (type, line, number) => {
    return { type:type, line:line, number:number };
  };
  const lines = (str) => str.toString().replace(/\n$/, '').split(/\r?\n/);

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  const $makeOutputFilenames = (stdout, stderr, status) => {
    const $table = $('<table>', { class:'sss filenames' });
    $table.append($makeOutputFilenameTr(stdout));
    $table.append($makeOutputFilenameTr(stderr));
    $table.append($makeOutputFilenameTr(status));
    return $table;
  };

  const $makeOutputFilenameTr = (diff) => {
    const $td = $('<td>').append(review.makeDiffFilename(diff));
    return $('<tr>').append($td);
  };

});
</script>
