<div id="diff-output-filenames"></div>

<script>
'use strict';
$(() => {

  const review = cd.review;

  review.output = {
    refresh: () => {
      const isLight = cd.lib.isLight(review.currentEvent());
      if (isLight && review.index != 0) {
        review.getJSON('saver', 'kata_event', { id:review.id, index:review.index }, (event) => {
          outputRefresher(event);
        });
      } 
      else {
        const $diffOutputFilenames = $('#diff-output-filenames');
        $diffOutputFilenames.html('');
      }
    }
  };
  
  //- - - - - - - - - - - - - - - - - - - - - - - - -
  const outputRefresher = (event) => {
    const lines = "" + 
      ":stdout:\n" + rstrip(event.stdout.content) +
      ":stderr:\n" + rstrip(event.stderr.content) +
      ":status:\n" + event.status;
    const output = makeNoDiffOutput('output', lines);
    const $output = review.makeDiffFileContent(output);

    const $diffContentOutput = $('#diff-content-output');
    $diffContentOutput.empty().append($output);

    const $diffOutputFilenames = $('#diff-output-filenames');
    $diffOutputFilenames.html($makeOutputFilename(output));
  };

  const rstrip = (s) => {
    const stripped = s.replace(/\s+$/, '');
    if (stripped == '') {
      return "\n";
    }
    else {
      return stripped + "\n\n";
    }
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  const makeNoDiffOutput = (name, content) => {
    // Real file diffs have a numeric diff.id so using
    // id = stdout|stderr|status will never clash.
    return {
            id: name,
          type: '',
      filename: name,
         lines: makeSameLines(content)
    }
  };

  const makeSameLines = (str) => {
    return lines(str).map((line,number) => makeLine('same', line, number+1));
  };
  const makeLine = (type, line, number) => {
    return { type:type, line:line, number:number };
  };
  const lines = (str) => str.toString().replace(/\n$/, '').split(/\r?\n/);

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  const $makeOutputFilename = (output) => {
    const $table = $('<table>', { class:'sss filenames' });
    $table.append($makeOutputFilenameTr(output));
    return $table;
  };

  const $makeOutputFilenameTr = (diff) => {
    const $td = $('<td>').append(review.makeDiffFilename(diff));
    return $('<tr>').append($td);
  };

});
</script>
