<div class="review predict-counts" style="display:none;">
  <div class="circle box">
    <div class="cross count"></div>
    <img src="/images/traffic-light/circle-cross.png">
  </div>
  <div class="tick box">
    <div class="tick count"></div>
    <img src="/images/traffic-light/circle-tick.png">
  </div>
</div>

<script>
'use strict';
$(() => {

  const $counts = $('.review.predict-counts');

  const counts = { cross: 0, tick: 0 };

  cd.review.predictCounts = {};

  cd.review.predictCounts.reset = () => {
    Object.keys(counts).forEach(key => setPredict(key, 0));
  };

  cd.review.predictCounts.update = (light) => {
    const colour = light.colour;
    if (cd.lib.hasPrediction(light) && colour != 'pulling' && colour != 'faulty') {
      const isRight = (colour == light.predicted);
      const name = isRight ? 'tick' : 'cross';
      setPredict(name, counts[name] + 1);
      $counts.show();
    }
  };

  const setPredict = (name, n) => {
    const $count = $(`.${name}.count`, $counts);
    $count.text(counts[name] = n);
  };

});
</script>
