<button id="resume-button" type="button" style="display:none;">resume</button>

<script>
'use strict';
$(() => {

  const $button = $('#resume-button');

  cd.review.resumeButton = {
    show: () => $button.show()
  };

  $button.click(() => {
    delete cd.review.id;
    cd.settings.showButton();
    cd.review.fadeOut(() => {
      cd.kata.editor.refocus();
      // Hide the avatar-navigator to avoid 'flash' when
      // from kata/edit your go to the review which was
      // previously looking at a different avatar.
      cd.review.avatarNavigator.hide();
    });
  });

});
</script>
