<button id="revert-button" type="button">revert</button>

<script>
'use strict';
$(() => {

  const kata = cd.kata;
  const review = cd.review;

  const $button = $('#revert-button');

  review.nameRagColour = () => {
    const event = review.currentEvent();
    const rag = cd.cssColour(event.colour, `${event.major_index}`);
    const colour = event.index == 0 ? '' : cd.cssColour(event.colour);
    return `${avatarName()}${rag} ${colour}`;
  };

  const avatarName = () => {
    if (review.avatarIndex != '') {
      return cd.lib.avatarName(review.avatarIndex) + ' ';
    } 
    else {
      return '';
    }
  };

  const refreshToolTip = () => {
    cd.createTip($button, () => {
      const action = `Resume coding & testing`;
      const context = 'after reverting to';
      return `${action}<br/>${context}<br/>${review.nameRagColour()}`;
    });
  };

  $button.click(() => review.fadeOut(cd.revertOrCheckout));

  review.revertButton = {
    enable: () => $button.prop('disabled', false),
    disable: () => $button.prop('disabled', true),
    refresh: () => {
      refreshToolTip();
      if (review.isFromDashboardPage()) {
        review.revertButton.disable();
      }
      else if (cd.review.isOnFileEvent()) {
        review.revertButton.disable();
      } 
      else if (kata.id != review.id) {
        review.revertButton.disable();
      }
      else {
        review.revertButton.enable();
      }
    }
  };

});
</script>
