<div id="traffic-light-navigator">
  <button id="first-index" class="triangle button">
    <img src="/images/triangle_prev.gif"
         alt="move to first traffic-light"/>
  </button>
  <button id="prev-index" class="triangle button">
    <img src="/images/triangle_prev.gif"
         alt="move to previous traffic-light"/>
  </button>
  <div id="review-index-box"></div>
  <button id="next-index" class="triangle button">
    <img src="/images/triangle_next.gif"
         alt="move to next traffic-light"/>
  </button>
  <button id="last-index" class="triangle button">
    <img src="/images/triangle_next.gif"
         alt="move to last traffic-light"/>
  </button>
</div>

<script>
'use strict';
$(() => {

  const createIndex = 0;
  const disableIndex = null;

  const review = cd.review;
  const lib = cd.lib;

  review.refreshTrafficLightsNavigator = () => {
    const index = review.index;
    refreshMoveTo($('#first-index'), firstEventIndex(index));
    refreshMoveTo($('#prev-index'),  prevEventIndex(index));
    $('#review-index-box').html($makeIndexNumber(index));
    refreshMoveTo($('#next-index'),  nextEventIndex(index));
    refreshMoveTo($('#last-index'),  lastEventIndex(index));
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const refreshMoveTo = (button, index) => {
    button
      .attr('disabled', index == disableIndex)
      .off('click')
      .on('click', () => review.refresh(review.id, index));
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const firstEventIndex = (index) => {
    if (index == createIndex) {
      return disableIndex;
    } 
    else {
      return review.firstEventIndex();
    }
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const prevEventIndex = (index) => {
    if (index == createIndex) {
      return disableIndex;
    } 
    else if (review.diffRadio.isDetailed()) {
      return index - 1;
    } 
    else {
      return prevLightIndex(index - 1);
    }
  };

  const prevLightIndex = (index) => {
    const events = review.events;
    while (index >= 0) {
      if (lib.isLight(events[index])) {
        return index;
      } 
      else {
        index -= 1;
      }
    }
    return disableIndex;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const nextEventIndex = (index) => {
    if (index == review.events.length - 1) {
      return disableIndex;
    } 
    else if (review.diffRadio.isDetailed()) {
      return index + 1;
    } 
    else {
      return nextLightIndex(index + 1);
    }
  };

  const nextLightIndex = (index) => {
    const events = review.events;
    while (index < events.length) {
      if (lib.isLight(events[index])) {
        return index;
      } 
      else {
        index += 1;
      }
    }
    return disableIndex;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const lastEventIndex = (index) => {
    const events = review.events;
    if (index == events.length - 1) {
      return disableIndex;
    } 
    else if (review.diffRadio.isDetailed()) {
      return events.length - 1;
    } 
    else {
      return lastLightIndex(index + 1);
    }
  };

  const lastLightIndex = (index) => {
    const events = review.events;
    let lastLightIndex = null;
    while (index < events.length) {
      if (lib.isLight(events[index])) {
        lastLightIndex = index;
      }
      index += 1;
    }
    return lastLightIndex;  
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const $makeIndexNumber = (index) => {
    const event = review.events[index];
    return $('<div>', {
      id:'index-number',
      class:event.colour
    }).html(lib.dottedIndex(event));
  };

});
</script>
