<div id="traffic-light-navigator">
  <button id="first-index" class="triangle button">
    <img src="/images/triangle_prev.gif"
         alt="move to first traffic-light"/>
  </button>
  <button id="prev-index" class="triangle button">
    <img src="/images/triangle_prev.gif"
         alt="move to previous traffic-light"/>
  </button>
  <div id="review-index-box"></div>
  <button id="next-index" class="triangle button">
    <img src="/images/triangle_next.gif"
         alt="move to next traffic-light"/>
  </button>
  <button id="last-index" class="triangle button">
    <img src="/images/triangle_next.gif"
         alt="move to last traffic-light"/>
  </button>
</div>

<script>
'use strict';
$(() => {

  const createIndex = 0;
  const disableIndex = null;

  const review = cd.review;

  review.refreshTrafficLightsNavigator = () => {
    const index = review.index;
    refreshMoveTo($('#first-index'), firstEventIndex(index));
    refreshMoveTo($('#prev-index'),  prevEventIndex(index));
    $('#review-index-box').html($makeIndexNumber(index));
    refreshMoveTo($('#next-index'),  nextEventIndex(index));
    refreshMoveTo($('#last-index'),  lastEventIndex(index));
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const refreshMoveTo = (button, index) => {
    button
      .attr('disabled', index == disableIndex)
      .off('click')
      .on('click', () => review.refresh(review.id, index));
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const firstEventIndex = (index) => {
    if (index == createIndex) {
      return disableIndex;
    } else {
      return createIndex;
    }
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const prevEventIndex = (index) => {
    if (index == createIndex) {
      return disableIndex;
    } else if (cd.review.detailsCheckBox.isChecked()) {
      return index - 1;
    } else {
      return prevLightIndex(index - 1);
    }
  };

  const prevLightIndex = (index) => {
      while (index >= 0) {
        if (cd.lib.isLight(review.events[index])) {
          return index;
        } else {
          index -= 1;
        }
      }
      return disableIndex;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const nextEventIndex = (index) => {
    if (index == review.events.length - 1) {
      return disableIndex;
    } else if (cd.review.detailsCheckBox.isChecked()) {
      return index + 1;
    } else {
      return nextLightIndex(index + 1);
    }
  };

  const nextLightIndex = (index) => {
      while (index < review.events.length) {
        if (cd.lib.isLight(review.events[index])) {
          return index;
        } else {
          index += 1;
        }
      }
      return disableIndex;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const lastEventIndex = (index) => {
    if (index == review.events.length - 1) {
      return disableIndex;
    } else if (cd.review.detailsCheckBox.isChecked()) {
      return review.events.length - 1;
    } else {
      return lastLightIndex(index + 1);
    }
  };

  const lastLightIndex = (index) => {
      let lastLightIndex = null;
      while (index < review.events.length) {
        if (cd.lib.isLight(review.events[index])) {
          lastLightIndex = index;
        }
        index += 1;
      }
      return lastLightIndex;  
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const $makeIndexNumber = (index) => {
    return $('<div>', {
      id:'index-number',
      class:review.events[index].colour
    }).html(review.dottedIndex(index));
  };

});
</script>
