<div id="review-traffic-lights"></div>

<script>
'use strict';
$(() => {

  const review = cd.review;

  const $lights = $('#review-traffic-lights');

  review.trafficLights = {
    refresh: () => {
      $lights.empty();
      appendTrafficLights(review.events);
      scrollCurrentTrafficLightIntoView();
      review.refreshTrafficLightsNavigator();
    }
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const appendTrafficLights = (events) => {
    review.checkoutButton.enable();
    review.trafficLightsCounts.reset();
    review.predictCounts.reset();

    events.forEach(event => {
      if (isVisible(event)) {
        const light = event;
        const isCurrentIndex = (review.index == light.index);
        const $light = cd.lib.appendTrafficLight($lights, light, {isCurrentIndex:isCurrentIndex});
        $light.click(() => review.refresh(review.id, light.index));      
        cd.setupTrafficLightTip($light, light, review.id, review.previousIndex(light.index), light.index);

        if (light.index <= review.index) {
          cd.review.trafficLightsCounts.update(light);
          cd.review.predictCounts.update(light);
        }
      }
    });
  };

  const isVisible = (event) => {
    if (cd.lib.isLight(event)) {
      return true;
    } 
    else if (cd.lib.isFileEvent(event) && review.diff.isDetailed()) {
      return true;
    } 
    else {
      return false;
    }
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const scrollCurrentTrafficLightIntoView = () => {
    // refreshTrafficLights() has updated the dom with a $('#traffic-light-marker')
    // I cannot find a nice way to access it once the dom is ready. So this :-(
    const quarterSecond = 250;
    const scroller = () => {
      $('#traffic-light-marker').scrollIntoView({
        direction: 'horizontal',
         duration: 'slow'
      });
    };
    setTimeout(scroller, quarterSecond);
  };

});
</script>
