<span id="avatar-navigator" style="display:none;">
  <button id="prev-avatar" class="triangle button">
    <img src="/images/triangle_prev.gif"
         alt="move to previous avatar"/>
  </button>
  <div id="review-avatar-image-box"></div>
  <button id="next-avatar" class="triangle button">
    <img src="/images/triangle_next.gif"
         alt="move to next avatar"/>
  </button>
</span>

<script>
'use strict';
$(() => {

  const review = cd.review;

  review.refreshAvatarNavigator = (kataId) => {
    review.getJSON('model', 'group_joined', {id:kataId}, (joined) => {
      avatarNavigatorRefresher(kataId, joined);
    });
  };

  const avatarNavigatorRefresher = (kataId, joined) => {
    const [prevIndex,avatarIndex,nextIndex] = review.avatarsNeighbours(kataId, joined);
    // Make avatarIndex available for traffic-light hover-tip.
    review.avatarIndex = () => avatarIndex; // eg 23/''
    if (avatarIndex != '') {
      $('#avatar-navigator').show();
      refreshAvatar($('#prev-avatar'), joined, prevIndex);
      $('#review-avatar-image-box').html(cd.lib.$makeAvatarImage(avatarIndex));
      refreshAvatar($('#next-avatar'), joined, nextIndex);
    }
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const refreshAvatar = (button, joined, avatarIndex) => {
    button
      .attr('disabled', avatarIndex === '')
      .off('click')
      .on('click', () => moveToAvatar(joined[avatarIndex]));
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const moveToAvatar = (avatar) => {
    const index = review.inDiffMode() ? 1 : avatar.events.length - 1;
    review.refresh(avatar.id, index);
  };

});
</script>
