<span id="avatar-navigator" style="display:none;">
  <button id="prev-avatar" class="triangle button">
    <img src="/images/triangle_prev.gif"
         alt="move to previous avatar"/>
  </button>
  <div id="review-avatar-image-box"></div>
  <button id="next-avatar" class="triangle button">
    <img src="/images/triangle_next.gif"
         alt="move to next avatar"/>
  </button>
</span>

<div id="avatar-grid" style="display:none">
  <table>
    <tr>
      <td><img src="/images/avatars/0.jpg" class="small avatar"/><td>
      <td><img src="/images/avatars/1.jpg" class="small avatar"/><td>
      <td><img src="/images/avatars/2.jpg" class="small avatar"/><td>
      <td><img src="/images/avatars/3.jpg" class="small avatar"/><td>
      <td><img src="/images/avatars/4.jpg" class="small avatar"/><td>
      <td><img src="/images/avatars/5.jpg" class="small avatar"/><td>
      <td><img src="/images/avatars/6.jpg" class="small avatar"/><td>
      <td><img src="/images/avatars/7.jpg" class="small avatar"/><td>
    </tr>
    <tr>
      <td><img src="/images/avatars/8.jpg"  class="small avatar"/><td>
      <td><img src="/images/avatars/9.jpg"  class="small avatar"/><td>
      <td><img src="/images/avatars/10.jpg" class="small avatar"/><td>
      <td><img src="/images/avatars/11.jpg" class="small avatar"/><td>
      <td><img src="/images/avatars/12.jpg" class="small avatar"/><td>
      <td><img src="/images/avatars/13.jpg" class="small avatar"/><td>
      <td><img src="/images/avatars/14.jpg" class="small avatar"/><td>
      <td><img src="/images/avatars/15.jpg" class="small avatar"/><td>
    </tr>
    <tr>
      <td><img src="/images/avatars/16.jpg" data-index="16" class="small avatar"/><td>
      <td><img src="/images/avatars/17.jpg" data-index="17" class="small avatar"/><td>
      <td><img src="/images/avatars/18.jpg" data-index="18" class="small avatar"/><td>
      <td><img src="/images/avatars/19.jpg" data-index="19" class="small avatar"/><td>
      <td><img src="/images/avatars/20.jpg" data-index="20" class="small avatar"/><td>
      <td><img src="/images/avatars/21.jpg" data-index="21" class="small avatar"/><td>
      <td><img src="/images/avatars/22.jpg" data-index="22" class="small avatar"/><td>
      <td><img src="/images/avatars/23.jpg" data-index="23" class="small avatar"/><td>
    </tr>
    <tr>
      <td><img src="/images/avatars/24.jpg" data-index="24" class="small avatar"/><td>
      <td><img src="/images/avatars/25.jpg" data-index="25" class="small avatar"/><td>
      <td><img src="/images/avatars/26.jpg" data-index="26" class="small avatar"/><td>
      <td><img src="/images/avatars/27.jpg" data-index="27" class="small avatar"/><td>
      <td><img src="/images/avatars/28.jpg" data-index="28" class="small avatar"/><td>
      <td><img src="/images/avatars/29.jpg" data-index="29" class="small avatar"/><td>
      <td><img src="/images/avatars/30.jpg" data-index="30" class="small avatar"/><td>
      <td><img src="/images/avatars/31.jpg" data-index="31" class="small avatar"/><td>
    </tr>
    <tr>
      <td><img src="/images/avatars/32.jpg" data-index="32" class="small avatar"/><td>
      <td><img src="/images/avatars/33.jpg" data-index="33" class="small avatar"/><td>
      <td><img src="/images/avatars/34.jpg" data-index="34" class="small avatar"/><td>
      <td><img src="/images/avatars/35.jpg" data-index="35" class="small avatar"/><td>
      <td><img src="/images/avatars/36.jpg" data-index="36" class="small avatar"/><td>
      <td><img src="/images/avatars/37.jpg" data-index="37" class="small avatar"/><td>
      <td><img src="/images/avatars/38.jpg" data-index="38" class="small avatar"/><td>
      <td><img src="/images/avatars/39.jpg" data-index="39" class="small avatar"/><td>
    </tr>
    <tr>
      <td><img src="/images/avatars/40.jpg" data-index="40" class="small avatar"/><td>
      <td><img src="/images/avatars/41.jpg" data-index="41" class="small avatar"/><td>
      <td><img src="/images/avatars/42.jpg" data-index="42" class="small avatar"/><td>
      <td><img src="/images/avatars/43.jpg" data-index="43" class="small avatar"/><td>
      <td><img src="/images/avatars/44.jpg" data-index="44" class="small avatar"/><td>
      <td><img src="/images/avatars/45.jpg" data-index="45" class="small avatar"/><td>
      <td><img src="/images/avatars/46.jpg" data-index="46" class="small avatar"/><td>
      <td><img src="/images/avatars/47.jpg" data-index="47" class="small avatar"/><td>
    </tr>
    <tr>
      <td><img src="/images/avatars/48.jpg" data-index="48" class="small avatar"/><td>
      <td><img src="/images/avatars/49.jpg" data-index="49" class="small avatar"/><td>
      <td><img src="/images/avatars/50.jpg" data-index="50" class="small avatar"/><td>
      <td><img src="/images/avatars/51.jpg" data-index="51" class="small avatar"/><td>
      <td><img src="/images/avatars/52.jpg" data-index="52" class="small avatar"/><td>
      <td><img src="/images/avatars/53.jpg" data-index="53" class="small avatar"/><td>
      <td><img src="/images/avatars/54.jpg" data-index="54" class="small avatar"/><td>
      <td><img src="/images/avatars/55.jpg" data-index="55" class="small avatar"/><td>
    </tr>
    <tr>
      <td><img src="/images/avatars/56.jpg" data-index="56" class="small avatar"/><td>
      <td><img src="/images/avatars/57.jpg" data-index="57" class="small avatar"/><td>
      <td><img src="/images/avatars/58.jpg" data-index="58" class="small avatar"/><td>
      <td><img src="/images/avatars/59.jpg" data-index="59" class="small avatar"/><td>
      <td><img src="/images/avatars/60.jpg" data-index="60" class="small avatar"/><td>
      <td><img src="/images/avatars/61.jpg" data-index="61" class="small avatar"/><td>
      <td><img src="/images/avatars/62.jpg" data-index="62" class="small avatar"/><td>
      <td><img src="/images/avatars/63.jpg" data-index="63" class="small avatar"/><td>
    </tr>
  </table>
</div>

<script>
'use strict';
$(() => {

  const review = cd.review;

  review.refreshAvatarNavigator = (kataId) => {
    review.getJSON('model', 'group_joined', {id:kataId}, (joined) => {
      avatarNavigatorRefresher(kataId, joined);
    });
  };

  const avatarNavigatorRefresher = (kataId, joined) => {
    const [prevIndex,avatarIndex,nextIndex] = review.avatarsNeighbours(kataId, joined);
    // Make avatarIndex available for traffic-light hover-tip.
    review.avatarIndex = () => avatarIndex; // eg 23/''
    if (avatarIndex != '') {
      $('#avatar-navigator').show();
      const $avatar = $('#review-avatar-image-box');
      refreshAvatar($('#prev-avatar'), joined, prevIndex);
      refreshAvatar($('#next-avatar'), joined, nextIndex);
      $avatar.html(cd.lib.$makeAvatarImage(avatarIndex));
      /*
             .off('click')
             .on('click', () => { // get fresh info...
               review.getJSON('model', 'group_joined', {id:kataId}, (joined) => {
                 openAvatarGridDialog($avatar, joined);
               });
             });
      */
    }
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const refreshAvatar = (button, joined, avatarIndex) => {
    button
      .attr('disabled', avatarIndex === '')
      .off('click')
      .on('click', () => moveToAvatar(joined[avatarIndex]));
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  /*
  const openAvatarGridDialog = ($avatar, joined) => {
    const xPos = $avatar.offset().left;
    const yPos = $avatar.offset().top + 40;
    const $grid = $makeAvatarGrid(joined);
    $grid.dialog({
              width: 390,
             height: 425,
           autoOpen: true,
      closeOnEscape: true,
              modal: true,
           position: [xPos,yPos],
              title: cd.dialogTitle('click to choose'),
        beforeClose: () => {
          console.log('Destroying the dialog');
          $grid.dialog('destroy');
        }
    });
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  const $makeAvatarGrid = (joined) => {
    const active = cd.review.avatarsActive(joined);
    const $table = $('#avatar-grid');
    setupActiveAvatarHandlers($table, active, joined);
    return $table;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -

  const $greyAvatar = (index) => {
    return $('<img>', {
        src:`/images/avatars/${index}.jpg`,
      class:'small grey avatar'
    });
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const $colourAvatar = (index) => {
    const $img = $('<img>', {
        src:`/images/avatars/${index}.jpg`,
      class:'small colour avatar',
      'data-avatar-index':index
    });
    return $img;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const setupActiveAvatarHandlers = ($grid, active, joined) => {
    $('img', $grid).each(function(index,img) {
      const $img = $(img);
      if (active[index]) {
        const avatar = joined[index];
        const kataId = avatar.id;
        $img.addClass('colour');
        $img.click(() => {
          $grid.dialog('close');
          moveToAvatar(avatar);
        });
        cd.setupAvatarNameHoverTip($img, '', index, '');
      } else {
        $img.addClass('grey');
      }
    });
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const times = (n, f) => {
    for (var i = 0; i < n; i++) {
      f(i);
    }
  };
  */

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const moveToAvatar = (avatar) => {
    const index = review.inDiffMode() ? 1 : avatar.events.length - 1;
    review.refresh(avatar.id, index);
  };

});
</script>
