
<span id="avatar-navigator">
  <button id="prev-avatar" class="triangle button">
    <img src="/images/triangle_prev.gif" alt="move to previous avatar"/>
  </button>
  <div id="review-avatar-image-box"></div>
  <button id="next-avatar" class="triangle button">
    <img src="/images/triangle_next.gif" alt="move to next avatar"/>
  </button>
</span>
