<script type="text/javascript"><!--
'use strict';
$(() => {

  const review = cd.review;

  review.refreshAvatarNavigator = (args) => {
    review.getJSON('model', 'group_joined', {id:args.id}, (joined) => {
      avatarNavigatorRefresher(args.id, joined);
    });
  };

  const avatarNavigatorRefresher = (kataId, joined) => {
    const [prevId,avatarIndex,nextId] = review.groupNeighbours(kataId,joined);
    review.avatarIndex = () => avatarIndex;
    if (avatarIndex != '') {
      $('#avatar-navigator').show();
      const $box = $('#review-avatar-image-box').html($makeAvatarImage(avatarIndex));
      refreshAvatar($('#prev-avatar'), prevId);
      cd.setupAvatarNameHoverTip($box, '', avatarIndex, '');
      refreshAvatar($('#next-avatar'), nextId);
    }
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const moveToAvatar = (id) => {
    review.params.id = id;
    const index = review.inDiffMode() ? FirstIndex : LastIndex;
    review.moveToTrafficLight(index);
  };
  const FirstIndex = 1;
  const LastIndex = -1;

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const $makeAvatarImage = (avatarIndex) => {
    return $('<img>', {
      class:'avatar-image',
        src:`/images/avatars/${avatarIndex}.jpg`
    });
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const refreshAvatar = (button, id) => {
    button
      .attr('disabled', id === '')
      .unbind('click')
      .bind('click', () => moveToAvatar(id));
  };

});
//--></script>

<span id="avatar-navigator" style="display:none;">
  <button id="prev-avatar" class="triangle button">
    <img src="/images/triangle_prev.gif"
         alt="move to previous avatar"/>
  </button>
  <div id="review-avatar-image-box"></div>
  <button id="next-avatar" class="triangle button">
    <img src="/images/triangle_next.gif"
         alt="move to next avatar"/>
  </button>
</span>
