<span id="avatar-navigator" style="display:none;">
  <button id="prev-avatar" class="triangle button">
    <img src="/images/triangle_prev.gif"
         alt="move to previous avatar"/>
  </button>
  <div id="review-avatar-image-box"></div>
  <button id="next-avatar" class="triangle button">
    <img src="/images/triangle_next.gif"
         alt="move to next avatar"/>
  </button>
</span>

<script>
'use strict';
$(() => {

  const review = cd.review;

  review.refreshAvatarNavigator = (kataId) => {
    review.getJSON('model', 'group_joined', {id:kataId}, (joined) => {
      avatarNavigatorRefresher(kataId, joined);
    });
  };

  const avatarNavigatorRefresher = (kataId, joined) => {
    const [prevId,avatarIndex,nextId] = review.groupNeighbours(kataId,joined);
    // Make avatarIndex available for traffic-light hover-tip.
    review.avatarIndex = () => avatarIndex; // eg 23 eg ''
    if (avatarIndex != '') {
      $('#avatar-navigator').show();
      refreshAvatar($('#prev-avatar'), prevId);
      $('#review-avatar-image-box').html($makeAvatarImage(avatarIndex));
      refreshAvatar($('#next-avatar'), nextId);
    }
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const $makeAvatarImage = (avatarIndex) => {
    const $img = $('<img>', {
      class:'avatar-image',
        src:`/images/avatars/${avatarIndex}.jpg`
    });
    cd.setupAvatarNameHoverTip($img, '', avatarIndex, '');
    return $img;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const refreshAvatar = (button, kataId) => {
    button
      .attr('disabled', kataId === '')
      .off('click')
      .on('click', () => moveToAvatar(kataId));
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const moveToAvatar = (kataId) => {
    const FirstIndex = 1;
    const LastIndex = -1;
    const index = review.inDiffMode() ? FirstIndex : LastIndex;
    review.moveToTrafficLight(kataId, index);
  };

});
</script>
