<table id="buttons">
  <tr>
    <td align="right">
      <div id="download-button-container"></div>
      <div id="fork-button-container"></div>
      <div id="revert-button-container"></div>
      <div id="close-button-container"></div>
    </td>
  </tr>
</table>
