<button id="checkout-button" type="button" style="display:none;">checkout</button>

<script>
'use strict';
$(() => {

  const $button = $('#checkout-button');
  const tip = `make this traffic-light's<br/>files your current files`;
  cd.createTip($button, tip);

  const review = cd.review;

  review.checkoutButton = {
       show: () => $button.show(),
    refresh: (kataId, index) => {
      $button.off('click').on('click', () => {
        review.fadeOut(() => checkout(kataId, index));
      });
    }
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  const checkout = (kataId, index) => {
    const args = {
      // where we are writing to
      id: cd.kata.id(),       // eg 'Xd4f2P'
      index: cd.kata.index(), // eg 17
      // where we are reading from
      src_id: kataId,
      src_index: index,
      src_avatar_index: review.avatarIndex()
    };

    $.post('/kata/checkout', args, (data) => {
      cd.kata.editor.deleteFiles();
      for (const filename in data.files) {
        cd.kata.editor.createFile(filename, { content:data.files[filename] });
        cd.kata.editor.showFile(filename);
      }
      cd.kata.editor.output(data.stdout.content, data.stderr.content, data.status);
      cd.kata.tabs.output().click();
      cd.kata.filenames.refresh();
      cd.kata.index(data.light.index);
      cd.appendTrafficLight(data.light);
      cd.updateTrafficLightsCount();
      cd.scrollLastTrafficLightIntoView();
    }, 'json');
  };

});
</script>
