<div id="checkout-button-box"></div>

<script>
'use strict';
$(() => {

  const review = cd.review;

  review.refreshCheckoutButton = (kataId, index) => {
    if (review.inTestPage) {
      review.createButton('checkout', () => review.fadeIntoKataPage(() => {
        checkout({ src_id:kataId, src_avatar_index:review.avatarIndex(), src_index:index });
      }));
      const $button = $('#checkout-button');
      const tip = `make this traffic-light's<br/>files your current files`;
      cd.createTip($button, tip);
    }
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  const checkout = (args) => {
    // eg args = { src_id:'Xd4f2P', src_avatar_index:31, src_index:17 };
    args.id = cd.kata.id();
    args.index = cd.kata.index();
    $.post('/kata/checkout', args, (data) => {
      cd.kata.editor.deleteFiles();
      for (const filename in data.files) {
        cd.kata.editor.createFile(filename, { content:data.files[filename] });
        cd.kata.editor.showFile(filename);
      }
      cd.kata.editor.output(data.stdout.content, data.stderr.content, data.status);
      cd.kata.tabs.output().click();
      cd.kata.filenames.refresh();
      cd.kata.index(data.light.index);
      cd.appendTrafficLight(data.light);
      cd.updateTrafficLightsCount();
      cd.scrollLastTrafficLightIntoView();
    }, 'json');
  };

});
</script>
