<button id="checkout-button" type="button" style="display:none;">checkout</button>

<script>
'use strict';
$(() => {

  const $button = $('#checkout-button');
  const tip = `make this traffic-light's<br/>files your current files`;
  cd.createTip($button, tip);
  $button.click(() => cd.review.fadeOut(checkout));

  cd.review.checkoutButton = {
    show: () => $button.show()
  };

  const checkout = () => {
    const args = {
      // where we are writing to
      id: cd.kata.id(),       // eg 'Xd4f2P'
      index: cd.kata.index(), // eg 17
      // where we are reading from
      src_id: cd.review.id(),
      src_index: cd.review.index(),
      src_avatar_index: cd.review.avatarIndex()
    };
    $.post('/kata/checkout', args, (data) => {
      cd.kata.editor.deleteFiles();
      for (const filename in data.files) {
        cd.kata.editor.createFile(filename, { content:data.files[filename] });
        cd.kata.editor.showFile(filename);
      }
      cd.kata.editor.output(data.stdout.content, data.stderr.content, data.status);
      cd.kata.tabs.output().click();
      cd.kata.filenames.refresh();
      cd.kata.appendTrafficLight(data.light);
      cd.kata.addToTrafficLightsCounts(data.light);
      cd.kata.addToPredictCounts(data.light);
      cd.kata.scrollLastTrafficLightIntoView();
    }, 'json');
  };

});
</script>
