<script type="text/javascript"><!--
'use strict';
$(() => {

  const review = cd.review;

  review.refreshCheckoutButton = (kataId, index) => {
    if (review.inTestPage) {
      review.createButton('checkout', () => review.fadeIntoKataPage(() => {
        cd.checkout({ src_id:kataId, src_index:index });
      }));
      const $button = $('#checkout-button');
      const tip = `make this traffic-light's<br/>files your current files`;
      cd.createTip($button, tip);
    }
  };

});
//--></script>

<div id="checkout-button-box"></div>
