<script type="text/javascript"><!--
'use strict';
$(() => {

  const review = cd.review;

  if (review.inTestPage) {
    review.setupButton('checkout', () => review.fadeIntoKataPage(() => {
      const params = review.params;
      cd.checkout({ src_id:params.id, src_index:params.nowIndex });
    }));
    const $button = $('#checkout-button');
    const tip = `make this traffic-light's<br/>files your current files`;
    cd.createTip($button, tip);
  }

});
//--></script>

<div id="checkout-button-box"></div>
