<script>
'use strict';
$(() => {

  cd.review.createButton = (name, handler) => {
    const button = `<button id="${name}-button" type="button"></button>`;
    $(`#${name}-button-box`).html(button);
    $(`#${name}-button`)
      .text(name)
      .off('click')
      .on('click', handler);
  };

});
</script>
