<script type="text/javascript"><!--
'use strict';
$(() => {

  const review = cd.review;

  const diffCheckBox = () => $('#diff-checkbox');

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // inDiffMode() effects other controls in the following ways
  // o) when moving to a new avatar...
  //    -   checked ==> move to its _first_ traffic-light
  //    - unchecked ==> move to its _last_  traffic-light
  // o) when moving to a new traffic-light
  //    -   checked ==> diff is shown (wasIndex !- nowIndex)
  //    - unchecked ==> diff is not shown (wasIndex == nowIndex)
  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  review.inDiffMode = () => diffCheckBox().is(':checked');

  review.refreshDiffCheckBox = (params) => {
    const checked = params.wasIndex !== params.nowIndex;
    diffCheckBox()
      .prop('checked', checked) // don't use inDiffMode()
      .unbind('click')
      .bind('click', () => review.moveToTrafficLight(params.nowIndex));

    $('#diff-checkbox-title')
      .unbind('click')
      .bind('click', () => {
        diffCheckBox().attr('checked', !review.inDiffMode());
        review.moveToTrafficLight(params.nowIndex);
      });
  };

});
//--></script>

<div id="diff-checkbox-container">
  <div id="diff-checkbox-title">diff</div>
  <input type="checkbox" id="diff-checkbox" checked=""/>
  <label for="diff-checkbox"></label>
</div>
