<script type="text/javascript"><!--
'use strict';
$(() => {

  const review = cd.review;

  const diffCheckBox = () => $('#diff-checkbox');

  review.inDiffMode = () => diffCheckBox().is(':checked');

  review.refreshDiffCheckBox = (params) => {
    const checked = params.wasIndex !== params.nowIndex;
    diffCheckBox()
      .prop('checked', checked) // must be from review.params
      .unbind('click')
      .bind('click', () => review.moveToTrafficLight(params.nowIndex));

    $('#diff-checkbox-title')
      .unbind('click')
      .bind('click', () => {
        diffCheckBox().attr('checked', !review.inDiffMode());
        review.moveToTrafficLight(params.nowIndex);
      });
  };

});
//--></script>

<div id="diff-checkbox-container">
  <div id="diff-checkbox-title">diff</div>
  <input type="checkbox" id="diff-checkbox" checked=""/>
  <label for="diff-checkbox"></label>
</div>
