<script type="text/javascript"><!--
'use strict';
$(() => {

  const review = cd.review;

  const diffCheckBox = () => $('#diff-checkbox');

  review.inDiffMode = () => diffCheckBox().is(':checked');

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // When arriving from test-page traffic-light, wasIndex != nowIndex and we show a diff.
  // When from a dashboard avatar, wasIndex == nowIndex and we are not showing a diff.
  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // inDiffMode() effects other controls in the following ways
  // o) when moving to a new avatar...
  //    -   checked ==> move to its _first_ traffic-light
  //    - unchecked ==> move to its _last_  traffic-light
  // o) when moving to a new traffic-light
  //    -   checked ==> diff is shown (wasIndex != nowIndex)
  //    - unchecked ==> diff is not shown (wasIndex == nowIndex)
  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  review.refreshDiffCheckBox = (kataId, checked, index) => {
    diffCheckBox()
      .prop('checked', checked)
      .off('click')
      .on('click', () => review.moveToTrafficLight(kataId, index));

    $('#diff-checkbox-title')
      .off('click')
      .on('click', () => {
        diffCheckBox().attr('checked', !review.inDiffMode());
        review.moveToTrafficLight(kataId, index);
      });
  };

});
//--></script>

<div id="diff-checkbox-container">
  <div id="diff-checkbox-title">diff</div>
  <input type="checkbox" id="diff-checkbox" checked=""/>
  <label for="diff-checkbox"></label>
</div>
