<div id="diff-checkbox-cell">
  <div id="diff-checkbox-title">diff</div>
  <input type="checkbox" id="diff-checkbox" checked=""/>
  <label for="diff-checkbox"></label>
</div>

<script>
'use strict';
$(() => {

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // inDiffMode() affects other controls in the following ways
  // o) when moving to a new avatar...
  //    -   checked ==> move to its _first_ traffic-light
  //    - unchecked ==> move to its _last_  traffic-light
  // o) when moving to a new traffic-light
  //    -   checked ==> diff is shown (wasIndex != nowIndex)
  //    - unchecked ==> diff is not shown (wasIndex == nowIndex)
  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  const review = cd.review;

  const $checkBox = $('#diff-checkbox');

  review.diffCheckBox = {
    isChecked: () => $checkBox.is(':checked'),
    refresh: (kataId, index, checked) => {
      $checkBox
        .prop('checked', checked)
        .off('click')
        .on('click', () => review.refresh(kataId, index));

      $('#diff-checkbox-title')
        .off('click')
        .on('click', () => {
          $checkBox.prop('checked', !review.diffCheckBox.isChecked());
          review.refresh(kataId, index);
        });
    }
  };

});
</script>
