
<table id="feature-buttons">
  <tr>
    <td align="right">
      <%= render(:partial => 'review/diff_checkbox') %>
      <div id="fork-button-container"></div>
      <div id="revert-button-container"></div>
    </td>
  </tr>
</table>
