<script type="text/javascript"><!--
'use strict';
$(() => {

  const review = cd.review;

  review.refreshFiles = () => {
    review.params.diffs.forEach((diff,index) => {
      diff.id = `id_${index}`;
      diff.chunkIndex = 0
      diff.chunkCount = diff.lines.reduce((n,line) => n + (line.type === 'section'), 0);
      diff.hasBeenClicked = false;
    });

    const diffContent = $('#diff-content');
    diffContent.html(makeDiffContent(review.params.diffs));

    const diffFilenames = $('#diff-filenames');
    diffFilenames.html(makeDiffFilenames(review.params.diffs));
    resetFilenameAddedDeletedLineCountHandlers();
    buildDiffFilenameHandlers(review.params.diffs);

    const picked = review.pick_file(review.params.diffs, review.filename, review.params.filenameExtension);
    review.filename = diffFilename(picked);
    showFile(picked.id);
  };

  const showFile = (filenameId) => {
    $(`#radio_${filenameId}`)
      .click()
      .scrollIntoView({ direction: 'vertical' });
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const makeDiffFilenames = (diffs) => {
    let html = '<table class="filenames">';
    html += makeIconHeadings();
    sortedDiffs(diffs).forEach(diff => html += makeDiffTr(diff));
    html += '</table>';
    return html;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const makeIconHeadings = () => {
    let html = '';
    html += '<tr>';
    if (review.inDiffMode()) {
      html += makeTd(makeDiffLineCountIcon('deleted', '&mdash;'));
      html += makeTd(makeDiffLineCountIcon('added', '+'));
      html += makeTd(makeDiffLineCountIcon('same', '='));
      html += makeTd(makeDiffHelpIcon()); // Aligns withs glyph-id
    }
    html += makeTd(''); // Aligns with filename-td
    html += '</tr>';
    return html;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const makeDiffTr = (diff, glyph) => {
    glyph ||= diff;
    let html = '';
    html += '<tr>';
    if (review.inDiffMode()) {
      html += makeTd(makeDiffCount(diff, 'deleted'));
      html += makeTd(makeDiffCount(diff, 'added'));
      html += makeTd(makeDiffCount(diff, 'same'));
      html += makeTd(makeDiffType(glyph));
    }
    html += makeTd(makeDiffFilename(diff));
    html += '</tr>';
    return html;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const makeDiffLineCountIcon = (cssName, icon) => {
    return `<div class="diff-line-count-icon ${cssName}">${icon}</div>`;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const makeDiffHelpIcon = () => {
    let tip = '';
    tip += '<span class="diff-line-count-icon deleted">-</span> ';
    tip += '<span class="diff-line-count-icon added">+</span> ';
    tip += '<span class="diff-line-count-icon same">=</span> number of deleted,added,unchanged lines.<br/>';
    tip += '<hr/>';
    tip += 'click a filename to review it.<br/>';
    tip += 'reclick the filename to cycle through its diff-chunks.<br/>';
    tip += '<hr/>';
    tip += '<span class="diff-type-marker unchanged"></span><span class="diff-filename unchanged">unchanged-file</span><br/>';
    tip += '<span class="diff-type-marker created"></span><span class="diff-filename created">created-file</span><br/>';
    tip += '<span class="diff-type-marker deleted"></span><span class="diff-filename deleted">deleted-file</span><br/>';
    tip += '<span class="diff-type-marker changed"></span><span class="diff-filename changed">changed-file</span>';
    tip += ' hover over <span class="diff-type-marker changed"></span> for diff chunk count<br/>';
    tip += '<span class="diff-type-marker renamed"></span><span class="diff-filename renamed">renamed-file</span>';
    tip += ' hover over <span class="diff-type-marker renamed"></span> for old filename';
    const $div = $('<div>', {
      class: 'diff-help-icon',
      'data-tip': tip
    });
    $div.text('?');
    return outerHTML($div);
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const makeDiffCount = (diff, cssName) => {
    const lineCount = diff['line_counts'][cssName];
    const css = lineCount > 0 ? cssName : '';
    const div = $('<div>', {
      'class': `diff-line-count ${css}`,
      'data-filename': diffFilename(diff)
    });
    div.html(lineCount > 0 ? lineCount : '&nbsp;');
    return outerHTML(div);
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const makeDiffType = (diff) => {
    if (diff === '&nbsp;') { return diff; }
    const $div = $('<div>', { class:`diff-type-marker ${diff.type}` });
    let hoverTip = '';
    if (diff.type === 'renamed') {
      hoverTip += oldFilenameTip(diff);
    }
    if (diff.chunkCount > 0) {
      if (hoverTip != '') { hoverTip += '<br/>'; }
      hoverTip += chunkCountTip(diff);
    }
    if (hoverTip != '') {
      $div.attr('data-tip', hoverTip);
    }
    return outerHTML($div);
  };

  const oldFilenameTip = (diff) => {
    return `was<span class="diff-filename renamed">${diff.old_filename}</span>`;
  };

  const chunkCountTip = (diff) => {
    return `diff chunk count == ${diff.chunkCount}`;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const makeDiffFilename = (diff) => {
    return outerHTML($('<div>', {
      'class': `diff-filename ${diff.type}`,
      'data-filename': diffFilename(diff),
      'id': `radio_${diff.id}`,
      'text': diffFilename(diff)
    }));
  };

  const diffFilename = (diff) => {
    if (diff.new_filename) {
      return diff.new_filename;
    } else {
      return diff.old_filename;
    }
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const outerHTML = (element) => element.get(0).outerHTML;

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const sortedDiffs = (diffs) => {
    // Ensure filenames appear in the same order as kata/edit page
    const filenames = diffs.map(diff => diffFilename(diff));
    const sorted = cd.sortedFilenames(filenames);
    const diffFor = (filename) => diffs.find(diff => diffFilename(diff) === filename);
    return sorted.map(filename => diffFor(filename));
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const resetFilenameAddedDeletedLineCountHandlers = () => {

    const display = (node, name, value) => {
      // Only [+][-] counts for current filename are live
      if ($(node).html() === '&nbsp;') { return; }
      if ($(node).attr('disabled') !== 'disabled') {
        const filename = $(node).data('filename');
        const selector = `[id="${filename}_diff_div"] ${name}`;
        $(selector).css('display', value);
        if (value === 'none') {
          $(node).removeClass('on').addClass('off');
        } else {
          $(node).removeClass('off').addClass('on');
        }
      }
    };

    [ 'deleted', 'added' ].forEach(type => {
      $(`.diff-line-count.${type}`)
        .clickToggle(
          function() { display(this, type, 'none' ); },
          function() { display(this, type, 'block'); }
        );
    });
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const buildDiffFilenameHandlers = (diffs) => {
    diffs.forEach(diff => {
      const filename = diffFilename(diff);
      const $filename = $(`#radio_${diff.id}`, review.page);
      $filename.click(() => {
        selectLineCounts(filename);
        selectFilename($filename);
        review.selectFile(filename);
        scrollToNextDiffChunkOnReclick(diff, filename);
        diff.hasBeenClicked = true;
      });
    });
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const selectLineCounts = (filename) => {
    $('.diff-line-count').attr('disabled', true);
    $(`.diff-line-count[data-filename="${filename}"]`).attr('disabled', false);
  };

  const selectFilename = ($filename) => {
    $('.diff-filename', review.page).removeClass('selected');
    $filename.addClass('selected');
  };

  review.selectFile = (filename) => {
    $('.filename_div', review.page).hide();
    $(`[id="${filename}_diff_div"]`).show();
    review.filename = filename;
  };

  const scrollToNextDiffChunkOnReclick = (diff, filename) => {
    const hasDiffChunks = () => diff.chunkCount > 0;
    const isFirstClick = () => !diff.hasBeenClicked;
    const isReClick = () => review.filename === filename;
    if (hasDiffChunks() && (isFirstClick() || isReClick())) {
      const $diffSheet = $(`[id="diff_file_content_for_${filename}"]`);
      const $section = $(`#${diff.id}_section_${diff.chunkIndex}`);
      const position = { scrollTop: '+=' + ($section.offset().top - 250) + 'px' };
      const halfSecond = 500;
      $diffSheet.animate(position, halfSecond);
      diff.chunkIndex += 1;
      diff.chunkIndex %= diff.chunkCount;
    }
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const makeDiffContent = (diffs) => {
    const $holder = $('<span>');
    diffs.forEach(diff => {
      $holder.append(review.makeDiffFileContent(diff));
    });
    return $holder;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  review.makeDiffFileContent = (diff) => {
    const filename = diffFilename(diff);
    const lineNumbers = makeLineNumbers(diff.lines);
    const fileContent = makeContent(diff.id, diff.lines);
    const $file = $('' +
      `<div id="${filename}_diff_div" class="filename_div">` +
      '<table>' +
        '<tr class="valign-top">' +
          makeTd('<div class="diff-line-numbers"></div>') +
          makeTd(`<div id="diff_file_content_for_${filename}"` +
                 ' class="diff-sheet"></div>') +
        '</tr>' +
      '</table>' +
      '</div>'
      );
    const $numbers = $('.diff-line-numbers', $file);
    $numbers.html(lineNumbers);

    const $content = $('.diff-sheet', $file);
    $content.html(fileContent);

    bindLineNumberScrolling($content, $numbers);
    return $file;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const makeLineNumbers = (lines) => {
    let html = [];
    lines.forEach(line => {
      if (line.type != 'section') {
        html.push(`<${line.type}><ln>${line.number}</ln></${line.type}>`);
      }
    });
    return html;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const makeContent = (id, diff_lines) => {
    let html = [];
    diff_lines.forEach(diff_line => {
      if (diff_line.type === 'section') {
        html.push(`<span id='${id}_section_${diff_line.index}'></span>`);
      } else {
        let line = cd.htmlEscape(diff_line.line);
        if (line === '') { line = '&nbsp'; }
        html.push(`<${diff_line.type}>${line}</${diff_line.type}>`);
      }
    });
    return html;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const bindLineNumberScrolling = ($content, $numbers) => {
    const synchScroll = () => $numbers.scrollTop($content.scrollTop());
    $content.bind({
      keydown   : synchScroll,
      scroll    : synchScroll,
      mousewheel: synchScroll,
      mousemove : synchScroll,
      mousedown : synchScroll,
      mouseup   : synchScroll
    });
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const makeTd = (html) => `<td>${html}</td>`;

});
//--></script>

<div id="diff-filenames"></div>
