<script type="text/javascript"><!--
'use strict';
$(() => {

  const review = cd.review;

  review.refreshFiles = () => {
    const params = review.params;
    const args = { id:params.id, was_index:params.wasIndex, now_index:params.nowIndex };
    $.getJSON('/differ/diff_lines', args, (data) => {
      review.params.diffs = data.diff_lines;
      augmentDiffData();
      const $diffContent = $('#diff-content');
      $diffContent.html(makeDiffContent(review.params.diffs));

      const $diffFilenames = $('#diff-filenames');
      $diffFilenames.html($makeDiffFilenames(review.params.diffs));
      resetFilenameAddedDeletedLineCountHandlers();
      buildDiffFilenameHandlers(review.params.diffs);

      const picked = review.pick_file(review.params.diffs, review.filename, review.params.filenameExtension);
      review.filename = picked.filename;
      showFile(picked.id);
    });
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const augmentDiffData = () => {
    review.params.diffs.forEach((diff,index) => {
      diff.id = `id_${index}`;
      diff.chunkIndex = 0
      diff.chunkCount = diff.lines.reduce((n,line) => n + (line.type === 'section'), 0);
      diff.hasBeenClicked = false;
      diff.filename = (diff.type === 'deleted') ? diff.old_filename : diff.new_filename;
    });
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const showFile = (filenameId) => {
    $(`#radio_${filenameId}`)
      .click()
      .scrollIntoView({ direction: 'vertical' });
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const $makeDiffFilenames = (diffs) => {
    const $table = $('<table>', { class:'filenames' });
    $table.append($makeIconHeadings());
    sortedDiffs(diffs).forEach(diff => $table.append($makeDiffTr(diff)));
    return $table;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const $makeIconHeadings = () => {
    const $tr = $('<tr>');
    if (review.inDiffMode()) {
      $tr.append($makeTd($makeDiffLineCountIcon('deleted', '&mdash;')));
      $tr.append($makeTd($makeDiffLineCountIcon('added', '+')));
      $tr.append($makeTd($makeDiffLineCountIcon('same', '=')));
      $tr.append($makeTd($makeDiffHelpIcon())); // Aligns withs glyph-id
    }
    $tr.append($makeTd('')); // Aligns with filename-td
    return $tr;
  };

  const $makeTd = ($node) => $('<td>').html($node);

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const $makeDiffTr = (diff) => {
    const $tr = $('<tr>');
    if (review.inDiffMode()) {
      $tr.append($makeTd($makeDiffCount(diff, 'deleted')));
      $tr.append($makeTd($makeDiffCount(diff, 'added')));
      $tr.append($makeTd($makeDiffCount(diff, 'same')));
      $tr.append($makeTd($makeDiffType(diff)));
    }
    $tr.append($makeTd($makeDiffFilename(diff)));
    return $tr;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const $makeDiffLineCountIcon = (cssName, icon) => {
    return $('<div>', {
      class:`diff-line-count-icon ${cssName}`
    }).html(icon);
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const $makeDiffHelpIcon = () => {
    let tip = '';
    tip += '<span class="diff-line-count-icon deleted">-</span> ';
    tip += '<span class="diff-line-count-icon added">+</span> ';
    tip += '<span class="diff-line-count-icon same">=</span> number of deleted,added,unchanged lines.<br/>';
    tip += '<hr/>';
    tip += 'click a filename to review it.<br/>';
    tip += 'reclick the filename to cycle through its diff-chunks.<br/>';
    tip += '<hr/>';
    tip += '<table>';
    tip += tr3('changed', 'hover over <span class="diff-type-marker changed"></span> for diff-chunk count');
    tip += tr3('renamed', 'hover over <span class="diff-type-marker renamed"></span> for old filename');
    tip += tr3('created', '');
    tip += tr3('deleted', '');
    tip += tr3('unchanged', '');
    tip += '</table>';
    const $div = $('<div>', {
      class: 'diff-help-icon',
      'data-tip': tip
    });
    $div.text('?');
    cd.setupHoverTips($div);
    return $div;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const tr3 = (type, info) => {
    return `<tr><td><span class="diff-type-marker ${type}"></span></td>` +
               `<td><span class="diff-filename ${type}">${type}-file</span></td>` +
               `<td>${info}</td>`;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const $makeDiffCount = (diff, cssName) => {
    const lineCount = diff['line_counts'][cssName];
    const css = lineCount > 0 ? cssName : '';
    const $div = $('<div>', {
      'class': `diff-line-count ${css}`,
      'data-filename': diff.filename
    });
    $div.html(lineCount > 0 ? lineCount : '&nbsp;');
    return $div;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const $makeDiffType = (diff) => {
    if (diff === '&nbsp;') { return diff; }
    const $div = $('<div>', { class:`diff-type-marker ${diff.type}` });
    let hoverTip = '';
    if (diff.type === 'renamed') {
      hoverTip += oldFilenameTip(diff);
    }
    if (diff.chunkCount > 0) {
      if (hoverTip != '') { hoverTip += '<br/>'; }
      hoverTip += chunkCountTip(diff);
    }
    if (hoverTip != '') {
      $div.attr('data-tip', hoverTip);
      cd.setupHoverTips($div);
    }
    return $div;
  };

  const oldFilenameTip = (diff) => {
    return `was<span class="diff-filename renamed">${diff.old_filename}</span>`;
  };

  const chunkCountTip = (diff) => {
    return `diff chunk count == ${diff.chunkCount}`;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const $makeDiffFilename = (diff) => {
    return $('<div>', {
      'class': `diff-filename ${diff.type}`,
      'data-filename': diff.filename,
      'id': `radio_${diff.id}`,
      'text': cd.htmlEscape(diff.filename)
    });
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const sortedDiffs = (diffs) => {
    // Ensure filenames appear in the same order as kata/edit page
    const filenames = diffs.map(diff => diff.filename);
    const sorted = cd.sortedFilenames(filenames);
    const diffFor = (filename) => diffs.find(diff => diff.filename === filename);
    return sorted.map(filename => diffFor(filename));
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const resetFilenameAddedDeletedLineCountHandlers = () => {

    const display = (node, name, value) => {
      // Only [+][-] counts for current filename are live
      if ($(node).html() === '&nbsp;') { return; }
      if ($(node).attr('disabled') !== 'disabled') {
        const filename = $(node).data('filename');
        const selector = `[id="${filename}_diff_div"] ${name}`;
        $(selector).css('display', value);
        if (value === 'none') {
          $(node).removeClass('on').addClass('off');
        } else {
          $(node).removeClass('off').addClass('on');
        }
      }
    };

    [ 'deleted', 'added' ].forEach(type => {
      $(`.diff-line-count.${type}`)
        .clickToggle(
          function() { display(this, type, 'none' ); },
          function() { display(this, type, 'block'); }
        );
    });
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const buildDiffFilenameHandlers = (diffs) => {
    diffs.forEach(diff => {
      const $filename = $(`#radio_${diff.id}`, review.page);
      $filename.click(() => {
        selectLineCounts(diff.filename);
        selectFilename($filename);
        review.selectFile(diff.filename);
        scrollToNextDiffChunkOnReclick(diff, diff.filename);
      });
    });
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const selectLineCounts = (filename) => {
    $('.diff-line-count').attr('disabled', true);
    $(`.diff-line-count[data-filename="${filename}"]`).attr('disabled', false);
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const selectFilename = ($filename) => {
    $('.diff-filename', review.page).removeClass('selected');
    $filename.addClass('selected');
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const scrollToNextDiffChunkOnReclick = (diff, filename) => {
    const hasDiffChunks = () => diff.chunkCount > 0;
    const isFirstClick = () => !diff.hasBeenClicked;
    const isReClick = () => review.filename === filename;
    if (hasDiffChunks() && (isFirstClick() || isReClick())) {
      const $diffSheet = $(`[id="diff_file_content_for_${filename}"]`);
      const $section = $(`#${diff.id}_section_${diff.chunkIndex}`);
      const position = { scrollTop: '+=' + ($section.offset().top - 250) + 'px' };
      const halfSecond = 500;
      $diffSheet.animate(position, halfSecond);
      diff.chunkIndex += 1;
      diff.chunkIndex %= diff.chunkCount;
    }
    diff.hasBeenClicked = true;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const makeDiffContent = (diffs) => {
    const $holder = $('<span>');
    diffs.forEach(diff => {
      $holder.append(review.makeDiffFileContent(diff));
    });
    return $holder;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  review.selectFile = (filename) => {
    $('.filename_div', review.page).hide();
    $(`[id="${filename}_diff_div"]`).show();
    review.filename = filename;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  review.makeDiffFileContent = (diff) => {
    const lineNumbers = makeLineNumbers(diff.lines);
    const fileContent = makeContent(diff.id, diff.lines);
    const $file = $('' +
      `<div id="${diff.filename}_diff_div" class="filename_div">` +
      '<table>' +
        '<tr class="valign-top">' +
          makeTd('<div class="diff-line-numbers"></div>') +
          makeTd(`<div id="diff_file_content_for_${diff.filename}"` +
                 ' class="diff-sheet"></div>') +
        '</tr>' +
      '</table>' +
      '</div>'
      );
    const $numbers = $('.diff-line-numbers', $file);
    $numbers.html(lineNumbers);

    const $content = $('.diff-sheet', $file);
    $content.html(fileContent);

    bindLineNumberScrolling($content, $numbers);
    return $file;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const makeLineNumbers = (lines) => {
    let html = [];
    lines.forEach(line => {
      if (line.type != 'section') {
        html.push(`<${line.type}><ln>${line.number}</ln></${line.type}>`);
      }
    });
    return html;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const makeContent = (id, diff_lines) => {
    let html = [];
    diff_lines.forEach(diff_line => {
      if (diff_line.type === 'section') {
        html.push(`<span id='${id}_section_${diff_line.index}'></span>`);
      } else {
        let line = cd.htmlEscape(diff_line.line);
        if (line === '') { line = '&nbsp'; }
        html.push(`<${diff_line.type}>${line}</${diff_line.type}>`);
      }
    });
    return html;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const bindLineNumberScrolling = ($content, $numbers) => {
    const synchScroll = () => $numbers.scrollTop($content.scrollTop());
    $content.bind({
      keydown   : synchScroll,
      scroll    : synchScroll,
      mousewheel: synchScroll,
      mousemove : synchScroll,
      mousedown : synchScroll,
      mouseup   : synchScroll
    });
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const makeTd = (html) => `<td>${html}</td>`;

});
//--></script>

<div id="diff-filenames"></div>
