<div id="fork-button-box"></div>

<script>
'use strict';
$(() => {

  const $button = () => $('#fork-button');

  const review = cd.review;

  review.forkButton = {
    refresh: (kataId, index) => {
      review.createButton('fork', () => openForkDialog(kataId, index));
      const forkTip = `create a new<br/>exercise from this<br/>traffic-light's files`;
      cd.createTip($button(), forkTip);
    }
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  const openForkDialog = (kataId, index) => {
    const $div = $('<div>', { class:'info' }).append(
      $("<div>create a new exercise<br/>from this traffic-light's files</div>"),
      $makeButton(kataId, index, 'individual'),
      $makeButton(kataId, index, 'group')
    );
    const xPos = $button().offset().left;
    const yPos = $button().offset().top + 30;
    $('<div id="fork-dialog">').append($div).dialog({
              title: cd.dialogTitle('fork'),
              modal: true,
              width: 300,
           autoOpen: true,
           position: [xPos,yPos],
      closeOnEscape: true,
    });
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  const $makeButton = (kataId, index, type) => {
    return $('<button>', {
         id: type,
       type: 'button',
       text: `${type} exercise`
    }).click(() => {
      fork(kataId, index, type);
      $('#fork-dialog').remove();
    });
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  const fork = (kataId, index, type) => {
    $.ajax({
            type: 'POST',
             url: `/forker/fork_${type}?id=${kataId}&index=${index}`,
        dataType: 'json', // format we want response in
           async: false,
         success: (response) => {
           if (response.forked) {
             window.open(`/creator/enter?id=${response.id}`);
           } else {
             cd.dialogError(response.message);
           }
        }
    });
  };

});
</script>
