<script type="text/javascript"><!--
'use strict';
$(() => {

  const setupHelpIconHoverTip = () => {
    let tip = '';
    tip += 'when moving to a new avatar:<br/>';
    tip += '&bull;if diff is checked, you move to its <em>first</em> traffic-light.<br/>';
    tip += '&bull;if diff is unchecked, you move to its <em>last</em> traffic-light.<br/>';
    tip += '';
    tip += '<hr/>';
    tip += '<span class="diff-line-count-icon deleted">-</span> ';
    tip += '<span class="diff-line-count-icon added">+</span> ';
    tip += '<span class="diff-line-count-icon same">=</span> number of deleted,added,unchanged lines.<br/>';
    tip += '<hr/>';
    tip += 'click a filename to review it.<br/>';
    tip += 'reclick the filename to cycle through its diff-chunks.<br/>';
    tip += '<hr/>';
    tip += '<table>';
    tip += tr3('changed', 'hover over <span class="diff-type-marker changed"></span> for diff-chunk count');
    tip += tr3('renamed', 'hover over <span class="diff-type-marker renamed"></span> for old filename');
    tip += tr3('created', '');
    tip += tr3('deleted', '');
    tip += tr3('unchanged', '');
    tip += '</table>';
    cd.createTip($('.diff-help-icon'), tip);
  };

  const tr3 = (type, info) => {
    return `<tr><td><span class="diff-type-marker ${type}"></span></td>` +
               `<td><span class="diff-filename ${type}">${type}-file</span></td>` +
               `<td>${info}</td>`;
  };

  setupHelpIconHoverTip();

});
//--></script>

<div class="diff-help-icon">?</div>
