<table id="navigate-control">

  <tr id="avatar-control">
    <td align="center">
      <button class="triangle button" id="prev-avatar">
        <img src="/images/triangle_prev.gif"/>
      </button>
    </td>
    <td align="center">
      <% if @kata.avatar_name != '' %>
        <img id="avatar"
            src="/images/avatars/<%= @kata.avatar_name %>.jpg"/>
      <% end %>
    </td>
    <td align="center">
      <button class="triangle button" id="next-avatar">
        <img src="/images/triangle_next.gif"/>
      </button>
    </td>
  </tr>

  <tr>
    <td align="center">
      <button class="triangle button" id="prev-tag">
        <img src="/images/triangle_prev.gif" alt="move to previous diff"/>
      </button>
    </td>
    <td align="center">
      <div id="tag-number-container"></div>
    </td>
    <td align="center">
      <button class="triangle button" id="next-tag">
        <img src="/images/triangle_next.gif" alt="move to next diff"/>
      </button>
    </td>
  </tr>

</table>
