<table id="navigate-control">

  <tr>
    <td align="center">
      <button class="triangle button" id="prev-index">
        <img src="/images/triangle_prev.gif" alt="move to previous diff"/>
      </button>
    </td>
    <td align="center">
      <div id="index-container"></div>
    </td>
    <td align="center">
      <button class="triangle button" id="next-index">
        <img src="/images/triangle_next.gif" alt="move to next diff"/>
      </button>
    </td>
  </tr>

</table>
