<script type="text/javascript"><!--
'use strict';
$(() => {

  const review = cd.review;

  review.refreshOutput = () => {
    const params = review.params;
    const args = { id:params.id, index:params.nowIndex };
    review.waitSpinnerGetJSON('/model/kata_event', args, (data) => {
      refreshOutputCallback(data.kata_event);
    });
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  const refreshOutputCallback = (event) => {
    const $stdout = makeOutput('stdout', event.stdout.content);
    const $stderr = makeOutput('stderr', event.stderr.content);
    const $status = makeOutput('status', event.status);

    const $diffContentOutput = $('#diff-content-output');
    $diffContentOutput.empty().append($stdout, $stderr, $status);

    const $diffOutputFilenames = $('#diff-output-filenames');
    $diffOutputFilenames.html(makeOutputFilenames());

    $('#stdout').click(() => review.selectFile('stdout'));
    $('#stderr').click(() => review.selectFile('stderr'));
    $('#status').click(() => review.selectFile('status'));
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  const makeOutput = (name, content) => {
    return review.makeDiffFileContent({
            id: name,
          type: 'unchanged',
      filename: name,
         lines: makeSameLines(content)
    });
  };

  const makeSameLines = (str) => {
    return lines(str).map((line,number) => makeLine('same', line, number+1));
  };
  const makeLine = (type, line, number) => {
    return { type:type, line:line, number:number };
  };
  const lines = (str) => str.replace(/\n$/, '').split(/\r?\n/);

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  const makeOutputFilenames = () => {
    let html = '';
    html += '<table class="sss filenames">';
    html += makeOutputFilename('stdout');
    html += makeOutputFilename('stderr');
    html += makeOutputFilename('status');
    html += '</table>';
    return html;
  };

  const makeOutputFilename = (name) => {
    return `<tr><td class="diff-filename" id="${name}">${name}</td></tr>`;
  };

});

//--></script>

<div id="diff-output-filenames"></div>
