<script type="text/javascript"><!--
'use strict';
$(() => {

  const review = cd.review;

  review.refreshOutput = () => {
    const params = review.params;
    const args = { id:params.id, index:params.nowIndex };
    review.waitSpinnerGetJSON('/model/kata_event', args, (data) => {
      refreshOutputCallback(data.kata_event);
    });
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  const refreshOutputCallback = (event) => {
    const stdout = makeDiffOutput('stdout', event.stdout.content);
    const stderr = makeDiffOutput('stderr', event.stderr.content);
    const status = makeDiffOutput('status', event.status);

    const $diffContentOutput = $('#diff-content-output');
    const $stdout = review.makeDiffFileContent(stdout);
    const $stderr = review.makeDiffFileContent(stderr);
    const $status = review.makeDiffFileContent(status);
    $diffContentOutput.empty().append($stdout, $stderr, $status);

    const $diffOutputFilenames = $('#diff-output-filenames');
    $diffOutputFilenames.html(makeOutputFilenames(stdout,stderr,status));

    $(`#radio_${stdout.id}`).click(() => review.selectFilename(stdout));
    $(`#radio_${stderr.id}`).click(() => review.selectFilename(stderr));
    $(`#radio_${status.id}`).click(() => review.selectFilename(status));
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  const makeDiffOutput = (name, content) => {
    return {
            id: name,
          type: 'unchanged',
      filename: name,
         lines: makeSameLines(content)
    }
  };

  const makeSameLines = (str) => {
    return lines(str).map((line,number) => makeLine('same', line, number+1));
  };
  const makeLine = (type, line, number) => {
    return { type:type, line:line, number:number };
  };
  const lines = (str) => str.replace(/\n$/, '').split(/\r?\n/);

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  const makeOutputFilenames = (stdout, stderr, status) => {
    let html = '';
    html += '<table class="sss filenames">';
    html += makeOutputFilename(stdout);
    html += makeOutputFilename(stderr);
    html += makeOutputFilename(status);
    html += '</table>';
    return html;
  };

  const makeOutputFilename = (diff) => {
    return `<tr><td class="diff-filename" data-filename="${diff.filename}" id="radio_${diff.id}">${diff.filename}</td></tr>`;
  };

});

//--></script>

<div id="diff-output-filenames"></div>
