<script type="text/javascript"><!--
'use strict';
$(() => {

  const review = cd.review;

  review.refreshOutput = () => {
    const params = review.params;
    const args = { id:params.id, index:params.nowIndex };
    review.waitSpinnerGetJSON('/model/kata_event', args, (data) => {
      refreshOutputCallback(data.kata_event);
    });
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  const refreshOutputCallback = (event) => {
    const stdout = makeNoDiffOutput('stdout', event.stdout.content);
    const stderr = makeNoDiffOutput('stderr', event.stderr.content);
    const status = makeNoDiffOutput('status', event.status);

    const $diffContentOutput = $('#diff-content-output');
    const $stdout = review.makeDiffFileContent(stdout);
    const $stderr = review.makeDiffFileContent(stderr);
    const $status = review.makeDiffFileContent(status);
    $diffContentOutput.empty().append($stdout, $stderr, $status);

    const $diffOutputFilenames = $('#diff-output-filenames');
    $diffOutputFilenames.html($makeOutputFilenames(stdout, stderr, status));

    $(`#diff-filename-${stdout.id}`).click(() => review.selectFilename(stdout));
    $(`#diff-filename-${stderr.id}`).click(() => review.selectFilename(stderr));
    $(`#diff-filename-${status.id}`).click(() => review.selectFilename(status));
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  const makeNoDiffOutput = (name, content) => {
    return {
            id: name, // real file diffs have a numeric diff.id
          type: 'unchanged',
      filename: name,
         lines: makeSameLines(content)
    }
  };

  const makeSameLines = (str) => {
    return lines(str).map((line,number) => makeLine('same', line, number+1));
  };
  const makeLine = (type, line, number) => {
    return { type:type, line:line, number:number };
  };
  const lines = (str) => str.replace(/\n$/, '').split(/\r?\n/);

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  const $makeOutputFilenames = (stdout, stderr, status) => {
    const $table = $('<table>', { class:'sss filenames' });
    $table.append($makeOutputFilenameTr(stdout));
    $table.append($makeOutputFilenameTr(stderr));
    $table.append($makeOutputFilenameTr(status));
    return $table;
  };

  const $makeOutputFilenameTr = (diff) => {
    const $td = $('<td>', {
      class: 'diff-filename',
         id: `diff-filename-${diff.id}`,
      'data-diff-id': diff.id
    }).text(diff.filename);
    return $('<tr>').append($td);
  };

});

//--></script>

<div id="diff-output-filenames"></div>
