<script type="text/javascript"><!--
'use strict';
$(() => {

  const review = cd.review;

  cd.plog = (n,o) => console.log(`${n}:${JSON.stringify(o)}`);

  review.refreshOutput = () => {
    const args = { id:review.params.id, index:review.params.nowIndex };
    $.getJSON('/model/kata_event', args, (data) => {
      const event = data.kata_event;
      const stdout = event.stdout.content;
      const stderr = event.stderr.content;
      const status = event.status;

      const $stdout = review.makeDiffFileContent(makeSameDiff('stdout', stdout));
      const $stderr = review.makeDiffFileContent(makeSameDiff('stderr', stderr));
      const $status = review.makeDiffFileContent(makeSameDiff('status', status));

      const $diffContentOutput = $('#diff-content-output');
      $diffContentOutput.empty();
      $diffContentOutput.append($stdout);
      $diffContentOutput.append($stderr);
      $diffContentOutput.append($status);

      const $diffOutputFilenames = $('#diff-output-filenames');
      $diffOutputFilenames.html(makeDiffOutputFilenames(stdout,stderr,status));

      $('#stdout').click(() => review.selectFile('stdout'));
      $('#stderr').click(() => review.selectFile('stderr'));
      $('#status').click(() => review.selectFile('status'));
    });
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  const makeSameDiff = (filename, str) => {
    return {
                  id: filename,
                type: 'unchanged',
            filename: filename,
               lines: makeSameLines(str)
    };
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  const makeSameLines = (str) => {
    let n = 0;
    return lines(str).map(line => {
      return { type:'same', line:line, number:n += 1 };
    });
  };
  const lines = (str) => str.replace(/\n$/, '').split(/\r?\n/);

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  const makeDiffOutputFilenames = (stdout,stderr,status) => {
    let html = '';
    html += '<table class="sss filenames">';
    html += `<tr><td class="diff-filename" id="stdout">stdout</td></tr>`;
    html += `<tr><td class="diff-filename" id="stderr">stderr</td></tr>`;
    html += `<tr><td class="diff-filename" id="status">status</td></tr>`;
    html += '</table>';
    return html;
  };

});

//--></script>

<div id="diff-output-filenames"></div>
