<div class="review predict-counts">
  <div class="circle box">
    <div class="cross count">0</div>
    <img src="/images/traffic-light/circle-cross.png">
  </div>
  <div class="tick box">
    <div class="tick count">0</div>
    <img src="/images/traffic-light/circle-tick.png">
  </div>
  <div class="total"></div>
</div>

<script>
'use strict';
$(() => {

  const $predictCounts = $('.review.predict-counts');

  const counts = { cross: 0, tick: 0 };

  cd.review.predictCounts = {};

  cd.review.predictCounts.reset = () => {
    removeRagBackground();
    Object.keys(counts).forEach(key => setPredict(key, 0));
    updateTotal();
  };

  cd.review.predictCounts.update = (light) => {
    const colour = light.colour;
    if (cd.lib.hasPrediction(light) && colour != 'pulling' && colour != 'faulty') {
      const isRight = (colour === light.predicted);
      const name = isRight ? 'tick' : 'cross';
      const $count = setPredict(name, counts[name] + 1);
      removeRagBackground();
      if (!isRight) {
        $count.addClass(light.predicted);
      }
      updateTotal();
    }
    else if (!cd.lib.isRevert(light)) {
      removeRagBackground();
    }
  };

  const removeRagBackground = () => {
    $('.count', $predictCounts).removeClass('red amber green');
  };

  const setPredict = (name, n) => {
    const $count = $(`.${name}.count`, $predictCounts);
    $count.text(counts[name] = n);
    return $count;
  };

  const updateTotal = () => {
    const total = counts.tick + counts.cross;
    $('.total', $predictCounts).html(`${total}&nbsp;prediction${plural(total)}`);
  };

  const plural = (n) => n == 1 ? '' : 's';

});
</script>
