<div class="review predict-counts">
  <div class="tick box">
    <div class="tick count">0</div>
    <img src="/images/traffic-light/circle-tick.png">
  </div>
  <div class="circle box">
    <div class="cross count">0</div>
    <img src="/images/traffic-light/circle-cross.png">
  </div>
  <div class="total">0&nbsp;predictions</div>
</div>

<script>
'use strict';
$(() => {

  const $predictCounts = $('.review.predict-counts');

  cd.review.predictCounts = {};

  cd.review.predictCounts.reset = () => {
    Object.keys(counts).forEach(key => counts[key] = 0);
  };

  cd.review.predictCounts.update = (light) => {
    const colour = light.colour;
    if (cd.lib.hasPrediction(light) && colour != 'pulling' && colour != 'faulty') {
      const isRight = (colour === light.predicted);
      const name = isRight ? 'tick' : 'cross';
      $(`.${name}.count`, $predictCounts).text(counts[name] += 1);
      const total = counts.tick + counts.cross;
      $('.total', $predictCounts).html(`${total}&nbsp;prediction${plural(total)}`);
    }
  };

  const plural = (n) => n == 1 ? '' : 's';

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  const counts = {
    tick: 0,
    cross: 0
  };

});
</script>
