<div id="resume-button-box"></div>

<script>
'use strict';
$(() => {

  const review = cd.review;

  review.refreshResumeButton = () => {
    if (review.inTestPage) {
      review.createButton('resume', () => {
        review.fadeIntoKataPage(cd.kata.editor.refocus);
        // Hide the avatar-navigator to avoid 'flash' when
        // from kata/edit your go to the review which was
        // previously looking at a different avatar.
        $('#avatar-navigator').hide();
      });
    }
  }

});
</script>
