<div id="resume-button-box"></div>

<script>
'use strict';
$(() => {

  const review = cd.review;

  review.refreshResumeButton = () => {
    if (review.inTestPage) {
      review.createButton('resume', () => {
        review.fadeIntoKataPage(cd.kata.editor.refocus);
      });
    }
  }

});
</script>
