<script type="text/javascript"><!--
'use strict';
$(() => {

  const review = cd.review;

  review.refreshTrafficLightsNavigator = (kataId, index, events) => {
    refreshMoveTo($('#first-index'), kataId, prevEventIndex(index, 1));
    refreshMoveTo($('#prev-index'),  kataId, prevEventIndex(index, index-1));
    $('#review-index-box').html($makeIndexNumber(index, events));
    refreshMoveTo($('#next-index'),  kataId, nextEventIndex(events, index, index+1));
    refreshMoveTo($('#last-index'),  kataId, nextEventIndex(events, index, events.length-1));
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const refreshMoveTo = (button, kataId, index) => {
    button
      .attr('disabled', index === null)
      .off('click')
      .on('click', () => review.moveToTrafficLight(kataId, index));
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const prevEventIndex = (index, n) => {
    if (index === 1) { // 0 is creation event
      return null; // Disable
    } else {
      return n;
    }
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const nextEventIndex = (events, index, n) => {
    if (index === events.length-1) {
      return null; // Disable
    } else {
      return n;
    }
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const $makeIndexNumber = (index, events) => {
    return $('<div>', {
      id:'index-number',
      class:events[index].colour
    }).html(index);
  };

});
//--></script>

<div id="traffic-light-navigator">
  <button id="first-index" class="triangle button">
    <img src="/images/triangle_prev.gif"
         alt="move to first traffic-light"/>
  </button>
  <button id="prev-index" class="triangle button">
    <img src="/images/triangle_prev.gif"
         alt="move to previous traffic-light"/>
  </button>
  <div id="review-index-box"></div>
  <button id="next-index" class="triangle button">
    <img src="/images/triangle_next.gif"
         alt="move to next traffic-light"/>
  </button>
  <button id="last-index" class="triangle button">
    <img src="/images/triangle_next.gif"
         alt="move to last traffic-light"/>
  </button>
</div>
