
<table>
  <tr>
    <td>
      <button id="prev-index" class="triangle button">
        <img src="/images/triangle_prev.gif" alt="move to previous diff"/>
      </button>
    </td>
    <td>
      <div id="review-index-box"></div>
    </td>
    <td>
      <button id="next-index" class="triangle button">
        <img src="/images/triangle_next.gif" alt="move to next diff"/>
      </button>
    </td>
  </tr>
</table>
