<div id="review-traffic-lights"></div>

<script>
'use strict';
$(() => {

  const $trafficLights = $('#review-traffic-lights');

  cd.review.trafficLights = {
    refresh: (kataId, index) => {
      cd.review.getJSON('model', 'kata_events', {id:kataId}, (events) => {
        if (index === -1) {
          index = events.length - 1;
        }
        cd.review.index = () => index; // Need by [fork] and [checkout]
        trafficLightsRefresher(kataId, index, events);
        cd.review.refreshTrafficLightsNavigator(kataId, index, events);
      });
    }
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const trafficLightsRefresher = (kataId, index, events) => {
    $trafficLights.empty();
    appendTrafficLights(kataId, index, events);
    scrollCurrentTrafficLightIntoView();
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const appendTrafficLights = (kataId, index, events) => {
    events.forEach(event => {
      if (cd.lib.isVisible(event)) {
        cd.lib.appendImageIfPrediction($trafficLights, event);
        cd.lib.appendImageIfRevert($trafficLights, event);
        cd.lib.appendImageIfCheckout($trafficLights, event);
        appendTrafficLight(kataId, index, event);
      }
    });
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const appendTrafficLight = (kataId, index, light) => {
    const colour = light.colour;
    const $lightBox = $('<div class="light box">');
    const $light = $('<img>', {
      class: 'diff-traffic-light',
        src: `/images/traffic-light/${colour}.png`,
        alt: `${colour} traffic-light`
    });
    $light.click(() => cd.review.refresh(kataId, light.index));
    const wasIndex = light.index - 1;
    const nowIndex = light.index;
    cd.setupTrafficLightTip($light, light, kataId, wasIndex, nowIndex);
    $lightBox.append($light);
    $lightBox.append(makeTrafficLightMarkerHtml(index, light));
    $trafficLights.append($lightBox);
    return nowIndex;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const makeTrafficLightMarkerHtml = (index, light) => {
    const isCurrentIndex = (index === light.index);
    if (isCurrentIndex) {
      return `<img id='traffic-light-marker'
                   src='/images/traffic-light/marker_${light.colour}.png'/>`;
    } else {
      return '';
    }
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const scrollCurrentTrafficLightIntoView = () => {
    // refreshTrafficLights() has updated the dom with a $('#traffic-light-marker')
    // I cannot find a nice way to access it once the dom is ready. So this :-(
    const quarterSecond = 250;
    const scroller = () => {
      $('#traffic-light-marker').scrollIntoView({
        direction: 'horizontal',
         duration: 'slow'
      });
    };
    setTimeout(scroller, quarterSecond);
  };

});
</script>
