<script type="text/javascript"><!--
'use strict';
$(() => {

  const review = cd.review;

  const $trafficLights = $('#review-traffic-lights');

  review.refreshTrafficLights = (params) => {
    const args = { id:params.id };
    review.waitSpinnerGetJSON('/model/kata_events', args, (data) => {
      refreshTrafficLightsCallback(data.kata_events);
    });
  };

  const refreshTrafficLightsCallback = (events) => {
    $trafficLights.empty();
    appendTrafficLights(events);
    let wasIndex = 0;
    $.each($('.diff-traffic-light', $trafficLights), (_, light) => {
      const $light = $(light);
      const nowIndex = $light.data('index');
      $light.click(() => review.moveToTrafficLight(nowIndex));
      cd.setupTrafficLightTip2($light, review.params.id, wasIndex, nowIndex, review.params.avatarIndex);
      wasIndex = nowIndex;
    });
    review.refreshTrafficLightsNavigator(events);
    scrollCurrentTrafficLightIntoView();
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  review.moveToTrafficLight = (index) => {
    const delta = review.inDiffMode() ? 1 : 0;
    review.params.nowIndex = index;
    review.params.wasIndex = index - delta;
    review.refresh();
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const appendTrafficLights = (events) => {
    events.forEach((event,number) => {
      if (isVisible(event)) {
        if (wasPredicted(event)) {
          appendPredictedMarker(event);
        }
        if (wasReverted(event)) {
          appendRevertedMarker(event);
        }
        appendTrafficLight(event, number);
      }
    });
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const isVisible = (event) => {
    // Eg don't show event[0] == creation
    switch (event.colour) {
    case 'pulling':
    case 'red':
    case 'amber':
    case 'green':
    case 'timed_out':
    case 'faulty':
      return true;
    default:
      return false;
    }
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const wasPredicted = (light) => light.predicted != undefined && light.predicted != 'none';
  const wasReverted = (light) => light.revert != undefined;

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const appendPredictedMarker = (light) => {
    const correct = (light.predicted === light.colour);
    const icon = correct ? 'tick' : 'cross';
    const $predicted = $('<img>', {
      class: icon,
        src: `/images/traffic-light/circle-${icon}.png`
    });
    $trafficLights.append($predicted);
  };

  const appendRevertedMarker = (light) => {
    const $revert = $('<img>', {
      class: 'revert',
        src: '/images/traffic-light/circle-revert.png'
    });
    $trafficLights.append($revert);
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const appendTrafficLight = (light, number) => {
    const $light = $('<div>', {
         id: review.params.id,
      class: 'diff-traffic-light',
      'data-number': number,
      'data-colour': light.colour,
      'data-index': light.index
    });
    const $img = $('<img>', { src: `/images/traffic-light/${light.colour}.png` });
    $light.append($img);
    $light.append(makeTrafficLightMarkerHtml(light));
    $trafficLights.append($light);
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const makeTrafficLightMarkerHtml = (light) => {
    const isCurrentIndex = (review.params.nowIndex === light.index);
    if (isCurrentIndex) {
      return `<img id='traffic-light-marker'
                   src='/images/traffic-light/marker_${light.colour}.png'/>`;
    } else {
      return '';
    }
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const scrollCurrentTrafficLightIntoView = () => {
    // refreshTrafficLights() has updated the dom with a $('#traffic-light-marker')
    // I cannot find a nice way to access it once the dom is ready. So this :-(
    const quarterSecond = 250;
    const scroller = () => {
      $('#traffic-light-marker').scrollIntoView({
        direction:'horizontal',
        duration:'slow'
      });
    };
    setTimeout(scroller, quarterSecond);
  };

});
//--></script>

<div id="review-traffic-lights"></div>
