<script type="text/javascript"><!--
'use strict';
$(() => {

  const review = cd.review;

  review.refreshTrafficLightsNavigator = (params) => {
    refreshIndex($('#first-index'),prevEventIndex(params, 1));
    refreshIndex($('#prev-index'), prevEventIndex(params, params.nowIndex-1));
    $('#review-index-box').html($makeIndex(params));
    refreshIndex($('#next-index'), nextEventIndex(params, params.nowIndex+1));
    refreshIndex($('#last-index'), nextEventIndex(params, params.events.length-1));
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const refreshIndex = (button, index) => {
    button
      .attr('disabled', index === null)
      .unbind('click')
      .bind('click', () => review.moveToTrafficLight(index));
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const prevEventIndex = (params, n) => {
    if (params.nowIndex === 1) { // 0 is creation event
      return null; // Disable
    } else {
      return n;
    }
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const nextEventIndex = (params, n) => {
    if (params.nowIndex === params.events.length-1) {
      return null; // Disable
    } else {
      return n;
    }
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const $makeIndex = (params) => {
    const index = params.nowIndex;
    const colour = params.events[index].colour;
    const number = $(`.diff-traffic-light[data-index=${index}]`).data('number');
    return $('<div>', {
      id:'index-number',
      class:colour
    }).html(number);
  };

});
//--></script>

<div id="traffic-light-navigator">
  <button id="first-index" class="triangle button">
    <img src="/images/triangle_prev.gif"
         alt="move to first traffic-light"/>
  </button>
  <button id="prev-index" class="triangle button">
    <img src="/images/triangle_prev.gif"
         alt="move to previous traffic-light"/>
  </button>
  <div id="review-index-box"></div>
  <button id="next-index" class="triangle button">
    <img src="/images/triangle_next.gif"
         alt="move to next traffic-light"/>
  </button>
  <button id="last-index" class="triangle button">
    <img src="/images/triangle_next.gif"
         alt="move to last traffic-light"/>
  </button>
</div>
