<script type="text/javascript"><!--
'use strict';
$(() => {

  const review = cd.review;

  review.refreshTrafficLightsNavigator = (events) => {
    refreshIndex($('#first-index'),prevEventIndex(1));
    refreshIndex($('#prev-index'), prevEventIndex(review.params.nowIndex-1));
    $('#review-index-box').html($makeIndex(events));
    refreshIndex($('#next-index'), nextEventIndex(events, review.params.nowIndex+1));
    refreshIndex($('#last-index'), nextEventIndex(events, events.length-1));
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const refreshIndex = (button, index) => {
    button
      .attr('disabled', index === null)
      .unbind('click')
      .bind('click', () => review.moveToTrafficLight(index));
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const prevEventIndex = (n) => {
    if (review.params.nowIndex === 1) { // 0 is creation event
      return null; // Disable
    } else {
      return n;
    }
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const nextEventIndex = (events, n) => {
    if (review.params.nowIndex === events.length-1) {
      return null; // Disable
    } else {
      return n;
    }
  };

  // - - - - - - - - - - - - - - - - - - - - - - - -
  const $makeIndex = (events) => {
    const index = review.params.nowIndex;
    const colour = events[index].colour;
    const number = $(`.diff-traffic-light[data-index=${index}]`).data('number');
    return $('<div>', {
      id:'index-number',
      class:colour
    }).html(number);
  };

});
//--></script>

<div id="traffic-light-navigator">
  <button id="first-index" class="triangle button">
    <img src="/images/triangle_prev.gif"
         alt="move to first traffic-light"/>
  </button>
  <button id="prev-index" class="triangle button">
    <img src="/images/triangle_prev.gif"
         alt="move to previous traffic-light"/>
  </button>
  <div id="review-index-box"></div>
  <button id="next-index" class="triangle button">
    <img src="/images/triangle_next.gif"
         alt="move to next traffic-light"/>
  </button>
  <button id="last-index" class="triangle button">
    <img src="/images/triangle_next.gif"
         alt="move to last traffic-light"/>
  </button>
</div>
