<div class="review traffic-lights-counts">
  <div class="box">
    <div class="actual red count">0</div>
    <img src="/images/traffic-light/red.png">
  </div>
  <div class="box">
    <div class="actual amber count">0</div>
    <img src="/images/traffic-light/amber.png">
  </div>
  <div class="box">
    <div class="actual green count">0</div>
    <img src="/images/traffic-light/green.png">
  </div>
  <div class="rag-spacer"></div>
  <div class="timed_out box" style="display:none;">
    <div class="actual timed_out count">0</div>
    <img src="/images/traffic-light/timed_out.png">
  </div>
  <div class="pulling box" style="display:none;">
    <div class="actual pulling count">0</div>
    <img src="/images/traffic-light/pulling.png">
  </div>
  <div class="faulty box" style="display:none;">
    <div class="actual faulty count">0</div>
    <img src="/images/traffic-light/faulty.png">
  </div>
  <div class="total">0&nbsp;tests</div>
</div>

<script>
'use strict';
$(() => {

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // cd.kata.updateTrafficLightsCounts() is called from:
  //   1) views/kata/_edit.html.erb when page loads/refreshes.
  //   2) views/kata/run_tests.js.erb when [test] is clicked.
  //   3) views/review/_review.html.erb when [checkout] is clicked.

  const $counts = $('.review.traffic-lights-counts');

  cd.review.trafficLightsCounts = {};

  cd.review.trafficLightsCounts.reset = () => {
    Object.keys(counts).forEach(key => counts[key] = 0);    
  };

  cd.review.trafficLightsCounts.update = (light) => {
    // An incorrect prediction with revert-on for the predicted
    // colour results in two traffic-lights; a 1st for the
    // incorrect prediction, a 2nd to revert it.
    const colour = light.colour;
    const $count = $(`.${colour}.count`, $counts);
    // The 2nd revert light does _not_ contribute to the count
    // totals which is the number of times there has been
    // a test submission (with or without a prediction).
    if (!cd.lib.isRevert(light) && !cd.lib.isCheckout(light)) {
      $count.text(counts[colour] += 1);
      const total = counts.red + counts.amber + counts.green +
                    counts.timed_out + counts.pulling + counts.faulty;
      $('.total', $counts).html(`${total}&nbsp;test${plural(total)}`);
    }
    // Most katas will have only red/amber/green totals,
    // so don't show timed_out,pulling,faulty unless they occur.
    if (counts[colour] > 0) {
      $(`.${colour}.box`, $counts).show();
    }
  };

  const plural = (n) => n == 1 ? '' : 's';

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  const counts = {
    red: 0,
    amber: 0,
    green: 0,
    timed_out: 0,
    pulling: 0,
    faulty:0,
  };

});
</script>
