<script type="text/javascript"><!--
'use strict';
$(() => {

  const checkBox = $('#auto-refresh-checkbox');

  checkBox
    .attr('checked', '<%= @auto_refresh %>' === 'true')
    .click(() => cd.refreshDashboard());

  $('#auto-refresh-text').click(() => {
    checkBox.attr('checked', !checkBox.is(':checked'));
    cd.refreshDashboard();
  });

});
//--></script>

<table id="auto-refresh-box">
  <tr>
    <td>
      <div id="auto-refresh-text" data-tip="toggle the 10 second<br/>auto-refresh on/off">
        auto&nbsp;refresh
      </div>
    </td>
    <td>
      <input type="checkbox" id="auto-refresh-checkbox"/>
      <label for="auto-refresh-checkbox"></label>
    </td>
  </tr>
</table>
