<script type="text/javascript"><!--

$(() => {

  const id = '<%= @group.id %>';
  const minuteColumns = $('#minute-columns-checkbox');
  const autoRefresh   = $('#auto-refresh-checkbox');

  const isChecked = (checkbox) => {
    return checkbox.is(':checked');
  };

  const dashboardHeartbeat = () => {
    if (isChecked(autoRefresh)) {
      $.ajax({
        url: '/dashboard/heartbeat',
        data: {
          id: id,
          minute_columns: isChecked(minuteColumns),
          auto_refresh: isChecked(autoRefresh)
        },
        dataType: 'script'
      });
    }
  };

  const refreshDashboard = () => {
    const url = '/dashboard/show/' + id +
              '?' + 'minute_columns=' + isChecked(minuteColumns) +
              '&' + 'auto_refresh=' + isChecked(autoRefresh);
    window.location = url;
  };

  const milliSecond = 1;
  const seconds = 1000 * milliSecond;

  setInterval(dashboardHeartbeat, 10*seconds);

  minuteColumns
    .attr('checked', '<%= @minute_columns %>' == 'true')
    .click(() => { refreshDashboard(); });

  autoRefresh
    .attr('checked', '<%= @auto_refresh %>' == 'true')
    .click(() => { refreshDashboard(); });

});

//--></script>

<table id="auto-refresh-container">
  <tr>
    <td>
      <div id="text" title="toggle the 10 second auto-refresh on/off">
        auto<br/>refresh
      </div>
    </td>
    <td>
      <input type="checkbox"
             class="regular-checkbox"
             id="auto-refresh-checkbox"/>
        <label for="auto-refresh-checkbox"></label>
    </td>
  </tr>
</table>

<table id="minute-columns-container">
  <tr>
    <td>
      <div id="text" title="toggle 1-minute columns on/off">
        minute<br/>columns
      </div>
    </td>
    <td>
      <input type="checkbox"
             class="regular-checkbox"
             id="minute-columns-checkbox"/>
        <label for="minute-columns-checkbox"></label>
    </td>
  </tr>
</table>
