<script type="text/javascript"><!--
'use strict';
$(() => {

  const downloadButton = $('#download-button');

  // [1] zipper is not yet upgraded to the new saver format
  downloadButton
    .prop('disabled', true) // [1]
    .click(() => {
      const url = '/download/' + "<%=@group.id%>";
      window.location = url;
    });

  cd.createTip(downloadButton, 'download the whole session as a .tgz file');

});
//--></script>

<div id="download-button-container">
  <button type="button"
          id="download-button">
    download
  </button>
</div>
