
<script type="text/javascript"><!--

$(function() {

  const downloadButton = $('#download-button');

  downloadButton.click(function() {
    const url = '/download/' + "<%=@kata.id%>";
    window.location = url;
  });

  cd.setTip(downloadButton, function() {
    const tip = 'download the whole<br/>session as a .tgz file';
    cd.showHoverTip(downloadButton, tip);
  });

});

//--></script>

<div id="download-button-container">
  <button type="button"
          id="download-button">
    download
  </button>
</div>
