<script type="text/javascript"><!--
'use strict';
$(() => {

  const checkBox = $('#minute-columns-checkbox');

  checkBox
    .attr('checked', '<%= @minute_columns %>' === 'true')
    .click(() => cd.refreshDashboard());

  $('#minute-columns-text').click(() => {
    checkBox.attr('checked', !checkBox.is(':checked'));
    cd.refreshDashboard();
  });

});
//--></script>

<table id="minute-columns-box">
  <tr>
    <td>
      <div id="minute-columns-text" data-tip="toggle the 1-minute<br/>columns on/off">
        minute&nbsp;columns
      </div>
    </td>
    <td>
      <input type="checkbox" id="minute-columns-checkbox"/>
      <label for="minute-columns-checkbox"></label>
    </td>
  </tr>
</table>
