<script type="text/javascript"><!--
'use strict';
$(() => {

  $('#minute-columns-checkbox')
    .attr('checked', '<%= @minute_columns %>' === 'true')
    .click(() => cd.refreshDashboard());

});
//--></script>

<table id="minute-columns-box">
  <tr>
    <td>
      <div id="text" data-tip="toggle the 1-minute<br/>columns on/off">
        minute columns?
      </div>
    </td>
    <td>
      <input type="checkbox"
             class="regular-checkbox"
             id="minute-columns-checkbox"/>
        <label for="minute-columns-checkbox"></label>
    </td>
  </tr>
</table>
