<script type="text/javascript"><!--
'use strict';
$(() => {

  const progressDialog = () => {
    const id = "<%= @group.id %>";
	  $.getJSON('/dashboard/progress', { id:id }, (data) => {
      let html = '';
      let index = 0;
      html += '<div id="progress-dialog">';
      html += '<table>';
      $.each(data.animals, (name, animal) => {
        const parity = (index % 2 === 0) ? 'even' : 'odd';
        index += 1;
        html +=
          `<tr class='${parity} animal'>` +
            "<td class='progress'>" +
              `<img src='/images/traffic-light/${animal.colour}.png'` +
                  ` alt='${animal.colour} traffic-light'` +
                  " width='20'" +
                  " height='20'/>" +
            '</td>' +
            '<td>' +
              `<img src='/avatars/image/${animal.index}'` +
                ` data-id='${animal.id}'` +
                " width='30'" +
                " height='30'" +
                " class='avatar-image'/>" +
            '</td>' +
            `<td class='${animal.colour} progress'>` +
              animal.progress.text +
            '</td>' +
          '</tr>';
      }); // each
      html += '</table>';
      html += '</div>';

      const node = $(html);
      node.dialog({
        autoOpen: true,
           modal: true,
           title: cd.dialogTitle('progress?'),
         buttons: { close: () => node.remove() },
        maxWidth: 600
      });

      $('.avatar-image', node).click(event => {
        const id = $(event.currentTarget).data('id');
        window.open(`/kata/edit/${id}`);
      });
    }); // getJSON
  };

  $('#progress-button').click(() => {
    progressDialog();
  });

});
//--></script>

<% if @group.manifest.progress_regexs != [] %>
  <div id="progress-button-box">
    <button type="button"
              id="progress-button">
      progress?
    </button>
  </div>
<% end %>
