button.large  { font-size:40px; }
button.medium { font-size:25px; }
button.small  { font-size:20px; }

button.ensemble,
button.classroom,
button.solo
{
  width: 215px;
}

#enter-page button { width:660px; }
#enter-page button.single { width:80px; }

