<div id="sha-page">
  <table id="aligner">
    <% @services.each do |name,values| %>
    <tr>
      <td><%= values['name'] %></td>
      <td><%= values['sha'][0...7] %></td>
      <td><a href="<%= values['github_url'] %>">github</a></td>
      <!-- add link to image on dockerhub? -->
    </tr>
    <% end %>
  </table>

  <%= render partial: 'shared/app_bar_short',
      locals: { help_url: "http://blog.cyber-dojo.org/p/learn-more.html" }
  %>
</div>
