<script type="text/javascript"><!--
'use strict';
$(() => {

  const fillIn = (name, sha) => {
    const tag = sha.substring(0,7);
    $(`tr#${name} td:nth-child(2)`).text(tag);
    $(`tr#${name} td:nth-child(3)`).empty().append(
      $('<a/>', {
        href: `https://github.com/cyber-dojo/${name}/tree/${sha}`,
        text: 'repo'
      })
    );
    $(`tr#${name} td:nth-child(4)`).empty().append(
      $('<a/>', {
        href: `https://hub.docker.com/r/cyberdojo/${name}/tags`,
        text: 'image'
      })
    );
  };

  const ajaxSha = (name, url, extractSha) => {
    $.ajax({
      url: url,
      type: 'GET',
      success: (data) => fillIn(name, extractSha(data)),
      error: (jq,status,thrown) => {
        const msg = {js:jq, status:status, thrown:thrown };
        alert(`${name} => ${JSON.stringify(msg)}`);
      }
    });
  };

  fillIn('web', "<%= @web_sha %>");
  ajaxSha('nginx', '/sha.txt', (sha) => sha);
  <%= raw @names %>.forEach((name) => ajaxSha(name, `/${name}/sha`, (data) => data.sha));

});
//--></script>

<div id="sha-page">
  <table id="aligner">
    <% (@names + ['web','nginx']).sort.each do |name| %>
    <tr id="<%= name %>">
      <td><%= name %></td>
      <td>?</td>
      <td>?</td>
      <td>?</td>
    </tr>
    <% end %>
  </table>
</div>
