<button type="button" class="charity">charity</button>

<script>
'use strict';
$(() => {

  const $button = $('button.charity');

  $button.click(() => openCharityInfoDialog());

  const openCharityInfoDialog = () => {
    $('#charity-dialog').dialog({
              width: 700,
           autoOpen: true,
      closeOnEscape: true,
              modal: true,
              title: cd.dialogTitle('charity'),
        beforeClose: () => cd.kata.editor.refocus()
    });
  };

});
</script>
