<button type="button" id="dashboard-button" class="info-button">dashboard</button>

<script>
'use strict';
$(() => {

  const $dashboardButton = $('#dashboard-button');
  const manifest = cd.kata.manifest();
  const groupId = manifest.group_id;

  if (groupId === undefined || cd.env['DASHBOARD_BUTTON'] === 'off') {
	  $dashboardButton.remove();
  } else {
	  $dashboardButton.click(() => {
	      const url = `/dashboard/show/${manifest.group_id}`;
	      window.open(url);
      });
      cd.createTip($dashboardButton, 'open dashboard page');
  }

});
</script>
