<button type="button" class="donate">donate</button>

<dialog style="width:650px">
  <header>
    <span class="dialog-title">please donate</span>
    <button type="button" class="dialog-close">close</button>
  </header>
  <div class="info">
    <p>for an individual, we suggest donating $10+</p>
    <p>for a non-profit meetup, we suggest donating $25+</p>
    <p>for a commercial organization, we suggest donating $1000+</p>
    <button type="button"
            style="font-size:27px; font-weight:bold; border-radius:3px; margin-top:8px;"
            onclick="window.open('https://www.paypal.com/donate?hosted_button_id=7HAUYJCMFCS8C','_blank')">
      donate via PayPal
    </button>
  </div>
  <div class="info">
    if you need an invoice, please email <a href="mailto:license@cyber-dojo.org">license@cyber-dojo.org</a>
  </div>
</dialog>

<script>
'use strict';
// Inline (not $()) so document.currentScript is available, letting each partial
// instance wire its own sibling button and dialog without a guard against
// double-initialization when the partial appears twice on the same page.
(function() {
  const dialog = document.currentScript.previousElementSibling;
  const button = dialog.previousElementSibling;
  $(dialog).on('close', () => { if (cd.kata && cd.kata.editor) cd.kata.editor.refocus(); });
  $('.dialog-close', dialog).click(() => dialog.close());
  $(button).click(() => dialog.showModal());
})();
</script>
