<button type="button" id="feedback-button" class="info-button">feedback</button>

<div id="feedback-dialog" style="display:none;">
  <div class="info">
    Please email us at <em>feedback@cyber-dojo.org</em>
    <ul>
      <li>make a suggestion?</li>
      <li>report an error?</li>
      <li>offer help!</li>
      <li>say hello :-)</li>
    </ul>
  </div>
</div>

<script>
'use strict';
$(() => {

  const $button = $('#feedback-button');
  cd.createTip($button, 'give us your feedback');
  $button.click(() => openFeedbackInfoDialog());

  const openFeedbackInfoDialog = () => {
    $('#feedback-dialog').dialog({
              width: 430,
           autoOpen: true,
      closeOnEscape: true,
              modal: true,
              title: cd.dialogTitle('feedback'),
        beforeClose: () => cd.kata.editor.refocus()
    });
  };

});
</script>
