<button type="button" id="feedback-button" class="info-button">feedback</button>

<dialog id="feedback-dialog" style="width:430px">
  <header>
    <span class="dialog-title">feedback</span>
    <button type="button" class="dialog-close">close</button>
  </header>
  <div class="info">
    Please email us at <em>feedback@cyber-dojo.org</em>
    <ul>
      <li>make a suggestion?</li>
      <li>report an error?</li>
      <li>offer help!</li>
      <li>say hello :-)</li>
    </ul>
  </div>
</dialog>

<script>
'use strict';
$(() => {

  const $button = $('#feedback-button');
  cd.createTip($button, 'give us your feedback');

  const dialog = document.getElementById('feedback-dialog');
  dialog.addEventListener('close', () => cd.kata.editor.refocus());
  dialog.querySelector('.dialog-close').addEventListener('click', () => dialog.close());

  $button.click(() => dialog.showModal());

});
</script>
