<div id="id-box"></div>

<script>
'use strict';
$(() => {

  const $idBox = $("#id-box");
  const manifest = cd.kata.manifest();
  const id = manifest.group_id || cd.kata.id;
  $idBox.html(id);

});
</script>
