<img id="settings-button" src="/images/settings.png" />

<dialog id="settings-dialog" style="width:250px">
  <header>
    <span class="dialog-title">settings</span>
    <button type="button" class="dialog-close">close</button>
  </header>
  <div class="info">
    <div class="info-title">colour syntax</div>
    <input type="radio" id="colour-off" name="colour" value="off">
    <label for="colour-off">off</label><br/>
    <input type="radio" id="colour-on"  name="colour" value="on" >
    <label for="colour-on">on</label><br/>
  </div>
  <div class="info">
    <div class="info-title">theme</div>
    <input type="radio" id="dark"  name="theme" value="dark" >
    <label for="dark">dark</label><br/>
    <input type="radio" id="light" name="theme" value="light">
    <label for="light">light</label><br/>
  </div>
</dialog>

<script>
'use strict';
// Inline (not $()) so document.currentScript is available, letting each partial
// instance wire its own sibling button and dialog without a guard against
// double-initialization when the partial appears twice on the same page.
(function() {
  const dialog = document.currentScript.previousElementSibling;
  const button = dialog.previousElementSibling;

  cd.settings = {
    showButton: () => $(button).show(),
    hideButton: () => $(button).hide(),
    // Note: the CodeMirror theme is a combination of colour+theme
    colour:(value) => {
      const name = 'colour';
      if (value === undefined) {
        return getOption(name);
      }
      else {
        setOption(name, value);
        cd.codeMirror.resetTheme();
      }
    },
    theme:(value) => {
      const name = 'theme';
      if (value === undefined) {
        return getOption(name);
      }
      else {
        setOption(name, value);
        cd.codeMirror.resetTheme();
        cd.kata.tabs.theme(value);
      }
    },
    predict:(value) => {
      const name = 'predict';
      if (value === undefined) {
        return getOption(name);
      }
      else {
        setOption(name, value);
      }
    },
    revert:(colour, value) => {
      const name = `revert_${colour}`;
      if (value === undefined) {
        return getOption(name);
      }
      else {
        setOption(name, value);
      }
    }
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -

  const cache = {};

  const getOption = (name) => {
    if (cache[name] === undefined) {
      $.ajax({
            type: 'GET',
        dataType: 'json',
             url: '/kata/option_get',
            data: {
                id: cd.kata.id,
              name: name
            },
           async: false,
         success: (data) => cache[name] = data['kata_option_get']
      });
    }
    return cache[name];
  };

  const setOption = (name, value) => {
    // Only available in edit mode.
    $.ajax({
          type: 'POST',
      dataType: 'json',
           url: '/kata/option_set',
          data: {
               id: cd.kata.id,
             name: name,
            value: value
          },
         async: false,
       success: () => cache[name] = value
    });
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  // UI

  cd.showSettingsButton = () => {
    // The setting button is off by default so that it is not
    // visible on a review page arrived at from a dashboard.
    cd.createTip($(button), 'open settings dialog');
    $(button).show().on('click', () => openSettingsDialog());
  };

  dialog.addEventListener('close', () => cd.kata.editor.refocus());
  dialog.querySelector('.dialog-close').addEventListener('click', () => dialog.close());

  //- - - - - - - - - - - - - - - - - - - - - - - - -

  const openSettingsDialog = () => {
    ['colour', 'theme'].forEach((name) => {
      const css = `input[type=radio][name=${name}]`;
      const cssValue = css + `[value=${cd.settings[name]()}]`;
      $(css, dialog).off('change').on('change', function() { cd.settings[name](this.value); });
      $(cssValue, dialog).prop('checked', true);
    });
    const rect = button.getBoundingClientRect();
    dialog.style.left = rect.left + 'px';
    dialog.style.top = (rect.top + 90) + 'px';
    dialog.style.margin = '0';
    dialog.showModal();
  };

})();
</script>
