<button type="button" class="sponsorship">sponsorship</button>

<dialog style="width:440px">
  <header>
    <span class="dialog-title">sponsorship</span>
    <button type="button" class="dialog-close">close</button>
  </header>
  <div class="info">
    Thank you to our sponsors who cover
    all https://cyber-dojo.org hosting costs.
    <br/><br/>
    100% of donations and license fees go to the
    <a href="https://blog.cyber-dojo.org/2015/08/cyber-dojo-foundation.html"
       target="_blank">cyber-dojo Foundation</a> charity.
    <br/><br/>
    If you are interested in being a sponsor
    please email sponsor@cyber-dojo.org
  </div>
</dialog>

<script>
'use strict';
$(() => {

  $('button.sponsorship').each(function() {
    const $button = $(this);
    if ($button.data('initialized')) return;
    $button.data('initialized', true);
    const dialog = $button.next('dialog')[0];
    dialog.addEventListener('close', () => { if (cd.kata && cd.kata.editor) cd.kata.editor.refocus(); });
    dialog.querySelector('.dialog-close').addEventListener('click', () => dialog.close());
    $button.click(() => {
      // saveAnyFileChangesITE is only defined on the kata edit page, not the standalone review page
      if (cd.saveAnyFileChangesITE) {
        cd.saveAnyFileChangesITE(() => dialog.showModal());
      } else {
        dialog.showModal();
      }
    });
  });

});
</script>
