<div id="sponsorship-dialog" style="display:none;">
  <div class="info">
    Thank you to our sponsors who cover
    all https://cyber-dojo.org hosting costs.
    <br/><br/>
    100% of donations and license fees go to the
    <a href="https://blog.cyber-dojo.org/2015/08/cyber-dojo-foundation.html"
       target="_blank">cyber-dojo Foundation</a> charity.
    <br/><br/>
    If you are interested in being a sponsor
    please email sponsor@cyber-dojo.org
  </div>
</div>
