<button type="button" id="traffic-lights-button" class="info-button">version-control</button>

<dialog id="traffic-lights-dialog" style="width:400px">
  <header>
    <span class="dialog-title">version-control</span>
    <button type="button" class="dialog-close">close</button>
  </header>
  <div class="info">
  <%= partial('shared/traffic_lights_bulb_info') %>
  <%= partial('shared/traffic_lights_click_info') %>
  </div>
  <div class="info">Tests must complete in <span id="max-seconds"></span> seconds</div>
</dialog>

<script>
'use strict';
$(() => {

  cd.trafficLightsButton = () => $('#traffic-lights-button');

  cd.createTip(cd.trafficLightsButton(), 'show version-control information');

  const dialog = document.getElementById('traffic-lights-dialog');
  dialog.addEventListener('close', () => cd.kata.editor.refocus());
  dialog.querySelector('.dialog-close').addEventListener('click', () => dialog.close());

  cd.trafficLightsButton().click(() => {
    const manifest = cd.kata.manifest();
    document.getElementById('max-seconds').innerHTML = manifest.max_seconds;
    dialog.showModal();
  });

});
</script>
