<span id="yin-yang-logo">
  <img src="/images/cyber-dojo.png" />
</span>

<script>
'use strict';
$(() => {

  const yinYang = $('#yin-yang-logo');
  yinYang.click(() => window.location.href = '/');
  cd.createTip(yinYang, 'go back to the home page');

});
</script>
