<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="cache-control" content="no-transform">
    <meta charset="utf-8" />
    <meta name="description" content="The place to practice programming" />
    <meta name="keywords" content="Free Online Software Coding Programming Dojo Kata Deliberate Team Practice" />
    <meta name="author" content="Jon Jagger" />
    <title><%= @title %></title>

    <meta name="csrf-token" content="<%= session[:csrf] %>">
    <link rel="stylesheet" href="/assets/app.css">
    <script src="/assets/app.js"></script>

  </head>

  <body>
    <div id="cyber-dojo-page">
      <%= yield %>
    </div>
  </body>
</html>
