.CodeMirror {
  @include code-font;
  // 11.4pt is just enough for 80 characters at 770px width (including line-numbers).
  // Some test frameworks print to 80 columns, eg pytest.
  font-size: 11.4pt;
  color: black;
  height: calc(100vh - 125px);
  width: calc(100vw - 500px);
}
