#-----Ignore everything

*

#-----!Except these folders

!app
!config
!lib
!test

#-----!Except these files

!docker-compose.yml
!Dockerfile
!config.ru
!script/rails
!up.sh

!README.md
!LICENSE.md
!pipe_build_up_test.sh