#-----Ignore everything
#-----including katas (data-container / volume-mounted)
#-----including public (nginx image)

*

#-----!Except these folders

!app
!config
!lib
!test

#-----!Except these files

!Gemfile
!config.ru
!script/rails
