# ignore everything
/*
/*/

# except these dirs...

!/app
!/config
!/lib
!/script
!/sh
!/test

# and these files...

!/.dockerignore
!/.env
!/.gitignore
!/.travis.yml
!/config.ru
!/docker-compose.yml
!/Dockerfile
!/Gemfile
!/pipe_build_up_test.sh
!/run_rails_server.sh
!/LICENSE.md
!/README.md
