[user]
	name = Jon Jagger
	email = jon@jaggersoft.com
[alias]
	st = status
        smu = submodule update
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
