# ignore everything
/*
/*/

# except these dirs...

!/app
!/config
!/lib
!/script
!/sh
!/test
!/docs
!/.circleci

# and these files...

!/.dockerignore
!/.gitignore
!/.env
!/config.ru
!/docker-compose.yml
!/docker-compose-choosers.yml
!/docker-compose-depends.yml
!/docker-compose-nginx.yml
!/docker-compose-saver-dir-volume-mount.yml
!/docker-compose-saver-tmpfs-volume-mount.yml
!/docker-compose-web-volume-mount.yml
!/Dockerfile
!/build_test_publish.sh
!/demo.sh
!/up.sh
!/web.env
!/LICENSE.md
!/README.md
