[submodule "app/data/languages"]
	path = app/data/languages
	url = https://github.com/JonJagger/cyber-dojo-languages.git
[submodule "app/data/exercises"]
	path = app/data/exercises
	url = https://github.com/JonJagger/cyber-dojo-exercises.git
