*~
log/*
db/*.sqlite3
/tmp

.DS_Store
.sass-cache/
.idea
.rvmrc
.approvals
.ruby-gemset
.ruby-version
.tm_properties

*.tmp

script/stats/exceptions.log

test/*/coverage/
coverage

# When web image is being built these files are temporarily placed in the root
/Dockerfile
/.dockerignore
