
sudo: required
services: docker
language: node_js

before_script:
    - curl -O https://raw.githubusercontent.com/cyber-dojo/home/master/shared/push_and_trigger.sh
    - chmod +x push_and_trigger.sh

script:
    # pull images used in tests so test-duration does not include pull time
    - docker pull cyberdojofoundation/gcc_assert:latest
    - docker pull cyberdojofoundation/ruby_test_unit:latest
    #
    - ./pipe_build_up_test.sh \
        && ./push_and_trigger.sh cyber-dojo/system-tests
