
sudo: required
services: docker
language: generic

script:
    #- curl -O https://raw.githubusercontent.com/cyber-dojo/commander/master/cyber-dojo
    #- chmod +x cyber-dojo
    - curl -O https://raw.githubusercontent.com/cyber-dojo/ruby/master/push.sh
    - chmod +x push.sh

    #- docker pull cyberdojofoundation/gcc_assert:latest
    #- docker pull cyberdojofoundation/ruby_test_unit:latest

    - export CYBER_DOJO_ROOT=/usr/src/cyber-dojo
    - export CYBER_DOJO_KATAS_DATA_CONTAINER=cyber-dojo-katas-DATA-CONTAINER
    - export CYBER_DOJO_START_POINT_LANGUAGES=languages
    - export CYBER_DOJO_START_POINT_EXERCISES=exercises
    - export CYBER_DOJO_START_POINT_CUSTOM=custom

    # The katas data-volume is not created as a named volume because
    # it predates that docker feature.
    - docker ps --all | grep -s ${CYBER_DOJO_KATAS_DATA_CONTAINER} > /dev/null
    - echo $?
    # if [ $? != 0 ]; then
    - local CONTEXT_DIR=/tmp/build-katas-data-container
    - mkdir -p ${CONTEXT_DIR}
    - echo '*' > ${CONTEXT_DIR}/.dockerignore
    - echo 'FROM alpine:3.4' > ${CONTEXT_DIR}/Dockerfile
    - echo 'RUN adduser -D -H -u 19661 cyber-dojo' >> ${CONTEXT_DIR}/Dockerfile
    - echo 'ARG CYBER_DOJO_KATAS_ROOT' >> ${CONTEXT_DIR}/Dockerfile
    - echo 'USER root' >> ${CONTEXT_DIR}/Dockerfile
    - echo 'RUN  mkdir -p ${CYBER_DOJO_KATAS_ROOT}' >> ${CONTEXT_DIR}/Dockerfile
    - echo 'RUN  chown -R cyber-dojo ${CYBER_DOJO_KATAS_ROOT}' >> ${CONTEXT_DIR}/Dockerfile
    - echo 'VOLUME [ "${CYBER_DOJO_KATAS_ROOT}" ]' >> ${CONTEXT_DIR}/Dockerfile
    - echo 'CMD [ "katas-data-container" ]' >> ${CONTEXT_DIR}/Dockerfile
    - local TAG=cyberdojo/katas
    # create a katas volume - it is mounted into the web container
    # using a volumes_from in docker-compose.yml
    - docker build \
              --build-arg=CYBER_DOJO_KATAS_ROOT=${CYBER_DOJO_ROOT}/katas \
              --tag=${TAG} \
              --file=Dockerfile \
              ${CONTEXT_DIR} > /dev/null
    - docker create \
              --name ${CYBER_DOJO_KATAS_DATA_CONTAINER} \
              ${TAG} \
              echo 'cdfKatasDC' > /dev/null

    - ./pipe_build_up_test.sh
    #- ./up.sh
    #- ./cyber-dojo up
    # pull images used in tests so test-duration does not include pull time
    #- ./test.sh
    - ./push.sh
