
version: '2.2'

volumes:

  languages:
    external:
      name: ${CYBER_DOJO_START_POINT_LANGUAGES}
  exercises:
    external:
      name: ${CYBER_DOJO_START_POINT_EXERCISES}
  custom:
    external:
      name: ${CYBER_DOJO_START_POINT_CUSTOM}

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

services:

  web:
    build:
      context: .
      args:
        - CYBER_DOJO_HOME
    user: cyber-dojo
    image: cyberdojo/web
    init: true
    container_name: cyber-dojo-web
    environment:
      - CYBER_DOJO_HOME
    mem_limit: 2G
    memswap_limit: 2G
    restart: on-failure
    depends_on:
      - differ
      - runner_stateless
      - runner_stateful
      - runner_processful
      - starter
      - storer
      - zipper
    volumes:
      - languages:${CYBER_DOJO_HOME}/start_points/languages:ro
      - exercises:${CYBER_DOJO_HOME}/start_points/exercises:ro
      - custom:${CYBER_DOJO_HOME}/start_points/custom:ro

  # - - - - - - - - - - - - - - - -

  starter:
    user: nobody
    image: cyberdojo/starter
    init: true
    container_name: cyber-dojo-starter
    read_only: true
    tmpfs: /tmp
    environment:
      - CYBER_DOJO_START_POINTS_ROOT
    volumes:
      - languages:${CYBER_DOJO_START_POINTS_ROOT}/languages:ro
      - exercises:${CYBER_DOJO_START_POINTS_ROOT}/exercises:ro
      - custom:${CYBER_DOJO_START_POINTS_ROOT}/custom:ro

  # - - - - - - - - - - - - - - - -

  storer:
    user: cyber-dojo
    image: cyberdojo/storer
    init: true
    container_name: cyber-dojo-storer
    read_only: true
    tmpfs: /tmp
    environment:
      - CYBER_DOJO_KATAS_ROOT
    mem_limit: 2G
    memswap_limit: 2G
    restart: on-failure

  # - - - - - - - - - - - - - - - -

  runner_stateless:
    user: root
    image: cyberdojo/runner_stateless
    init: true
    container_name: cyber-dojo-runner-stateless
    read_only: true
    tmpfs: /tmp
    mem_limit: 2G
    memswap_limit: 2G
    restart: on-failure
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  # - - - - - - - - - - - - - - - -

  runner_stateful:
    user: root
    image: cyberdojo/runner_stateful
    init: true
    container_name: cyber-dojo-runner-stateful
    read_only: true
    tmpfs: /tmp
    mem_limit: 2G
    memswap_limit: 2G
    restart: on-failure
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  # - - - - - - - - - - - - - - - -

  runner_processful:
    user: root
    image: cyberdojo/runner_processful
    init: true
    container_name: cyber-dojo-runner-processful
    read_only: true
    tmpfs: /tmp
    mem_limit: 2G
    memswap_limit: 2G
    restart: on-failure
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  # - - - - - - - - - - - - - - - -

  differ:
    user: nobody
    image: cyberdojo/differ
    init: true
    container_name: cyber-dojo-differ
    read_only: true
    tmpfs: /tmp
    mem_limit: 1G
    memswap_limit: 1G
    restart: on-failure

  # - - - - - - - - - - - - - - - -

  zipper:
    user: zipper
    image: cyberdojo/zipper
    init: true
    container_name: cyber-dojo-zipper
    read_only: true
    tmpfs: /tmp
    mem_limit: 50M
    memswap_limit: 50M
    restart: on-failure
    depends_on:
      - storer
