
version: '2.2'

services:

  web:
    build:
      context: .
      args:
        - SHA
    user: nobody
    image: cyberdojo/web
    init: true
    container_name: test-web
    volumes:
      - ./test:/cyber-dojo/test:ro
    restart: 'no'
    depends_on:
      - avatars
      - custom
      - differ
      - exercises
      - languages
      - mapper
      - ragger
      - runner
      - saver
      - zipper

  # - - - - - - - - - - - - - - - -

  custom:
    user: nobody
    image: ${CYBER_DOJO_CUSTOM}
    init: true
    container_name: test-web-custom
    environment: [NO_PROMETHEUS]
    read_only: true
    ports: [4526:4526]
    tmpfs: /tmp
    restart: 'no'

  # - - - - - - - - - - - - - - - -

  exercises:
    user: nobody
    image: ${CYBER_DOJO_EXERCISES}
    init: true
    container_name: test-web-exercises
    environment: [NO_PROMETHEUS]
    read_only: true
    ports: [4525:4525]
    tmpfs: /tmp
    restart: 'no'

  # - - - - - - - - - - - - - - - -

  languages:
    user: nobody
    image: ${CYBER_DOJO_LANGUAGES}
    init: true
    container_name: test-web-languages
    environment: [NO_PROMETHEUS]
    read_only: true
    ports: [4524:4524]
    tmpfs: /tmp
    restart: 'no'

  # - - - - - - - - - - - - - - - -

  avatars:
    user: nobody
    image: cyberdojo/avatars:${CYBER_DOJO_AVATARS_TAG}
    init: true
    container_name: test-web-avatars
    environment: [NO_PROMETHEUS]
    read_only: true
    ports: [5027:5027]
    restart: 'no'
    tmpfs: /tmp

  # - - - - - - - - - - - - - - - -

  ragger:
    user: nobody
    image: cyberdojo/ragger:${CYBER_DOJO_RAGGER_TAG}
    init: true
    container_name: test-web-ragger
    environment: [NO_PROMETHEUS]
    read_only: true
    ports: [5537:5537]
    restart: 'no'
    depends_on:
      - runner
    tmpfs: /tmp

  # - - - - - - - - - - - - - - - -

  runner:
    user: root
    image: cyberdojo/runner:${CYBER_DOJO_RUNNER_TAG}
    init: true
    container_name: test-web-runner
    environment: [NO_PROMETHEUS]
    read_only: true
    ports: [4597:4597]
    tmpfs: /tmp
    restart: 'no'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  # - - - - - - - - - - - - - - - -

  saver:
    user: saver
    image: cyberdojo/saver:${CYBER_DOJO_SAVER_TAG}
    init: true
    container_name: test-web-saver
    environment: [NO_PROMETHEUS]
    read_only: true
    ports: [4537:4537]
    restart: 'no'
    depends_on:
      - mapper
    tmpfs:
      - /cyber-dojo:uid=19663,gid=65533
      - /tmp:uid=19663,gid=65533

  # - - - - - - - - - - - - - - - -

  mapper:
    user: nobody
    image: cyberdojo/mapper:${CYBER_DOJO_MAPPER_TAG}
    init: true
    container_name: test-web-mapper
    environment: [NO_PROMETHEUS]
    read_only: true
    ports: [4547:4547]
    restart: 'no'
    tmpfs:
      - /tmp:uid=65534,gid=65533
    volumes:
      - ./test/data/porter:/porter:ro

  # - - - - - - - - - - - - - - - -

  differ:
    user: nobody
    image: cyberdojo/differ:${CYBER_DOJO_DIFFER_TAG}
    init: true
    container_name: test-web-differ
    environment: [NO_PROMETHEUS]
    read_only: true
    ports: [4567:4567]
    tmpfs: /tmp
    restart: 'no'

  # - - - - - - - - - - - - - - - -

  zipper:
    user: nobody
    image: cyberdojo/zipper:${CYBER_DOJO_ZIPPER_TAG}
    init: true
    container_name: test-web-zipper
    environment: [NO_PROMETHEUS]
    read_only: true
    ports: [4587:4587]
    tmpfs: /tmp
    restart: 'no'
    depends_on:
      - saver
