
version: '2'

volumes:
  languages:
    external:
      name: ${CYBER_DOJO_START_POINT_LANGUAGES}
  exercises:
    external:
      name: ${CYBER_DOJO_START_POINT_EXERCISES}
  custom:
    external:
      name: ${CYBER_DOJO_START_POINT_CUSTOM}

services:
  web:
    build:
      context: .
      args:
        CYBER_DOJO_HOME: /app
    user: cyber-dojo
    image: cyberdojo/web
    container_name: cyber-dojo-web
    environment: [ CYBER_DOJO_HOME ]
    mem_limit: 2G
    memswap_limit: 2G
    restart: on-failure
    volumes:
      - languages:${CYBER_DOJO_HOME}/start_points/languages:ro
      - exercises:${CYBER_DOJO_HOME}/start_points/exercises:ro
      - custom:${CYBER_DOJO_HOME}/start_points/custom:ro

  puller:
    user: root
    image: cyberdojo/puller
    container_name: cyber-dojo-puller
    read_only: true
    tmpfs: /tmp
    mem_limit: 2G
    memswap_limit: 2G
    restart: on-failure
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  runner:
    user: root
    image: cyberdojo/runner
    container_name: cyber-dojo-runner
    #environment: [ CYBER_DOJO_RUNNER_CLASS=DockerKataContainerRunner ]
    #environment: [ CYBER_DOJO_RUNNER_CLASS=DockerKataVolumeRunner ]
    environment: [ CYBER_DOJO_RUNNER_CLASS=DockerAvatarVolumeRunner ]
    read_only: true
    tmpfs: /tmp
    mem_limit: 2G
    memswap_limit: 2G
    restart: on-failure
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  storer:
    user: root
    image: cyberdojo/storer
    container_name: cyber-dojo-storer
    read_only: true
    tmpfs: /tmp
    environment: [ CYBER_DOJO_KATAS_ROOT=/tmp/cyber-dojo/katas ]
    mem_limit: 2G
    memswap_limit: 2G
    restart: on-failure

  differ:
    user: nobody
    image: cyberdojo/differ
    container_name: cyber-dojo-differ
    read_only: true
    tmpfs: /tmp
    mem_limit: 1G
    memswap_limit: 1G
    restart: on-failure

