
networks:
  cyber-dojo:
    driver: bridge
    name: cyber-dojo

services:

  nginx:
    image: ${CYBER_DOJO_NGINX_IMAGE}:${CYBER_DOJO_NGINX_TAG}
    container_name: test_web_nginx
    depends_on:
      - web
    user: root
    init: true
    ports: [ "${CYBER_DOJO_NGINX_PORT}:80" ]
    restart: "no"

  # for demo
  web:
    depends_on:
      - creator
      - dashboard
      - differ
