
version: '3.7'

networks:
  cyber-dojo:
    driver: bridge
    name: cyber-dojo

services:

  web:
    image: ${CYBER_DOJO_WEB_IMAGE}
    build:
      context: .
      args: [ COMMIT_SHA ]
    user: nobody
    container_name: test_web
    env_file:
      - .env
    ports: [ "${CYBER_DOJO_WEB_PORT}:${CYBER_DOJO_WEB_PORT}" ]
    restart: 'no'

  # - - - - - - - - - - - - - - - -
  creator:
    image: ${CYBER_DOJO_CREATOR_IMAGE}:${CYBER_DOJO_CREATOR_TAG}
    user: nobody
    container_name: test_web_creator
    env_file:
      - .env
    read_only: true
    ports: [ "${CYBER_DOJO_CREATOR_PORT}:${CYBER_DOJO_CREATOR_PORT}" ]
    tmpfs: /tmp
    restart: 'no'

  # - - - - - - - - - - - - - - - -
  custom-start-points:
    image: ${CYBER_DOJO_CUSTOM_START_POINTS_IMAGE}:${CYBER_DOJO_CUSTOM_START_POINTS_TAG}
    user: nobody
    container_name: test_web_custom_start_points
    env_file:
      - .env
    read_only: true
    ports: [ "${CYBER_DOJO_CUSTOM_START_POINTS_PORT}:${CYBER_DOJO_CUSTOM_START_POINTS_PORT}" ]
    tmpfs: /tmp
    restart: 'no'

  exercises-start-points:
    image: ${CYBER_DOJO_EXERCISES_START_POINTS_IMAGE}:${CYBER_DOJO_EXERCISES_START_POINTS_TAG}
    user: nobody
    container_name: test_web_exercises_start_points
    env_file:
      - .env
    read_only: true
    ports: [ "${CYBER_DOJO_EXERCISES_START_POINTS_PORT}:${CYBER_DOJO_EXERCISES_START_POINTS_PORT}" ]
    tmpfs: /tmp
    restart: 'no'

  languages-start-points:
    image: ${CYBER_DOJO_LANGUAGES_START_POINTS_IMAGE}:${CYBER_DOJO_LANGUAGES_START_POINTS_TAG}
    user: nobody
    container_name: test_web_languages_start_points
    env_file:
      - .env
    read_only: true
    ports: [ "${CYBER_DOJO_LANGUAGES_START_POINTS_PORT}:${CYBER_DOJO_LANGUAGES_START_POINTS_PORT}" ]
    tmpfs: /tmp
    restart: 'no'

  # - - - - - - - - - - - - - - - -
  avatars:
    image: ${CYBER_DOJO_AVATARS_IMAGE}:${CYBER_DOJO_AVATARS_TAG}
    user: nobody
    container_name: test_web_avatars
    env_file:
      - .env
    read_only: true
    ports: [ "${CYBER_DOJO_AVATARS_PORT}:${CYBER_DOJO_AVATARS_PORT}" ]
    restart: 'no'
    tmpfs: /tmp

  # - - - - - - - - - - - - - - - -
  model:
    image: ${CYBER_DOJO_MODEL_IMAGE}:${CYBER_DOJO_MODEL_TAG}
    user: nobody
    container_name: test_web_model
    env_file:
      - .env
    read_only: true
    ports: [ "${CYBER_DOJO_MODEL_PORT}:${CYBER_DOJO_MODEL_PORT}" ]
    restart: 'no'
    tmpfs: /tmp

  # - - - - - - - - - - - - - - - -
  repler:
    image: ${CYBER_DOJO_REPLER_IMAGE}:${CYBER_DOJO_REPLER_TAG}
    user: root
    container_name: test_web_repler
    env_file:
      - .env
    read_only: true
    ports: [ "${CYBER_DOJO_REPLER_PORT}:${CYBER_DOJO_REPLER_PORT}" ]
    tmpfs: /tmp
    restart: 'no'
    volumes: [ "/var/run/docker.sock:/var/run/docker.sock" ]
    networks:
      - cyber-dojo
      - default

  # - - - - - - - - - - - - - - - -
  runner:
    image: ${CYBER_DOJO_RUNNER_IMAGE}:${CYBER_DOJO_RUNNER_TAG}
    user: root
    container_name: test_web_runner
    env_file:
      - .env
    read_only: true
    ports: [ "${CYBER_DOJO_RUNNER_PORT}:${CYBER_DOJO_RUNNER_PORT}" ]
    tmpfs: /tmp
    restart: 'no'
    volumes: [ "/var/run/docker.sock:/var/run/docker.sock" ]

  # - - - - - - - - - - - - - - - -
  saver:
    image: ${CYBER_DOJO_SAVER_IMAGE}:${CYBER_DOJO_SAVER_TAG}
    user: root
    container_name: test_web_saver
    env_file:
      - .env
    read_only: true
    ports: [ "${CYBER_DOJO_SAVER_PORT}:${CYBER_DOJO_SAVER_PORT}" ]
    restart: 'no'
    tmpfs: [ "/cyber-dojo:uid=19663,gid=65533", "/tmp:uid=19663,gid=65533" ]

  # - - - - - - - - - - - - - - - -
  shas:
    image: ${CYBER_DOJO_SHAS_IMAGE}:${CYBER_DOJO_SHAS_TAG}
    user: nobody
    container_name: test_web_shas
    env_file:
      - .env
    read_only: true
    ports: [ "${CYBER_DOJO_SHAS_PORT}:${CYBER_DOJO_SHAS_PORT}" ]
    restart: 'no'

  # - - - - - - - - - - - - - - - -
  differ:
    image: ${CYBER_DOJO_DIFFER_IMAGE}:${CYBER_DOJO_DIFFER_TAG}
    user: nobody
    container_name: test_web_differ
    env_file:
      - .env
    read_only: true
    ports: [ "${CYBER_DOJO_DIFFER_PORT}:${CYBER_DOJO_DIFFER_PORT}" ]
    tmpfs: /tmp
    restart: 'no'
