.dialog
{
  background: $lighter-color;
       color: $darker-color;
     display: table;
      margin: { top: 0; bottom: auto; left: 45px; right: 45px; }

  a:link, a:visited { color: $lighter-color; }

  &.title
  {
    position: relative;
        left: -45px;
  }
}

dialog {
  background: $darker-color;
  color: $lighter-color;
  border: none;
  padding: 0 0 0.5em;
  border-radius: 4px;
  font-size: 1.1rem;

  a:link, a:visited { color: $lighter-color; }
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

dialog > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4em 1em;

  .dialog-title { font-size: 1.85em; }
}

dialog > .info {
  margin-left: 1em;
  margin-right: 1em;
}

dialog > pre {
  background: transparent;
  color: inherit;
  margin: 0 1em 0.5em;
}
