#review-page
{
  .review-grid
  {
    display: flex;
    @include non-code-font();
    margin: { top:39px; left:2px; }
    padding: 0px;
    background: $darker-color;
    color: $lighter-color;
  }

  .left-column
  {
    width: $left-column-width; // Prevents movement when diff checkbox toggles
    position: relative;        // For avatar-navigator absolute:right    
  }

  .right-gutter
  {
    height: $column-height;
    max-height: $column-height;
    display: inline-block;
    margin: { left:$right-column-left-margin; top:1px; }
    position: relative; // For charity/sponsor absolute:bottom
  }
}
