
  <div class="info-text">
    The <a href="http://blog.cyber-dojo.org/2015/08/cyber-dojo-foundation.html" target="_blank">cyberdojo Foundation</a>
    is a Scottish Charitable Incorporated Organisation
    (magic number SC045890).
  </div>

  <div class="info-text">
    cyber-dojo is
         <a href="https://en.wikipedia.org/wiki/Open-source_software" target="_blank">open sourced</a>
         on two github organizations,
         <a href="https://github.com/cyber-dojo" target="_blank">cyber-dojo</a>
         and
         <a href="https://github.com/cyber-dojo-languages" target="_blank">cyber-dojo-languages</a>.
  </div>

  <div class="info-text">
    Hosting costs for cyber-dojo.org are paid by <a href="http://cucumber.io" target="_blank">Cucumber Limited</a>.
  </div>

  <div class="info-text">
    <a href="https://www.behance.net/NadyaSivers" target="_blank">Nadya Sivers</a> drew the fantastic animal images.
  </div>

