
<div id="artwork" xclass="center-content">

  <div class="center-content">
    <a href="https://www.behance.net/NadyaSivers" target="_blank">Nadya Sivers</a>
    drew the fantastic animal images
  <div>

  <div class="center-content">
    <%= render partial: 'shared/avatar_grid_colour' %>
  </div>

  </div>

</div>