
<div id="artwork" xclass="center-content">

  <div class="center-content">
    <a href="https://www.behance.net/NadyaSivers" target="_blank">Nadya Sivers</a>
    drew the fantastic animal images
  <div>

  <table class="center-content">
    <tr>
      <td><img class="animal" src="/images/avatars/toucan.jpg"></a></td>
      <td><img class="animal" src="/images/avatars/turtle.jpg"></a></td>
      <td><img class="animal" src="/images/avatars/wolf.jpg"></a></td>
      <td><img class="animal" src="/images/avatars/zebra.jpg"></a></td>
    </tr>
  </table>

</div>