
<div id="artwork">

  <div class="center-content">
    <a href="https://www.behance.net/NadyaSivers" target="_blank">Nadya Sivers</a>
    drew the fantastic animal images
  <div>

  <table class="center-content">
    <tr>
      <td><img class="animal"
               src="/images/avatars/<%= @shuffled_avatar_names[0] %>.jpg">
      </td>
      <td><img class="animal"
           src="/images/avatars/<%= @shuffled_avatar_names[1] %>.jpg">
      </td>
      <td><img class="animal"
               src="/images/avatars/<%= @shuffled_avatar_names[2] %>.jpg">
      </td>
      <td><img class="animal"
               src="/images/avatars/<%= @shuffled_avatar_names[3] %>.jpg">
      </td>
    </tr>
  </table>

</div>