
<script type="text/javascript"><!--

$(function() {

  $('#setup-custom-session-button').click(function() {
    cd.dialog_ie(function() {
      var id = "<%= @id %>";
      var url = '/setup_custom_start_point/show_exercises/' + id;
      window.location = url;
    });
  });

});

//--></script>

<button type="button" id="setup-custom-session-button">
setup a new practice session<br/>
from a <em>custom</em>&nbsp; start position
</button>
