
<script type="text/javascript"><!--

$(function() {

  $('#donate-button').click(function(event) {
    event.preventDefault();
    cd.dialog_donate().dialog('open');
  })

});

//--></script>

<div id="donate-button-container">
  <button type="button" id="donate-button">please donate</button>
</div>
