<script type="text/javascript"><!--
'use strict';
$(() => {

  $('button#donate').click(event => {
    event.preventDefault();
    cd.dialog_donate().dialog('open');
  })

});
//--></script>

<button id="donate">please&nbsp;donate</button>
