
<script type="text/javascript"><!--

$(function() {

  $('button#donate').click(function(event) {
    event.preventDefault();
    cd.dialog_donate().dialog('open');
  })

});

//--></script>

<div id="donate-button-container">
  <button id="donate">please&nbsp;donate</button>
</div>
