
<script type="text/javascript"><!--

$(function() {

  $('#donate-button').click(function(event) {
    event.preventDefault();
    cd.dialog_donate().dialog('open');
  })

});

//--></script>

<button type="button" id="donate-button">please donate</button><br/>

