<script type="text/javascript"><!--

$(() => {

  $('button#donate').click((event) => {
    event.preventDefault();
    cd.dialog_donate().dialog('open');
  })

});

//--></script>

<button id="donate">please&nbsp;donate</button>
