<script type="text/javascript"><!--

$(function() {
  cd.setupHoverTip($('[data-tip]'));
});

//--></script>

<div id="foundation" class="center-content">

  <div>
    100% of donations and licence fees buys
    <a href="http://www.raspberrypi.org" target="_blank">Raspberry Pi</a>
    <br/>
    computers to
    <a href="http://blog.cyber-dojo.org/2016/10/cyber-dojo-raspberry-pies-in-action.html" target="_blank">help children learn to program</a>
  </div>

  <table class="center-content">
    <tr>
      <td data-tip="Raspberry Pi'es sent<br/>to Coimbatore, India">
        <img class="kids-pic"
             src="/images/Coimbatore3.jpg">
      </td>
      <td data-tip="Raspberry Pi'es sent<br/>to Bray, Ireland">
        <img class="kids-pic"
             src="/images/Bray1.jpg">
      </td>
    </tr>
  </table>

  <div>
    <a href="http://blog.cyber-dojo.org/2015/08/cyber-dojo-foundation.html" target="_blank">cyberdojo Foundation</a>
    is a
    <br/>
    Scottish Charitable Incorporated Organisation
  </div>

</div>