
  <div class="info-text">
    Non-commercial use of cyber-dojo.org is free but donations are encouraged.
  </div>
  <div class="info-text">
    Commercial use of cyber-dojo.org
    <a href="http://blog.cyber-dojo.org/2015/08/cyber-dojo-foundation.html" target="_blank">requires a license</a>.
  </div>
  <%= render partial: 'donate' %>
  <div class="info-text">
    100% of donations and  license fees buys
    <a href="http://www.raspberrypi.org" target="_blank">Raspberry Pi</a>
    <br/>
    computers to
    <a href="http://blog.cyber-dojo.org/2016/10/cyber-dojo-raspberry-pies-in-action.html" target="_blank">help children learn to program</a>.
  </div>
  <br/>
  <table class="center-content">
    <%= render partial: 'pics_coimbatore' %>
    <%= render partial: 'pics_bray' %>
  </table>
