<div id="foundation" class="center-content">

  <div>
    <a href="http://blog.cyber-dojo.org/2015/08/cyber-dojo-foundation.html"
       target="_blank">cyberdojo Foundation</a>
    is a
    <br/>
    Scottish Charitable Incorporated Organisation
    <br/>
    with four trustees
  </div>

  <table class="center-content">
    <tr>
      <td>
        <a href="https://jonjagger.blogspot.co.uk">
          <img class="trustee" src="/images/trustees/JonJagger.jpg">
        </a>
      </td>
      <td>
        <a href="https://www.praqma.com">
          <img class="trustee" src="/images/trustees/MikeLong.jpg">
        </a>
      </td>
      <td>
        <a href="https://olvemaudal.com">
          <img class="trustee" src="/images/trustees/OlveMaudal.jpg">
        </a>
      </td>
      <td>
        <a href="https://cucumber.io">
          <img class="trustee" src="/images/trustees/SebRose.jpg">
        </a>
      </td>
    </tr>
    <tr>
      <td class="bio">
        <a href="https://jonjagger.blogspot.co.uk">Jon Jagger</a>
        is a software consultant based in England
      </td>
      <td class="bio">
        Mike Long is a partner at
        <a href="https://www.praqma.com">Praqma</a> in Norway
      </td>
      <td class="bio">
        <a href="https://olvemaudal.com">Olve Maudal</a>
        is a software guru at Equinor in Norway
      </td>
      <td class="bio">
        Seb Rose is an associate with
        <a href="https://cucumber.io">Cucumber.io</a> based in Scotland
      </td>
    </tr>
  </table>

</div>
