<script type="text/javascript"><!--

$(function() {
  cd.createTip($('#jon' ),
  'Jon is a software consultant<br/>' +
  'he lives in England'
  );
  cd.createTip($('#olve'),
    'Olve is a magician at Cisco<br/>' +
    'he lives in Norway'
  );
  cd.createTip($('#mike'),
    'Mike is a director at Praqma<br/>' +
    'he lives in Norway'
  );
  cd.createTip($('#seb' ),
    'Seb is an associate with Cucumber.io<br/>' +
    'he lives in Scotland'
  );
});

//--></script>

<div id="foundation" class="center-content">

  <div>
    100% of donations and licence fees buys
    <a href="http://www.raspberrypi.org" target="_blank">Raspberry Pi</a>
    <br/>
    computers to
    <a href="http://blog.cyber-dojo.org/2016/10/cyber-dojo-raspberry-pies-in-action.html" target="_blank">help children learn to program</a>
  </div>

  <table class="center-content">
    <tr>
      <td data-tip="Raspberry Pi'es sent<br/>to Coimbatore, India">
        <img class="kids-pic"
             src="/images/Coimbatore3.jpg">
      </td>
      <td data-tip="Raspberry Pi'es sent<br/>to Bray, Ireland">
        <img class="kids-pic"
             src="/images/Bray1.jpg">
      </td>
    </tr>
  </table>

  <div>
    <a href="http://blog.cyber-dojo.org/2015/08/cyber-dojo-foundation.html" target="_blank">cyberdojo Foundation</a>
    is a
    <br/>
    Scottish Charitable Incorporated Organisation
    <br/>
    it has four trustees
  </div>

  <table class="center-content">
    <tr>
      <td id="jon">
        <img class="trustee" src="/images/JonJagger.jpg">
        <div class="name">Jon Jagger</div>
      </td>
      <td id="olve">
        <img class="trustee" src="/images/OlveMaudal.jpg">
        <div class="name">Olve Maudal</div>
      </td>
      <td id="mike">
        <img class="trustee" src="/images/MikeLong.jpg">
        <div class="name">Mike Long</div>
      </td>
      <td id="seb">
        <img class="trustee" src="/images/SebRose.jpg">
        <div class="name">Seb Rose</div>
      </td>
    </tr>
  </table>

</div>