<script type="text/javascript"><!--
'use strict';
$(() => {

  $('button#group').click(() => {
    window.location = "/group/show/<%= @id %>";
  });

});
//--></script>

<button id="group">
  we're&nbsp;in&nbsp;a&nbsp;group
</button>
