
<script type="text/javascript"><!--

$(function() {

  $('button#group').click(function() {
    window.location = "/group/show/<%= @id %>";
  });

});

//--></script>

<button id="group">
  we're&nbsp;in&nbsp;a&nbsp;group
</button>
