
<script type="text/javascript"><!--

$(function() {

  $('#individual-enter-button').click(function() {
    const url = "/enter/show/<%= @id %>?from=individual";
    window.location = url;
  });

});

//--></script>

<button type="button" id="individual-enter-button">
  enter a practice
</button>