
<script type="text/javascript"><!--

$(function() {

  $('#individual-setup-button').click(function() {
    const url = "/setup_default_start_point/show_languages/<%= @id %>?from=individual";
    window.location = url;
  });

});

//--></script>

<button type="button" id="individual-setup-button">
  setup up a new individual practice session
</button>