
<script type="text/javascript"><!--

$(function() {

  $('button#individual').click(function() {
    window.location = "/individual/<%= @id %>";
  });

});

//--></script>

<button id="individual">
  i'm&nbsp;on&nbsp;my&nbsp;own
</button>