
<script type="text/javascript"><!--

$(function() {

  $('#individual-custom-setup-button').click(function() {
    const url = "/setup_custom_start_point/show/<%= @id %>?from=individual";
    window.location = url;
  });

});

//--></script>

<button type="button" id="individual-custom-setup-button">
  setup and enter a new <i>custom</i> practice
</button>