<script type="text/javascript"><!--
'use strict';
$(() => {

  $('button#individual').click(() => {
    window.location = "/individual/show/<%= @id %>";
  });

});
//--></script>

<button id="individual">
  i'm&nbsp;on&nbsp;my&nbsp;own
</button>
