
<script type="text/javascript"><!--

$(function() {

  $('#individual-button').click(function() {
    window.location = "/individual/<%= @id %>";
  });

});

//--></script>

<button type="button" id="individual-button">
  I'm practising on my own
</button>