
<script type="text/javascript"><!--

$(function() {

  $('button#individual').click(function() {
    window.location = "/individual/<%= @id %>";
  });

});

//--></script>

<button id="individual">
  I'm practising on my own
</button>