
<script type="text/javascript"><!--

$(function() {

  $('#individual-already-setup-button').click(function() {
    window.location = "/enter/show/<%= @id %>";
  });

});

//--></script>

<button type="button" id="individual-already-setup-button">
  the practice session has already been setup
  and I know it's hex-id
</button>