<script type="text/javascript"><!--

$(() => {

  $('button#individual').click(() => {
    window.location = "/individual/show/<%= @id %>";
  });

});

//--></script>

<button id="individual">
  i'm&nbsp;on&nbsp;my&nbsp;own
</button>