
<div id="info-container">
  <ul>
    <li>built with
        <a href="https://www.docker.com/">Docker</a>,
        <a href="https://www.ruby-lang.org/en/">Ruby</a>,
        <a href="http://rubyonrails.org/">Rails</a>,
        <a href="https://git-scm.com/">Git</a>
    </li>
    <li>
      <a href="https://www.behance.net/NadyaSivers">Nadya Sivers</a>drew the animals
    </li>
    <li>hosted on the <a href="https://cloud.google.com/compute/">Google Cloud</a>
    </li>
    <li>open sourced on <a href="https://github.com/cyber-dojo/web">github</a>
    </li>
  </ul>
</div>
