
<div id="licensing-container">
  <ul>
    <li>free for <em>non</em>-commercial use</li>
    <li>commercial use requires a license</li>
    <li>need a license?</li>
    <li>simply make a donation!</li>
  </ul>
</div>

