<div id="license" class="center-content">

  <div>
    commercial use of cyber-dojo.org
    <a href="http://blog.cyber-dojo.org/2015/08/cyber-dojo-foundation.html" target="_blank">
      requires a licence</a>
  </div>

  <div>
    non-commercial use is free but
  </div>

  <%= render partial: 'donate' %>

  <div>
    You can run your own cyber-dojo instance
    on any <a href="https://kubernetes.io/" target="_blank">kubernetes</a> cluster
    in a <a href="https://cloud.google.com/kubernetes-engine" target="_blank">cloud</a>
    or on a local <a href="https://kubernetes.io/docs/setup/learning-environment/minikube/" target="_blank">minukube</a> instance.
    All installation scripts and instructions are available <a href="https://github.com/cyber-dojo/k8s-install" target="_blank">here</a>.
  </div>

</div>
