<div id="license" class="center-content">

  <div>
    commercial use of cyber-dojo.org
    <a href="http://blog.cyber-dojo.org/2015/08/cyber-dojo-foundation.html" target="_blank">
      requires a licence</a>
  </div>

  <div>
    non-commercial use is free but
  </div>

  <%= render partial: 'donate' %>

  <div>
  information on running your own cyber-dojo server is <a href="https://blog.cyber-dojo.org/2020/07/running-your-own-cyber-dojo-server.html" target="_blank">here</a>
  </div>

</div>
