
<table class="align-right" cellpadding="0" cellspacing="0">
  <tr>
    <td rowspan="2">
      <%= render partial: 'shared/avatar_grid_colour' %>
    </td>
    <td>
      <%= render partial: 'team_button' %>
    </td>
  </tr>
  <tr>
    <td>
      <%= render partial: 'individual_button' %>
    </td>
  </tr>
</table>
