
          <tr>
            <td>
              <div class="bought-pies">
                Coimbatore, India
              </div>
            </td>
            <td><img class="kids-pic" src="/images/Coimbatore1.jpg"
              title="5 Raspberry Pi'es sent to Coimbatore in India"></td>
            <td><img class="kids-pic" src="/images/Coimbatore2.jpg"
              title="5 Raspberry Pi'es sent to Coimbatore in India"></td>
            <td><img class="kids-pic" src="/images/Coimbatore3.jpg"
              title="5 Raspberry Pi'es sent to Coimbatore in India"></td>
          </tr>
