
          <tr>
            <td><img class="kids-pic" src="/images/Bray1.jpg"
              title="5 Raspberry Pi'es sent to Bray, Ireland"></td>
            <td>
              <div class="bought-pies">
                Bray<br/>Ireland
              </div>
            </td>
            <td><img class="kids-pic" src="/images/Bray3.jpg"
              title="5 Raspberry Pi'es sent to Bray, Ireland"></td>
          </tr>