
<div id="pies" class="center-content">

  <div>
    100% of licence fees and donations buys
    <a href="http://www.raspberrypi.org" target="_blank">Raspberry Pi</a>
    <br/>
    computers to
    <a href="http://blog.cyber-dojo.org/2016/10/cyber-dojo-raspberry-pies-in-action.html"
       target="_blank">help children learn to program</a>
    <br/>
  </div>

  <table class="center-content">
    <tr>
      <td>
        <img src="/images/pies/<%= @pies_filename %>.jpg">
      </td>
    </tr>
  </table>

  <div>
    cyber-dojo.org hosting costs are generously
    <br/>paid by
    <a href="https://cucumber.io" target="_blank">Cucumber Limited</a>
  </div>

</div>