<script type="text/javascript"><!--

$(function() {

  cd.createTip($('#coimbatore'), "Raspberry Pi'es sent<br/>to Coimbatore, India");
  cd.createTip($('#bray'), "Raspberry Pi'es sent<br/>to Bray, Ireland");

});

//--></script>

<div id="pies" class="center-content">

  <div>
    100% of donations and licence fees buys
    <a href="http://www.raspberrypi.org" target="_blank">Raspberry Pi</a>
    <br/>
    computers to
    <a href="http://blog.cyber-dojo.org/2016/10/cyber-dojo-raspberry-pies-in-action.html" target="_blank">help children learn to program</a>
  </div>

  <table class="center-content">
    <tr>
      <td>
        <div id="coimbatore">
          <img class="kids-pic" src="/images/Coimbatore3.jpg">
        </div>
      </td>
      <td>
        <div id="bray">
          <img class="kids-pic" src="/images/Bray1.jpg">
        </div>
      </td>
    </tr>
  </table>

</div>