<div id="pies" class="center-content">

  <div>
    100% of license fees and donations
    <br/>
    <a href="http://blog.cyber-dojo.org/2016/10/cyber-dojo-raspberry-pies-in-action.html"
       target="_blank">helps children learn about software</a>
    <br/>
  </div>

  <table class="center-content">
    <tr>
      <td>
        <img src="/images/pies/<%= @pies_filename %>.jpg">
      </td>
    </tr>
  </table>

  <br/>
  
  <div>
    cyber-dojo.org hosting costs are generously
    <br/>paid by
    <a href="https://cucumber.io" target="_blank">Cucumber Limited</a>
    and
    <a href="https://www.praqma.com" target="_blank">Praqma</a>
  </div>

</div>
