
<div id="money" class="center-content">
  100% of license fees and donations
  <br/>
  <a href="http://blog.cyber-dojo.org/2016/10/cyber-dojo-raspberry-pies-in-action.html"
     target="_blank">helps children learn about software</a>
</div>

<div id="pies" class="center-content">
  <img src="/images/pies/<%= @pies_filename %>.jpg">
</div>

<div id="sponsors" class="center-content">
  cyber-dojo operations are generously supported by<br/>
  <a href="https://www.praqma.com" target="_blank">Praqma</a>
  and
  <a href="https://cucumber.io" target="_blank">Cucumber Limited</a>
  and
  CodeEntropy
</div>
