
<script type="text/javascript"><!--

$(function() {

  $('#setup-default-session-button').click(function() {
    cd.dialog_ie(function() {
      var id = "<%= @id %>";
      var url = '/setup_default_start_point/show_languages/' + id;
      window.location = url;
    });
  });

});

//--></script>

<button type="button" id="setup-default-session-button">
create a new practice session<br/>
from a <em>default</em>&nbsp; start point
</button>
