
<script type="text/javascript"><!--

$(function() {

  $('#team-button').click(function() {
    window.location = "/dojo/team/<%= @id %>";
  });

});

//--></script>

<button type="button" id="team-button">
  we're practising as a team
</button>
