
<script type="text/javascript"><!--

$(function() {

  $('#team-already-setup-button').click(function() {
    window.location = "/enter/show/<%= @id %>"
  });

});

//--></script>

<button type="button" id="team-already-setup-button">
  the practice session has already been setup
  and we know its hex-id
</button>