
<script type="text/javascript"><!--

$(function() {

  $('button#team').click(function() {
    window.location = "/team/<%= @id %>";
  });

});

//--></script>

<button id="team">
  we're practising as a team
</button>
