
<div id="technology">

  <div class="center-content">
    cyber-dojo is
    <a href="https://en.wikipedia.org/wiki/Open-source_software" target="_blank">open sourced</a>
    and uses
  </div>

  <table class="center-content">
    <tr>
      <td>
        <a href="https://hub.docker.com/u/cyberdojo/">
          <img src="/images/docker.png">
        </a>
      </td>
      <td>
        <a href="https://github.com/cyber-dojo">
          <img src="/images/github.png">
        </a>
      </td>
      <td>
        <a href="https://en.wikipedia.org/wiki/Ruby_on_Rails">
          <img src="/images/rails.png">
        </a>
      </td>
      <td>
        <a href="https://en.wikipedia.org/wiki/Ruby_(programming_language)">
          <img src="/images/ruby.png">
        </a>
      </td>
      <td>
        <a href="https://travis-ci.org/cyber-dojo">
          <img src="/images/travis.png">
        </a>
      </td>
    </tr>
    <tr>
      <td>docker</td>
      <td>github</td>
      <td>rails</td>
      <td>ruby</td>
      <td>travis</td>
    </tr>
  </table>

</div>