<div id="technology">

  <div class="center-content">
    cyber-dojo is open sourced on three github organizations:
       <br/>
      <a href="https://github.com/cyber-dojo"
             target="_blank">cyber-dojo</a>,
      <a href="https://github.com/cyber-dojo-languages"
             target="_blank">cyber-dojo-languages</a>,
      <a href="https://github.com/cyber-dojo-start-points"
             target="_blank">cyber-dojo-start-points</a>
  </div>

  <br/>

  <table class="center-content">
    <tr>
      <td>
        <a href="https://circleci.com/gh/cyber-dojo"
           target="_blank">
          <img src="/images/technologies/circleci.png">
        </a>
      </td>
      <td>
        <a href="https://hub.docker.com/u/cyberdojo/"
           target="_blank">
          <img src="/images/technologies/docker.png">
        </a>
      </td>
      <td>
        <a href="https://github.com/cyber-dojo"
           target="_blank">
          <img src="/images/technologies/github.png">
        </a>
      </td>
      <td>
        <a href="https://en.wikipedia.org/wiki/Kubernetes"
           target="_blank">
          <img src="/images/technologies/kubernetes.png">
        </a>
      </td>
      <td>
        <a href="https://en.wikipedia.org/wiki/Ruby_on_Rails"
           target="_blank">
          <img src="/images/technologies/rails.png">
        </a>
      </td>
      <td>
        <a href="https://en.wikipedia.org/wiki/Ruby_(programming_language)"
           target="_blank">
          <img src="/images/technologies/ruby.png">
        </a>
      </td>
    </tr>
    <tr>
      <td class="name">circleci</td>
      <td class="name">docker</td>
      <td class="name">github</td>
      <td class="name">kubernetes</td>
      <td class="name">rails</td>
      <td class="name">ruby</td>
    </tr>
  </table>

</div>
