
<div id="home-page">

  <%= render partial: 'custom' %>

  <table>
    <tr>
      <td>
        <table>
          <tr><td><img class="bray-pic" src="/images/Bray1.jpg"></td></tr>
          <tr><td><img class="bray-pic" src="/images/Bray2.jpg"></td></tr>
          <tr><td><img class="bray-pic" src="/images/Bray3.jpg"></td></tr>
          <tr><td><img class="bray-pic" src="/images/Bray4.jpg"></td></tr>
        </table>
      </td>

      <td><%= render partial: 'cyber_dojo' %></td>

      <td>
        <table>
          <tr><td><img class="bray-pic" src="/images/Bray4.jpg"></td></tr>
          <tr><td><img class="bray-pic" src="/images/Bray3.jpg"></td></tr>
          <tr><td><img class="bray-pic" src="/images/Bray1.jpg"></td></tr>
          <tr><td><img class="bray-pic" src="/images/Bray2.jpg"></td></tr>
        </table>
      </td>
    </tr>
  </table>

</div>

<%= render partial: 'shared/footer_short',
    locals: { help_url: "http://blog.cyber-dojo.org/p/learn-more.html" } %>
