
<div id="home-page">

  <%= render partial: 'custom' %>

  <table id="content">
    <tr>

      <td>
        <table>
          <tr>
            <td><img class="kids-pic" src="/images/Coimbatore1.jpg"
              title="5 Raspberry Pi'es sent to Coimbatore in India"></td>
          </tr>
          <tr>
            <td><img class="kids-pic" src="/images/Coimbatore2.jpg"
              title="5 Raspberry Pi'es sent to Coimbatore in India"></td>
          </tr>
          <tr>
            <td><img class="kids-pic" src="/images/Coimbatore3.jpg"
              title="5 Raspberry Pi'es sent to Coimbatore in India"></td>
          </tr>
          <tr>
            <td>
              <div class="bought-pies">
                Your donations are helping children learn to program in<br/>
                Coimbatore, India.
              </div>
            </td>
          </tr>
        </table>
      </td>

      <td><%= render partial: 'cyber_dojo' %></td>

      <td>
        <table>
          <tr>
            <td><img class="kids-pic" src="/images/Bray1.jpg"
              title="5 Raspberry Pi'es sent to Bray, Ireland"></td>
          </tr>
          <tr>
            <td><img class="kids-pic" src="/images/Bray2.jpg"
              title="5 Raspberry Pi'es sent to Bray, Ireland"></td>
          </tr>
          <tr>
            <td><img class="kids-pic" src="/images/Bray3.jpg"
              title="5 Raspberry Pi'es sent to Bray, Ireland"></td>
          </tr>
          <tr>
            <td>
              <div class="bought-pies">
                Your donations are helping children learn to program in<br/>
                Bray, Ireland.
              </div>
            </td>
          </tr>
        </table>
      </td>

    </tr>
  </table>

</div>

<%= render partial: 'shared/footer_short',
    locals: { help_url: "http://blog.cyber-dojo.org/p/learn-more.html" } %>
