<script type="text/javascript"><!--
'use strict';
$(() => {

  const inputId = $('input#id');
  const dropDown = $('#drop-down');

  const ok = $('button#ok');
  const cancel = $('button#cancel');

  const inputIdHandler = () => {
    const id = inputId.val();
    if (id.length >= 6) {
      inputId.prop('disabled', true);
      const args = { id:id };
      $.getJSON('/id_review/drop_down', args, dropDownHandler);
    }
  };

  const dropDownHandler = (dojo) => {
    if (dojo.exists) {
      ok.unbind().click(() => openDashboard(dojo.id));
      inputId.slideUp('fast', () => dropDown.slideDown('slow'));
    } else {
      inputId.prop('disabled', false);
    }
  };

  const openDashboard = (groupId) => {
    const url = `/dashboard/show/${groupId}`;
    window.location.href = cd.homePageUrl(groupId);
    window.open(url);
  };

  cancel.click(() => {
    dropDown.slideUp('slow', () => {
      inputId.show()
             .prop('disabled', false)
             .val('')
             .slideDown('fast')
             .focus();
    });
  });

  //- - - - - - - - - - - - - - -

  cd.onlyBase58(inputId);
  inputId.focus()
         .keyup(() => inputIdHandler());

});

//--></script>

<input type="text"
       id="id"
       placeholder="id?"
       size="8"
       value="">
</input>

<div id="drop-down" style="display:none;">
  <div id="lights">
    <table>
      <tr>
        <td>
          <table>
            <tr>
              <td><img src="/images/bulb_red.png"></td>
              <td><img src="/images/bulb_amber.png"></td>
              <td><img src="/images/bulb_green.png"></td>
            </tr>
          </table>
        </td>
        <td>
          click a traffic-light to review its diff
        </td>
      </tr>
    </table>
  </div>
  <div id="avatars">
    <table>
      <tr>
        <td>
          <table>
            <tr>
              <td><img src="/images/avatars/gorilla.jpg"></td>
              <td><img src="/images/avatars/lobster.jpg"></td>
              <td><img src="/images/avatars/butterfly.jpg"></td>
            </tr>
          </table>
        </td>
        <td>
          click an animal to review their code
        </td>
      </tr>
    </table>
  </div>
  <button id="ok">ok</button>
  <button id="cancel">cancel</button>
</div>
