<script type="text/javascript"><!--
'use strict';
$(() => {

  const inputId = $('input#id');
  const waitSpinner = $('#wait-spinner');
  const dropDown = $('#drop-down');

  const hiDiv = $('#hi-div');

  const ok = $('button#ok');
  const cancel = $('button#cancel');

  const inputIdHandler = () => {
    const id = inputId.val();
    inputId.removeClass('invalid');
    if (id.length > 6) {
      inputId.addClass('invalid');
    }
    else if (id.length == 6) {
      const args = { id:id };
      inputId.prop('disabled', true);
      waitSpinner.show();
      $.getJSON('/id_review/drop_down', args, dropDownHandler)
       .always(() => {
         waitSpinner.hide();
         inputId.prop('disabled', false);
       });
    }
  };

  const dropDownHandler = (group) => {
    waitSpinner.hide();
    if (group.exists) {
      prepareDropDown(group);
      inputId.slideUp('fast', () => dropDown.slideDown('slow'));
    } else {
      inputId.addClass('invalid');
    }
  };

  const prepareDropDown = (group) => {
    showTrafficLightInfo();
    ok.unbind().click(() => openDashboard(group.id));
  };

  const showTrafficLightInfo = () => {
    hiDiv.html($('#traffic-light-info').html());
  };

  const openDashboard = (groupId) => {
    const url = `/dashboard/show/${groupId}`;
    window.open(url);
    window.location.href = cd.homePageUrl();
  };

  cancel.click(() => {
    dropDown.slideUp('slow', () => {
      inputId.show()
             .prop('disabled', false)
             .val('')
             .slideDown('fast')
             .focus();
    });
  });

  //- - - - - - - - - - - - - - -

  cd.onlyBase58(inputId);
  inputId.focus()
         .keyup(() => inputIdHandler());

});

//--></script>

<input type="text"
       id="id"
       placeholder="6-digit-id?"
       value="">
</input>
<br/>
<%= render partial: 'shared/wait_spinner' %>


<div id="drop-down" style="display:none;">
  <div id="hi-div"></div>
  <button id="ok">ok</button>
  <button id="cancel">cancel</button>
</div>
