<script type="text/javascript"><!--
'use strict';
$(() => {

  const inputId = $('input#id');
  const dropDown = $('#drop-down');
  const ok = $('button#ok');
  const cancel = $('button#cancel');

  const inputIdHandler = () => {
    const id = inputId.val();
    inputId.removeClass('invalid');
    if (id.length > 6) {
      inputId.addClass('invalid');
    }
    else if (id.length === 6) {
      inputId.prop('disabled', true);
      cd.waitSpinner.fadeIn('slow', () => {
        $.post('/id_review/review', { id:id }, dropDownHandler)
         .always(() => {
           cd.waitSpinner.fadeOut('slow');
           inputId.prop('disabled', false);
         });
       });
    }
  };

  const dropDownHandler = (group) => {
    if (group.exists) {
      ok.unbind().click(() => openDashboard(group.id));
      inputId.slideUp('fast', () => dropDown.slideDown('slow'));
    } else {
      inputId.addClass('invalid');
    }
  };

  const openDashboard = (groupId) => {
    const url = `/dashboard/show/${groupId}`;
    window.open(url);
    window.location.href = cd.homePageUrl();
  };

  cancel.click(() => {
    dropDown.slideUp('slow', () => {
      inputId.show()
             .prop('disabled', false)
             .val('')
             .slideDown('fast')
             .focus();
    });
  });

  //- - - - - - - - - - - - - - -

  cd.onlyBase58(inputId);
  inputId.focus()
         .keyup(() => inputIdHandler());

});

//--></script>

<input type="text"
       id="id"
       placeholder="6-char-id?"
       value="">
</input>
<br/>

<div id="drop-down">
  <div id="snapshot">
    <img src="/images/snapshots/dashboard.png" />
  </div>
  <button id="ok">ok</button>
  <button id="cancel">cancel</button>
</div>
