
<div id="id-review-page" class="align-center">

  <div id="title" class="center-content">
    review a practice
  </div>

  <div class="center-content">
    <%= render partial: 'id' %>
  </div>

</div>
