<div id="id-review-page">

  <div id="heading" class="center-content">
    open&nbsp;an&nbsp;exercise&nbsp;dashboard
  </div>

  <div class="center-content">
    <%= render partial: 'id' %>
  </div>

  <div style="display:none;">
    <%= render partial: 'info' %>
  </div>

</div>

<%= render partial: 'shared/app_bar_short',
    locals: { help_url: "http://blog.cyber-dojo.org/p/learn-more.html" } %>
