<div id="id-review-page">

  <div id="heading" class="center-content">
    open&nbsp;an&nbsp;exercise&nbsp;dashboard
  </div>

  <div class="center-content">
    <%= render partial: 'id' %>
  </div>
  
</div>
