
fullnameOverride: "web"

replicaCount: 2

envFromSecret: {}
nodeSelector: {}
affinity: {}
tolerations: []

podSecurityContext:
  fsGroup: 65534 # nobody

containers:
  - name: web
    securityContext:
      runAsUser: 65534 # nobody
      allowPrivilegeEscalation: false
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        memory: 1Gi
    #livenessProbe:
    #  path: /alive?
    #readinessProbe:
    #  path: /ready?
