#-----Ignore everything
#-----including katas (data-container / volume-mounted)
#-----including public (nginx image)

*

#-----!Except these folders

!app/assets
!app/controllers
!app/helpers
!app/lib
!app/models
!app/views
!script
!config
!lib
!test

#-----!Except these _empty_ folders

!caches
caches/*

!downloads
downloads/*

#-----!Except these files

# {bundle install} in web's Dockerfile (inside Travis pipeline) needs Gemfile
# but does _not_ need Gemfile.lock which is for the local server and not for
# the Travis server running inside a docker container
!Gemfile

# {docker-compose.yml} [web: command: rails server...] needs this
!config.ru

# {cyber-dojo.sh} copies these out of web container to make katas data-container
!docker/katas/Dockerfile.copied
!docker/katas/Dockerfile.empty
!docker/katas/Dockerignore.copied
!docker/katas/Dockerignore.empty

# {cyber-dojo update} copies these out of web container
!cli/cyber-dojo.sh
!cli/docker-compose.yml

# {cyber-dojo.sh} delegates to this inside web container
!cli/cyber-dojo.rb

# {cyber-dojo.rb} delegates to these inside web container
!cli/volume_check.rb
!cli/volume_inspect.rb
!cli/volume_pull.rb


