<table class="file-operations">
  <tr>
    <td><button type="button" class="create-file">+</button></td>
    <td><button type="button" class="delete-file">&ndash;</button></td>
    <td><button type="button" class="rename-file"><img src="/images/rename.png"/></button></td>
  </tr>
</table>

<script>
'use strict';
$(() => {

  const kata = cd.kata;

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // Inter-Test-Events
  // Called whenever a file is created, deleted, renamed, or selected 
  // (from the filename-list). Saved inter-test events are only
  // visible in review mode.

  cd.interTestEvents = () => {
    return true;
  };

  cd.fileCreateITE = (newFilename) => {
    cd.saveCodeFromSyntaxHighlightEditors();
    const args = {
      id: cd.kata.id,
      index: cd.kata.index,
      filename: newFilename,
      data: $('form').serialize()
    };
    $.post('/kata/file_create', args, (newIndex) => {
      cd.kata.setIndex(newIndex);
    });
  };

  cd.fileDeleteITE = (newFilename) => {
    cd.saveCodeFromSyntaxHighlightEditors();
    const args = {
      id: cd.kata.id,
      index: cd.kata.index,
      filename: newFilename,
      data: $('form').serialize()
    };
    $.post('/kata/file_delete', args, (newIndex) => {
      cd.kata.setIndex(newIndex);
    });
  };

  cd.fileRenameITE = (oldFilename, newFilename) => {
    cd.saveCodeFromSyntaxHighlightEditors();
    const args = {
      id: cd.kata.id,
      index: cd.kata.index,
      old_filename: oldFilename,
      new_filename: newFilename,
      data: $('form').serialize()
    };
    $.post('/kata/file_rename', args, (newIndex) => {
      cd.kata.setIndex(newIndex);
    });
  };

  cd.fileEditITE = () => {
    cd.saveCodeFromSyntaxHighlightEditors();
    const args = {
      id: cd.kata.id,
      index: cd.kata.index,
      data: $('form').serialize()
    };
    $.post('/kata/file_edit', args, (newIndex) => {
      cd.kata.setIndex(newIndex);
    });
  };

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  cd.createFileButton = () => $('.create-file');
  cd.deleteFileButton = () => $('.delete-file');
  cd.renameFileButton = () => $('.rename-file');

  cd.createTip(cd.createFileButton(), 'create a new file');
  cd.createTip(cd.deleteFileButton(), () => `delete ${currentFilename()}`);
  cd.createTip(cd.renameFileButton(), () => `rename ${currentFilename()}`);

  const currentFilename = () => kata.tabs.filename().text();

  cd.createFileButton().click(() => openCreateFileDialog());
  cd.deleteFileButton().click(() => openDeleteFileDialog());
  cd.renameFileButton().click(() => openRenameFileDialog());

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  const openCreateFileDialog = () => {
    const initialFilename = `filename${cd.extensionFilenames()[0]}`;
    const okInitiallyDisabled = !isValidFilename(initialFilename);
    const okClicked = (newFilename) => {
      if (cd.interTestEvents()) {
        cd.fileCreateITE(newFilename);
      }
      kata.editor.createFile(newFilename, {content:''});
      kata.filenames.refresh();
      kata.filenames.select(newFilename);
    };
    openDialog('create', initialFilename, okInitiallyDisabled, okClicked);
  };

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  const openDeleteFileDialog = () => {
    const filename = kata.tabs.filename().click().text();
    const okInitiallyDisabled = false;
    const okClicked = () => {
      if (cd.interTestEvents()) {
        cd.fileDeleteITE(filename);
      }
      kata.editor.deleteFile(filename);
      kata.filenames.refresh();
      kata.filenames.select(kata.filenames.top());
    };
    openDialog('delete', filename, okInitiallyDisabled, okClicked);
  };

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  const openRenameFileDialog = () => {
    const oldFilename = kata.tabs.filename().click().text();
    const okInitiallyDisabled = true;
    const okClicked = (newFilename) => {
      if (cd.interTestEvents()) {
        cd.fileRenameITE(oldFilename, newFilename);
      }
      kata.editor.renameFile(oldFilename, newFilename);
      kata.filenames.refresh();
      kata.filenames.select(newFilename);
    };
    openDialog('rename', oldFilename, okInitiallyDisabled, okClicked);
  };

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  const openDialog = (title, initialFilename, okInitiallyDisabled, okClicked) => {

    const input = makeInput(title, initialFilename);
    const okButton = $('<button>', {
      text: 'ok',
      id: 'file-create',
      disabled: okInitiallyDisabled,
      click: () => {
        const newFilename = $.trim(input.val());
        okClicked(newFilename);
        closeDialog();
      }
    });
    const closeDialog = () => okButton.closest('.ui-dialog').remove();

    // Position dialog near to tab.filename because if tab.output is
    // selected then filename will not be selected in filename list.
    
    const pos = kata.tabs.filename().offset();
    const xPos = pos.left + 2;
    const yPos = pos.top + 25;

    const onDialogOpen = () => {
      input.focus();
      input[0].setSelectionRange(...filenameRange(initialFilename));
    };

    const onDialogClose = (event) => {
      if (event.keyCode === $.ui.keyCode.ESCAPE) {
        closeDialog();
        cd.kata.editor.refocus();
        return true;
      }
    };

    input.keyup((event) => {
      const newFilename = $.trim(input.val());
      okButton.prop('disabled', !isValidFilename(newFilename));
      if (!okButton.prop('disabled') && event.keyCode === $.ui.keyCode.ENTER) {
        okButton.click();
      }
    });

    $('<div>').append(input).append(okButton).dialog({
               open: onDialogOpen,
  	          title: cd.dialogTitle(`${title} file`),
    	     autoOpen: true,
              width: 450,
           position: [xPos,yPos],
  	          modal: true,
        beforeClose: onDialogClose,
      closeOnEscape: true,
    });
  };

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  const filenameRange = (f) => {
    let lo = 0;
    // remove trailing .extension
    const ext = f.lastIndexOf('.');
    let hi = (ext != -1) ? ext : f.length;
    const filename = () => f.substring(lo, hi).toLowerCase();
    // remove leading d/i/r/s/
    const dirPos = filename().lastIndexOf('/');
    if (dirPos != -1) {
      lo += dirPos + 1;
    }
    const testWords = [ 'tests', 'test', 'spec', 'steps' ];
    const separators = [ '.', '_', '-', '' ];
    testWords.forEach(word => {
      separators.forEach(sep => {
        // leading remove
        if (filename().startsWith(word.concat(sep)) ||
            filename().startsWith(sep.concat(word))) {
          lo += word.length;
          lo += sep.length;
        }
        // trailing remove
        if (filename().endsWith(word.concat(sep)) ||
            filename().endsWith(sep.concat(word))) {
          hi -= word.length;
          hi -= sep.length;
        }
      });
    });
    return [lo,hi];
  };

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  const makeInput = (name, filename) => {
    const input = $('<input>', {
        type: 'text',
          id: `${name}-filename`,
      'name': `${name}-filename`,
       value: filename
    });
    if (name === 'delete') {
      input.attr('disabled', 'disabled');
    }
    return input;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  const isValidFilename = (filename) => {
    const alreadyExists = (filename) => kata.editor.filenames().includes(filename);
    const contains = (illegal) => filename.indexOf(illegal) !== -1;
    if (alreadyExists(filename)) { return false; }
    if (contains('..')) { return false; }
    if (contains('\\')) { return false; }
    if (contains(' '))  { return false; }
    if (filename === '') { return false; }
    return true;
  };

});
</script>
