
<script type="text/javascript"><!--

$(function() {

  cd.resume = function(id, avatarName) {
    const url = '/kata/edit/' + id + '?avatar=' + avatarName;
    window.location.href = cd.homePageUrl(id);
    window.open(url);
  };

  const inputId = $('input#id');
  const dropDown = $('#drop-down');
  const hiText = $('#hi-text');
  const avatarPicker = $('#avatar-picker');
  const loText = $('#lo-text');
  const cancel = $('button#cancel');

  const autoDropDown = function() {
    const id = inputId.val();
    if (id.length >= 6) {
      $.getJSON('/id_rejoin/drop_down', { id: id }, function(dojo) {
        if (dojo.exists) {
          if (dojo.empty) {
            hiText.html('no one has joined yet!');
            loText.html('');
          } else {
            hiText.html('click your animal');
            loText.html('or');
          }
          avatarPicker.html(dojo.avatarPickerHtml);
          cd.setupHoverTip($('[data-tip]'));
          inputId.prop('disabled', true);
          inputId.slideUp('fast', function() {
            dropDown.slideDown('slow');
          });
        }
      });
    }
  };

  dropDown.hide();

  cancel.click(function() {
    dropDown.slideUp('slow', function() {
      inputId.show()
             .prop('disabled', false)
             .val('')
             .slideDown('fast')
             .focus();
    });
  });

  cd.base58Only(inputId);

  inputId.focus().keyup(function() { autoDropDown(); });

});

//--></script>

<input type="text"
       id="id"
       placeholder="id?"
       size="8"
       value="">
</input>

<div id="drop-down">
  <span id="hi-text"></span>
  <div id="avatar-picker"></div>
  <span id="lo-text"></span>
  <button id="cancel">cancel</button>
</div>

