<script type="text/javascript"><!--
'use strict';
$(() => {

  const inputId = $('input#id');
  const dropDown = $('#drop-down');
  const hiText = $('#hi-text');
  const midDiv = $('#mid-div');
  const loText = $('#lo-text');
  const ok     = $('button#ok');
  const cancel = $('button#cancel');

  const inputIdHandler = () => {
    const id = inputId.val();
    inputId.removeClass('invalid');
    if (id.length > 6) {
      inputId.addClass('invalid');
    }
    else if (id.length === 6) {
      const args = { id:id, from:"<%= @from %>" };
      inputId.prop('disabled', true);
      cd.waitSpinner.fadeIn('slow', () => {
        $.post('/id_rejoin/rejoin', args, dropDownHandler)
         .always(() => {
           cd.waitSpinner.hide('slow');
           inputId.prop('disabled', false);
         });
       });
    }
  };

  const dropDownHandler = (response) => {
    if (dropDownPrepared(response)) {
      inputId.slideUp('fast', () => dropDown.slideDown('slow'));
    }
  };

  const dropDownPrepared = (data) => {
    if (!data.exists) {
      inputId.addClass('invalid');
      return false;
    }
    if (data.kataId) {
      prepareIndividualDropDown(data);
    } else {
      prepareGroupDropDown(data);
    }
    return true;
  };

  //- - - - - - - - - - -

  const prepareIndividualDropDown = (data) => {
    hiText.hide();
    showAvatar(data.avatarIndex, data.avatarName);
    loText.hide();
    cancel.hide();
    ok.unbind()
      .click(() => cd.rejoin(data.kataId))
      .show();
  };

  const showAvatar = (avatarIndex, avatarName) => {
    if (avatarName !== '') {
      const $avatar = $('<img>', {
        class:'avatar large',
          src:`/avatars/image/${avatarIndex}`
      });
      midDiv.append($avatar);
    } else {
      const $img = $('<img>', {
        id:'snapshot',
        src:'/images/snapshots/edit.png'
      });
      midDiv.append($img);
    }
  };

  //- - - - - - - - - - -

  const prepareGroupDropDown = (group) => {
    if (group.empty) {
      hiText.html('no one has joined yet!');
      loText.html('');
    } else {
      hiText.html('click your animal');
      loText.html('or');
    }
    midDiv.html(group.avatarPickerHtml);
    ok.hide();
    cancel.show();
    cd.setupHoverTips($('[data-tip]'));
  };

  //- - - - - - - - - - -

  cancel.click(() => {
    dropDown.slideUp('slow', () => {
      inputId.show()
             .prop('disabled', false)
             .val('')
             .slideDown('fast')
             .focus();
    });
  });

  //- - - - - - - - - - -

  cd.onlyBase58(inputId);
  inputId.focus()
         .keyup(() => inputIdHandler());

  inputIdHandler();

});
//--></script>

<input type="text"
       id="id"
       placeholder="6-char-id?"
       value="<%= @id %>">
</input>
<br/>

<div id="drop-down">
  <span id="hi-text"></span>
  <div id="mid-div"></div>
  <span id="lo-text"></span>
  <button id="ok">ok</button>
  <button id="cancel">cancel</button>
</div>
