<script type="text/javascript"><!--
'use strict';
$(() => {

  const from = "<%= @from %>";

  const inputId = $('input#id');
  const dropDown = $('#drop-down');

  const hiText = $('#hi-text');
  const midDiv = $('#mid-div');
  const loText = $('#lo-text');

  const ok     = $('button#ok');
  const cancel = $('button#cancel');

  const inputIdHandler = () => {
    const id = inputId.val();
    if (id.length >= 6) {
      autoDropDown(id);
    }
  };

  const autoDropDown = (id) => {
    const args = { id:id, from:from };
    $.getJSON('/id_rejoin/drop_down', args,
      (response) => {
        if (from === 'group') {
          prepareGroupDropDown(response);
        }
        if (from === 'individual') {
          prepareIndividualDropDown(response);
        }
        inputId.prop('disabled', true);
        inputId.slideUp('fast', () => dropDown.slideDown('slow'));
      }
    );
  };

  const prepareGroupDropDown = (group) => {
    if (group.exists) {
      if (group.empty) {
        hiText.html('no one has joined yet!');
        loText.html('');
      } else {
        hiText.html('click your animal');
        loText.html('or');
      }
      ok.hide();
      cancel.show();
      midDiv.html(group.avatarPickerHtml);
      cd.setupHoverTips($('[data-tip]'));
    }
  };

  const prepareIndividualDropDown = (data) => {
    if (data.exists) {
      showTrafficLightInfo();
      showAvatar(data.avatarName);
      cancel.hide();
      ok.unbind()
        .click(() => cd.rejoin(data.kataId))
        .show();
    }
  };

  const showTrafficLightInfo = () => {
    midDiv.html($('#traffic-light-info').html());
  };

  const showAvatar = (avatarName) => {
    if (avatarName !== '') {
      $('#avatar',midDiv).html($('<img>', {
        'class':'avatar large',
        'src':`/images/avatars/${avatarName}.jpg`
      }));
    }
  };

  cancel.click(() => {
    dropDown.slideUp('slow', () => {
      inputId.show()
             .prop('disabled', false)
             .val('')
             .slideDown('fast')
             .focus();
    });
  });

  //- - - - - - - - - - -

  dropDown.hide();
  cd.onlyBase58(inputId);
  inputId.focus()
         .keyup(() => inputIdHandler());

});
//--></script>

<input type="text"
       id="id"
       placeholder="id?"
       size="8"
       value="">
</input>

<div id="drop-down">
  <span id="hi-text"></span>
  <div id="mid-div"></div>
  <span id="lo-text"></span>
  <button id="ok">ok</button>
  <button id="cancel">cancel</button>
</div>
