<script type="text/javascript"><!--
'use strict';
$(() => {
  cd.rejoin = (id) => {
    const url = `/kata/edit/${id}`;
    window.location.href = cd.homePageUrl(id);
    window.open(url);
  };
});
//--></script>

<div>
  <table class="align-center">
    <% 8.times do |y| %>
    <tr>
      <% 8.times do |x| %>
      <td>
        <% index = y*8 + x %>
        <% avatar_name = @avatar_names[index] %>
        <% id = @started_ids[avatar_name] %>
        <% if id %>
          <div data-tip="<%= avatar_name %>">
            <img onclick='cd.rejoin("<%= id %>");'
                 src="/images/avatars/<%= avatar_name %>.jpg"
                 class="avatar"
                 data-cursor="pointer"/>
          </div>
        <% else %>
          <img src="/images/avatars/<%= avatar_name %>.jpg"
               class="avatar grey"/>
        <% end %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>
