<div>
  <table class="align-center">
    <% 8.times do |y| %>
    <tr>
      <% 8.times do |x| %>
      <td>
        <% index = y*8 + x %>
        <% avatar_name = @avatar_names[index] %>
        <% id = @started_ids[avatar_name] %>
        <% if id %>
          <div data-tip="<%= avatar_name %>">
            <img onclick='cd.rejoin("<%= id %>");'
                 src="/avatars/image/<%= index %>"
                 class="avatar small"
                 data-cursor="pointer"/>
          </div>
        <% else %>
          <img src="/avatars/image/<%= index %>"
               class="avatar small grey"/>
        <% end %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>
