<div id="id-rejoin-page">

  <div id="heading" class="center-content">
    rejoin&nbsp;<%= @possessive %>&nbsp;exercise
  </div>

  <div class="center-content">
    <%= render partial: 'rejoin' %>
    <%= render partial: 'id' %>
  </div>

  <%= render partial: 'avatar' %>

</div>
