<script type="text/javascript">
'use strict';
$(() => {
  cd.createTip($('#accu-box'),
    'a non-profit organization<br/>' +
    'for programmers who care'
  );
});
</script>

<span id="accu-box">
  <a href="http://accu.org"
    target="_blank">
    <img id="accu-image"
        src="/images/sponsors/accu-button.png"/>
  </a>
</span>
