<script type="text/javascript"><!--

$(function() {
  cd.createTip($('#accu-container'),
    'a non-profit organization<br/>' +
    'for programmers who care'
  );
});

//--></script>

<div id="accu-container">
  <a href="http://accu.org"
    target="_blank">
    <img id="accu-image"
        src="/images/accu-button.png"/>
  </a>
</div>
