
<table id="avatars-grid">
<% (0..7).each do |row| %>
  <tr>
    <% (0..7).each do |col| %>
      <% n = row*8 + col %>
      <% name = @avatar_names[n] %>
      <td>
        <img src='/images/avatars/<%= name %>.jpg'
           title='<%= name %>'
           class='avatar-image'/>
      </td>
    <% end %>
  </tr>
<% end %>
</table>
