
<button type="button" id="charity-button" class="info-button">charity</button>

<div id="charity-dialog" style="display:none;">
  <div class="info">
    The <a href="https://blog.cyber-dojo.org/2015/08/cyber-dojo-foundation.html"
           target="_blank">cyberdojo Foundation</a> is a
    Scottish Charitable Incorporated Organisation<br/>
    <ul>
      <li>
        100% of license fees and donations helps
        <a href="https://blog.cyber-dojo.org/2016/10/cyber-dojo-raspberry-pies-in-action.html"
           target="_blank">children learn about software</a>
      </li>
      <li>
        if you're using <em>https://cyber-dojo.org</em> commercially, please
        <a href="http://blog.cyber-dojo.org/2015/08/cyber-dojo-foundation.html"
           target="_blank">buy a licence</a>
      </li>
      <li>
        if you're not, please consider
        <a href="javascript:;" onClick="cd.dialog_donate().dialog('open');">making a donation</a>
      </li>
      <li>
        thank you
      </li>
    </ul>
  </div>
</div>

<script type="text/javascript">
'use strict';
$(() => {

  const charityButton = $('#charity-button');
  const charity = $('#charity-dialog');

  charityButton.click(() => openCharityInfoDialog());

  cd.createTip(charityButton, 'cyber-dojo is a registered charity');

  const openCharityInfoDialog = () => {
    const div = charity.dialog({
                width: 700,
             autoOpen: true,
        closeOnEscape: true,
                modal: true,
                title: cd.dialogTitle('charity'),
          beforeClose: event => {
            if (event.keyCode === $.ui.keyCode.ESCAPE) {
              div.remove();
              cd.kata.editor.refocus();
              return true;
            }
          }
    });
  };

});
</script>
