<script type="text/javascript"><!--
'use strict';
$(() => {

  const colourButton = $('#colour-button');

  cd.createTip(colourButton, 'toggle colour syntax on/off');

  if (window.location.href.indexOf('kata/edit') !== -1) {
    colourButton.clickToggle(cd.setColourOff, cd.setColourOn);
  } else {
    colourButton.hide();
  }

});
//--></script>

<button type="button" id="colour-button">colour?</button>
