<script type="text/javascript"><!--

$(function() {
  cd.createTip($('#cucumber-container'),
    'cyber-dojo.org hosting costs are<br/>' +
    'generously paid by Cucumber Limited'
  );
});

//--></script>

<div id="cucumber-container">
  <a href="http://cucumber.io"
    target="_blank">
    <img id="cucumber-image"
        src="/images/cucumber-white-128.png" />
  </a>
</div>
