<script type="text/javascript"><!--
'use strict';
$(() => {
  cd.createTip($('#cucumber-box'),
    'cyber-dojo operations are generously<br/>' +
    'supported by Praqma and Cucumber Limited'
  );
});
//--></script>

<div id="cucumber-box">
  <a href="http://cucumber.io"
    target="_blank">
    <img id="cucumber-image"
        src="/images/cucumber-white-128.png" />
  </a>
</div>
