<script type="text/javascript"><!--
'use strict';
$(() => {
  cd.createTip($('#cucumber-container'),
    'cyber-dojo.org hosting costs are generously<br/>' +
    'paid by Cucumber Limited and Praqma'
  );
});
//--></script>

<div id="cucumber-container">
  <a href="http://cucumber.io"
    target="_blank">
    <img id="cucumber-image"
        src="/images/cucumber-white-128.png" />
  </a>
</div>
