<script type="text/javascript"><!--

$(function() {
  cd.createTip($('#cucumber-container'),
    'hosting costs for<br/>' +
    'cyber-dojo.org are<br/>' +
    'generously paid for<br/>' +
    'by Cucumber Limited'
  );
});

//--></script>

<div id="cucumber-container">
  <a href="http://cucumber.io"
    target="_blank">
    <img id="cucumber-image"
        src="/images/cucumber-white-128.png" />
  </a>
</div>
