
<% if @avatar_name != '' %>
  <button type="button" id="dashboard-button" class="info-button">dashboard</button>
<% end %>

<script type="text/javascript">
'use strict';
$(() => {

  const dashboardButton = $('#dashboard-button');

  dashboardButton.click(() => {
    const url = `/dashboard/show/<%= @group_id %>`;
    window.open(url);
  });

  cd.createTip(dashboardButton, 'open dashboard page');

});
</script>
