<% unless @manifest.group_id.nil? %>
  <button type="button" id="dashboard-button" class="info-button">dashboard</button>
<% end %>

<script>
'use strict';
$(() => {

  const dashboardButton = $('#dashboard-button');

  dashboardButton.click(() => {
    const url = `/dashboard/show/<%= @manifest.group_id %>`;
    window.open(url);
  });

  cd.createTip(dashboardButton, 'open dashboard page');

});
</script>
