
<div id="tests-list">
  <% @display_names.minor.each_with_index do |minor_name,index| %>
    <div class="filename"
         id="test_<%= index %>"
	       data-index="<%= index %>"
         data-test="<%= minor_name %>">
      <%= minor_name %>
    </div>
  <% end %>
</div>