<div id="display-name-box"></div>

<script>
'use strict';
$(() => {

  const $displayNameBox = $("#display-name-box");
  const manifest = cd.kata.manifest(cd.kata.id);
  $displayNameBox.html(manifest.display_name);

});
</script>
