<div id="exercise-name-box" style="display:none;"></div>

<script>
'use strict';
$(() => {

  const manifest = cd.kata.manifest(cd.kata.id);
  const exercise = manifest.exercise;
  if (exercise != "") {
    $('#exercise-name-box').show().html(exercise);
  }

});
</script>
