<div id="exercise-name-box"></div>

<script>
'use strict';
$(() => {

  const $exerciseNameBox = $('#exercise-name-box');
  const manifest = cd.kata.manifest(cd.kata.id);
  const exercise = manifest.exercise;
  if (exercise != "") {
    $exerciseNameBox.html(exercise);
  }
  else {
    $exerciseNameBox.hide();
  }

});
</script>
