
<script type="text/javascript"><!--
'use strict';
$(() => {

  $('#help-button').click(() => {
    const url = "<%= help_url %>";
    window.open(url);
  });

});
//--></script>

<button type="button" id="help-button">help</button>
