
<script type="text/javascript"><!--
'use strict';
$(() => {

  $('#help-button').click(() => {
    const url = "http://blog.cyber-dojo.org/2014/10/the-cyber-dojo-history-dialog.html";
    window.open(url);
  });

});
//--></script>

<button type="button" id="help-button">help?</button>
