
<script type="text/javascript"><!--
'use strict';
$(() => {

  cd.hotkeysButton = () => $('#hotkeys-button');
  cd.createTip(cd.hotkeysButton(), 'show keyboard shortcuts');

});
//--></script>

<button type="button" id="hotkeys-button">hotkeys</button>
