
<script type="text/javascript"><!--
'use strict';
$(() => {
  if (window.location.href.includes('/dashboard/show')) {
    $('#group-id-holder').append(
      $('<span>', {
        'text': "<%= @group_id %>",
        'id': 'group-id-box'
      })
    );
  }
});
//--></script>

<% if @id %>
  <span id="id-box"><%= @id %></span>
<% end %>

<span id="group-id-holder"></span>
