
<%
  content = []
  id = @kata.id[0..5]
  content << id
  tip  = "Your id is #{id} (#{Phonetic.spelling(id).join('-')})."
  #tip += "<br/>"
  #tip += " You'll need this to come back to this session. "
  unless @avatar.nil?
    content << @avatar.name
    tip += "<br/>"
    tip += "Your avatar is the #{@avatar.name}."
  end
  if @kata.exercise.nil?
    tip += '<br/>'
    tip += 'You are doing a custom exercise.'
  else
    parts = @kata.display_name.split(',')
    language = parts[0]
    test_framework = parts[1..-1].join(',')
    exercise = @kata.exercise.gsub('_',' ')
    content << language
    content << test_framework
    content << exercise
    tip += '<br/>'
    tip += "Your language is #{language}."
    tip += '<br/>'
    tip += "Your test-framework is #{test_framework}."
    tip += '<br/>'
    tip += "Your exercise is #{exercise}."
  end
%>
<span data-tip="<%= tip %>">
  <%= content.join(', ') %>
</span>

