
<%
  if @kata.manifest.exercise == ''
    content = @kata.manifest.display_name
  else
    content = [
      @kata.manifest.display_name,
      @kata.manifest.exercise.gsub('_',' ')
    ].join(', ')
  end
%>
<span>
  <%= content %>
</span>
