
<%
  manifest = (@group || @kata).manifest
  if manifest.exercise == ''
    content = manifest.display_name
  else
    content = [
      manifest.display_name,
      manifest.exercise.gsub('_',' ')
    ].join(', ')
  end
%>
<span>
  <%= content %>
</span>
