
<%
  content = []
  id = @kata.short_id
  content << id
  tip  = "your id is #{id} (#{@kata.phonetic_short_id})"
  #tip += "<br/>"
  #tip += " You'll need this to come back to this session. "
  unless @avatar.nil?
    content << @avatar.name
    tip += "<br/>"
    tip += "your avatar is the #{@avatar.name}"
  end
  if @kata.exercise.nil?
    tip += '<br/>'
    tip += 'you are doing a custom exercise'
  else
    parts = @kata.display_name.split(',')
    language = parts[0]
    test_framework = parts[1..-1].join(',')
    exercise = @kata.exercise.gsub('_',' ')
    content << language
    content << test_framework
    content << exercise
    tip += '<br/>'
    tip += "your language is #{language}"
    tip += '<br/>'
    tip += "your test-framework is #{test_framework}"
    tip += '<br/>'
    tip += "your exercise is #{exercise}"
  end
%>
<span data-tip="<%= tip %>">
  <%= content.join(', ') %>
</span>

