
<%
  parts = []
  manifest = (@group || @kata).manifest
  parts << manifest.id
  parts << manifest.display_name
  if manifest.exercise != ''
    parts << manifest.exercise
  end
%>
<span>
  <%= parts.join(', ') %>
</span>
