
<script type="text/javascript"><!--

$(() => {

  const optionsDialog = () => {
    let html = '';
    html += '<table style="border: 1px;">';
    html += tr('<button type="button" ' +
      'onClick="cd.toggleSyntaxHighlight();">toggle syntax highlighting</button>');
    html += tr('<button type="button" ' +
      'onClick="cd.toggleLineNumbers();">toggle line numbers</button>');
    html += '</table>';
    html += '</div>';

    $('<div id="options-dialog">')
      .html(html)
      .dialog({
      closeOnEscape: true,
        autoOpen: true,
        modal: true,
        width: '350',
        title: cd.dialogTitle('options'),
      buttons: { close: function() {
          $(this).remove();
          cd.editorRefocus();
        }
      },
      beforeClose: function(event) {
        if (event.keyCode === $.ui.keyCode.ESCAPE) {
          $(this).remove();
          cd.editorRefocus();
          return true;
        }
      }
    });
  };

  const tr = (button) => {
    return '<tr>' + td(button) + '</tr>';
  };

  const td = (s) => {
    return '<td>' + s + '</td>';
  };

  const optionsButton = $('#options-button');

  if (window.location.href.indexOf('kata/edit') != -1) {
    optionsButton.show().click(() => { optionsDialog(); });
  } else {
    optionsButton.hide();
  }

});

//--></script>

<button type="button"
        id="options-button">
  options
</button>
