
<script type="text/javascript"><!--

$(() => {

  const optionsDialog = () => {
    let html = '';
    html += '<div id="options-dialog">';
    html += '<table style="border: 1px;">';
    html += tr('syntax-highlight', '<button type="button" ' +
      'id="toggle-syntax-highlight" ' +
      'onClick="cd.toggleSyntaxHighlight();">toggle</button>');
    html += tr('line-numbers', '<button type="button" ' +
      'id="toggle-line-numbers" ' +
      'onClick="cd.toggleLineNumbers();">toggle</button>');
    html += '</table>';
    html += '</div>';

    const node = $(html);
    node.dialog({
        autoOpen: true,
        modal: true,
        title: cd.dialogTitle('options'),
      buttons: { close: () => { node.remove(); } },
        width: '350'
    });
  };

  const tr = (name, button) => {
    return '<tr>' + td(button) + td('&nbsp;'+name) + '</tr>';
  };

  const td = (s) => {
    return '<td>' + s + '</td>';
  };

  const optionsButton = $('#options-button');

  if (window.location.href.indexOf('kata/edit') != -1) {
    optionsButton.show().click(function() { optionsDialog(); });
  } else {
    optionsButton.hide();
  }

});

//--></script>

<button type="button"
        id="options-button">
  options
</button>
