<script type="text/javascript"><!--
'use strict';
$(() => {

  const optionsDialog = () => {
    const title = (all) => all.join('&nbsp');
    const setThemeToDarkTitle       = title(['set','theme','to','dark']);
    const setThemeToDarkColourTitle = title(['set','theme','to','dark','colour']);
    const turnLineNumberingOnTitle  = title(['turn','line','numbering','on']);
    const turnLineNumberingOffTitle = title(['turn','line','numbering','off']);

    let html = '';
    html += '<table style="border: 1px;">';

    html += tr('<button type="button" id="set-theme-to-dark"' +
      `onClick="cd.setThemeToDark();" disabled>${setThemeToDarkTitle}</button>`);

    html += tr('<button type="button" id="set-theme-to-dark-colour"' +
      `onClick="cd.setThemeToDarkColour();">${setThemeToDarkColourTitle}</button>`);

    html += tr('&nbsp;');

    html += tr('<button type="button" id="turn-line-numbering-on"' +
      `onClick="cd.turnLineNumberingOn();" disabled>${turnLineNumberingOnTitle}</button>`);

    html += tr('<button type="button" id="turn-line-numbering-off"' +
      `onClick="cd.turnLineNumberingOff();">${turnLineNumberingOffTitle}</button>`);

    html += '</table>';
    html += '</div>';

    $('<div id="options-dialog">')
      .html(html)
      .dialog({
      closeOnEscape: true,
        autoOpen: true,
        modal: true,
        title: cd.dialogTitle('options'),
      buttons: { close: function() {
          $(this).remove();
          cd.editorRefocus();
        }
      },
      beforeClose: function(event) {
        if (event.keyCode === $.ui.keyCode.ESCAPE) {
          $(this).remove();
          cd.editorRefocus();
          return true;
        }
      }
    });
  };

  const tr = (s) => `<tr>${td(s)}</tr>`;
  const td = (s) => `<td>${s}</td>`;

  const optionsButton = $('#options-button');

  if (window.location.href.indexOf('kata/edit') !== -1) {
    optionsButton.show().click(() => optionsDialog());
  } else {
    optionsButton.hide();
  }

});
//--></script>

<button type="button"
        id="options-button">
  options
</button>
