<script type="text/javascript"><!--
'use strict';
$(() => {

  const optionsDialog = () => {
    const trTd = (s) => `<tr><td>${s}</td></tr>`;
    let html = '';
    html += '<table style="border: 1px;">';
    html += trTd(cd.themeToDarkButtonHtml());
    html += trTd(cd.themeToDarkColourButtonHtml());
    html += trTd('&nbsp;');
    html += trTd(cd.lineNumbersOnButtonHtml());
    html += trTd(cd.lineNumbersOffButtonHtml());
    html += '</table>';
    html += '</div>';

    $('<div id="options-dialog">')
      .html(html)
      .dialog({
      closeOnEscape: true,
        autoOpen: true,
        modal: true,
        title: cd.dialogTitle('options'),
      buttons: { close: function() {
          $(this).remove();
          cd.editorRefocus();
        }
      },
      beforeClose: function(event) {
        if (event.keyCode === $.ui.keyCode.ESCAPE) {
          $(this).remove();
          cd.editorRefocus();
          return true;
        }
      }
    });
  };

  const optionsButton = $('#options-button');

  if (window.location.href.indexOf('kata/edit') !== -1) {
    optionsButton.show().click(() => optionsDialog());
  } else {
    optionsButton.hide();
  }

});
//--></script>

<button type="button"
        id="options-button">
  options
</button>
