
<script type="text/javascript"><!--

$(function() {

  const optionsButton = $('#options-button');

  const optionsDialog = function() {
    let html = '';
    html += '<div id="options-dialog">';
    html += '<table style="border: 1px;">';
    html += tr('syntax-highlight', '<button type="button" ' +
      'id="toggle-syntax-highlight" ' +
      'onClick="cd.toggleSyntaxHighlight();">toggle</button>');
      html += '</table>';
    html += '</div>';

    const node = $(html);
    node.dialog({
        autoOpen: true,
        modal: true,
        title: cd.dialogTitle('options'),
      buttons: { close: function() { $(this).remove(); } },
        width: '350'
    });
  };

  const tr = function(key, value) {
    return '<tr><td>' + key + '</td><td>:</td><td>' + value + '</td></tr>';
  };

  if (window.location.href.indexOf('kata/edit') != -1) {
    optionsButton.show().click(function() { optionsDialog(); });
  } else {
    optionsButton.hide();
  }

});

//--></script>

<button type="button"
        id="options-button">
  options
</button>
