
<script type="text/javascript"><!--

$(function() {

  var optionsDialog = function() {
    var html = '';
    html += '<div id="options-dialog">';
    html += '<table style="border: 1px;">';
    html += tr('syntax-highlight', '<button type="button" ' +
      'id="toggle-syntax-highlight" ' +
      'onClick="cd.toggleSyntaxHighlight();">toggle</button>');
    html += '</table>';
    html += '</div>';

    var node = $(html);
    node.dialog({
        autoOpen: true,
        modal: true,
        title: cd.dialogTitle('options'),
      buttons: { close: function() { $(this).remove(); } },
        width: '350'
    });
  };

  var tr = function(key, value) {
    return '<tr><td>' + key + '</td><td>:</td><td>' + value + '</td></tr>';
  };

  $('#options-button').click(function() { optionsDialog(); });
});

//--></script>

<button type="button"
        id="options-button">
  options
</button>
