<% id       = @kata.id[0..5] %>
<% language = @kata.display_name.split(',')[0].strip %>
<% test     = @kata.display_name.split(',')[1].strip %>

<script type="text/javascript"><!--

$(function() {

    var practiceDetailsDialog = function() {
          var html = '';
          html += '<div id="practice-details-dialog">';
          html += '<table style="border: 1px;">';
          html += '<tr><td>id</td><td>:</td><td><%= id %></td></tr>';
          html += '<tr><td>language</td><td>:</td><td><%= language %></td></tr>';
          html += '<tr><td>test</td><td>:</td><td><%= test %></td></tr>';
          <% if @kata.exercise %>
          html += '<tr><td>exercise</td><td>:</td><td><%= @kata.exercise.gsub('_',' ') %></td></tr>';
          <% end %>
          <% if defined?(show_syntax_highlight) and show_syntax_highlight %>
          html += '<tr><td>syntax highlight</td><td>:</td>';
          html += '<td><button type="button" ';
          html += 'id="syntax-highlight-button" ';
          html += 'title="toggles syntax highlighting" ';
          html += 'value="syntax-highlight-toggle" ';
          html += 'onclick="cd.toggleSyntaxHighlight();">';
          html += 'toggle';
          html += '</button></td></tr>';
          <% end %>
          html += '</table>';
          html += '</div>';

          var node = $(html);
          node.dialog({
              autoOpen: true,
              modal: true,
              title: cd.dialogTitle('practice&nbsp;details'),
              buttons: { close: function() { $(this).remove(); } },
              width: '350'
          });
    };

    $('#practice-details-button').click(function() {
        practiceDetailsDialog();
    });

});

//--></script>

<button type="button"
        title="practice details"
        id="practice-details-button">
  practice details
</button>
