<script type="text/javascript"><!--
'use strict';
$(() => {
  cd.createTip($('#praqma-container'),
    'cyber-dojo.org hosting costs are generously<br/>' +
    'paid by Praqma and Cucumber Limited'
  );
});
//--></script>

<div id="praqma-container">
  <a href="http://www.praqma.com"
    target="_blank">
    <img id="praqma-image"
        src="/images/praqma.png" />
  </a>
</div>
