<script type="text/javascript"><!--
'use strict';
$(() => {

  cd.predictButton = () => $('#predict-button');
  cd.createTip(cd.predictButton(), 'toggle traffic-light prediction on/off');

});
//--></script>

<button type="button" id="predict-button">predict</button>
