
<div id="settings-button">&#9881;</div>

<div id="settings-dialog" style="display:none;">
  <div class="info">
    theme
  </div>
  <div class="info">
    colour syntax
  </div>
  <div class="info">
    prediction
  </div>
</div>


<script type="text/javascript">
'use strict';
$(() => {

  const data = {
    colour:'on',  // 'on' || 'off'
    theme:'light' // 'light' || 'dark' (different to CodeMirror theme)
  };

  cd.settings = {
    colour: (value) => {
      if (value === undefined) {
        return data.colour;
      } else {
        data.colour = value;
      }
    },
    theme: (value) => {
      if (value === undefined) {
        return data.theme;
      } else {
        data.theme = value;
      }
    }
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -

  cd.turnOnSettingsButton = () => {
    $button.show().click(() => openSettingsDialog())
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -

  const $button = $('#settings-button');
  const $settings = $('#settings-dialog');

  $button.click(() => openSettingsDialog());

  cd.createTip($button, 'settings');

  const openSettingsDialog = () => {
    const div = $settings.dialog({
                width: 350,
             autoOpen: true,
        closeOnEscape: true,
                modal: true,
                title: cd.dialogTitle('settings'),
          beforeClose: event => {
            if (event.keyCode === $.ui.keyCode.ESCAPE) {
              div.remove();
              cd.kata.editor.refocus();
              return true;
            }
          }
    });
  };

});
</script>
