<button type="button" id="shas-button" class="info-button">shas</button>

<script>
'use strict';
$(() => {

  const shasButton = $('#shas-button');
  shasButton.click(() => window.open('/shas/index'));
  cd.createTip(shasButton, 'open page of service git-commit shas');

});
</script>
