
<button type="button" id="shas-button" class="info-button">shas</button>

<script type="text/javascript">
'use strict';
$(() => {

  const shasButton = $('#shas-button');
  shasButton.click(() => window.open('/shas/index'));
  cd.createTip(shasButton, 'open service shas page');

});
</script>
