<button type="button" class="sponsors">sponsorship</button>

<script>
'use strict';
$(() => {

  const $button = $('button.sponsors');

  $button.click(() => openSponsorsDialog());

  const openSponsorsDialog = () => {
    $('#sponsors-dialog').dialog({
              width: 450,
           autoOpen: true,
      closeOnEscape: true,
              modal: true,
              title: cd.dialogTitle('sponsorship'),
        beforeClose: () => cd.kata.editor.refocus()
    });
  };

});
</script>
