<div class="sponsors-cell">
  <div class="sponsors-title">our sponsors</div>
  <div class="sponsors">
    <%= render partial: 'shared/sponsors/praqma' %>
    <%= render partial: 'shared/sponsors/cucumber' %>
    <%= render partial: 'shared/sponsors/curbralan' %>
    <%= render partial: 'shared/sponsors/wingman' %>
  </div>
</div>

<script>
'use strict';
$(() => {

  cd.createTip($('.sponsor'),
    '100% of donations and license fees go to<br/>' +
    "the cyber-dojo Foundation charity.<br/>" +
    'Thank you to all our sponsors who help to<br/>' +
    'cover https://cyber-dojo.org hosting costs.<br/>' +
    "Please email sponsor@cyber-dojo.org if you'd<br/>" +
    'like to become a sponsor.'
  );
    //,
    //{ of: $('#yin-yang-logo') }
  //);

});
</script>
