
<div id="tests-list">
  <% @minor_names.each_with_index do |minor_name,index| %>
    <div class="filename"
         id="minor_<%= index %>"
	       data-index="<%= index %>"
         data-minor="<%= minor_name %>">
      <%= minor_name %>
    </div>
  <% end %>
</div>