
<button type="button" id="theme-button">theme?</button>

<script type="text/javascript">
'use strict';
$(() => {

  cd.themeButton = () => $('#theme-button');
  cd.createTip(cd.themeButton(), 'toggle theme light|dark');

});
</script>
