<script type="text/javascript"><!--
'use strict';
$(() => {

  cd.themeButton = () => $('#theme-button');
  cd.createTip(cd.themeButton(), 'toggle light/dark theme');

});
//--></script>

<button type="button" id="theme-button">theme?</button>
