<div class="info">
  Click any traffic-light to:
  <ul>
    <li>see the diff of its files</li>
    <li>revert back to its files</li>
    <li>fork a new exercise from its files</li>
    <li>peek at other avatars' files (in a group exercise)</li>
  </ul>
</div>
