<button type="button" id="traffic-lights-button" class="info-button">traffic-lights</button>

<div id="traffic-lights-dialog" style="display:none;">
  <div class="info">cyber-dojo has <b>built-in version control</b>...</div>
  <%= render partial: 'shared/traffic_lights_bulb_info' %>
  <%= render partial: 'shared/traffic_lights_click_info' %>
  <div class="info">Tests must complete in <span id="max-seconds"></span> seconds</div>
</div>

<script>
'use strict';
$(() => {

  cd.trafficLightsButton = () => $('#traffic-lights-button');

  cd.createTip(cd.trafficLightsButton(), 'show traffic-light information');

  cd.trafficLightsButton().click(() => openTrafficLightsInfoDialog());

  const openTrafficLightsInfoDialog = () => {
    const manifest = cd.kata.manifest();
    $('#max-seconds').html(manifest.max_seconds);
    $('#traffic-lights-dialog').dialog({
              width: 500,
           autoOpen: true,
      closeOnEscape: true,
              modal: true,
              title: cd.dialogTitle('traffic-lights'),
        beforeClose: () => cd.kata.editor.refocus()
    });
  };

});
</script>
