
<button type="button" id="traffic-lights-button" class="info-button">traffic-lights</button>

<div id="traffic-lights-dialog" style="display:none;">
  <%= render partial: 'shared/traffic_lights_bulb_info' %>
  <div class="info">Tests must complete in <%= @max_seconds %> seconds</div>
  <%= render partial: 'shared/traffic_lights_click_info' %>
</div>

<script type="text/javascript">
'use strict';
$(() => {

  cd.trafficLightsButton = () => $('#traffic-lights-button');
  const trafficLights = $('#traffic-lights-dialog');

  cd.trafficLightsButton().click(() => openTrafficLightsInfoDialog());

  cd.createTip(cd.trafficLightsButton(), 'show traffic-light info');

  const openTrafficLightsInfoDialog = () => {
    const div = trafficLights.dialog({
                width: 400,
             autoOpen: true,
        closeOnEscape: true,
                modal: true,
                title: cd.dialogTitle('traffic-lights'),
          beforeClose: event => {
            if (event.keyCode === $.ui.keyCode.ESCAPE) {
              div.remove();
              cd.kata.editor.refocus();
              return true;
            }
          }
    });
  };

});
</script>
