<div class="info">
  Click any traffic-light to:<br/>
  &bull; see the diff of its files<br/>
  &bull; checkout its files<br/>
  &bull; fork a new exercise from its files<br/>
  &bull; peek at other avatars' files<br/>
</div>
