<button type="button" id="traffic-lights-button" class="info-button">version-control</button>

<div id="traffic-lights-dialog" style="display:none;">
  <div class="info">
  <%= render partial: 'shared/traffic_lights_bulb_info' %>
  <%= render partial: 'shared/traffic_lights_click_info' %>
  </div>
  <div class="info">Tests must complete in <span id="max-seconds"></span> seconds</div>
</div>

<script>
'use strict';
$(() => {

  cd.trafficLightsButton = () => $('#traffic-lights-button');

  cd.createTip(cd.trafficLightsButton(), 'show traffic-light information');

  cd.trafficLightsButton().click(() => openTrafficLightsInfoDialog());

  const openTrafficLightsInfoDialog = () => {
    const manifest = cd.kata.manifest();
    $('#max-seconds').html(manifest.max_seconds);
    $('#traffic-lights-dialog').dialog({
              width: 600,
           autoOpen: true,
      closeOnEscape: true,
              modal: true,
              title: cd.dialogTitle('version-control'),
        beforeClose: () => cd.kata.editor.refocus()
    });
  };

  const $kataId = $('.kata-id');

});
</script>
