<table class="info">
  <tr>
    <td colspan="2">each test run creates a new traffic-light</td>
  </tr>
  <tr><td><img src='/images/bulb_red.png'
               alt='red traffic-light'
             class='traffic-light' /></td>
      <td>one or more tests failed</td>
  </tr>
  <tr><td><img src='/images/bulb_amber.png'
               alt='amber traffic-light'
             class='traffic-light' /></td>
      <td>something broke, e.g. syntax error</td>
  </tr>
  <tr><td><img src='/images/bulb_green.png'
               alt='green traffic-light'
             class='traffic-light' /></td>
      <td>all the tests passed</td>
  </tr>
</table>
