<button type="button" id="traffic-lights-button" class="info-button">version-control</button>

<div id="traffic-lights-dialog" style="display:none;">
  <div class="info">
  <%= render partial: 'shared/traffic_lights_bulb_info' %>
  <%= render partial: 'shared/traffic_lights_click_info' %>
  </div>
  <div class="info">Tests must complete in <span id="max-seconds"></span> seconds</div>
  <div class="info">
    The ID of your exercise is: <span class="kata-id"></span>
    <div class="phonetic-id"></div>
  </div>
</div>

<script>
'use strict';
$(() => {

  cd.trafficLightsButton = () => $('#traffic-lights-button');

  cd.createTip(cd.trafficLightsButton(), 'show traffic-light information');

  cd.trafficLightsButton().click(() => openTrafficLightsInfoDialog());

  const openTrafficLightsInfoDialog = () => {
    const manifest = cd.kata.manifest();
    $('#max-seconds').html(manifest.max_seconds);
    $('#traffic-lights-dialog').dialog({
              width: 600,
           autoOpen: true,
      closeOnEscape: true,
              modal: true,
              title: cd.dialogTitle('version-control'),
        beforeClose: () => cd.kata.editor.refocus()
    });

    showPhoneticId();
  };

    const phonetic = {
        '0' : 'zero',
        '1' : 'one',
        '2' : 'two',
        '3' : 'three',
        '4' : 'four',
        '5' : 'five',
        '6' : 'six',
        '7' : 'seven',
        '8' : 'eight',
        '9' : 'nine',

        'A' : 'ALPHA',
        'B' : 'BRAVO',
        'C' : 'CHARLIE',
        'D' : 'DELTA',
        'E' : 'ECHO',
        'F' : 'FOXTROT',
        'G' : 'GOLF',
        'H' : 'HOTEL',
        'I' : 'INDIA',
        'J' : 'JULIETT',
        'K' : 'KILO',
        'L' : 'LIMA',
        'M' : 'MIKE',
        'N' : 'NOVEMBER',
        'O' : 'OSCAR',
        'P' : 'PAPPA',
        'Q' : 'QUEBEC',
        'R' : 'ROMEO',
        'S' : 'SIERRA',
        'T' : 'TANGO',
        'U' : 'UNIFORM',
        'V' : 'VICTOR',
        'W' : 'WHISKEY',
        'X' : 'XRAY',
        'Y' : 'YANKEE',
        'Z' : 'ZULU',


        'a' : 'alpha',
        'b' : 'bravo',
        'c' : 'charlie',
        'd' : 'delta',
        'e' : 'echo',
        'f' : 'foxtrot',
        'g' : 'golf',
        'h' : 'hotel',
        'i' : 'india',
        'j' : 'juliett',
        'k' : 'kilo',
        'l' : 'lima',
        'm' : 'mike',
        'n' : 'november',
        'o' : 'oscar',
        'p' : 'pappa',
        'q' : 'quebec',
        'r' : 'romeo',
        's' : 'sierra',
        't' : 'tango',
        'u' : 'uniform',
        'v' : 'victor',
        'w' : 'whiskey',
        'x' : 'xray',
        'y' : 'yankee',
        'z' : 'zulu'
    };

    const showPhoneticId = () => {
        let html = '';
        const id = cd.kata.id;
        for (let i = 0; i < id.length; i++) {
            html += phonetic[id.charAt(i)];
            html += '&nbsp;&nbsp;';
        }
        $phoneticId.show().html(html);
        $kataId.show().html(id);
    };

    const $phoneticId = $('.phonetic-id');
    const $kataId = $('.kata-id');

});
</script>
