<div class="info">
  Each test run creates a new traffic-light:
  <table>
    <tr>
      <td>
        <img src='/images/traffic-light/red.png'
             alt='red traffic-light'
             class='traffic-light' />
      </td>
      <td><span class="red">red</span></td>
      <td>&nbsp;some tests failed</td>
    </tr>
    <tr>
      <td>
        <img src='/images/traffic-light/amber.png'
             alt='amber traffic-light'
             class='traffic-light' />
      </td>
      <td><span class="amber">amber</span></td>
      <td>&nbsp;tests didn't run (eg syntax error)</td>
    </tr>
    <tr>
      <td>
        <img src='/images/traffic-light/green.png'
             alt='green traffic-light'
             class='traffic-light' />
      </td>
      <td><span class="green">green</span></td>
      <td>&nbsp;all tests passed</td>
    </tr>
  </table>
</div>
