<div class="info">
  Each test run creates a new traffic-light:
  <table>
    <tr>
      <td>
        <img src='/traffic-light/image/red_predicted_none.png'
             alt='red traffic-light'
             class='traffic-light' />
      </td>
      <td><span class="red">red</span></td>
      <td>&nbsp;some tests failed</td>
    </tr>
    <tr>
      <td>
        <img src='/traffic-light/image/amber_predicted_none.png'
             alt='amber traffic-light'
             class='traffic-light' />
      </td>
      <td><span class="amber">amber</span></td>
      <td>&nbsp;the tests didn't run</td>
    </tr>
    <tr>
      <td>
        <img src='/traffic-light/image/green_predicted_none.png'
             alt='green traffic-light'
             class='traffic-light' />
      </td>
      <td><span class="green">green</span></td>
      <td>&nbsp;all the tests passed</td>
    </tr>
  </table>
</div>
