<div class="info">
  Click on a traffic-light to:
  <ul>
    <li>study the diff of its files</li>
    <li>revert back to its files</li>
    <li>fork a new exercise from its files</li>
    <li>move to any other traffic-light</li>
  </ul>
</div>
