<script type="text/javascript"><!--
'use strict';
$(() => {
  cd.createTip($('#tweet-box'),
    'please help publicize<br/>' +
    'cyber-dojo by tweeting'
  );
});
//--></script>

<span id="tweet-box">
  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw"
     class="twitter-share-button"
     data-text="I&#39;m honing my craft with #cyberdojo!"
     data-url="https://cyber-dojo.org"
     data-show-count="false">Tweet</a>
  <script async src="https://platform.twitter.com/widgets.js"
          charset="utf-8">
  </script>
</span>
