<button type="button" id="versions-button" class="info-button">versions</button>

<script>
'use strict';
$(() => {

  const versionsButton = $('#versions-button');

  versionsButton.click(() => {
    const url = "https://app.kosli.com/cyber-dojo/environments/aws-prod/snapshots/";
    window.open(url);
  });

  cd.createTip(versionsButton, 'what cyberdojo microservices are running');

});
</script>
