
<script type="text/javascript">
'use strict';
$(() => {

  const yinYang = $('#yin-yang-logo');
  yinYang.click(() => window.location.href = '/dojo/index');
  cd.createTip(yinYang, 'go back to the home page');

});
</script>

<span id="yin-yang-logo">
  <img src="/images/cyber-dojo.png" />
</span>
