
<div id="id-enter-page" class="align-center">

  <div id="title" class="center-content">
    join a session
  </div>

  <div class="center-content">
    <%= render partial: 'id' %>
  </div>

</div>

<%= render partial: 'shared/app_bar_short',
    locals: { help_url: "http://blog.cyber-dojo.org/p/learn-more.html" } %>
