
<div id="id-enter-page" class="align-center">

  <div id="title" class="center-content">
    enter a practice
  </div>

  <div class="center-content">
    <%= render partial: 'id' %>
  </div>

</div>
