
<div>
  <table class="align-center" cellpadding="0" cellspacing="0">
   <tr>
     <td>
        <img class='avatar large'
           src="/images/avatars/<%= @avatar_name %>.jpg"
           title="<%= @avatar_name.humanize %>" />
     </td>
     <td>
       <div id="info-container">
        <table cellpadding="0" cellspacing="0">
          <tr>
            <td colspan="2" class="info">
              each test run creates a new traffic-light
            </td>
          </tr>
          <tr>
            <td>
              <img src='/images/bulb_red.png'
                   alt='red traffic-light'
                   class='traffic-light' />
            </td>
            <td class="info">
              one or more tests failed
            </td>
          </tr>
          <tr>
            <td>
              <img src='/images/bulb_amber.png'
                   alt='amber traffic-light'
                   class='traffic-light' />
            </td>
            <td class="info">
              something broke, e.g. syntax error
            </td>
          </tr>
          <tr>
            <td>
              <img src='/images/bulb_green.png'
                   alt='green traffic-light'
                   class='traffic-light' />
            </td>
            <td class="info">
              all the tests passed
            </td>
          </tr>
          <tr>
            <td colspan="2" class="info">
              click a traffic-light to review it, revert
              <br/>
              to it, or create a new session from it
            </td>
          </tr>
        </table>
      </div>
      </td>
    </tr>
  </table>

</div>
