<span id="samman-coaching-cell" class="sponsor">
  <a href="https://sammancoaching.org"
    target="_blank">
    <img id="samman-coaching-image"
        src="/images/sponsors/samman_coaching.png" />
  </a>
</span>
