
<script type="text/javascript"><!--

$(function() {

  const kataIdInput = $('#kata-id-input');
  const dropDown = $('#drop-down');
  const avatarGrid = $('#avatar-grid');
  const cancel = $('#cancel');

  const autoDropDown = function() {
    const id = kataIdInput.val();
    if (id.length >= 6) {
      $.getJSON('/resume/check', { id: id }, function(dojo) {
        if (dojo.exists) {
          avatarGrid.html(dojo.html);
          kataIdInput.prop('disabled', true);
          dropDown.slideDown('slow');
        }
      });
    }
  };

  cancel.click(function() {
    dropDown.slideUp('slow');
    kataIdInput.val('')
               .prop('disabled', false)
               .focus();
  });

  // Only accept hex input.
  // Also accepts a Ctrl-V paste event which will allow
  // non-hex chars to be entered.
  kataIdInput.keypress(function(e) {
    var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
    if (e.which == 0 || e.charCode == 0) { // special key
      return true;
    }
    else if (str.match(/[a-fA-F0-9]/)) { // hex key
      return true;
    }
    else {
      e.preventDefault();
      return false;
    }
  });

  kataIdInput.keyup(function() { autoDropDown(); });
  kataIdInput.focus();
  dropDown.hide();

});

//--></script>

<input title="an id contains only the digits 0123456789 and letters ABCDEF, and is case insensitive"
       type="text"
       id="kata-id-input"
       placeholder="what is its id?"
       size="8"
       value="">
</input>

<div id="drop-down">
  <div id="avatar-grid"></div>
  <button type="button" id="cancel">cancel</button>
</div>

