
<script type="text/javascript"><!--

$(function() {

  cd.resume = function(id, avatarName) {
    const url = '/kata/edit/' + id + '?avatar=' + avatarName;
    window.location.href = cd.homePageUrl(id);
    window.open(url);
  };

  const idInput = $('#id-input');
  const dropDown = $('#drop-down');
  const hiText = $('#hi-text');
  const avatarPicker = $('#avatar-picker');
  const cancel = $('#cancel');

  const autoDropDown = function() {
    const id = idInput.val();
    if (id.length >= 6) {
      $.getJSON('/resume/check', { id: id }, function(dojo) {
        if (dojo.exists) {
          if (dojo.empty) {
            hiText.html('no one has entered yet!');
          } else {
            hiText.html('click your animal');
          }
          avatarPicker.html(dojo.avatarPickerHtml);
          idInput.prop('disabled', true);
          idInput.slideUp('fast', function() {
            dropDown.slideDown('slow');
          });
        }
      });
    }
  };

  cancel.click(function() {
    dropDown.slideUp('slow', function() {
      idInput.show()
             .prop('disabled', false)
             .val('')
             .slideDown('fast')
             .focus();
    });
  });

  // Only accept hex input.
  // Also accepts a Ctrl-V paste event which will allow
  // non-hex chars to be entered.
  idInput.keypress(function(e) {
    const str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
    if (e.which == 0 || e.charCode == 0) { // special key
      return true;
    }
    else if (str.match(/[a-fA-F0-9]/)) { // hex key
      return true;
    }
    else {
      e.preventDefault();
      return false;
    }
  });

  idInput.focus().keyup(function() { autoDropDown(); });
  dropDown.hide();

});

//--></script>

<input title="an id contains only the digits 0123456789 and letters ABCDEF, and is case insensitive"
       type="text"
       id="id-input"
       placeholder="id?"
       size="8"
       value="">
</input>

<div id="drop-down">
  <span id="hi-text"></span>
  <div id="avatar-picker"></div>
  <button type="button" id="cancel">cancel</button>
</div>

