
<div id="resume-page" class="align-center">

  <div id="title" class="center-content">
    resume a practice
  </div>

  <div class="center-content">
    <%= render partial: 'id' %>
  </div>

</div>
