
<script type="text/javascript"><!--

$(function() {

  const button = $('#choose-exercise');

  button.click(function() {
    const id = "<%= @id %>";
    const url = '/setup_default_start_point/show_exercises/' + id +
      '?language=' + encodeURIComponent(cd.chosenMajor()) +
      '&test=' + encodeURIComponent(cd.chosenMinor());
    button.prop('disabled',true);
    window.location = url;
  });

});

//--></script>

<button type="button" id="choose-exercise">next</button>
