
<script type="text/javascript"><!--

$(function() {

  $('#choose-exercise').click(function() {
    var id = "<%= @id %>";
    var url = '/setup_default_start_point/show_exercises/' + id +
      '?language=' + encodeURIComponent(cd.chosenMajor()) +
      '&test=' + encodeURIComponent(cd.chosenMinor());
    window.location = url;
  });

});

//--></script>

<button type="button" id="choose-exercise">next</button>
