
<script type="text/javascript"><!--

$(function() {

  $('#choose-exercise').click(function() {
    const from = "<%= @from %>";
    const id = "<%= @id %>";
    const url = '/setup_default_start_point/show_exercises/' + id +
      '?major=' + encodeURIComponent(cd.chosenMajor()) +
      '&minor=' + encodeURIComponent(cd.chosenMinor()) +
      '&from=' + from;
    window.location = url;
  });

});

//--></script>

<button type="button" id="choose-exercise">
  next
</button>
