
<script type="text/javascript"><!--

$(function() {

  var gotoChooseExercisesPage = function() {
    var id = "<%= @id %>";
    var url = '/setup_default_start_point/show_exercises/' + id +
      '?language=' + encodeURIComponent(cd.chosenMajor()) +
      '&test=' + encodeURIComponent(cd.chosenMinor());
    window.location = url;
  };

  $('#choose-exercise').click(function() {
    var params = cd.chosenMajorMinor();
    params['type'] = 'language'
    $.getJSON('/image_puller/pull_needed', params, function(pull) {
        if (pull.needed) {
          cd.dialog_pullImageThen('/image_puller/pull', params, gotoChooseExercisesPage);
        } else {
          gotoChooseExercisesPage();
        }
    });
  });

});

//--></script>

<button type="button" id="choose-exercise">choose exercise</button>
