
<script type="text/javascript"><!--

$(function() {

  $('#create-it').click(function() {
    var params = {
         major: "<%= @language %>",
         minor: "<%= @test %>",
      exercise: $('[id^=exercises_name_][class~=selected]').data('name'),
    };
    $.getJSON('/setup_default_start_point/save', params, function(dojo) {
      cd.newDojoDialog(dojo.id, 'from_setup');
    });
  });

});

//--></script>

<button type="button" id="create-it">create it</button>
