
<script type="text/javascript"><!--

$(function() {

  $('button#create').click(function() {
    const language = $('[id^=language_][class~=selected]').data('name');
    const exercise = $('[id^=exercise_][class~=selected]').data('name');
    const url = '/setup_default_start_point/save_individual' +
      '?language=' + encodeURIComponent(language) +
      '&exercise=' + encodeURIComponent(exercise);
    window.location = url;
  });

});

//--></script>

<button type="button" id="create">
  create
</button>
