
<script type="text/javascript"><!--

$(function() {

  var previous = undefined;
  var selected = $('#exercise_' + <%= @exercise_index %>);

  $('[id^=exercise_]').each(function(index) {
     var name = $(this);
     name.click(function() {
       var exercise = $('#exercises_' + index).val(); //instructions
       cd.radioEntrySwitch(previous, name);
       previous = name;
       $('#exercises').val(exercise);
     });
   });

  selected.click();
  selected.scrollIntoView({ direction: 'vertical' });

});

//--></script>


<div id="exercises-list">
  <% @exercises_names.each_with_index do |name, index| %>
    <div class='filename'
         id="exercise_<%= index %>"
         data-name="<%= name %>" >
      <%= name.gsub('_', ' ') %>
    </div>
  <% end %>
</div>
