<script type="text/javascript"><!--

$(function() {

  var previousExercise = undefined;
  var selectedExercise = $('#exercise_' + <%= @exercise_index %>);

  $('[id^=exercise_]').each(function(index) {
     var exercise = $(this);
     exercise.click(function() {
       //var instructions = $('#exercises_' + index).val();
       cd.radioEntrySwitch(previousExercise, exercise);
       previousExercise = exercise;
       //$('#exercises').val(instructions);
     });
   });

  selectedExercise.click();
  selectedExercise.scrollIntoView({ direction: 'vertical' });

});

//--></script>

<div id="exercises-list">
  <% @exercises_names.each_with_index do |exercise_name, index| %>
    <div class='filename'
         id="exercise_<%= index %>"
         data-name="<%= exercise_name %>" >
      <%= exercise_name.gsub('_', ' ') %>
    </div>
  <% end %>
</div>
