
<div id="instructions-list">
  <% @instructions_names.each_with_index do |name,index| %>
    <div class='filename'
         id="instructions_name_<%= index %>"
         data-name="<%= name %>" >
      <%= name.gsub('_', ' ') %>
    </div>
  <% end %>
</div>