<div id="language-info-box" style="display:hidden;">

The starting files for your chosen language, test-framework are always a function called
<code>
<a href="https://en.wikipedia.org/wiki/The_Hitchhiker%27s_Guide_to_the_Galaxy" target="_blank">answer</a>
</code>
that returns
<code>
<a href="https://en.wikipedia.org/wiki/The_Hitchhiker%27s_Guide_to_the_Galaxy" target="_blank">6 * 9</a>
</code>
and a test that expects
<code>
<a href="https://en.wikipedia.org/wiki/The_Hitchhiker%27s_Guide_to_the_Galaxy" target="_blank">42</a>.
</code>
The starting files are <em>unrelated</em> to your
chosen exercise. They are simply an example to start you off.
<br/><br/>
Each test run creates a new traffic-light:
<table>
  <tr><td><img src='/images/bulb_red.png'
               alt='red traffic-light'
             class='traffic-light' /></td>
      <td>one or more tests failed</td>
  </tr>
  <tr><td><img src='/images/bulb_amber.png'
               alt='amber traffic-light'
             class='traffic-light' /></td>
      <td>something broke, e.g. syntax error</td>
  </tr>
  <tr><td><img src='/images/bulb_green.png'
               alt='green traffic-light'
             class='traffic-light' /></td>
      <td>all the tests passed</td>
  </tr>
  <tr><td><img src='/images/bulb_timed_out.png'
               alt='timed-out traffic-light'
             class='traffic-light' /></td>
      <td>the tests did not complete in ~15 seconds</td>
  </tr>
</table>
<br/>
Click any traffic-light to:
<table>
  <tr><td>&bull;&nbsp;review it</td></tr>
  <tr><td>&bull;&nbsp;revert to it</td></tr>
  <tr><td>&bull;&nbsp;fork a new session from it</td></tr>
</table>

</div>
