<div id="languages-list">
  <% @language_names.each_with_index do |language_name, index| %>
    <div class="display-name"
         id="language_<%= index %>"
         data-name="<%= language_name %>" >
      <%= language_name %>
    </div>
  <% end %>
</div>
