<script type="text/javascript"><!--

$(function() {

  const languageInfoContainer = $('#language-info-container');
  const exerciseInfoContainer = $('#exercise-info-container');

  var previousLanguage = undefined;
  var selectedLanguage = $('#language_' + '<%= @language_index %>');

  var languageInfo =
    'The starting files for your chosen language, test-framework are always ' +
    'a function called ' +
    '<code>' +
    '<a href="https://en.wikipedia.org/wiki/The_Hitchhiker%27s_Guide_to_the_Galaxy" target="_blank">' +
    'answer</a></code> that returns ' +
    '<code>' +
    '<a href="https://en.wikipedia.org/wiki/The_Hitchhiker%27s_Guide_to_the_Galaxy" target="_blank">' +
    '6 * 9</a></code> ' +
    'and a test that expects ' +
    '<code>' +
    '<a href="https://en.wikipedia.org/wiki/The_Hitchhiker%27s_Guide_to_the_Galaxy" target="_blank">' +
    '42</a></code>. The starting files are <em>unrelated</em> to your ' +
    'chosen exercise. They are simply an example to start you off. ' +
    'Tests must complete in ~15 seconds.';

  $('[id^=language_]').each(function() {
    var language = $(this);
    language.click(function() {
      cd.radioEntrySwitch(previousLanguage, language);
      previousLanguage = language;

      exerciseInfoContainer.hide();
      languageInfoContainer.show().html(languageInfo);
    });
  });

  selectedLanguage.click();
  selectedLanguage.scrollIntoView({ direction: 'vertical' });

});

//--></script>

<div id="languages-list">
  <% @language_names.each_with_index do |language_name, index| %>
    <div class="filename"
         id="language_<%= index %>"
         data-name="<%= language_name %>" >
      <%= language_name %>
    </div>
  <% end %>
</div>