
<script type="text/javascript"><!--

$(function() {

  var createIt = function() {
    var params = cd.chosenMajorMinor();
    $.getJSON('/setup_default_start_point/save_no_exercise', params, function(dojo) {
      cd.newDojoDialog(dojo.id, 'from_setup');
    });
  };

  $('#no-exercise').click(function() {
    var params = cd.chosenMajorMinor();
    params['type'] = 'language'
    $.getJSON('/image_puller/pull_needed', params, function(pull) {
      if (pull.needed) {
        cd.dialog_pullImageThen('/image_puller/pull', params, createIt);
      } else {
        createIt();
      }
    });
  });

});

//--></script>

<button type="button" id="no-exercise">no exercise</button>
