<script type="text/javascript"><!--
'use strict';
$(() => {

  $('button#ok').click(() => {
    const language = $('[id^=language_][class~=selected]').data('name');
    const exercise = $('[id^=exercise_][class~=selected]').data('name');
    const url = '/setup_default_start_point/save_<%= @from %>' +
      '?language=' + encodeURIComponent(language) +
      '&exercise=' + encodeURIComponent(exercise);
    window.location.href = cd.homePageUrl('<%= @kata_id %>');
    window.open(url);
  });

});
//--></script>

<div id="button-container">
  <button type="button" id="ok">
    ok
  </button>
</div>
