
<script type="text/javascript"><!--

$(function() {

    const button = $('#create-it');

    button.click(function() {
      const setupParams = {
           major: "<%= @major %>",
           minor: "<%= @minor %>",
        exercise: $('[id^=exercises_name_][class~=selected]').data('name')
      };
      const cursor = button.css('cursor');
      button.prop('disabled',true).css('cursor','wait');
      $.getJSON('/setup_default_start_point/save', setupParams, function(dojoParams) {
        const from = "from_setup_<%= @from %>";
        cd.newDojoDialog(dojoParams, from);
      });
    });

});

//--></script>

<button id="create-it" type="button">
set it up
</button>

