
<script type="text/javascript"><!--

$(function() {

  $('#enter').click(function() {
    window.location = '/id_enter/show';
  });

});

//--></script>

<button type="button" id="enter">
  enter a practice
</button>