
<script type="text/javascript"><!--

$(function() {

  $('#enter-button').click(function() {
    window.location = '/enter/show';
  });

});

//--></script>

<button type="button" id="enter-button">
  enter a practice
</button>