
<script type="text/javascript"><!--

$(function() {

  $('#enter-button').click(function() {
    const url = "/enter/show/<%= @id %>?from=team";
    window.location = url;
  });

});

//--></script>

<button type="button" id="enter-button">
  enter a practice
</button>