
<script type="text/javascript"><!--

$(function() {

  $('button#rejoin').click(function() {
    window.location = '/id_resume/show';
  });

});

//--></script>

<button id="rejoin">
  rejoin&nbsp;a&nbsp;session
</button>