
<script type="text/javascript"><!--

$(function() {

  $('button#resume').click(function() {
    window.location = '/id_resume/show';
  });

});

//--></script>

<button id="resume">
  rejoin a session
</button>