
<script type="text/javascript"><!--

$(function() {

  $('button#review').click(function() {
    window.location = '/id_review/show';
  });

});

//--></script>

<button id="review">
  review a session
</button>