
<script type="text/javascript"><!--

$(function() {

  $('#review-button').click(function() {
    const url = "/dashboard/show/<%= @id %>";
    window.location = url;
  });

});

//--></script>

<button type="button" id="review-button">
  review a practice
</button>