
<script type="text/javascript"><!--

$(function() {

  $('button#create-custom').click(function() {
    const url = "/setup_custom_start_point/show/<%= @id %>?from=team";
    window.location = url;
  });

});

//--></script>

<button id="create-custom">
  create a new custom session
</button>