
<script type="text/javascript"><!--

$(function() {

  $('button#join').click(function() {
    window.location = '/id_enter/show';
  });

});

//--></script>

<button id="join">
  join a session
</button>