
<div id="id-resume-page" class="align-center">

  <div id="title" class="center-content">
    rejoin a session
  </div>

  <div class="center-content">
    <%= render partial: 'id' %>
  </div>

</div>
