
<script type="text/javascript"><!--

$(function() {

  const button = $('#review-button');

  button.click(function() {
    const id = $('#full-kata-id').val();
    const cursor = button.css('cursor');
    button.css('cursor', 'wait');
    $.getJSON('/enter/resume', { id: id }, function(dojo) {
      button.css('cursor', cursor);
      if (dojo.empty) {
        cd.dialog(dojo.html, 'open a review', 'close').dialog('open');
      } else {
        var url = '/review/show/' + id;
        window.location.href = url;
      }
    });
  });

});

//--></script>

<button type="button" id="review-button">
  open a dashboard
</button>
