
<script type="text/javascript"><!--

$(function() {

  $('#start-button').click(function() {
    $(this)
      .prop('disabled', true)
      .css('cursor', 'progress');
    var id = $('#full-kata-id').val();
    cd.startAnimal(id, 'from_setup', $(this));
  });

});

//--></script>

<button type="button" id="start-button">
  start programming
</button>