
<script type="text/javascript"><!--

$(function() {

  $('#start-button').click(function() {
    var id = $('#full-kata-id').val();
    cd.startAnimal(id, 'from_setup');
  });

});

//--></script>

<button type="button" id="start-button">
  start programming
</button>