
<script type="text/javascript"><!--

$(function() {

  const button = $('#start-button');

  button.click(function() {
    const id = $('#full-kata-id').val();
    const cursor = button.css('cursor');
    button.prop('disabled',true).css('cursor','wait');
    cd.startAnimal(id, 'from_setup');
    button.css('cursor', cursor);
  });

});

//--></script>

<button type="button" id="start-button">
  start programming
</button>