
<script type="text/javascript"><!--

$(function() {

  const button = $('#start-button');

  button.click(function() {
    const id = $('#full-kata-id').val();
    const cursor = button.css('cursor');
    const from = "from_setup_<%= @from %>";
    button.css('cursor','wait');
    button.prop('disabled', true);
    cd.startAnimal(id, from);
    button.prop('disabled', false);
    button.css('cursor', cursor);
  });

});

//--></script>

<button type="button" id="start-button">
  start programming
</button>