
<div>
  <table class="align-center">
    <% index = 0 %>
    <% size = 35 %>
    <% (1..8).each do |_| %>
    <tr>
      <% (1..8).each do |_| %>
      <td>
        <% avatar_name = @all_avatar_names[index] %>
          <img src="/images/avatars/<%= avatar_name %>.jpg"
               style="display:block"
               width="<%= size %>"
               height="<%= size %>" />
        <% index += 1 %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>
