
<div id="enter-page">
  <table class="align-right">
    <tr>
      <td colspan="2">
        <div id="review-a-practice-session">
          review&nbsp;a&nbsp;practice&nbsp;session
        </div>
      </td>
    </tr>
    <tr>
      <td rowspan="3" valign="top">
        <%= render partial: 'shared/avatar_grid_colour' %>
      </td>
      <td><%= render partial: 'enter_id' %></td>
    </tr>
    <tr>
      <td><%= render partial: 'dashboard_button' %></td>
    </tr>
    <tr>
      <td><%= render partial: 'review_button' %></td>
    </tr>
  </table>
</div>
