
<div id="enter-page" class="align-center">

  <div id="title" class="center-content">
    enter a practice
  </div>

  <table class="center-content">
    <tr><td><%= render partial: 'enter_id' %></td></tr>
    <tr><td><%= render partial: 'start_button' %></td></tr>
    <tr><td><%= render partial: 'resume_button' %></td></tr>
  </table>

</div>
