<script type="text/javascript"><!--
'use strict';
$(() => {

  $('button#create-custom').click(() => {
    const url = '/custom-chooser/index_group'    
    window.location = url;
  });

});
//--></script>

<button id="create-custom">
  create&nbsp;a&nbsp;new&nbsp;custom&nbsp;session
</button>
