
<script type="text/javascript"><!--

$(function() {

  $('button#join').click(function() {
    window.location = '/id_join/show';
  });

});

//--></script>

<button id="join">
  join&nbsp;a&nbsp;session
</button>