<script type="text/javascript"><!--
'use strict';
$(() => {

  $('button#join').click(() => {
    window.location = '/id_join/show';
  });

});
//--></script>

<button id="join">
  join&nbsp;an&nbsp;exercise
</button>
