<script type="text/javascript"><!--
'use strict';
$(() => {

  $('button#rejoin').click(() => {
    window.location = '/id_rejoin/show?from=group';
  });

});
//--></script>

<button id="rejoin">
  rejoin&nbsp;an&nbsp;exercise
</button>
