<script type="text/javascript"><!--

$(() => {

  $('button#rejoin').click(() => {
    window.location = '/id_rejoin/show?from=group';
  });

});

//--></script>

<button id="rejoin">
  rejoin&nbsp;our&nbsp;session
</button>