
<script type="text/javascript"><!--

$(function() {

  $('button#rejoin').click(function() {
    window.location = '/id_rejoin/show?from=group';
  });

});

//--></script>

<button id="rejoin">
  rejoin&nbsp;our&nbsp;session
</button>