
<script type="text/javascript"><!--

$(function() {

  $('button#review').click(function() {
    window.location = '/id_review/show';
  });

});

//--></script>

<button id="review">
  open&nbsp;a&nbsp;dashboard
</button>