<script type="text/javascript"><!--
'use strict';
$(() => {

  $('button#review').click(() => {
    window.location = '/id_review/show';
  });

});
//--></script>

<button id="review">
  open&nbsp;a&nbsp;review&nbsp;dashboard
</button>
