@use "colors";

@use "sass:color";


$button_border_size: 2px;

button
{
  border-radius: 3px;
  background: colors.$lighter-color;

  display: block;
  cursor: pointer;
  padding: { left: 0.5em; right: 0.5em; bottom: 0.1em; }
  text-decoration: none;
  font-weight: normal;
  border: $button_border_size solid colors.$lighter-color;

  &:hover { border: $button_border_size dotted color.adjust(colors.$darker-color, $lightness: 35%, $space: hsl); }
  &[disabled]
  {
    background: color.adjust(colors.$darker-color, $lightness: 20%, $space: hsl);
    border: $button_border_size solid color.adjust(colors.$darker-color,$lightness: 20%, $space: hsl);
    cursor: not-allowed;
    &:hover { border: $button_border_size solid color.adjust(colors.$darker-color,$lightness: 20%, $space: hsl); }
  }
}
