@use "codemirror-cyber-dojo-dark-colour-on";
@use "codemirror-cyber-dojo-grays";
@use "codemirror-cyber-dojo-light-colour-on";
@use "colors";

@use "sass:color";

// Based on atom-material-syntax-dark

codemirror-cyber-dojo-light-colour-on.$darken-percentage: 5%;

colors.$green:             color.adjust(#C3E88D, $lightness: -(codemirror-cyber-dojo-light-colour-on.$darken-percentage), $space: hsl);
codemirror-cyber-dojo-dark-colour-on.$teal:              color.adjust(#009688, $lightness: -(codemirror-cyber-dojo-light-colour-on.$darken-percentage), $space: hsl);
codemirror-cyber-dojo-dark-colour-on.$light-teal:        color.adjust(#73d1c8, $lightness: -(codemirror-cyber-dojo-light-colour-on.$darken-percentage), $space: hsl);
codemirror-cyber-dojo-dark-colour-on.$cyan:              color.adjust(#89DDF3, $lightness: -(codemirror-cyber-dojo-light-colour-on.$darken-percentage), $space: hsl);
colors.$blue:              color.adjust(#82AAFF, $lightness: -15%, $space: hsl);
codemirror-cyber-dojo-dark-colour-on.$indigo:            color.adjust(#7986CB, $lightness: -(codemirror-cyber-dojo-light-colour-on.$darken-percentage), $space: hsl);
codemirror-cyber-dojo-dark-colour-on.$purple:            color.adjust(#C792EA, $lightness: -15%, $space: hsl);
codemirror-cyber-dojo-dark-colour-on.$pink:              color.adjust(#FF5370, $lightness: -(codemirror-cyber-dojo-light-colour-on.$darken-percentage), $space: hsl);
colors.$red:               color.adjust(#F07178, $lightness: -(codemirror-cyber-dojo-light-colour-on.$darken-percentage), $space: hsl);
codemirror-cyber-dojo-dark-colour-on.$strong-orange:     color.adjust(#F78C6A, $lightness: -(codemirror-cyber-dojo-light-colour-on.$darken-percentage), $space: hsl);
codemirror-cyber-dojo-dark-colour-on.$orange:            color.adjust(#FFCB6B, $lightness: -(codemirror-cyber-dojo-light-colour-on.$darken-percentage), $space: hsl);
codemirror-cyber-dojo-dark-colour-on.$light-orange:      color.adjust(#FFE082, $lightness: -(codemirror-cyber-dojo-light-colour-on.$darken-percentage), $space: hsl);

codemirror-cyber-dojo-dark-colour-on.$syntax-text-color: codemirror-cyber-dojo-grays.$very-dark-gray;
codemirror-cyber-dojo-dark-colour-on.$syntax-background-color: white;
codemirror-cyber-dojo-dark-colour-on.$syntax-comment-color: color.adjust(colors.$green, $lightness: -30%, $space: hsl);

.cm-s-cyber-dojo-light-colour-off.CodeMirror
{
  background: codemirror-cyber-dojo-dark-colour-on.$syntax-background-color;
  color: codemirror-cyber-dojo-dark-colour-on.$syntax-text-color;
}

.cm-s-cyber-dojo-light-colour-off .CodeMirror-lines
{
  min-height: 1px; /* prevents collapsing before first draw */
}

.cm-s-cyber-dojo-light-colour-off .CodeMirror-linenumber,
.cm-s-cyber-dojo-light-colour-off .CodeMirror-linenumbers,
.cm-s-cyber-dojo-light-colour-off .CodeMirror-gutters
{
  background: color.adjust(codemirror-cyber-dojo-dark-colour-on.$syntax-background-color, $lightness: -2%, $space: hsl);
  color: color.adjust(codemirror-cyber-dojo-dark-colour-on.$syntax-text-color, $lightness: 30%, $space: hsl);
}

.cm-s-cyber-dojo-light-colour-off .CodeMirror-gutters
{
  border-right: 0px;
}

.cm-s-cyber-dojo-light-colour-off div.CodeMirror-selected
{
  background: color.adjust(codemirror-cyber-dojo-dark-colour-on.$syntax-background-color, $lightness: -10%, $space: hsl);
}

.cm-s-cyber-dojo-light-colour-off .CodeMirror-cursor
{
  border-left: 1px solid codemirror-cyber-dojo-dark-colour-on.$syntax-text-color;
}

.cm-s-cyber-dojo-light-colour-off .cm-tab
{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QceFzkFdK1S+wAAACR0RVh0Q29tbWVudABUYWIgY2hhcmFjdGVyIGZvciBjeWJlci1kb2pvbQcIaAAAAE5JREFUSMftkjEOACAMAltfyFP5YZ1cHGoXk2K8kYkLmH3uACAq2VCTkBKoSAzVOy28MlMnSLrcAhmuchuSDiAkF9hLSwlk5dsLnMo/wQQwlBvvo1+QQQAAAABJRU5ErkJggg==);
  background-position: right;
  background-repeat: no-repeat;
}
