@use "sass:color";


$black: #000;
$darker-color: color.adjust(#666, $lightness: -25%, $space: hsl);
$lighter-color: color.adjust(Khaki, $lightness: 5%, $space: hsl);
$text-color: color.adjust($lighter-color, $lightness: -10%, $space: hsl);

$fadePercent: 15%;

$pulling: #2CDFF0;
$red:   color.adjust(#F00, $lightness: $fadePercent, $space: hsl);
$amber: color.adjust(#FF0, $lightness: $fadePercent, $space: hsl);
$green: color.adjust(#0F0, $lightness: $fadePercent, $space: hsl);

$blue:  #00F;

.create { color: Gray; }

.red       { color: $red;   }
.amber     { color: $amber; }
.green     { color: $green; }

.file_create { color: Gray; }
.file_delete { color: Gray; }
.file_rename { color: Gray; }
.file_edit   { color: Gray; }

.timed_out { color: Gray;     }
.faulty    { color: DarkGray; }
.pulling   { color: $pulling;   }

$diff-added-count-color: color.adjust($green, $lightness: 20%, $space: hsl);
$diff-deleted-count-color: color.adjust($red, $lightness: 20%, $space: hsl);
$diff-same-count-color: Gray;

$projector-background: White;

$diff-added-line-background: color.adjust($green, $lightness: 25%, $space: hsl);
$diff-deleted-line-background: color.adjust($red, $lightness: 25%, $space: hsl);
