@forward "common/colours";
@use "common/colours" as *;
@use "sass:color";


$pulling: #2CDFF0;

.create { color: Gray; }

.file_create { color: Gray; }
.file_delete { color: Gray; }
.file_rename { color: Gray; }
.file_edit   { color: Gray; }

.timed_out { color: Gray;     }
.faulty    { color: DarkGray; }
.pulling   { color: $pulling;   }


$projector-background: White;

$diff-added-line-background: color.adjust($green, $lightness: 25%, $space: hsl);
$diff-deleted-line-background: color.adjust($red, $lightness: 25%, $space: hsl);
