@use "colors";
@use "common/dialog";

.dialog
{
  background: colors.$lighter-color;
       color: colors.$darker-color;
     display: table;
      margin: { top: 0; bottom: auto; left: 45px; right: 45px; }

  a:link, a:visited { color: colors.$lighter-color; }

  &.title
  {
    position: relative;
        left: -45px;
  }
}

// The avatar image the info dialog's avatar name tips.
img.avatar-tip { width: 120px; height: 120px; border-radius: 4px; }
