@use "colors";
@use "fonts";
@use "shared";

@use "sass:color";

.diff-line-count, .diff-line-count-icon
{
  @include fonts.plaintext-font();
  @include shared.right-align(0px);
  text-align: right;
  margin: { top:0px; left:0px; bottom: 2px; right:2px; }
  padding: 2px;
  font-size: 11px;
  width: 20px;
  color: colors.$darker-color;
  border: 1px solid color.adjust(colors.$darker-color,$lightness: 6%, $space: hsl);
  border-radius: 3px;
  &.deleted, &.added, &.same { cursor:pointer; }
}

//- - - - - - - - - - - - - - - -

.diff-line-count.deleted,
.diff-line-count-icon.deleted
{
  background: colors.$diff-deleted-count-color;
  border: 1px solid colors.$diff-deleted-count-color;
}

.diff-line-count.added,
.diff-line-count-icon.added
{
  background: colors.$diff-added-count-color;
  border: 1px solid colors.$diff-added-count-color;
}

.diff-line-count.same,
.diff-line-count-icon.same
{
  background: colors.$diff-same-count-color;
  border: 1px solid colors.$diff-same-count-color;
}

//- - - - - - - - - - - - - - - -

.diff-line-count-icon
{
  cursor: default;
  text-align: center;
  margin: { top:2px; bottom:4px; }
}
