@use "colors";
@use "fonts";

@use "sass:color";


$hoverFadePercent: 5%;

.hover-tip
{
  @include fonts.plaintext-font();
  background: color.adjust(colors.$darker-color, $lightness: $hoverFadePercent, $space: hsl);
  z-index: 2000;
  position: fixed;
  color: color.adjust(colors.$lighter-color, $lightness: -6%, $space: hsl);
  border: 1px dotted color.adjust(colors.$darker-color, $lightness: 30%, $space: hsl);
  border-radius: 5px;
  font-size: 15px;
  padding: { top:5px; right:7px; bottom:5px; left:7px; }
  text-align: left;
  margin-top: 6px;
}

.hover-tip .diff-filename
{
  border: 1px solid color.adjust(colors.$darker-color, $lightness: $hoverFadePercent, $space: hsl);
  width: auto; min-width: 0; // reset width
}

.hover-tip .diff-filename.test-file     { color: steelblue; }
.hover-tip .diff-filename.non-test-file { color: white; }

.hover-tip .mini-text
{
  color: color.adjust(Gray,$lightness: 10%, $space: hsl);
  padding-left: 6px;
  font-size: 12px;
}

img.count-hover-tip
{
   width: 26px;
  height: 26px;
  margin-right: 0px;
}
img.diff-hover-tip
{
  width: 26px;
  height: 26px;
  border-radius: 13px;
  margin-right: 0px;
}

.count-hover-tip
{
  @include fonts.non-code-font();
  text-align: right;
  padding-right: 4px;
  font-size: 17px;
}
