@use "colors";
@use "common/hover-tip";
@use "fonts";

@use "sass:color";


$hoverFadePercent: 5%;

.hover-tip { position: fixed; }

.hover-tip .diff-filename
{
  border: 1px solid color.adjust(colors.$darker-color, $lightness: $hoverFadePercent, $space: hsl);
  width: auto; min-width: 0; // reset width
}

.hover-tip .diff-filename.test-file     { color: steelblue; }
.hover-tip .diff-filename.non-test-file { color: white; }

img.count-hover-tip
{
   width: 26px;
  height: 26px;
  margin-right: 0px;
}
img.diff-hover-tip
{
  width: 26px;
  height: 26px;
  border-radius: 13px;
  margin-right: 0px;
}

.count-hover-tip
{
  @include fonts.non-code-font();
  text-align: right;
  padding-right: 4px;
  font-size: 17px;
}
