@use "grid-sizes";

#kata-page
{
  display: flex;
  margin: { top:11px; left:0px; }

  .left-column
  {
    width: grid-sizes.$left-column-width; // Controls width of filenames
    height: grid-sizes.$column-height;
    max-height: grid-sizes.$column-height;
    display: inline-block;
    margin: { top:2px; }
  }
  .right-column
  {
    width: grid-sizes.$right-column-width;
    height: grid-sizes.$column-height;
    max-height: grid-sizes.$column-height;
    display: inline-block;
    vertical-align: top;
    margin-top: 2px;
  }
  .right-gutter
  {
    height: grid-sizes.$column-height;
    max-height: grid-sizes.$column-height;
    display: inline-block;
    margin: { left:grid-sizes.$right-column-left-margin; top:1px; }
  }
}
