@use "colors";
@use "selectable";

@use "sass:color";

#kata-page
{
  .tab-filenames
  {
    position: relative;
    top: 1px;
  }

  .tab
  {
    @include selectable.selectable();
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display: inline-block;
    margin: { left: 0px; right: 0px; }
    padding-right: 7px;
    position: relative;
    top: 2px;

    &.light
    {
      color: color.adjust(colors.$darker-color, $lightness: 10%, $space: hsl);
      background: white;
      border: 1px solid white;
    }
    &.dark
    {
      color: color.adjust(colors.$darker-color, $lightness: 50%, $space: hsl);
      background: black;
      border: 1px solid black;
    }
    &:not(.selected)
    {
      cursor: pointer;
      color: color.adjust(colors.$darker-color, $lightness: 50%, $space: hsl);
      background: color.adjust(colors.$darker-color, $lightness: 10%, $space: hsl);
      border: 1px solid color.adjust(colors.$darker-color, $lightness: 10%, $space: hsl);
      &:hover
      {
        border-left: 1px dotted color.adjust(colors.$darker-color, $lightness: 50%, $space: hsl);
        border-top: 1px dotted color.adjust(colors.$darker-color, $lightness: 50%, $space: hsl);
        border-right: 1px dotted color.adjust(colors.$darker-color, $lightness: 50%, $space: hsl);
      }
    }
    &.output { float: right; margin-left: 2px; }
  }
}
