#kata-page
{
  display: flex;
  margin: { top:41px; left:0px; }

  .left-column
  {
    width: $left-column-width; // Controls width of filenames
    height: $column-height;
    max-height: $column-height;
    display: inline-block;
    margin: { top:2px; }
  }
  .right-column
  {
    width: calc(100vw - 500px);
    height: $column-height;
    max-height: $column-height;
    display: inline-block;
    vertical-align: top;
    margin-top: 2px;
  }
  .right-gutter
  {
    height: $column-height;
    max-height: $column-height;
    display: inline-block;
    margin: { left:$right-column-left-margin; top:1px; }
    position: relative; // For charity/sponsor absolute:bottom
  }
}
