@use "colors";

@use "sass:color";

#predict-buttons-cell { margin-top: 1px; }

button.predict
{
  border-radius: 3px;
  width: 70px;
  margin-bottom: 3px;
  padding-left: 7px;
  font-size: 18px;
  font-weight: bold;
  color: color.adjust(Black, $lightness: 20%, $space: hsl);
  text-align: right;

  // Same colours as the traffic-light images.
  &.red
  {
    background: colors.$red-traffic-light-png;
    border-color: colors.$red-traffic-light-png;
    color: color.adjust(Black,$lightness: 10%, $space: hsl);
  }
  &.amber
  {
    background: colors.$amber-traffic-light-png;
    border-color: colors.$amber-traffic-light-png;
  }
  &.green
  {
    background: colors.$green-traffic-light-png;
    border-color: colors.$green-traffic-light-png;
  }

  &.red, &.amber, &.green
  {
    &:hover
    {
      border-style: dotted;
      border-color: color.adjust(Black, $lightness: 20%, $space: hsl);
    }
    &[disabled]
    {
      background: color.adjust(colors.$darker-color, $lightness: 20%, $space: hsl);
      border-color: color.adjust(colors.$darker-color, $lightness: 20%, $space: hsl);
      cursor: default;
      &:hover { border-color: color.adjust(colors.$darker-color, $lightness: 20%, $space: hsl); }
    }
  }
}
