@use "colors";
@use "fonts";
@use "grid-sizes";

#review-page
{
  .review-grid
  {
    display: flex;
    @include fonts.non-code-font();
    margin: { top:9px; left:2px; }
    padding: 0px;
    background: colors.$darker-color;
    color: colors.$lighter-color;
  }

  .left-column
  {
    width: grid-sizes.$left-column-width; // Prevents movement when diff checkbox toggles
    position: relative;        // For avatar-navigator absolute:right    
  }

  .right-gutter
  {
    height: grid-sizes.$column-height;
    max-height: grid-sizes.$column-height;
    display: inline-block;
    margin: { left:grid-sizes.$right-column-left-margin; top:1px; }
    position: relative; // For charity/sponsor absolute:bottom
  }
}
