
<script type="text/javascript"><!--

$(function() {

  var createDojo = function() {
    $.getJSON('/setup_custom_start_point/save', cd.chosenMajorMinor(), function(dojo) {
      cd.newDojoDialog(dojo.id, 'from_setup');
    });
  };

  $('#ok').click(function() {
    $.getJSON('/setup_custom_start_point/pull_needed', cd.chosenMajorMinor(), function(dojo) {
      if (dojo.pull_needed) {
        cd.dialog_pullImageThen('/setup_custom_start_point/pull', createDojo);
      } else {
        createDojo();
      }
    });
  });

});

//--></script>

<button type="button" id="ok">create it</button>



