
<script type="text/javascript"><!--

$(function() {

  $('#create-it').click(function() {
    var setupParams = cd.chosenMajorMinor();
    $.getJSON('/setup_custom_start_point/save', setupParams, function(dojoParams) {
      cd.newDojoDialog(dojoParams, 'from_setup');
    });
  });

});

//--></script>

<button type="button" id="create-it">set it up</button>



