
<script type="text/javascript"><!--

$(function() {

  $('button#ok').click(function() {
    const display_name = $('[id^=custom_][class~=selected]').data('name');
    const url = '/setup_custom_start_point/save_<%= @from %>' +
      '?display_name=' + encodeURIComponent(display_name);
    window.location.href = cd.homePageUrl('<%= @kata_id %>');
    window.open(url);
  });

});

//--></script>

<button type="button" id="ok">
ok
</button>

