
<script type="text/javascript"><!--

$(function() {

  var createDojo = function() {
    var params = cd.chosenMajorMinor();
    $.getJSON('/setup_custom_start_point/save', params, function(dojo) {
      cd.newDojoDialog(dojo.id, 'from_setup');
    });
  };

  $('#create-it').click(function() {
    var params = cd.chosenMajorMinor();
    params['type'] = 'custom'
    $.getJSON('/image_puller/pull_needed', params, function(pull) {
      if (pull.needed) {
        cd.dialog_pullImageThen('/image_puller/pull', params, createDojo);
      } else {
        createDojo();
      }
    });
  });

});

//--></script>

<button type="button" id="create-it">set it up</button>



