
<script type="text/javascript"><!--

$(function() {

  var createDojo = function() {
    var params = cd.chosenMajorMinor();
    $.getJSON('/setup_custom_start_point/save', params, function(dojo) {
      cd.newDojoDialog(dojo.id, 'from_setup');
    });
  };

  $('#create-it').click(function() {
    var params = cd.chosenMajorMinor();
    params['type'] = 'custom'
    cd.dialog_pullImageIfNeededThen(params, createDojo);
  });

});

//--></script>

<button type="button" id="create-it">set it up</button>



