
<script type="text/javascript"><!--

$(function() {

  var createDojo = function() {
    $.getJSON('/setup_custom_start_point/save', cd.chosenMajorMinor(), function(dojo) {
      cd.newDojoDialog(dojo.id, 'from_setup');
    });
  };

  $('#create-it').click(function() {
    $.getJSON('/image_puller/custom_pull_needed', cd.chosenMajorMinor(), function(pull) {
      if (pull.needed) {
        cd.dialog_pullImageThen('/image_puller/custom_pull', createDojo);
      } else {
        createDojo();
      }
    });
  });

});

//--></script>

<button type="button" id="create-it">set it up</button>



