
<script type="text/javascript"><!--

$(function() {

  const button = $('#create-it');
  button.click(function() {
    const setupParams = cd.chosenMajorMinor();
    const cursor = button.css('cursor');
    button.css('cursor', 'wait');
    button.prop('disabled', true);
    $.getJSON('/setup_custom_start_point/save', setupParams, function(dojoParams) {
      const from = "from_setup_<%= @from %>";
      cd.newDojoDialog(dojoParams, from);
      button.css('cursor', cursor);
      button.prop('disabled', false);
    });
  });

});

//--></script>

<button type="button" id="create-it">
ok
</button>

