
<script type="text/javascript"><!--

$(function() {

  const setItUp = function(who) {
    const from = 'from_setup_' + who;
    const button = $('#create-it-' + who);
    button.click(function() {
      const setupParams = cd.chosenMajorMinor();
      const cursor = button.css('cursor');
      button.prop('disabled',true).css('cursor','wait');
      $.getJSON('/setup_custom_start_point/save', setupParams, function(dojoParams) {
        cd.newDojoDialog(dojoParams, from);
      });
    });
  };

  setItUp('team');
  setItUp('individual')
  cd.setupHoverTip($('[data-tip]'));

});

//--></script>

<button type="button"
        id="create-it-individual"
        data-tip="individual<br/>practice">
set it up &amp;<br/>start programming
</button>

<button type="button"
        id="create-it-team"
        data-tip="team<br/>practice">
set it up &amp;<br/>show the hex-id
</button>

