
<div id="setup-start-point-page">

  <div id="setup-a-practice-session">
    create&nbsp;<%= @from=='individual' ? 'my' : 'our' %>&nbsp;new&nbsp;custom&nbsp;session
  </div>

  <table class="align-center">
    <tr>
      <td><%= render partial: 'display_names_list' %></td>
    </tr>
  </table>

  <div id="button-container">
    <%= render partial: 'ok_button' %>
  </div>

</div>

<%= render partial: 'shared/app_bar_short',
    locals: { help_url: "http://blog.cyber-dojo.org/p/learn-more.html" } %>

