
<%= render partial: 'shared/language_chooser' %>

<div id="setup-language-page">

  <div id="pull-spinner">
    <img src="/images/rotate-cyber-dojo.gif"
         alt="spinner"
         width="150"
         height="150"/>
  </div>

  <table>
    <tr class="valign-top">
      <td colspan="3">
        <div id="setup-a-practice-session">          setup&nbsp;a&nbsp;new&nbsp;practice&nbsp;session&nbsp;from&nbsp;a&nbsp;<em>custom</em>&nbsp;&nbsp;start&nbsp;position
        </div>
      </td>
    </tr>
    <tr class="valign-top">
      <td id="info-container">
      </td>
      <td id="languages-container">
        <%= render partial: 'shared/languages_list' %>
      </td>
      <td id="tests-container">
        <%= render partial: 'shared/tests_list' %>
      </td>
    </tr>
    <tr class="valign-top">
      <td colspan="3" align="right">
        <%= render partial: 'ok_button' %>
      </td>
    </tr>
  </table>

</div>


