<div id="setup-start-point-page">

  <%= render partial: 'heading' %>

  <table class="align-center">
    <tr>
      <td><%= render partial: 'display_names_list' %></td>
    </tr>
  </table>

  <div id="button-container">
    <%= render partial: 'ok_button' %>
  </div>

</div>

<%= render partial: 'shared/app_bar_short',
    locals: { help_url: "http://blog.cyber-dojo.org/p/learn-more.html" } %>

