
<div id="setup-start-point-page">

  <div id="pull-spinner"></div>

  <table>
    <tr class="valign-top">
      <td align="right">
        <div id="setup-a-practice-session">
          create&nbsp;<%= @from=='individual' ? 'my' : 'our' %>&nbsp;new&nbsp;custom&nbsp;session
        </div>
      </td>
    </tr>
    <tr class="valign-top">
      <td align="right" id="start-points-custom-container">
        <%= render partial: 'display_names_list' %>
      </td>
    </tr>
    <tr class="valign-top">
      <td align="right">
        <%= render partial: 'ok_button' %>
      </td>
    </tr>
  </table>

</div>

<%= render partial: 'shared/app_bar_short',
    locals: { help_url: "http://blog.cyber-dojo.org/p/learn-more.html" } %>

