
<script type="text/javascript"><!--

$(function() {

  var page = $('#setup-page');

  $('#ok').click(function() {
    var language = $('[id^=language_][class~=selected]').data('language');
    var exercise = $('[id^=test_][class~=selected]').data('test');
    $.getJSON('/setup/save_exercise', {
          language: language,
          exercise: exercise,
      }, function(dojo) {
          cd.newDojoDialog(dojo.id);
    });
  });

});

//--></script>

<button type="button" id="ok">ok</button>
