
<script type="text/javascript"><!--

$(function() {

  var createDojo = function() {
    $.getJSON('/setup/exercise_save', cd.chosenLanguageAndTest(), function(dojo) {
      cd.newDojoDialog(dojo.id);
    });
  };

  $('#ok').click(function() {
    $.getJSON('/setup/exercise_pull_needed', cd.chosenLanguageAndTest(), function(dojo) {
      if (dojo.pull_needed) {
        cd.dialog_pullImageThen('/setup/exercise_pull', createDojo);
      } else {
        createDojo();
      }
    });
  });

});

//--></script>

<button type="button" id="ok">ok</button>



