
<script type="text/javascript"><!--

$(function() {

  $('#ok').click(function() {
    var params = {
      language: "<%= @language %>",
          test: "<%= @test %>",
      exercise: $('[id^=exercise_][class~=selected]').data('exercise'),
    };
    $.getJSON('/setup/language_save', params, function(dojo) {
      cd.newDojoDialog(dojo.id);
    });
  });

});

//--></script>

<button type="button" id="ok">ok</button>
