
<%= render partial: 'language_chooser' %>

<div id="setup-language-page">

  <table>
    <tr class="valign-top">
      <td colspan="3">
        <div id="setup-a-practice-session">
          setup&nbsp;a&nbsp;custom&nbsp;practice&nbsp;session
        </div>
      </td>
    </tr>
    <tr class="valign-top">
      <td id="info-container">
      </td>
      <td id="languages-container">
        <%= render partial: 'languages_list' %>
      </td>
      <td id="tests-container">
        <%= render partial: 'tests_list' %>
      </td>
    </tr>
    <tr class="valign-top">
      <td colspan="3" align="right">
        <%= render partial: 'exercises_ok_button' %>
      </td>
    </tr>
  </table>

</div>


