
<%= render partial: 'exercise_chooser' %>

<div id="setup-exercise-page">

  <table>
    <tr>
      <td>
        <div id="setup-a-practice-session">
setup&nbsp;a&nbsp;new&nbsp;practice&nbsp;session&nbsp;from&nbsp;a&nbsp;<em>default</em>&nbsp;&nbsp;start&nbsp;position&nbsp;
        </div>
      </td>
    </tr>
    <tr>
      <td align="right">
        <table>
          <tr id="exercises-container">
            <td>
              <%= render partial: 'exercises_list' %>
            </td>
            <td>
              <%= render partial: 'exercises_instructions' %>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr class="valign-top">
      <td align="right">
        <%= render partial: 'ok_button' %>
      </td>
    </tr>
  </table>

</div>


