.collapsed-columns
{
     display: inline-block;
   font-size: 12px;
       color: lighten(black,40%);
      margin: { left:6px; right:6px; bottom:6px; }
     padding: { top:4px; }
  $ellipsis: "\2026";
  &:after { content:$ellipsis; }
}
