#-----Ignore everything

*

-#-----!Except these files

# {bundle install} in the Dockerfile (inside Travis pipeline) needs Gemfile
# but does _not_ need Gemfile.lock which is for a local server and not for
# the Travis server running inside a docker container
!Gemfile