
#app-bar
{

  @include plaintext-font();
  background: lighten($darker-color, 6%);
       color: $lighter-color;
   font-size: 1.05em;
       width: 100%;
      height: 30px;
  text-align: left;
     padding: { left: 7px; top: 0px; bottom: 2px; }
    position: fixed;
      bottom: 0px;
     z-index: 1000;

  #version-box
  {
    margin: { right: 4px; }
  }

  #tweet-box #twitter-widget-0
  {
    position: relative;
         top: 5px;
      margin: { top: 7px; right: 4px; }
  }

  #accu-box #accu-image
  {
    @include rounded-corner(3px);
    background: CornSilk;
       padding: 5px;
         width: 50px;
        margin: { top: 7px; right: 4px; }
  }

  #cucumber-box #cucumber-image
  {
    padding: 0px;
     height: 27px;
     margin: { left: 0px; right: 4px; }
  }

  #praqma-box #praqma-image
  {
    @include rounded-corner(3px);
    padding: 0px;
     height: 15px;
     margin: { top: 7px; right: 0px; }
  }

  #help-button, #hotkeys-button, #options-button, #dashboard-button
  {
    @include rounded-corner(4px);
       padding: { left: 7px; right: 7px; }
        margin: { top: 4px; right: 0px; }
         color: darken($darker-color, 10%);
     font-size: 0.60em;
  }

  #info
  {
    #display-name-box,
    #exercise-name-box,
    #id-box,
    #group-id-box,
    #avatar-name-box
    {
      font-size: 0.70em;
      @include edged-panel();
      position: relative; top: -2px; // up
      margin-right: 3px;
    }
    #avatar-image-box
    {
      display: inline;
      img.avatar-image {
        @include rounded-corner(6px);
         cursor: default;
          width: 22px;
         height: 22px;
         margin: 0px;
        padding: 0px;
        position: relative; top: 5px; // down
      }
    }
    #dashboard-button
    {
      position: relative; top: -2px; // up
    }
  }
}
