
#app-bar
{
  @include plaintext-font();
     display: flex;
  background: lighten($darker-color, 8%);
       color: $lighter-color;
   font-size: 1.05em;
       width: 100%;
      height: 23px;
  text-align: left;
     padding: { left: 35px; top: 4px; bottom: 3px; }
    position: fixed;
         top: 0px;
     z-index: 1000;

  #display-name-box, #exercise-name-box, #id-box, #group-id-box
  {
    @include edged-panel();
    font-size: 10px;
    cursor: default;
    background: $darker-color;
    display: inline-table;
    margin: { left:3px; right:3px; }
    white-space: nowrap;
  }

  #tweet-box
  {
    position:relative;
    top:1px;
    #twitter-widget-0 { margin: { top:0px; left:3px; right:3px; } }
    margin: { left:3px; right:3px; top:0px; bottom:0px; }
  }

  #praqma-box #praqma-image
  {
    @include rounded-corner(2px);
    padding: 0px;
     height: 15px;
     margin: { top:0px; left:3px; right:3px; }
     position: relative;
     top: 3px;
  }

  #cucumber-box #cucumber-image
  {
    padding: 0px;
     height: 19px;
     margin: { left:3px; right:3px; }
  }

  #accu-box #accu-image
  {
    @include rounded-corner(3px);
    background: CornSilk;
       padding: 5px;
         width: 50px;
        margin: { top:0px; left:3px; right:3px; }
        position: relative;
        top: 2px;
  }

  #theme-button, #colour-button,
  #charity-button, #feedback-button,
  #dashboard-button, #help-button, #hotkeys-button, #shas-button,
  #predict-button
  {
    @include rounded-corner(4px);
       display: block;
       padding: { left:7px; right:7px; top:0px; bottom:1px; }
        margin: { top:0px; bottom:0px; left:3px; right:3px; }
         color: darken($darker-color, 10%);
     font-size: 10px;
        height: 17px;
        position: relative;
        top: 2px;
  }

  // These buttons are switched in the kata/edit page.
  #theme-button, #colour-button, #hotkeys-button, #predict-button { display:none; }

}

#charity-dialog, #feedback-dialog
{
  a { color: khaki !important; }
}
#charity-dialog li { margin-top: 10px; }
