
#app-bar
{
  @include plaintext-font();
  background: lighten($darker-color, 8%);
       color: $lighter-color;
   font-size: 1.05em;
       width: 100%;
      height: 30px;
  text-align: left;
     padding: { left: 35px; top: 0px; bottom: 2px; }
    position: fixed;
      top: 0px;
     z-index: 1000;

  #tweet-box #twitter-widget-0
  {
    position: relative;
         top: 5px;
      margin: { top: 7px; left: 4px; right: 4px; }
  }

  #accu-box #accu-image
  {
    @include rounded-corner(3px);
    background: CornSilk;
       padding: 5px;
         width: 50px;
        margin: { top: 7px; right: 4px; }
  }

  #cucumber-box #cucumber-image
  {
    padding: 0px;
     height: 27px;
     margin: { left: 0px; right: 4px; }
  }

  #praqma-box #praqma-image
  {
    @include rounded-corner(3px);
    padding: 0px;
     height: 15px;
     margin: { top: 7px; right: 0px; }
  }

  #help-button, #hotkeys-button, #theme-button, #dashboard-button
  {
    @include rounded-corner(4px);
       padding: { left: 7px; right: 7px; }
        margin: { bottom: 3px; top: 3px; right: 0px; }
         color: darken($darker-color, 10%);
     font-size: 0.60em;
  }

  #display-name-box,
  #exercise-name-box,
  #id-box,
  #group-id-box
  {
    font-size: 0.70em;
    @include edged-panel();
    cursor: default;
    background: $darker-color;
  }
}
