$filename_and_button_border_size: 1px;

button
{
  @include rounded-corner(6px);
  @include gradient-lighten(darken($lighter-color, 12%), 9%, 2%, 0%);

          display: inline-block;
           cursor: pointer;
          padding: { left: 0.5em; right: 0.5em; bottom: 0.1em; }
  text-decoration: none;
      font-weight: normal;
           border: $filename_and_button_border_size solid lighten($darker-color, 35%);

  &:hover { border: $filename_and_button_border_size dotted lighten($darker-color, 35%); }
  &[disabled] {
    background: lighten($darker-color, 20%);
        cursor: default;
    &:hover { border: $filename_and_button_border_size solid lighten($darker-color,35%); }
  }
}
