.charity-button
{
  border-radius: 3px;
  padding: { left:7px; right:7px; top:0px; bottom:1px; }
  margin: { top:0px; bottom:0px; left:8px; right:3px; }
  color: darken($darker-color, 10%);
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.03em;
  width: 84px;
  text-align: center;
}

#charity-dialog
{
  a { color: khaki !important; }
  li { margin-top: 10px; }
}
