
#predict-checkbox-container,
#revert-checkbox-container,
#diff-checkbox-container
{
  @include edged-panel();
  background: lighten($darker-color,10%);
    margin: 0px;
   padding: { top:4px; bottom:0px; right:0px; }
  position: relative;
       top: 1px;
   display: inline;
}

#predict-checkbox-container { width:55px; }
#diff-checkbox-container    { width:55px; }
#revert-checkbox-container  { width:120px; }

#predict-checkbox-container { margin: { left:2px; right:4px; } }

#predict-checkbox-title,
#revert-checkbox-title,
#diff-checkbox-title
{
  @include plaintext-font();
       cursor: pointer;
    font-size: 12px;
      display: inline;
     position: relative;
       bottom: 3px;
}

#predict-checkbox,
#revert-checkbox,
#diff-checkbox
{
  width: 15px;
  height: 15px;
  -moz-transform: scale(1.1);
  cursor: pointer;
  position: relative;
  top: -3px;
}
