
#predict-checkbox-container,
.revert-checkbox-container,
#diff-checkbox-container
{
  @include edged-panel();
  background: lighten($darker-color,30%);
    margin: 0px;
   padding: { top:4px; bottom:0px; right:0px; }
   display: inline;
}

#predict-checkbox-container { max-width:50px; }
.revert-checkbox-container  { max-width:96px; }
#diff-checkbox-container    { max-width:55px; }

#predict-checkbox-container,
.revert-checkbox-container
{
  background: lighten($darker-color,35%);
  margin: { left:0px; right:0px; }
}

#predict-checkbox-container
{
  padding: { left:4px; right:5px; top:7px; bottom:4px; }
}

#predict-checkbox-title,
#revert-checkbox-title,
#diff-checkbox-title
{
       cursor: pointer;
    font-size: 12px;
      display: inline;
     position: relative;
       bottom: 3px;
         left: 3px;
}

#predict-checkbox-title,
{
  font-size: 12px;
  font-family: sans-serif;
  color: Black;
  position: relative;
    bottom: 2px;
  padding-left: 0px;
}

#revert-checkbox-title,
#diff-checkbox-title
{
  @include plaintext-font();
}

#revert-checkbox-title
{
  font-size: 14px;
  font-family: sans-serif;
  padding-left: 0px;
  position:relative;
  top:0px;
}

#predict-checkbox,
#diff-checkbox
{
  width: 15px;
  height: 15px;
  -moz-transform: scale(1.1);
  cursor: pointer;
  position: relative;
  top: -3px;
}

#predict-checkbox
{
  position: relative;
  top: -2px;
}
