
#predict-checkbox-container
{
  display: inline;
  border-radius: 5px;
  //width: 125px;
  color: Black;
  background: lighten($darker-color,50%);
  border: 2px solid lighten($darker-color,50%);
  padding: { left:3px; right:1px; top:3px; bottom:2px; }
  margin: 0px;
  &:hover { border: 2px dotted Black; }
}

#predict-checkbox-title,
{
  display: inline;
  font: bold 16px sans-serif;
  color: Black;
  position: relative;
    bottom: 1px;
  padding-left: 4px;
  cursor: pointer;
}

#predict-checkbox,
{
  width: 15px;
  height: 15px;
  -moz-transform: scale(1.1);
  cursor: pointer;
  position: relative;
  top: -2px;
}

//- - - - - - - - - - - - - - - - - - -

#revert-checkbox-title
{
  display: inline;
  border-radius: 5px;
  background: lighten($darker-color,50%);
  border: 2px solid lighten($darker-color,50%);
  font: bold 12px sans-serif;
  color: Black;
  padding: { left:4px; top:4px; bottom:3px; right:6px; }
  margin-left: 2px;
  position: relative;
  top: -2px;
}

.revert-checkbox-container
{
  display: inline-block;
  color: Black;
  cursor: pointer;
  background: lighten($darker-color,50%);
  border: none;
  margin-left: 2px;
  padding-right: 1px;
  border-radius:3px;
  &:hover
  {
    border: 2px dotted Black;
  }
}

.revert-checkbox
{
  cursor: pointer;
  width: 11px;
  height: 13px;
}

//- - - - - - - - - - - - - - - - - - -

#diff-checkbox-container
{
  @include edged-panel();
  background: lighten($darker-color,30%);
    margin: 0px;
   padding: { top:4px; bottom:0px; right:0px; }
   display: inline;
   max-width:55px;
}

#diff-checkbox-title
{
  @include plaintext-font();
  cursor: pointer;
  font-size: 12px;
  display: inline;
  position: relative;
  bottom: 3px;
  left: 3px;
}

#diff-checkbox
{
  width: 15px;
  height: 15px;
  -moz-transform: scale(1.1);
  cursor: pointer;
  position: relative;
  top: -3px;
}
