// Based on atom-material-syntax-dark

$darken-percentage: 25%;

$green:             darken(#C3E88D, $darken-percentage);
$teal:              darken(#009688, $darken-percentage);
$light-teal:        darken(#73d1c8, $darken-percentage);
$cyan:              darken(#89DDF3, $darken-percentage);
$blue:              darken(#82AAFF, $darken-percentage);
$indigo:            darken(#7986CB, $darken-percentage);
$purple:            darken(#C792EA, $darken-percentage);
$pink:              darken(#FF5370, $darken-percentage);
$red:               darken(#F07178, $darken-percentage);
$strong-orange:     darken(#F78C6A, $darken-percentage);
$orange:            darken(#FFCB6B, $darken-percentage);
$light-orange:      darken(#FFE082, $darken-percentage);

$syntax-text-color: $very-dark-gray;
$syntax-background-color: white;
$syntax-comment-color: $light-gray;

.cm-s-cyber-dojo-light-colour-on.CodeMirror
{
  background: $syntax-background-color;
  color: $syntax-text-color;
}

.cm-s-cyber-dojo-light-colour-on .CodeMirror-lines
{
  min-height: 1px; /* prevents collapsing before first draw */
}

.cm-s-cyber-dojo-light-colour-on .CodeMirror-linenumber,
.cm-s-cyber-dojo-light-colour-on .CodeMirror-linenumbers,
.cm-s-cyber-dojo-light-colour-on .CodeMirror-gutters
{
  background: darken($syntax-background-color, 2%);
  color: lighten($syntax-text-color, 30%);
}

.cm-s-cyber-dojo-light-colour-on .CodeMirror-gutters
{
  border-right: 0px;
}

.cm-s-cyber-dojo-light-colour-on div.CodeMirror-selected
{
  background: darken($syntax-background-color, 10%);
}

.cm-s-cyber-dojo-light-colour-on .CodeMirror-cursor
{
  border-left: 1px solid $syntax-text-color;
}

$default: $syntax-text-color;

.cm-s-cyber-dojo-light-colour-on .cm-header {color: $blue;}
.cm-s-cyber-dojo-light-colour-on .cm-quote {color: $default;}
.cm-s-cyber-dojo-light-colour-on .cm-negative {color: $default;}
.cm-s-cyber-dojo-light-colour-on .cm-positive {color: $default;}
.cm-s-cyber-dojo-light-colour-on .cm-header, .cm-strong {font-weight: bold;}
.cm-s-cyber-dojo-light-colour-on .cm-em {font-style: italic;}
.cm-s-cyber-dojo-light-colour-on .cm-link {text-decoration: underline;}
.cm-s-cyber-dojo-light-colour-on .cm-strikethrough {text-decoration: line-through;}

.cm-s-cyber-dojo-light-colour-on .cm-keyword {color: $purple;}
.cm-s-cyber-dojo-light-colour-on .cm-atom {color: $default;}
.cm-s-cyber-dojo-light-colour-on .cm-number {color: $strong-orange;}
.cm-s-cyber-dojo-light-colour-on .cm-def {color: $blue;}
.cm-s-cyber-dojo-light-colour-on .cm-variable,
.cm-s-cyber-dojo-light-colour-on .cm-punctuation,
.cm-s-cyber-dojo-light-colour-on .cm-property  {color: $blue;}
.cm-s-cyber-dojo-light-colour-on .cm-operator {color: $cyan;}
.cm-s-cyber-dojo-light-colour-on .cm-variable-2 {color: $blue;}
.cm-s-cyber-dojo-light-colour-on .cm-variable-3 {color: $blue;}
.cm-s-cyber-dojo-light-colour-on .cm-type {color: $purple;}
.cm-s-cyber-dojo-light-colour-on .cm-comment {color: $syntax-comment-color;}
.cm-s-cyber-dojo-light-colour-on .cm-string {color: $red;}
.cm-s-cyber-dojo-light-colour-on .cm-string-2 {color: $red;}
.cm-s-cyber-dojo-light-colour-on .cm-meta { color: $green; }
.cm-s-cyber-dojo-light-colour-on .cm-qualifier {color: $default;}
.cm-s-cyber-dojo-light-colour-on .cm-builtin {color: $purple;}
.cm-s-cyber-dojo-light-colour-on .cm-bracket {color: $default;}
.cm-s-cyber-dojo-light-colour-on .cm-tag {color: $default;}
.cm-s-cyber-dojo-light-colour-on .cm-attribute {color: $default;}
.cm-s-cyber-dojo-light-colour-on .cm-hr {color: $default;}
.cm-s-cyber-dojo-light-colour-on .cm-link {color: $default;}

.cm-s-cyber-dojo-light-colour-on .cm-tab
{
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QceFzkFdK1S+wAAACR0RVh0Q29tbWVudABUYWIgY2hhcmFjdGVyIGZvciBjeWJlci1kb2pvbQcIaAAAAE5JREFUSMftkjEOACAMAltfyFP5YZ1cHGoXk2K8kYkLmH3uACAq2VCTkBKoSAzVOy28MlMnSLrcAhmuchuSDiAkF9hLSwlk5dsLnMo/wQQwlBvvo1+QQQAAAABJRU5ErkJggg==);
  background-position: right;
  background-repeat: no-repeat;
}

.cm-s-cyber-dojo-light-colour-on .cm-error {color: #f00;}
.cm-s-cyber-dojo-light-colour-on .cm-invalidchar {color: #f00;}

.cm-s-cyber-dojo-light-colour-on span.CodeMirror-matchingbracket {color: #0f0;}
.cm-s-cyber-dojo-light-colour-on span.CodeMirror-nonmatchingbracket {color: #f22;}
.cm-s-cyber-dojo-light-colour-on .CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.cm-s-cyber-dojo-light-colour-on .CodeMirror-activeline-background {background: #414141;}
