
table { border-spacing: 0; }

#cyber-dojo-page
{
  font-size: 0.9em;
     margin: { top: 0.3em; left: 0.3em; }
      color: $lighter-color;
}

body
{
  @include non-code-font();
  background: $darker-color;
     padding: none;
      margin: 0px;
}

.panel
{
  background: $darker-color;
       color: $lighter-color;
      border: 1px solid lighten($darker-color, 8%);
     padding: 5px;
      margin: { left: 10px; right: 10px; bottom: 1px; }
}

.avatar-image
{
  margin: { left: 0px; right: 1px; top: 0px; bottom: 0px; }
  cursor: pointer;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - -

$filename_and_button_border_size: 1px;

button
{
  @include rounded-corner(6px);
  @include gradient-lighten(darken($lighter-color, 12%), 9%, 2%, 0%);

          display: inline-block;
           cursor: pointer;
          padding: { left: 0.5em; right: 0.5em; bottom: 0.1em; }
  text-decoration: none;
      font-weight: normal;
           border: $filename_and_button_border_size solid $darker-color;

  &:hover { border: $filename_and_button_border_size dotted lighten($darker-color, 20%); }
  &[disabled] {
    background: lighten($darker-color, 20%);
        cursor: default;
    &:hover { border: $filename_and_button_border_size solid $darker-color; }
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.filename_div { display: none; }

div[class~='filename'] { @include wide-list-item(); }

// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.file_content, .diff_line_numbers, #instructions { @include code-font; }

.file_content
{
   background: lighten($darker-color, 4%);
       height: 560px;
        width: 690px;
       border: 0px;
       margin: 0px;
      display: block;
     overflow: auto;
        color: $lighter-color;
  font-weight: 500;
      padding: { left: 2px; top: 2px; right: 0px; bottom: 0px; }
      outline: none;
       cursor: text;
       resize: none;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

  &[data-filename=output] { cursor: default; }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.dialog
{
  background: $lighter-color;
       color: $darker-color;
     display: table;
      margin: { top: 0; bottom: auto; left: 45px; right: 45px; }

  a:link, a:visited { color: $lighter-color; }

  &.title
  {
    @include non-code-font();
    position: relative;
        left: -45px;
  }
}
