
#dashboard-page
{
  margin: { left: 35px; top: 40px; }

  #age-box, #auto-refresh-box, #minute-columns-box
  {
    @include edged-panel();
    background: lighten($darker-color,8%);
    @include right-align(15px);
    @include plaintext-font();
    cursor: pointer;
    font-size: 13px;
     margin: { bottom: 0px; left: 0px; right: 15px; }
    display: inline-block;
  }
  #age-box
  {
    cursor: default;
    padding: { top: 7px; bottom: 6px; }
    position: relative;
    top: -1px;
  }
  #age
  {
    text-align: center;
    font-size: 13px;
  }

  #auto-refresh-checkbox, #minute-columns-checkbox
  {
    width: 15px;
    height: 15px;
    zoom: 1.2; // Safari
    -moz-transform: scale(1.2);
    cursor: pointer;
  }

  #progress-button-box
  {
    @include right-align(15px);
    text-align: right;
    margin-left: 10px;
    #progress-button
    {
      @include plaintext-font();
      @include font-size-tiny();
         padding: { top: 1px; bottom: 2px; left: 9px; right: 9px; }
      text-align: left;
        position: relative;
             top: -7px;
    }
  }

  .traffic-light-count { padding-left: 0px; }

  .table-scroll
  {
    max-width: 1000px;
    max-height: 520px;
    z-index: 1;
    overflow-x: auto;
    overflow-y: auto;
    table
    {
      width: 100%;
      height: 100%;
      margin: auto;
      border-collapse: separate;
      border-spacing: 0;
      // stop cells expanding to fill max-width which looks
      // wrong on a new dashboard with only a few traffic-lights
      display: inline-block !important;
    }
    th, td { vertical-align: middle; }
    thead th
    { // fix vertical positions of time-tick column headings
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      background: $darker-color; // overlay what scrolls underneath
    }
    th:nth-child(1)
    { // fix horizontal position of
      position: sticky; // [avatar-image] (pie-chart) traffic-light-count
      position: -webkit-sticky;
      z-index: 2;
      background: $darker-color; // overlay what scrolls underneath
      left: 0px;
    }
    thead th:nth-child(1) { z-index: 5; }
  }

  #traffic-lights
  {
    img.revert, img.tick, img.cross
    {
      width:11px;
      height:11px;
      padding-top:11px;
      position:relative;
      left:2px;
    }

    .time-tick
    {
      @include non-code-font();
         display: block;
      text-align: center;
       font-size: 13px;
           color: lighten(black,60%);
      background: $darker-color; // overlay what scrolls underneath
      $down-triangle: "\25BF";
      &:after { content: $down-triangle; }
    }
    .fixed-column
    {
      display: flex;
      .avatar-image img
      {
         width: 26px;
        height: 26px;
      }
      .traffic-light-count-wrapper
      {
        width: 40px;
        .traffic-light-count
        {
          text-align: right;
        }
      }
    }
    .column
    {
      padding: 0px;
       border: { bottom: dotted lighten($darker-color, 3%) 1px; }
      &.odd  { background: lighten($darker-color,  5%); }
      &.even { background: lighten($darker-color, 11%); }
    }
    .minute-box
    {
             display: flex;
               float: left;
      vertical-align: middle;
      .collapsed-multi-gap
      {
               display: inline-block;
             font-size: 12px;
                 color: lighten(black,40%);
                margin: { left: 6px; right: 6px; bottom: 6px; }
        vertical-align: middle;
        $ellipsis: "\2026";
        &:after { content: $ellipsis; }
      }
    }
  }
}

#progress-dialog
{
  padding-top: 0px;
  .animal.odd  { background: lighten($darker-color,3%); }
  .animal.even { background: lighten($darker-color,6%); }
  .progress
  {
    white-space: nowrap;
        padding: { left: 5px; right: 5px; }
  }
}

.traffic-light-diff-tip-tag
{
  @include non-code-font;
       font-size: 12px;
       text-align: right;
}

.traffic-light-diff-tip-traffic-light-image
{
  height: 22px;
   width: 22px;
   margin-right:4px;
}

.traffic-light-diff-tip-avatar-image
{
  @include rounded-corner(4px);
   width: 26px !important;
  height: 26px !important;
}

.traffic-light-diff-tip-line-count-deleted,
.traffic-light-diff-tip-line-count-added
{
  @include rounded-corner(4px);
  @include right-align(0px);
  @include diff-line-count;
  @include non-code-font;
  color: $darker-color;
  border: 1px solid lighten($darker-color,6%);
}

.traffic-light-diff-tip-line-count-deleted
{
  background: $diff-deleted-count-color;
}
.traffic-light-diff-tip-line-count-added
{
  background: $diff-added-count-color;
}

.d-for-days, .m-for-minutes, .h-for-hours
{
  font-size: 10px;
}
