
#dashboard-page {

  margin: 45px;

  #age {
    @include non-code-font();
    text-align: center;
    font-size: 13px;
  }

  #age-box, #auto-refresh-box, #minute-columns-box {
    @include edged-panel();
    @include right-align(15px);
     margin: { bottom: 10px; left: 15px; right: 0px; }
    display: inline-block;
  }
  #age-box {
    padding: { top: 8px; bottom: 8px; }
    position: relative;
    top: -1px;
  }

  #progress-button-box, #download-button-box {
    @include right-align(15px);
    text-align: right;
    margin-left: 10px;
    #progress-button, #download-button {
      @include non-code-font();
       font-size: 1em;
         padding: { bottom: 2px; left: 9px; right: 9px; }
      text-align: left;
        position: relative;
             top: -7px;
    }
  }

  .table-scroll {
    width: 1000px;
    max-height: 500px;
    z-index: 1;
    overflow-x: auto;
    overflow-y: auto;
    table {
      width: 100%;
      height: 100%;
      margin: auto;
      border-collapse: separate;
      border-spacing: 0;
    }
    th, td {
      vertical-align: middle;
    }
    thead th {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      background: $darker-color; /* overlay element scrolling underneath */
    }
    th:nth-child(1), th:nth-child(2), th:nth-child(3) {
      position: -webkit-sticky;
      position: sticky;
      z-index: 2;
      background: $darker-color; /* overlay element scrolling underneath */
    }
    th:nth-child(1) { left:  0px; }
    th:nth-child(2) { left: 40px; }
    th:nth-child(3) { left: 65px; }
    thead th:nth-child(1),
    thead th:nth-child(2),
    thead th:nth-child(3) {
      z-index: 5;
    }
  }

  #traffic-lights {
    .time-tick {
      display: block;
      @include non-code-font();
      text-align: center;
      font-size: 13px;
      color: lighten(black,60%);
      background: $darker-color; /* overlay element scrolling underneath */
      $down-triangle: "\25BF";
      &:after { content: $down-triangle; }
    }
    .column {
      padding: 0px;
       border: { bottom: dotted lighten($darker-color, 3%) 1px; }
      &.odd  { background: lighten($darker-color,  5%); }
      &.even { background: lighten($darker-color, 11%); }
    }
    .collapsed-multi-gap {
        display: inline-block;
      font-size: 12px;
          color: lighten(black,60%);
         margin: { left: 6px; right: 6px; bottom: 6px; }
      vertical-align: middle;
      &:after { content: "\2026"; } // ellipsis
    }
    .gap {
        font-size: 0.7em;
      $thin-space: "\2009";
       text-align: center;
      &:after { content: $thin-space; }
    }
    .traffic-light-count-wrapper {
       width: 40px;
    }
    .avatar-image img {
       width: 26px;
      height: 26px;
    }
    .pie {
       width: 26px !important;
      height: 26px !important;
    }
  }
}

#progress-dialog {
  padding-top: 0px;
  .animal.odd  { background: lighten($darker-color,3%); }
  .animal.even { background: lighten($darker-color,6%); }
  .progress {
    white-space: nowrap;
        padding: { left: 5px; right: 5px; }
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - -
// I've tried using .traffic-light-diff-tip as an outer tag
// eg
//    .traffic-light-diff-tip {
//      .tag { .. }
//      .traffic-light-image { ... }
//    }
// I can't get it to work...
// - - - - - - - - - - - - - - - - - - - - - - - - - - -

.traffic-light-diff-tip-tag {
  @include non-code-font;
       font-size: 12px;
}

.traffic-light-diff-tip-traffic-light-image {
  height: 22px;
   width: 22px;
}

.traffic-light-diff-tip-avatar-image {
  @include rounded-corner(4px);
   width: 30px !important;
  height: 30px !important;
}

.traffic-light-diff-tip-line-count-deleted, .traffic-light-diff-tip-line-count-added {
  @include rounded-corner(4px);
  @include right-align(0px);
  @include diff-line-count;
  @include non-code-font;
  color: $darker-color;
  border: 1px solid lighten($darker-color,6%);
}

.traffic-light-diff-tip-line-count-deleted {
  background: $diff-deleted-color;
}
.traffic-light-diff-tip-line-count-added {
  background: $diff-added-color;
}

.d-for-days, .m-for-minutes, .h-for-hours {
  font-size: 10px;
}
