
@mixin diff-line-count
{
  text-align: right;
      margin: 0px;
      margin: { bottom: 2px; }
     padding: 2px;
   font-size: 13px;
       width: 20px;
}

table.controls, table.filenames
{
  border-collapse: collapse;
  th, td { padding: 0px; }
}
table.sss
{
  margin-top:15px;
}

.diff-deleted-line-count,
.diff-added-line-count,
.diff-same-line-count,
.diff-line-count-icon
{
  @include plaintext-font();
  @include rounded-corner(3px);
  @include right-align(0px);
  @include diff-line-count;
   color: $darker-color;
  border: 1px solid lighten($darker-color,6%);
  margin: { right: 2px; }
  &:hover { border: 1px dotted lighten($darker-color,6%); }
  &[disabled]:hover { border: 1px solid lighten($darker-color,6%); }
  cursor: pointer;

  &[disabled]
  {
    background: lighten($darker-color,10%);
    border: 1px solid lighten($darker-color,10%);
    cursor: default;
  }
}

//- - - - - - - - - - - - - - - -

.diff-deleted-line-count,
.diff-line-count-icon.deleted
{
  background: $diff-deleted-count-color;
  border: 1px solid $diff-deleted-count-color;
  &[disabled]
  {
    color: lighten($diff-deleted-count-color,5%);
  }
}

.diff-added-line-count,
.diff-line-count-icon.added
{
  background: $diff-added-count-color;
  border: 1px solid $diff-added-count-color;
  &[disabled]
  {
    color: lighten($diff-added-count-color,5%);
  }
}

.diff-same-line-count,
.diff-line-count-icon.same
{
  background: $diff-same-count-color;
  border: 1px solid $diff-same-count-color;
  &[disabled]
  {
    color: lighten($diff-same-count-color,5%);
  }
}

//- - - - - - - - - - - - - - - -

.diff-line-count-icon.added
{
  &:hover { border: 1px solid $diff-added-count-color; }
}

.diff-line-count-icon.deleted
{
  &:hover { border: 1px solid $diff-deleted-count-color; }
}

.diff-line-count-icon
{
  cursor:default;
  text-align:center;
  margin: { top:2px; bottom:4px; }
}

//- - - - - - - - - - - - - - - -

.diff-type-marker
{
  font-size:18px;
  padding:2px;
  text-align:center;
  $non_breaking_space:  '\00a0';
  $n_dash: '\2013';
  $curved_right_arrow: '\21B7';
  &.created   { &:before { content: '+'; } }
  &.deleted   { &:before { content: $n_dash; } }
  &.renamed   { &:before { content: $curved_right_arrow; } }
  &.changed   { &:before { content: $non_breaking_space; } }
  &.unchanged { &:before { content: '='; } }
}

.diff-filename
{
  font-size:12pt;
  color: lighten($darker-color, 50%);
  width:250px;
  padding-left:3px;
  margin-left:3px;
  cursor:pointer;
  &:hover
  {
    background: lighten($darker-color, 10%);
    border: 1px solid lighten($darker-color, 10%);
  }
}

.diff-type-marker, .diff-filename
{
  @include plaintext-font();
  &.created   { color: lighten($green,30%); }
  &.deleted   { color: lighten($red,  30%); }
  &.renamed   { color: lighten($blue, 30%); }
  &.changed   { color: white; }
  &.unchanged { color: darken(DarkGray,20%); }
}

//- - - - - - - - - - - - - - - -

.diff-added-line-count, .diff-deleted-line-count
{
  &.on  { &:before { content: ' '; } }
  &.off { &:before { content: '*'; } }
}
