.diff-help-icon
{
  display: initial;
  @include plaintext-font();
  border-radius: 11px;
  font-size: 12px;
  border: 1px solid lighten($darker-color, 20%);
  color: lighten($darker-color, 20%);
  background: $darker-color;
  padding: { left:5px; right:5px; }
  margin: 2px;
  position: relative;
  top: -1px;
}

//- - - - - - - - - - - - - - - -

.diff-type-marker
{
  font-size:18px;
  padding:2px;
  text-align:center;
  $n_dash: '\2013';
  $curved_right_arrow: '\21B7';
  &.created   { &:before { content: '+'; } }
  &.deleted   { &:before { content: $n_dash; } }
  &.renamed   { &:before { content: $curved_right_arrow; } }
  &.changed   { &:before { content: '!'; } }
  &.unchanged { &:before { content: '='; } }
}

.diff-type-marker, .diff-filename
{
  @include plaintext-font();
  &.created   { color: lighten($green,15%); }
  &.deleted   { color: lighten($red,  15%); }
  &.renamed   { color: lighten($blue, 25%); }
  &.changed   { color: white; }
  &.unchanged { color: darken(DarkGray,15%); }
}

.diff-type
{
  &.added     { color: lighten($green,15%); }
  &.deleted   { color: lighten($red,  15%); }
  &.unchanged { color: darken(DarkGray,15%); }
}

table.sss { margin-top: 15px; }

#diff-filename-stdout,
#diff-filename-stderr,
#diff-filename-status
{
  color: darken(DarkGray,20%);
}

.diff-filename
{
  font-size: 12pt;
  color: lighten($darker-color, 50%);
  border: 1px solid $darker-color;
  width: 268px;
  padding-left: 6px;
  cursor: pointer;
  &:hover
  {
    background: lighten($darker-color, 5%);
    border: 1px solid lighten($darker-color, 5%);
  }
  &.selected
  {
    background: lighten($darker-color, 10%);
    border: 1px solid lighten($darker-color, 10%);
  }
}

#diff-filenames
{
  display: flex;
  flex-direction: column;
  float: left;
  max-height: 435px;
  margin: { top: 8px; }
  overflow-x: auto;
  overflow-y: auto;
  &::-webkit-scrollbar:vertical { width: 0px; }
  &::-webkit-scrollbar:horizontal { height: 0px; }

  font-size: 11pt;

  .filename
  {
    @include wide-list-item();
    border-radius: 3px;
    letter-spacing: 0.03em;

    height: 16px;
    padding: { left: 4px; top: 2px; bottom: 4px; }
    border: 1px solid $darker-color;
    margin: { bottom: 2px; }

    width: 230px;
    max-width: 230px;

    color: lighten($darker-color,50%);

    &.selected
    {
      background: $lighter-color;
      color: $darker-color;
    }
  }
}

#diff-content, #diff-content-output
{
  position: relative;
  top: 10px;
}

.diff-line-numbers,
.diff-sheet
{
  background: $projector-background;
  @include code-font();
  font-size: 11.4pt; // Matches font used in CodeMirror
  height: 560px;     // Controls height of file content view
  margin: 0px;
  padding: 0px;
  cursor: default;

  added, deleted, same
  {
    white-space: pre;
    display: block;
    padding-left: 0px;
    color: black;
  }
  added   { background: $diff-added-line-background; }
  deleted { background: $diff-deleted-line-background; }
}

.diff-line-numbers
{
  background: darken($projector-background, 5%);
  width: 40px;
  text-align: right;
  overflow: hidden;
  border: none;
  border-top-left-radius: 1px;
  added, deleted, same { color: lighten($darker-color, 30%); }
    added:after { content: '+'; }
  deleted:after { content: '-'; }
     same:after { content: ' '; }
}

.diff-sheet
{
  width: 725px;       // Enough for ~80 characters at 11.4pt font.
  text-align: left;
  overflow-x: auto;
  overflow-y: auto;
  outline: none;
   border: none;

    added { border-left: 2px solid $diff-added-line-background; }
  deleted { border-left: 2px solid $diff-deleted-line-background; }
     same { border-left: 2px solid $projector-background; }

  added, deleted, same
  {
    &:hover { border-left: 2px solid darken($projector-background,40%); }
  }
}
