
@mixin diff-line-count
{
  text-align: right;
      margin: 0px;
      margin: { bottom: 2px; }
     padding: 2px;
   font-size: 11px;
       width: 20px;
}

table.controls, table.filenames
{
  border-collapse: collapse;
  th, td { padding: 0px; }
}

table.sss
{
  margin-top:15px;
}

//- - - - - - - - - - - - - - - -

.diff-type-marker
{
  font-size:18px;
  padding:2px;
  text-align:center;
  $n_dash: '\2013';
  $curved_right_arrow: '\21B7';
  &.created   { &:before { content: '+'; } }
  &.deleted   { &:before { content: $n_dash; } }
  &.renamed   { &:before { content: $curved_right_arrow; } }
  &.changed   { &:before { content: '!'; } }
  &.unchanged { &:before { content: '='; } }
}

.diff-type-marker, .diff-filename
{
  @include plaintext-font();
  &.created   { color: lighten($green,15%); }
  &.deleted   { color: lighten($red,  15%); }
  &.renamed   { color: lighten($blue, 20%); }
  &.changed   { color: white; }
  &.unchanged { color: darken(DarkGray,15%); }
}

#diff-filename-stdout,
#diff-filename-stderr,
#diff-filename-status
{
  color: darken(DarkGray,20%);
}

.diff-filename
{
  font-size: 12pt;
  color: lighten($darker-color, 50%);
  border: 1px solid $darker-color;
  width: 250px;
  padding-left: 6px;
  cursor: pointer;
  &:hover
  {
    background: lighten($darker-color, 5%);
    border: 1px solid lighten($darker-color, 5%);
  }
  &.selected
  {
    background: lighten($darker-color, 10%);
    border: 1px solid lighten($darker-color, 10%);
  }
}
