
@mixin diff-line-count
{
  text-align: right;
      margin: 0px;
      margin: { bottom: 2px; }
     padding: 2px;
   font-size: 13px;
       width: 20px;
}

.diff-deleted-line-count,
.diff-added-line-count,
.diff-same-line-count,
.diff-deleted-line-count-icon,
.diff-added-line-count-icon,
.diff-same-line-count-icon
{
  @include plaintext-font();
  @include rounded-corner(3px);
  @include right-align(0px);
  @include diff-line-count;
   color: $darker-color;
  border: 1px solid lighten($darker-color,6%);
  margin: { right: 2px; }
  &:hover { border: 1px dotted lighten($darker-color,6%); }
  &[disabled]:hover { border: 1px solid lighten($darker-color,6%); }
  cursor: pointer;

  &[disabled]
  {
    background: lighten($darker-color,10%);
    border: 1px solid lighten($darker-color,10%);
    cursor: default;
  }

  &[data-filename='status'] { margin-top: 20px; }
  &[data-filename='stdout'] { margin-bottom: 20px; }
}

//- - - - - - - - - - - - - - - -

.diff-deleted-line-count,
.diff-deleted-line-count-icon
{
  background: $diff-deleted-count-color;
  border: 1px solid $diff-deleted-count-color;
  &[disabled]
  {
    color: lighten($diff-deleted-count-color,5%);
  }
}

.diff-added-line-count,
.diff-added-line-count-icon
{
  background: $diff-added-count-color;
  border: 1px solid $diff-added-count-color;
  &[disabled]
  {
    color: lighten($diff-added-count-color,5%);
  }
}

.diff-same-line-count,
.diff-same-line-count-icon
{
  background: $diff-same-count-color;
  border: 1px solid $diff-same-count-color;
  &[disabled]
  {
    color: lighten($diff-same-count-color,5%);
  }
}

//- - - - - - - - - - - - - - - -

.diff-added-line-count-icon
{
  &:hover { border: 1px solid $diff-added-count-color; }
}

.diff-deleted-line-count-icon
{
  &:hover { border: 1px solid $diff-deleted-count-color; }
}

.diff-added-line-count-icon,
.diff-deleted-line-count-icon,
.diff-same-line-count-icon
{
  cursor:default;
  text-align:center;
  margin-bottom:6px;
}

//- - - - - - - - - - - - - - - -

.diff-type-marker
{
  font-size:11px;
  text-align:center;
}

.diff-hover-filename
{
  color: lighten($darker-color, 50%);
  position:relative;
  top:-1px;
  margin-left:3px;
}

.diff-type-marker, .diff-hover-filename
{
  &.created { color: lighten($green,30%); }
  &.deleted { color: lighten($red,  30%); }
  &.renamed { color: lighten($blue, 30%); }
  &.changed { color: white; }
  &.unchanged { color: darken(DarkGray,20%); }
}

//- - - - - - - - - - - - - - - -

.diff-added-line-count, .diff-deleted-line-count
{
  &.on  { &:before { content: ' '; } }
  &.off { &:before { content: '*'; } }
}
