
#enter-page {

  font-size: 1.15em;
  margin: { top: 55px; left: 285px; }

  #avatars-grid {
    width: 206px;
    position: relative;
    left: 55px;
  }

  #enter-a-practice-session, #review-a-practice-session {
    @include non-code-font();
    color: $lighter-color;
    font-size: 3.5em;
  }

  #enter-id-prompt {
    @include non-code-font();
    @include font-size-small();
    color: lighten($green, 35%);
  }

  #kata-id-input {
    @include non-code-font();
    background: lighten($green, 20%);
    color: $darker-color;
    @include font-size-largest();
    width: 265px;
    margin: { top: 4px; bottom: 10px; right: 2px; }
    padding: { right: 20px; bottom: 0px; top: 2px; }
    text-align: right;
    @include gradient-lighten($green, 40%, 30%, 20%);
    @include rounded-corner(6px);
    position: relative;
    right: -1px;
  }

  #start-button, #resume-button,    #dashboard-button, #review-button {
    @include non-code-font();
    width: 292px;
    padding-right: 20px;
    padding: { top: 8px; bottom: 8px; }
    @include font-size-large();
    margin: { left: 10px; bottom: 10px; }
    text-align: right;
  }

  #resume-button {
    @include font-size-medium();
  }
}

