
#enter-page {

  font-size: 1.15em;
  margin: { top: 55px; }
  .center-content { @include center-align(); }

  #title {
    @include non-code-font();
         color: $lighter-color;
     font-size: 2.6em;
     padding: { top: 20px; bottom: 20px; }
  }

  #avatars-grid { width: 206px; }

  #enter-a-practice-session, #review-a-practice-session {
    @include non-code-font();
        color: $lighter-color;
    font-size: 3.5em;
  }

  #kata-id-input {
    @include non-code-font();
    @include font-size-largest();
    @include gradient-lighten($green, 40%, 30%, 20%);
    @include rounded-corner(6px);
        background: lighten($green, 20%);
             color: $darker-color;
             width: 265px;
            margin: { top: 4px; bottom: 10px; right: 2px; }
           padding: { right: 20px; bottom: 0px; top: 2px; }
        text-align: right;
          position: relative;
             right: -1px;
    text-transform: uppercase;
  }

  #kata-id-input::placeholder {
         font-size: 25px;
    text-transform: lowercase;
  }

  #start-button, #resume-button,    #dashboard-button, #review-button {
    @include non-code-font();
    @include font-size-large();
         width: 292px;
       padding: { top: 8px; bottom: 8px; right: 20px; }
        margin: { left: 10px; bottom: 10px; }
    text-align: right;
  }

  #resume-button { @include font-size-medium(); }
}

