.file-operations
{
  padding: 0px;

  border-radius: 6px;
  margin: { left:$left-column-left-margin; top:30px; }

  .create-file, .delete-file, .rename-file
  {
    display: inline-block;
    border-radius: 3px;
    margin:{ bottom:1px; right:3px }
    padding:{ left:3px; right:3px; top:0px; bottom:2px; }
    width: 23px;
    height: 23px;
    font-size: 14px;
    background: lighten($darker-color,50%);
    border: 2px solid lighten($darker-color,50%);
    &:hover { border: 2px dotted lighten(Black,10%); }
    &[disabled] { display: none; }
  }

  .rename-file img
  {
    width: 18px;
    position: relative;
    left: -2px;
    top: 1px;
  }
}

input#create-filename,
input#rename-filename,
input#delete-filename
{
  font-size: 1em;
  padding: { top:2px; bottom:3px; left:7px;}
  margin: { bottom: 5px; }
  border: none;
  border-radius: 4px;
  text-align: left;
  width: 380px;
  display: block;
}
