.filename_div { display: none; }

.filename
{
  @include selectable();
  &[class~='highlight'] { &:before { content: "> "; } }
  color: lighten($darker-color, 25%);
  padding-left: $left-column-left-margin;
  padding-right: 0px;
}

#filename-list .source.filename
{
  color: lighten($darker-color, 50%);
}
