.file-operations
{
  display: inline;
  padding: 0px;
  position: relative;
  top: -17px;
  left: 247px;
  z-index: 1000;

  @include rounded-corner(6px);
  margin-left: 7px;

  .create-file, .delete-file, .rename-file
  {
    display: inline-block;
    @include rounded-corner(3px);
    margin:{ bottom:1px; right:0px }
    padding:{ left:3px; right:3px; top:0px; bottom:2px; }
    width: 23px;
    height: 23px;
    font-size: 14px;
    font-weight: bold;
    background: lighten($darker-color,50%);
    border: 2px solid lighten($darker-color,50%);
    &:hover { border: 2px dotted lighten(Black,10%); }
  }
}

input#create-filename,
input#rename-filename,
input#delete-filename
{
  @include rounded-corner(4px);
   font-size: 1em;
     padding: { top:2px; bottom:3px; left:7px;}
      margin: { bottom: 5px; }
      border: none;
  text-align: left;
       width: 380px;
     display: block;
}
