.filename_div { display: none; }

.file_content
{
   // height and width are set in codemirror.scss
   @include code-font;
   background: lighten($darker-color, 4%);
       border: 0px;
       margin: 0px;
      display: block;
     overflow: auto;
        color: $lighter-color;
  font-weight: 500;
      padding: { left: 2px; top: 2px; right: 0px; bottom: 0px; }
      outline: none;
       cursor: text;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
