
#home-page
{
  .center-content { @include center-align(); }

  #heading
  {
         width: 100%;
        height: 300px;
      position: fixed;
           top: 0px;
    background: $darker-color;
       z-index: 999;

    #cyber-dojo
    {
      @include non-code-font();
      font-size: 8.84em;
          color: $text-color;
        padding: { top: 10px; bottom: 0px; }
    }

    #the-place-to-practise-programming
    {
      @include non-code-font();
      font-size: 1.78em;
          color: lighten($text-color, 5%);
       position: relative;
            top: -9px;
    }
  }

  //------------------------------------------

  #license, #pies, #foundation, #technology, #artwork
  {
    @include plaintext-font();
    font-size: 1.2em;
      padding: 25px;
  }

  //------------------------------------------

  #license
  {
    background: lighten($darker-color, 6%);
    margin-top: 300px;
  }

  //------------------------------------------

  #pies
  {
    img
    {
      @include rounded-corner();
      margin: { top: 15px; bottom: 0px; left: 5px; right: 5px; }
      border: 1px solid darken($text-color, 10%);
       width: 400px;
      height: 300px;
      filter: grayscale(100%);
    }
  }

  //------------------------------------------

  #foundation
  {
    background: lighten($darker-color, 6%);
    img.trustee
    {
      @include rounded-corner(10px);
        width: 93px;
       height: 93px;
       margin: { top: 10px; bottom: 0px; left: 4px; right: 4px; }
      padding: 0px;
       filter: grayscale(100%);
    }
    .bio
    {
      vertical-align: top;
               width: 90px;
           font-size: 10px;
          text-align: center;
             padding: { left: 5px; right: 5px; }
    }
  }

  //------------------------------------------

  #technology
  {
    img
    {
      background: lighten($darker-color, 10%);
      @include rounded-corner(6px);
       width: 72px;
      height: 72px;
      margin: { top: 10px; bottom: 0px; left: 3px; right: 3px; }
      filter: grayscale(100%);
    }
    .name { font-size: 12px; }
  }

  //------------------------------------------

  #artwork
  {
    background: lighten($darker-color, 6%);
       padding: { bottom: 45px; }
    .animal
    {
      @include rounded-corner(10px);
       width: 72px;
      height: 72px;
      margin: { top: 10px; bottom: 0px; left: 3px; right: 3px; }
      filter: grayscale(100%);
    }
  }

  //------------------------------------------

  button
  {
    &#individual, &#team, &#donate
    {
      @include non-code-font();
           color: $darker-color;
      text-align: right;
     line-height: 95%;
         padding: 12px;
          margin: 7px;
    }

    &#individual, &#team
    {
      font-size: 2.75em;
        padding: { left: 15px; right: 15px; }
    }

    &#donate { font-size: 1.4em; }
  }

  //------------------------------------------

  #custom-container
  {
    position: absolute;
        left: 675px;
         top: 350px;
  }
}
