
#home-page {

  .center-content { @include center-align(); }

  #cyber-dojo {
    @include non-code-font();
    font-size: 8.65em;
        color: $text-color;
       margin: { bottom: 0px; top: 15px; }
      padding: { bottom: 0px; }
    .dot-org { font-size: 0.43em; }
  }

  #the-place-to-practice-programming {
    @include non-code-font();
       margin: { right: 0px; bottom: 3px; }
    font-size: 1.42em;
        color: lighten($text-color, 5%);
     position: relative;
          top: -9px;
  }

  #avatars-grid {
       width: 235px;
    //position: relative;
        //left: 10px;
         //top: -1px;
  }

  //------------------------------------------

  hr {
    height: 20px;
    margin-top: 30px;
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 1px 0 0 0;
    border-radius: 20px;
  }
  hr:before {
    display: block;
    content: "";
    height: 20px;
    margin-top: -21px;
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 0 0 1px 0;
    border-radius: 20px;
  }

  //------------------------------------------

  h1 {
    @include non-code-font();
    font-size: 4.25em;
    margin: { top: 10px; bottom: 20px; }
  }

  .kids-pic {
    width: 150px;
    height: 100px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 0px;
    border: 3px solid lighten($text-color, 5%);
    @include rounded-corner();
  }
  .bought-pies {
    border: 3px solid lighten($text-color, 5%);
    @include rounded-corner();
    @include plaintext-font();
    @include font-size-small();
    padding: 10px;
    width: 160px;
    text-align: right;
  }

  //------------------------------------------

  .info-text {
    @include plaintext-font();
    font-size: 1.25em;
  }

  //------------------------------------------

  #custom-container {
    position: absolute;
        left: 675px;
        top: 350px;
  }

  //------------------------------------------

  #setup-a-new-default-practice-session-button,
  #setup-a-new-custom-practice-session-button,
  #enter-button,
  #review-button,
  #donate-button {
    @include non-code-font();
    @include font-size-largest();
       padding: { right: 20px; }
        margin: { left: 10px; }
         color: $darker-color;
    text-align: right;
  }

  #setup-a-new-default-practice-session-button,
  #setup-a-new-custom-practice-session-button,
  #enter-button, #review-button, #donate-button {
          width: 500px;
      font-size: 1.97em;
    line-height: 95%;
        padding: { top: 12px; bottom: 12px; right: 15px; }
         margin: { top: 2px; bottom: 2px; }
  }

  #donate-button { width: 210px; }
}
