
#home-page
{
  .center-content { @include center-align(); }

  #heading
  {
         width: 100%;
        height: 280px;
      position: fixed;
           top: 0px;
    background: $darker-color;
       z-index: 999;
       padding: { top: 0px; bottom: 0px; }

    #logo img
    {
        width: 75px;
       height: 75px;
      padding: { top: 16px; left: 5px; right: 8px; }
    }
    #cyber-dojo
    {
      @include non-code-font();
      font-size: 7.40em;
          color: $text-color;
    }

    #the-place-to-practise-programming
    {
      @include non-code-font();
      font-size: 2.75em;
          color: lighten($text-color, 5%);
       position: relative;
            top: -9px;
    }
  }

  //------------------------------------------

  #license, #pies, #foundation, #technology
  {
    @include plaintext-font();
    font-size: 1.2em;
      padding: { top: 25px; bottom: 25px; }
  }

  //------------------------------------------

  #license
  {
    background: lighten($darker-color, 6%);
    margin-top: 280px;
  }

  //------------------------------------------

  #pies
  {
    img
    {
      @include rounded-corner();
      margin: { top: 15px; bottom: 0px; left: 6px; right: 5px; }
       width: 560px;
      height: 330px;
      filter: grayscale(100%);
    }
  }

  //------------------------------------------

  #foundation
  {
    background: lighten($darker-color, 6%);
    img.trustee
    {
      @include rounded-corner(10px);
        width: 133px;
       height: 133px;
       margin: { top: 10px; bottom: 0px; left: 4px; right: 3px; }
      padding: 0px;
       filter: grayscale(100%);
    }
    .bio
    {
      vertical-align: top;
               width: 120px;
           font-size: 12px;
          text-align: center;
             padding: { left: 5px; right: 5px; }
    }
  }

  //------------------------------------------

  #technology
  {
    margin: { bottom: 25px; }
    img
    {
      background: lighten($darker-color, 10%);
      @include rounded-corner(6px);
       width: 74px;
      height: 74px;
      margin: { top: 0px; bottom: 0px; left: 3px; right: 3px; }
      filter: grayscale(100%);
    }
    .name { font-size: 12px; }
  }

  //------------------------------------------

  button
  {
    &#individual, &#group, &#donate
    {
      @include non-code-font();
           color: $darker-color;
      text-align: right;
     line-height: 95%;
         padding: 12px;
          margin: 7px;
    }

    &#individual, &#group
    {
      font-size: 2.75em;
        padding: { left: 15px; right: 15px; }
    }

    &#donate { font-size: 1.4em; }
  }

}
