
#home-page {

  margin: { top: 2px; left: 265px; }

  #cyber-dojo {
    @include non-code-font();
    font-size: 8.50em;
        color: $text-color;
       margin: { bottom: 0px; }
      padding: { bottom: 0px; }
    .dot-org { font-size: 0.43em; }
  }

  #the-place-to-practice-programming {
    @include non-code-font();
       margin: { right: 0px; bottom: 3px; }
    font-size: 1.12em;
        color: lighten($text-color, 5%);
     position: relative;
          top: -9px;
  }

  #avatars-grid {
       width: 235px;
    position: relative;
        left: 2px;
         top: 2px;
  }

  #custom-container {
    position: absolute;
        left: 675px;
        top: 350px;
  }

  #setup-default-session-button,
  #setup-custom-session-button,
  #enter-button,
  #charity-button,
  #donate-button {
    @include non-code-font();
    @include font-size-largest();
       padding: { right: 20px; }
        margin: { left: 10px; }
         color: $darker-color;
    text-align: right;
  }

  #setup-default-session-button,
  #setup-custom-session-button,
  #enter-button {
          width: 390px;
      font-size: 1.97em;
    line-height: 95%;
        padding: { top: 12px; bottom: 12px; right: 15px; }
         margin: { top: 6px; bottom: 6px; }
  }

  #donate-container,
  #charity-container {
    @include plaintext-font();
    @include edged-panel();
          width: 368px;
          height: 60px;
          padding: { right: 15px; }
         margin: { top: 4px; left: 15px; bottom: 4px; }
     text-align: right;
      font-size: 0.8em;
  }

  #licensing-container,
  #info-container {
    @include plaintext-font();
    @include edged-panel();
          width: 200px;
          height: 60px;
          padding: { left: 15px; right: 15px; }
         margin: { top: 4px; left: 15px; bottom: 4px; }
     text-align: right;
      font-size: 0.8em;
  }

  #donate-container #donate-button,
  #charity-container #charity-button {
          width: 120px;
         margin: { right: 0px; top: 5px; bottom: 5px; }
        padding: 6px;
     text-align: center;
      font-size: 1.60em;
    line-height: 95%;
  }

}




