
#home-page {

  .center-content { @include center-align(); }

  #heading {
    height: 150px;
    position: fixed;
    top: 0px;
    width: 100%;
    background: $darker-color;
    z-index: 999;

    #cyber-dojo {
      @include non-code-font();
      font-size: 5.65em;
          color: $text-color;
         margin: { bottom: 0px; top: 15px; }
        padding: { bottom: 0px; }
    }

    #the-place-to-practice-programming {
      @include non-code-font();
         margin: { right: 0px; bottom: 3px; }
      font-size: 1.32em;
          color: lighten($text-color, 5%);
       position: relative;
            top: -9px;
    }
  }

  #main-buttons {
    margin-top: 150px;
    background: lighten($darker-color, 6%);
    padding: 35px;
  }

  #foundation {
    padding: 20px;
    font-size: 0.9em;
  }

  #about {
    background: lighten($darker-color, 6%);
    padding-top: 10px;
    padding-bottom: 40px;
    .info-text {
      padding-bottom: 3px;
      @include font-size-tiny();
    }
  }

  #avatars-grid {
    width: 220px;
    position: relative;
    top: 2px;
  }

  //------------------------------------------

  h1 {
    @include non-code-font();
    font-size: 4.25em;
    margin: { top: 10px; bottom: 20px; }
  }

  .kids-pic {
    width: 150px;
    height: 100px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 0px;
    border: 3px solid lighten($text-color, 5%);
    @include rounded-corner();
  }
  .bought-pies {
    @include rounded-corner();
    @include plaintext-font();
    padding: 10px;
    width: 100px;
    text-align: center;
  }

  //------------------------------------------

  .info-text {
    @include plaintext-font();
    font-size: 1.25em;
  }

  //------------------------------------------

  #custom-container {
    position: absolute;
        left: 675px;
        top: 350px;
  }

  //------------------------------------------

  #setup-a-new-default-practice-session-button,
  #setup-a-new-custom-practice-session-button,
  #enter-button,
  #review-button,
  #donate-button {
    @include non-code-font();
    @include font-size-largest();
       padding: { right: 20px; }
        margin: { left: 10px; }
         color: $darker-color;
    text-align: right;
  }

  #setup-a-new-default-practice-session-button,
  #setup-a-new-custom-practice-session-button,
  #enter-button, #review-button, #donate-button {
          width: 500px;
      font-size: 1.97em;
    line-height: 95%;
        padding: { top: 12px; bottom: 12px; right: 15px; }
         margin: { top: 2px; bottom: 2px; }
  }

  #donate-button-container { padding: 10px; }
  #donate-button { width: 200px; }
}
