
#home-page {

  .center-content { @include center-align(); }

  #heading {
         width: 100%;
        height: 155px;
      position: fixed;
           top: 0px;
    background: $darker-color;
       z-index: 999;

    #cyber-dojo {
      @include non-code-font();
      font-size: 5.65em;
          color: $text-color;
        padding: { top: 10px; bottom: 0px; }
    }

    #the-place-to-practise-programming {
      @include non-code-font();
      font-size: 1.58em;
          color: lighten($text-color, 5%);
       position: relative;
            top: -9px;
    }
  }

  //------------------------------------------

  #main-buttons {
    background: lighten($darker-color, 6%);
    margin-top: 155px;
       padding: 33px;
  }

  //------------------------------------------

  #foundation {
    font-size: 0.9em;
      padding: 25px;

    .kids-pic {
         width: 200px;
        height: 150px;
        margin: { top: 17px; right: 17px; }
        border: 3px solid lighten($text-color, 5%);
        @include rounded-corner();
      }

  }

  //------------------------------------------

  #about {
    background: lighten($darker-color, 6%);
       padding: { top: 20px; bottom: 40px; }
    .info-text {
      @include font-size-small();
      padding-bottom: 2px;
    }
  }

  //------------------------------------------

  #setup-a-new-default-practice-session-button,
  #setup-a-new-custom-practice-session-button,
  #enter-button,
  #review-button,
  #donate-button {
    @include non-code-font();
    @include font-size-largest();
         color: $darker-color;
    text-align: right;
         width: 350px;
     font-size: 1.97em;
   line-height: 95%;
       padding: { top: 12px; bottom: 12px; right: 15px; }
        margin: { top: 0px; bottom: 8px; left: 10px; }
  }

  #donate-button-container { padding: 10px; }
  #donate-button { width: 200px; }

  //------------------------------------------

  #avatars-grid {
       width: 234px;
    position: relative;
         top: -2px;
  }

  //------------------------------------------

  .info-text {
    @include plaintext-font();
    font-size: 1.5em;
  }

  //------------------------------------------

  #custom-container {
    position: absolute;
        left: 675px;
         top: 350px;
  }
}
