
#home-page {

  .center-content { @include center-align(); }

  #cyber-dojo {
    @include non-code-font();
    font-size: 8.50em;
        color: $text-color;
       margin: { bottom: 0px; top: 15px; }
      padding: { bottom: 0px; }
    .dot-org { font-size: 0.43em; }
  }

  #the-place-to-practice-programming {
    @include non-code-font();
       margin: { right: 0px; bottom: 3px; }
    font-size: 1.42em;
        color: lighten($text-color, 5%);
     position: relative;
          top: -9px;
  }

  #avatars-grid {
       width: 235px;
    position: relative;
        left: 2px;
         top: -1px;
  }

  //------------------------------------------

  hr {
    height: 30px;
    margin-top: 50px;
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 1px 0 0 0;
    border-radius: 20px;
  }
  hr:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 0 0 1px 0;
    border-radius: 20px;
  }

  //------------------------------------------

  h1 {
    @include non-code-font();
    font-size: 4.25em;
  }

  .kids-pic {
    width: 150px;
    height: 100px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 0px;
    border: 3px solid lighten($text-color, 5%);
    @include rounded-corner();
  }
  .bought-pies {
    border: 3px solid lighten($text-color, 5%);
    @include rounded-corner();
    @include plaintext-font();
    @include font-size-small();
    padding: 10px;
    width: 160px;
    text-align: right;
  }
  .hello-world {
    margin-top: 10px;
    border: 3px solid lighten($text-color, 5%);
    @include rounded-corner();
    width: 150px;
    height: 125px;
  }
  button#email-me {
    @include non-code-font();
    background-color: lighten($lighter-color, 5%);
  }

  //------------------------------------------

  #scio {
    @include plaintext-font();
    font-size: 1.25em;
  }
  #magic-number {
    @include plaintext-font();
    font-size: 0.90em;
  }

  //------------------------------------------

  .info-text {
    @include plaintext-font();
    font-size: 1.25em;
  }

  //------------------------------------------

  #custom-container {
    position: absolute;
        left: 675px;
        top: 350px;
  }

  //------------------------------------------

  #setup-a-new-practice-session-button,
  #enter-button,
  #donate-button {
    @include non-code-font();
    @include font-size-largest();
       padding: { right: 20px; }
        margin: { left: 10px; }
         color: $darker-color;
    text-align: right;
  }

  #setup-a-new-practice-session-button,
  #enter-button {
          width: 390px;
      font-size: 1.97em;
    line-height: 95%;
        padding: { top: 12px; bottom: 12px; right: 15px; }
         margin: { top: 6px; bottom: 6px; }
  }

  #donate-container {
    @include plaintext-font();
    @include edged-panel();
          width: 368px;
          height: 89px;
          padding: { right: 15px; }
         margin: { top: 9px; left: 15px; bottom: 9px; }
     text-align: left;
      font-size: 1.0em;

    #donate-button {
            width: 140px;
           margin: { right: 0px; top: 5px; bottom: 5px; }
          padding: 10px;
       text-align: center;
       font-size: 1.70em;
      line-height: 95%;
    }
  }
}
