
.hover-tip
{
  @include plaintext-font();
  @include rounded-corner(5px);
  background: lighten($darker-color, 2%);
     z-index: 2000;
    position: absolute;
       color: darken($lighter-color, 6%);
      border: 1px dotted lighten($darker-color, 30%);
   font-size: 15px;
     padding: { top:5px; right:7px; bottom:5px; left:7px; }
  text-align: left;
  margin-top: 6px;
}
