
$hoverFadePercent: 7%;

.hover-tip
{
  @include plaintext-font();
  @include rounded-corner(5px);
  background: lighten($darker-color, $hoverFadePercent);
     z-index: 2000;
    position: absolute;
       color: darken($lighter-color, 6%);
      border: 1px dotted lighten($darker-color, 30%);
   font-size: 15px;
     padding: { top:5px; right:7px; bottom:5px; left:7px; }
  text-align: left;
  margin-top: 6px;
}

.hover-tip .diff-filename
{
  border: 1px solid lighten($darker-color, $hoverFadePercent);
}

.traffic-light-diff-tip-traffic-light-image
{
  height: 22px;
   width: 22px;
   margin-right: 4px;
}

.traffic-light-diff-tip-avatar-image
{
  @include rounded-corner(4px);
   width: 26px;
  height: 26px;
}

.hover-tip-count
{
  text-align: right;
  padding-right: 4px;
}
