
#id-enter-page
{
  @include id-common();

  #hi-text
  {
    @include non-code-font();
    @include font-size-large();
         color: $lighter-color;
     padding: { top: 0px; bottom: 0px; }
     margin: { bottom: 10px; }
  }

  img.avatar
  {
    &.large
    {
      width: 154px;
      height: 154px;
      @include rounded-corner(4px);
    }
    &.small
    {
      width: 42px;
      height: 42px;
      display: block;
      @include rounded-corner(2px);
    }
  }

  .traffic-light
  {
    width: 30px;
    height: 30px;
    margin: { left: 10px; right: 10px; }
  }

  .info
  {
    @include font-size-medium();
    text-align: left;
  }

  button
  {
    &#ok, &#cancel
    {
      @include non-code-font();
      @include font-size-larger();
           color: $darker-color;
      text-align: right;
     line-height: 95%;
         padding: { top: 8px; bottom: 8px; left: 15px; right: 15px; }
          margin: { top: 5px; }
    }
  }

}

