
#id-enter-page
{
  @include id-common();

  #lo-text
  {
    @include non-code-font();
    @include font-size-large();
         color: $lighter-color;
     padding: { top: 0px; bottom: 0px; right: 10px; }
     margin: { bottom: 10px; }
  }

  img.avatar
  {
    &.large
    {
      display: block;
      width: 171px;
      height: 171px;
      @include rounded-corner(4px);
    }
    &.small
    {
      width: 42px;
      height: 42px;
      display: block;
      @include rounded-corner(2px);
    }
  }

  .traffic-light
  {
    width: 27px;
    height: 27px;
    margin: { left: 9px; right: 0px; }
    padding: { top: 4px; }
  }

  #info-container
  {
    @include rounded-corner(4px);
    border: 1px dotted gray;
    margin: { left: 0px; }
    padding: { top: 5px; }
    height: 164px;
  }

  .info
  {
    @include font-size-small();
    text-align: left;
    margin: { left: 0px; }
    padding: { left: 10px; right: 10px; }
  }

  button
  {
    &#ok, &#cancel
    {
      @include non-code-font();
      @include font-size-larger();
           color: $darker-color;
      text-align: right;
     line-height: 95%;
         padding: { top: 8px; bottom: 8px; left: 15px; right: 15px; }
          margin: { top: 5px; }
    }
  }

}

