
#id-join-page
{
  @include id-common();

  #title { font-size: 95px; }

  #lo-div
  {
    @include non-code-font();
    font-size: 40px;
        color: $lighter-color;
      padding: 0px;
       margin: { top: 10px; bottom: 5px; }
  }

  img.avatar
  {
    &.large
    {
      @include rounded-corner(6px);
      display: inline-block;
        width: 219px;
       height: 219px;
       margin: { right: 5px; }
    }
  }

  button
  {
    &#ok, &#cancel
    {
      @include non-code-font();
      @include font-size-largest();
           color: $darker-color;
      text-align: right;
     line-height: 95%;
         padding: { top: 8px; bottom: 8px; left: 15px; right: 15px; }
          margin: { top: 5px; }
    }
  }

}
