
#id-join-page
{
  @include id-common();

  #title { font-size: 95px; }

  #lo-text
  {
    @include non-code-font();
    font-size: 40px;
        color: $lighter-color;
      padding: 0px;
       margin: { top: 10px; bottom: 5px; }
  }

  img.avatar
  {
    &.large
    {
      @include rounded-corner(6px);
      display: block;
        width: 211px;
       height: 211px;
       margin: { right: 5px; }
    }
    &.small
    {
      @include rounded-corner(2px);
        width: 37px;
       height: 37px;
      display: block;
    }
  }

  .traffic-light
  {
      width: 20px;
     height: 20px;
     margin: { top: 0px; bottom: 0px; left: 0px; right: 5px; }
    padding: 0px;
  }

  .info
  {
    @include plaintext-font();
    @include rounded-corner(6px);
    background: lighten($darker-color, 5%);
     font-size: 17px;
        margin: { top: 3px; bottom: 3px; left: 0px; }
       padding: 8px;
    text-align: left;
  }

  button
  {
    &#ok, &#cancel
    {
      @include non-code-font();
      @include font-size-large();
           color: $darker-color;
      text-align: right;
     line-height: 95%;
         padding: { top: 8px; bottom: 8px; left: 15px; right: 15px; }
          margin: { top: 5px; }
    }
  }

}

