
#id-review-page
{
  @include id-common();

  button
  {
    &#ok, &#cancel
    {
      @include non-code-font();
      @include font-size-medium();
           color: $darker-color;
      text-align: right;
     line-height: 95%;
         padding: 8px;
          margin: { left: 10px; top: 5px; }
    }
  }

}

