
#id-resume-page
{
  @include id-common();

  #hi-text, #lo-text
  {
    @include non-code-font();
         color: $lighter-color;
     padding: { top: 20px; bottom: 20px; }
     margin: { bottom: 10px; }
  }
  #hi-text { @include font-size-large(); }
  #lo-text { @include font-size-medium(); }

  img.avatar
  {
    width: 35px;
    height: 35px;
    display: block;
    @include rounded-corner(2px);
  }

  img.grey
  {
    filter: grayscale(100%);
    opacity: 0.25;
  }

  button#cancel
  {
    @include non-code-font();
    @include font-size-medium();
         color: $darker-color;
    text-align: right;
   line-height: 95%;
       padding: 8px;
        margin: { left: 10px; top: 5px; }
  }

}

