
#id-review-page
{
  @include id-common();
  #drop-down { display: none; }

  #snapshot
  {
    text-align: center;
    img
    {
      width: 500px;
      display: inline-block;
      border: 1px solid lightgray;      
    }
  }

  button
  {
    &#ok, &#cancel
    {
      @include non-code-font();
      @include font-size-largest();
           color: $darker-color;
      text-align: right;
     line-height: 95%;
         padding: { top: 8px; bottom: 8px; left: 12px; right: 12px; }
          margin: { top: 0px; bottom: 0px; left:  5px; right:  5px; }
    }
  }

}
