
#id-rejoin-page
{
  @include id-common();

  #drop-down { display:none; }
  #mid-div
  {
    text-align: center;
    img#snapshot
    {
      width: 500px;
      display: inline-block;
      border: 1px solid lightgray;
    }
  }
  #hi-text, #lo-text
  {
    @include non-code-font();
         color: $lighter-color;
     padding: { top: 20px; bottom: 20px; }
     margin: { bottom: 10px; }
  }
  #hi-text { @include font-size-larger(); }
  #lo-text { @include font-size-medium(); }

  img.avatar
  {
    &.large
    {
      @include rounded-corner(6px);
      display: inline-block;
        width: 219px;
       height: 219px;
       margin: { right: 5px; }
    }
    &.small
    {
      @include rounded-corner(2px);
        width: 37px;
       height: 37px;
      display: block;
    }
  }

  img.grey
  {
    filter: grayscale(100%);
    opacity: 0.15;
  }

  button
  {
    &#ok, &#cancel
    {
      @include non-code-font();
      @include font-size-large();
           color: $darker-color;
      text-align: right;
     line-height: 95%;
         padding: 8px;
          margin: { left: 10px; top: 5px; }
    }
  }

}
