
#individual-page
{

  margin: { top: 25px; }

  .center-content { @include center-align(); }

  #title
  {
    @include non-code-font();
         color: $lighter-color;
     font-size: 4.2em;
     padding: { top: 20px; bottom: 20px; }
  }

  button
  {
    &#setup, &#custom-setup, &#enter, &#resume {
      @include non-code-font();
           color: $darker-color;
      text-align: left;
           width: 520px;
       font-size: 1.97em;
     line-height: 95%;
         padding: 12px;
          margin: { top: 0px; bottom: 10px; }
    }

    &#setup { @include font-size-largest(); }

    &#custom-setup, &#enter, &#resume { @include font-size-medium(); }
  }

}
