
#individual-page
{
  margin: { top: 10px; }

  .center-content { @include center-align(); }

  #heading
  {
    @include non-code-font();
         color: $lighter-color;
     font-size: 87px;
     padding: 0px;
  }

  button
  {
    &#create, &#create-custom, &#rejoin {
      @include non-code-font();
           color: $darker-color;
      text-align: left;
           width: 500px;
       font-size: 1.97em;
     line-height: 95%;
         padding: 12px;
         padding-left: 20px;
          margin: { top: 0px; bottom: 10px; }
    }

    &#create { @include font-size-largest(); }

    &#create-custom, &#rejoin { @include font-size-medium(); }
  }
}
