#kata-page
{
  display: flex;
  margin: { top:36px; left:0px; }

  $column-height: 610px;

  .lhs-gutter
  {
    height: $column-height;
    max-height: $column-height;
    display: inline-block;
    width: 95px;
    margin: { top:3px; left:5px; }
    position: relative; // To allow charity/sponsor absolute:bottom
  }

  .left-column
  {
    width: 290px; // Controls width of filenames
    height: $column-height;
    max-height: $column-height;
    display: inline-block;
    margin: { top:2px; left:10px; }
  }
  .right-column
  {
    width: 770px;
    height: $column-height;
    max-height: $column-height;
    display: inline-block;
    vertical-align: top;
    margin-top: 2px;
  }
}
