
#kata-page
{
  margin: { top: 20px; left: 35px; }
  .left-column { width: 295px; }

  img.avatar-image {
    @include rounded-corner(6px);
    display: inline-block;
     cursor: default;
      width: 29px;
     height: 29px;
     margin: 0px;
    padding: 0px;
  }

  #test-button
  {
    @include non-code-font();
    @include font-size-medium();
           display: inline;
    vertical-align: top;
            margin: { right: 2px; }
           padding: { top: 0px; bottom: 2px; left: 10px; right: 10px; }
        text-align: center;
  }

  #file-operations
  {
    display:inline;
    @include edged-panel();
    background: lighten($darker-color,10%);
    @include font-size-tiny();
    vertical-align:top;
    padding:{ top:5px; bottom:5px; }
    margin:{ top:1px; bottom:0px; left:0px; right:0px }
    div { display:inline; }
    #label
    {
      @include plaintext-font();
      cursor: default;
      font-size: 12px;
    }
    #new, #rename, #delete
    {
      @include rounded-corner(4px);
      padding:{ top:0px; bottom:1px; left:6px; right:6px; }
    }
  }

  #filename-list
  {
    margin: { top: 2px; right: 3px; }

         width: 295px;
        height: 410px;
    overflow-y: scroll;
    overflow-x: none; // up/down hidden scrollbar
    &::-webkit-scrollbar:vertical { width: 0px; }

    div[class~='filename'][class~='highlight'] { &:before { content: "> "; } }

    div[class~='filename'][id='radio_stdout'] { margin-top: 20px; }
    div[class~='filename'][id='radio_status'] { margin-bottom: 20px; }

    div[class~='filename'] { @include wide-list-item(); }
  }

  #traffic-lights-count-box
  {
    vertical-align:top;
           display:inline-block;
             float:left;
    .traffic-light-count {
      font-size: 23px;
      position:relative; top:-3px;
    }
  }
  #traffic-lights
  {
       display:flex;
         float:left;
        margin:0px;
     max-width:730px;
    overflow-x:auto;
    overflow-y:hidden;
    &::-webkit-scrollbar:horizontal { height:0px; }
    .diff-traffic-light
    {
      padding:0px;
       margin:0px;
      img
      {
          width:21px;
         height:21px;
      }
    }
  }

  .file_content
  {
    overflow-x:auto;
    overflow-y:auto;
    &::-webkit-scrollbar:vertical   {  width:7px; }
    &::-webkit-scrollbar:horizontal { height:0px; }
  }
}

input#new-filename, input#rename-filename, input#delete-filename
{
   font-size: 1.15em;
      border: 1px solid lighten($darker-color, 10%);
     padding: { right: 10px; }
       color: $lighter-color;
  background: $darker-color;
  text-align: left;
       width: 200px;
}

#error
{
  width: 580px;
  height: 280px;
  background: red;
  font-size: 12px;
}

#timed-out
{
  width: 480px;
  height: 120px;
  background: gray;
  font-size: 18px;
}

//==================================================

#group-landing-page
{
  margin: { top: 40px; }

  #title { font-size: 36px; }

  #kata-id { font-size: 155px; }

  #phonetic-kata-id
  {
    font-size: 30px;
    padding: { bottom: 10px; }
  }

  button#dashboard
  {
    @include non-code-font();
    @include font-size-larger();
         color: $darker-color;
    text-align: right;
   line-height: 95%;
       padding: { top: 8px; bottom: 8px; left: 15px; right: 15px; }
        margin: { top: 5px; }
  }
}
