#kata-page
{
  display: flex;
  margin: { top: 36px; left: 0px; }

  $column-height: 575px;

  .lhs-gutter, .rhs-gutter
  {
    height: $column-height;
    max-height: $column-height;
    display: inline-block;
  }
  .lhs-gutter { width: 95px; margin-top: 3px; }
  .rhs-gutter { width: 132px; }

  .main-content
  {
    width: 1110px;
    max-width: 1110px;
    display: inline-block;
    margin-top: 3px;
  }

  .left-column
  {
    width: 290px; // Controls width of filenames
    height: $column-height;
    max-height: $column-height;
    display: inline-block;
  }
  .right-column
  {
    width: 770px;
    height: $column-height;
    max-height: $column-height;
    display: inline-block;
    vertical-align: top;
  }
}
