
#starting-info
{
  display: none;
  text-align: left;
}
.info
{
  @include plaintext-font();
  @include rounded-corner(6px);
  background: lighten($darker-color, 5%);
     padding: 10px;
  text-align: left;
  img { width:20px; height:20px; margin-right:5px; }
  ul { margin: { top:5px; bottom:5px; } }
}
.info + .info { margin-top: 10px; }
.nobull
{
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 22px;
}

//---------------------------------------------------

#repl-terminal
{
  height: 540px;
  width: 760px;
  padding: 5px;
  margin: 0px;
  display: none;
  position: relative;
  top: -3px;
}

//---------------------------------------------------

@mixin selectable
{
  @include wide-list-item();
  @include rounded-corner(3px);
  letter-spacing: 0.03em;
  padding: { top:2px; bottom:3px; left:7px;}
  &:hover
  {
    background: lighten($darker-color, 5%);
    border-left: 1px solid lighten($darker-color, 5%);
    border-right: 1px solid lighten($darker-color, 5%);
  }
  &.selected
  {
    cursor: default;
    background: lighten($darker-color, 10%);
    border: 1px solid lighten($darker-color, 10%);
  }
}

//---------------------------------------------------

#kata-page
{
  margin: { top: 40px; left: 35px; }

  #edit-top-row
  {
    max-width: 1070px;
    margin-bottom:4px;
    display: flex;
  }

  img.avatar-image {
    @include rounded-corner(3px);
    display: block;
     cursor: default;
      min-width: 33px; // prevet flex shrinkage
     min-height: 33px; // prevet flex shrinkage
      width: 33px;
     height: 33px;
     margin: { left:0px; right:5px; }
    padding: 0px;
  }

  #test-button
  {
    @include font-size-medium();
           display: inline;
            margin: { left: 1px; right: 2px; }
           padding: { top: 0px; bottom: 2px; left: 7px; right: 7px; }
        text-align: center;
  }

  .filenames-box
  {
    @include rounded-corner(3px);
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    border: 1px solid lighten(black,25%);
    border-bottom: none;
    width: 295px;
    height: 575px;
    padding: 0px;
  }

  .file-operations { button + button { margin-left: 5px; } }

  .new-file, .rename-file, .delete-file
  {
    @include rounded-corner(3px);
    margin: { top:8px; right:0px; bottom:8px; left:8px; }
  }

  #filename-list
  {
        margin: { top: 2px; right: 0px; }
         width: 295px;
        height: 410px;
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar:vertical { width: 0px; }
  }

  .filename
  {
    @include selectable();
    &[class~='highlight'] { &:before { content: "> "; } }
    color: lighten($darker-color, 50%); 
  }

  .tab-filenames { position:relative; top:-1px; }

  .tab
  {
    @include selectable();
    border: 1px solid lighten($darker-color, 15%);
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    border-bottom: none;
    display: inline-block;
    margin: { left: 2px; right: 0px; }
    padding-right:7px;
    background: lighten($darker-color, 15%);
    &:hover
    {
      cursor:pointer;
      border: 1px dotted $lighter-color;
      border-bottom: none;
    }
    &.selected
    {
      cursor: default;
      color: $darker-color;
      background: $lighter-color;
      border: 1px solid $lighter-color;
      border-bottom: none;
    }
    &.filename { margin-left:0px; }
    &.stdout, &.stderr, &.status, &.REPL { float:right; }
    &.REPL { display:none; }
  }

  #traffic-lights-count-total-box
  {
    @include edged-panel();
    display: inline-flex;
    margin: { left:4px; right:4px; }
    max-height:23px;
    .traffic-light-count
    {
      font-size: 23px;
      padding: { left:3px; right:3px; }
      position:relative; top:-3px;
    }
  }

  #traffic-lights-count-predict-box
  {
     #miss-box,#hit-box
     {
       @include edged-panel();
       display: inline-flex;
       max-height:23px;
     }
     #miss-box { margin: { left:0px; right:0px; } }
     #hit-box { margin: { left:0px; right:4px; } }

     #miss-img,#hit-img
     {
       width:15px;
       height:15px;
       padding: { left:3px; right:3px; }
       position:relative; top:3px;
     }
     #miss-count,#hit-count
     {
       font-size: 23px;
       padding: { left:3px; right:3px; }
       position:relative; top:-3px;
     }
  }

  #traffic-lights
  {
       display:inline-flex;
        margin:0px;
    overflow-x:auto;
    overflow-y:hidden;
    &::-webkit-scrollbar:horizontal { height:0px; }
    .diff-traffic-light
    {
      padding:0px;
       margin:0px;
      img
      {
        width:22px;
        height:22px;
        position:relative; top:5px;
      }
    }
  }

  #visible-files-box
  {
    position: relative;
    top: -3px;
  }

  .file_content
  {
    overflow-x:auto;
    overflow-y:auto;
    &::-webkit-scrollbar:vertical   {  width:7px; }
    &::-webkit-scrollbar:horizontal { height:0px; }
  }
}

input#new-filename, input#rename-filename, input#delete-filename
{
   font-size: 1em;
   @include rounded-corner(4px);
   padding: { top:2px; bottom:3px; left:7px;}
   border: none;
  background: $lighter-color;
  color: $darker-color;
  text-align: left;
       width: 200px;
}

div.predict
{
  width:42px;
  height:42px;
  cursor: pointer;
}
div#predict-red         { background: url("/traffic-light/image/red_predicted_none.png")    no-repeat; }
div#predict-red:hover   { background: url("/traffic-light/image/red_predicted_red.png")     no-repeat; }
div#predict-amber       { background: url("/traffic-light/image/amber_predicted_none.png")  no-repeat; }
div#predict-amber:hover { background: url("/traffic-light/image/amber_predicted_amber.png") no-repeat; }
div#predict-green       { background: url("/traffic-light/image/green_predicted_none.png")  no-repeat; }
div#predict-green:hover { background: url("/traffic-light/image/green_predicted_green.png") no-repeat; }

.predict-blurb { padding-left:10px; }

#error
{
  width: 580px;
  height: 280px;
  background: red;
  font-size: 12px;
}

#timed-out, #faulty
{
  height: 240px;
  background: gray;
  font-size: 14px;
}
#timed-out { width: 300px; }
#faulty { width: 550px; }

//==================================================

#group-landing-page
{
  margin: { top: 40px; }

  #title { font-size: 36px; }

  #kata-id { font-size: 155px; }

  #phonetic-kata-id
  {
    font-size: 30px;
    padding: { bottom: 10px; }
  }

  button#dashboard
  {
    @include non-code-font();
    @include font-size-larger();
         color: $darker-color;
    text-align: right;
   line-height: 95%;
       padding: { top: 8px; bottom: 8px; left: 15px; right: 15px; }
        margin: { top: 5px; }
  }
}
