
#starting-info
{
  display: none;
  text-align: left;
}
.info
{
  @include plaintext-font();
  @include rounded-corner(6px);
  background: lighten($darker-color, 5%);
     padding: 10px;
  text-align: left;
  img { width:20px; height:20px; margin-right:5px; }
  ul { margin: { top:5px; bottom:5px; } }
}
.info + .info { margin-top: 10px; }
.nobull
{
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 22px;
}

//---------------------------------------------------

#repl-page
{
  display: none;
  margin: { top: 40px; left: 35px; }
  .resume-button
  {
    @include rounded-corner(4px);
    font-size: 12px;
    padding:{ top:0px; bottom:1px; left:4px; right:4px; }
    margin: { left:1px; right:1px; }
  }
  #repl-terminal
  {
    height: 450px;
    width: 700px;
  }
}

//---------------------------------------------------

#kata-page
{
  margin: { top: 40px; left: 35px; }
  .left-column { width: 295px; }
  #edit-top-row
  {
    max-width: 1070px;
    display: flex;
  }

  img.avatar-image {
    @include rounded-corner(3px);
    display: block;
     cursor: default;
      min-width: 29px; // prevet flex shrinkage
     min-height: 29px; // prevet flex shrinkage
      width: 29px;
     height: 29px;
     margin: { left:0px; right:4px; }
    padding: 0px;
   position: relative;
        top: -2px;
  }

  #test-button
  {
    @include font-size-medium();
           display: inline;
            margin: { left: 1px; right: 2px; }
           padding: { top: 0px; bottom: 2px; left: 7px; right: 7px; }
        text-align: center;
          position: relative;
               top: -2px;
  }

  .file-operations { margin: { top: 2px; bottom: 7px; } }

  .new-file, .rename-file, .delete-file
  {
    @include rounded-corner(3px);
    margin-right: 5px;
  }

  #filename-list
  {
        margin: { top: 2px; right: 0px; }
         width: 295px;
        height: 410px;
    overflow-y: scroll;
    overflow-x: none; // up/down hidden scrollbar
    &::-webkit-scrollbar:vertical { width: 0px; }
  }

  .filename
  {
    @include wide-list-item();
    @include rounded-corner(3px);
    padding: { top:2px; bottom:3px; left:5px;}
    &[class~='highlight'] { &:before { content: "> "; } }
    &:hover
    {
      border: 1px dotted lighten($darker-color,25%);
      background: lighten($darker-color, 5%);
    }
    &.selected
    {
      cursor: default;
      background: $lighter-color;
      color: $darker-color;
      border: 1px solid $lighter-color;
      &:hover { border: 1px dotted lighten($darker-color,25%); }
    }
  }

  .fake-filenames { margin-top: 3px; }
  .fake.filename
  {
    display: inline-block;
    margin-right: 3px;
    padding-right:7px;
  }

  #traffic-lights-count-total-box
  {
    @include edged-panel();
    display: inline-flex;
    position:relative;
    top:-2px;
    margin: { left:2px; right:4px; }
    max-height:20px;
    .traffic-light-count
    {
      position:relative;
      top:-3px;
      padding: { left:3px; right:3px; }
    }
  }

  #traffic-lights-count-predict-box
  {
     display:inline-flex;
     position:relative; top:2px;
  }
  #traffic-lights-count-predict-box
  {
     #miss-box,#hit-box
     {
       @include edged-panel();
       display: inline-flex;
       position:relative;
       top:-4px;
       max-height:20px;
     }
     #miss-box { margin: { left:0px; right:0px; } }
     #hit-box { margin: { left:0px; right:4px; } }

     #miss-img,#hit-img
     {
       width:15px;
       height:15px;
       padding: { left:3px; right:3px; }
       position:relative;
       top:3px;
     }
     #miss-count,#hit-count
     {
       font-size: 22px;
       position:relative;
       top:-3px;
       padding: { left:3px; right:3px; }
     }
  }

  #traffic-lights
  {
       display:inline-flex;
        margin:0px;
    overflow-x:auto;
    overflow-y:hidden;
    &::-webkit-scrollbar:horizontal { height:0px; }
    .diff-traffic-light
    {
      padding:0px;
       margin:0px;
      img { width:21px; height:21px; }
      position:relative; top:2px;
    }
  }

  #visible-files-container
  {
    @include rounded-corner(3px);
    position: relative;
    top: -1px;
  }

  .file_content
  {
    overflow-x:auto;
    overflow-y:auto;
    &::-webkit-scrollbar:vertical   {  width:7px; }
    &::-webkit-scrollbar:horizontal { height:0px; }
  }
}

input#new-filename, input#rename-filename, input#delete-filename
{
   font-size: 1em;
   @include rounded-corner(4px);
   padding: { top:2px; bottom:3px; left:7px;}
   border: none;
  background: $lighter-color;
  color: $darker-color;
  text-align: left;
       width: 200px;
}

div.predict
{
  width:42px;
  height:42px;
  cursor: pointer;
}
div#predict-red         { background: url("/traffic-light/image/red_predicted_none.png")    no-repeat; }
div#predict-red:hover   { background: url("/traffic-light/image/red_predicted_red.png")     no-repeat; }
div#predict-amber       { background: url("/traffic-light/image/amber_predicted_none.png")  no-repeat; }
div#predict-amber:hover { background: url("/traffic-light/image/amber_predicted_amber.png") no-repeat; }
div#predict-green       { background: url("/traffic-light/image/green_predicted_none.png")  no-repeat; }
div#predict-green:hover { background: url("/traffic-light/image/green_predicted_green.png") no-repeat; }

.predict-blurb { padding-left:10px; }

#error
{
  width: 580px;
  height: 280px;
  background: red;
  font-size: 12px;
}

#timed-out, #faulty
{
  height: 240px;
  background: gray;
  font-size: 14px;
}
#timed-out { width: 300px; }
#faulty { width: 550px; }

//==================================================

#group-landing-page
{
  margin: { top: 40px; }

  #title { font-size: 36px; }

  #kata-id { font-size: 155px; }

  #phonetic-kata-id
  {
    font-size: 30px;
    padding: { bottom: 10px; }
  }

  button#dashboard
  {
    @include non-code-font();
    @include font-size-larger();
         color: $darker-color;
    text-align: right;
   line-height: 95%;
       padding: { top: 8px; bottom: 8px; left: 15px; right: 15px; }
        margin: { top: 5px; }
  }
}
