
#starting-info
{
  display: none;
  text-align: left;
}

.info
{
  @include plaintext-font();
  @include rounded-corner(6px);
  background: lighten($darker-color, 5%);
     padding: 10px;
    margin: { left:0px; right:0px; top:10px; bottom:10px }
  text-align: left;
  img { width:20px; height:20px; margin-right:5px; }
  ul { margin: { top:5px; bottom:5px; } }
}
.info + .info { margin-top: 15px; }

//---------------------------------------------------

#repl-terminal
{
  height: 540px;
  width: 760px;
  padding: 5px;
  margin: 0px;
  display: none;
  position: relative;
  top: -3px;
}

//---------------------------------------------------

#kata-page
{
  margin: { top: 36px; left: 0px; }

  .top-row
  {
    max-width:1070px;
    margin-left:35px;
    margin-bottom:4px;
    padding-top:2px;
    display:flex;
  }

  img.avatar-image {
    @include rounded-corner(6px);
    display: block;
     cursor: pointer;
      min-width: 33px; // prevent flex shrinkage
     min-height: 33px; // prevent flex shrinkage
      width: 33px;
     height: 33px;
     margin: { left:0px; right:4px; }
    padding: 0px;
    &.checkout
    {
      min-width: 20px; // prevent flex shrinkage
     min-height: 20px; // prevent flex shrinkage
      width: 20px;
     height: 20px;
      position:relative;
      border-radius:16px;
      left:1px;
      top:10px;
      margin:0px;
    }
  }

  #test-button
  {
    @include font-size-medium();
    @include rounded-corner(5px);
       display: inline;
        margin: { left: 35px; top:5px; right: 2px; bottom: 8px; }
       padding: { top: 0px; bottom: 1px; left: 7px; right: 7px; }
    text-align: center;
    font-weight: bold;
  }

  .file-operations
  {
    display:block;
    padding:0px;
    margin-left:35px;
    position:relative;
    top:-3px;
    @include rounded-corner(6px);

    .create-file, .delete-file, .rename-file
    {
      display:inline-block;
      @include rounded-corner(3px);
      margin:{ bottom:1px; right:3px }
      padding:{ left:3px; right:3px; top:0px; bottom:2px; }
      width:21px;
      height:21px;
      font-size:14px;
    }
    .create-file { color: darken($green,20%); }
    .delete-file { color: darken($red,  20%); }
    .rename-file { color: darken($blue, 20%); }
  }

  //--------------------------------------------------------------
  // traffic-lights totals

  #traffic-lights-count-total-box
  {
    @include edged-panel();
    display: inline-flex;
    margin: { left:0px; right:4px; }
    max-height:23px;
    .traffic-light-count
    {
      font-size: 23px;
      padding: { left:3px; right:3px; }
      position:relative; top:-3px;
    }
  }

  //--------------------------------------------------------------

  #traffic-lights
  {
       display:inline-flex;
        margin:{ left:3px; top:0px; right:0px; bottom:0px; }
    overflow-x:auto;
    overflow-y:hidden;
    &::-webkit-scrollbar:horizontal { height:0px; }
  }

  img.diff-traffic-light
  {
    margin-right:2px;
    position:relative;
    top:5px;
  }

  img.revert, img.tick, img.cross
  {
    width:17px;
    height:17px;
    padding-top:11px;
    position:relative;
    left:1px;
    top:2px;
  }

  //--------------------------------------------------------------

  .lhs-column
  {
    display:flexbox;
    width:335px;
    height:570px;
    max-height:575px;
    display:inline-block;
    vertical-align:top;
  }
  .middle-column
  {
    display:flexbox;
    width:770px;
    height:575px;
    max-height:575px;
    display:inline-block;
    vertical-align:top;
    position:relative;
    top:7px;
  }
  .rhs-column
  {
    display:flexbox;
    width:100px;
    height:570px;
    max-height:575px;
    display:inline-block;
    vertical-align:top;
  }

  //--------------------------------------------------------------
  // filenames

  #filename-list
  {
        margin: { top: 0px; right: 0px; }
        height: 500px;
        max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar:vertical { width: 0px; }
  }

  //--------------------------------------------------------------
  // tabs

  .tab-filenames { position:relative; top:-1px; }

  .tab
  {
    @include selectable();
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    display: inline-block;
    margin: { left: 0px; right: 0px; }
    padding-right: 7px;

    &.light
    {
      color: lighten($darker-color, 10%);
      background: white;
      border: 1px solid white;
    }
    &.dark
    {
      color: lighten($darker-color, 50%);
      background: black;
      border: 1px solid black;
    }
    &:not(.selected)
    {
      cursor: pointer;
      color: lighten($darker-color, 50%);
      background: lighten($darker-color, 10%);
      border: 1px solid lighten($darker-color, 10%);
      &:hover
      {
        border-left: 1px dotted lighten($darker-color, 50%);
        border-top: 1px dotted lighten($darker-color, 50%);
        border-right: 1px dotted lighten($darker-color, 50%);
      }
    }
    &.output, &.REPL { float: right; margin-left: 2px; }

    &.REPL.light { border-bottom: 2px solid white; }
    &.REPL.dark  { border-bottom: 2px solid black; }
    &:not(.selected).REPL { border-bottom: 2px solid lighten($darker-color, 10%); }
  }

  //--------------------------------------------------------------
  // editor

  #visible-files-box
  {
    position: relative;
    top: -4px;
  }

  .file_content
  {
    overflow-x:auto;
    overflow-y:auto;
    &::-webkit-scrollbar:vertical   {  width:7px; }
    &::-webkit-scrollbar:horizontal { height:0px; }
  }

}

//--------------------------------------------------------------

input#create-filename,
input#rename-filename,
input#delete-filename
{
  @include rounded-corner(4px);
   font-size: 1em;
     padding: { top:2px; bottom:3px; left:7px;}
      margin: { bottom: 5px; }
      border: none;
  text-align: left;
       width: 380px;
     display: block;
}

//--------------------------------------------------------------
// traffic-light prediction

#predict-buttons
{
  display:grid;
  margin-left:35px;
  position:relative;
  top:-5px;
}

button.predict
{
  width: 132px;
  margin-bottom: 1px;
  font-size: 12px !important;
  color: lighten(black, 20%);
  font-weight: bold;
  text-align: left;
  &.red   { background: $red;   border-color: $red;   }
  &.amber { background: $amber; border-color: $amber; }
  &.green { background: $green; border-color: $green; }
  &.red, &.amber, &.green { &:hover { border-style: dotted; border-color: lighten(black,20%); } }

  &.red { color: lighten(black,10%); }
}

//--------------------------------------------------------------

#error
{
  width: 580px;
  height: 280px;
  background: red;
  font-size: 12px;
}

#timed-out, #faulty, #out-of-sync, #pulling
{
  height: 240px;
  background: gray;
  font-size: 14px;
  width: 450px;
}
