#predict-checkbox-cell
{
  display: inline-block;
  width: 58px;
  border-radius: 3px;
  color: Black;
  background: lighten($darker-color,40%);
  padding: { left:3px; right:1px; top:0px; bottom:0px; }
  margin: 0px;
}

#predict-checkbox-title,
{
  display: inline;
  font: bold 10px sans-serif;
  padding-left: 4px;
  cursor: pointer;
  vertical-align: middle;
  letter-spacing: 0.02em;
}

#predict-checkbox,
{
  display: inline;
  margin: 0px;
  vertical-align: middle;
  cursor: pointer;
  transform: scale(0.9);
  position: relative;
  top: -1px;
}
