#predict-counts
{
   display: grid;
   margin-left: 8px;

   #tick-box, #cross-box, #revert-box
   {
     display: inline-flex;
     border-radius: 5px;
     max-height:28px;
     width:45px; max-width:45px;
     margin-bottom: 1px;
     padding: { left:4px; right:4px; top:3px; bottom:1px; }
     color: lighten(Black, 20%);
     background: lighten($darker-color, 40%);
     border: 1px solid lighten($darker-color, 40%);
     &.red   { border: 1px dotted $red  ; }
     &.amber { border: 1px dotted $amber; }
     &.green { border: 1px dotted $green; }
   }
   #tick-count, #cross-count, #revert-count
   {
     font-size: 18px;
     text-align: right;
     display: inline-block;
     min-width: 17px;
     max-width: 35px;
     padding: { left:3px; right:3px; }
     color: lighten(Black, 20%);
     position: relative;
     top: -1px;
   }
   #tick-img, #cross-img, #revert-img
   {
     width: 19px;
     height: 19px;
     padding: { left:3px; right:3px; top:0px; bottom:0px; }
   }
}
