#predict-buttons-container
{
  display: grid;
}

button.predict
{
  width: 162px;
  margin-bottom: 2px;
  font-size: 14px !important;
  color: lighten(Black, 20%);
  font-weight: bold;
  text-align: center;

  $fadePercent: 15%;

  &.red
  {
    background: lighten($red,$fadePercent);
    border-color: lighten($red,$fadePercent);
    color: lighten(Black,10%);
  }
  &.amber
  {
    background: lighten($amber,$fadePercent);
    border-color: lighten($amber,$fadePercent);
  }
  &.green
  {
    background: lighten($green,$fadePercent);
    border-color: lighten($green,$fadePercent);
  }

  &.red, &.amber, &.green
  {
    &:hover
    {
      border-style: dotted; border-color: lighten(Black,20%);
    }
    &[disabled]
    {
      background: lighten($darker-color, 20%);
      border-color: lighten($darker-color,20%);
      cursor: default;
      &:hover { border-color: lighten($darker-color,20%); }
    }
  }
}
