#predict-counts
{
   display:inline-flex;
   margin-left:4px;

   #tick-box, #cross-box
   {
     @include edged-panel();
     display: inline-flex;
     max-height:23px;
     margin: { left:0px; right:0px; }
   }
   #tick-img, #cross-img
   {
     width:15px;
     height:15px;
     padding: { left:3px; right:3px; }
     position:relative; top:3px;
   }
   #tick-count, #cross-count
   {
     font-size:23px;
     padding: { left:3px; right:3px; }
     position:relative; top:-3px;
   }
}
