#predict-buttons-container
{
  margin-top: 3px;
  table
  {
    border-spacing: 0;
    border-collapse: collapse;
  }
  th, td { padding: 0; }
}

button.predict
{
  border-radius: 5px;
  width: 97px;
  margin-top: 1px;
  padding-left: 7px;
  font-size: 19px;
  color: lighten(Black, 20%);
  font-weight: bold;
  text-align: center;

  &.red
  {
    background: $red;
    border-color: $red;
    color: lighten(Black,10%);
  }
  &.amber
  {
    background: $amber;
    border-color: $amber;
  }
  &.green
  {
    background: $green;
    border-color: $green;
  }

  &.red, &.amber, &.green
  {
    &:hover
    {
      border-style: dotted; border-color: lighten(Black, 20%);
    }
    &[disabled]
    {
      background: lighten($darker-color, 20%);
      border-color: lighten($darker-color, 20%);
      cursor: default;
      &:hover { border-color: lighten($darker-color, 20%); }
    }
  }
}
