#revert-title-cell
{
  display: inline-block;
  width: 110px;
  border-radius: 3px;
  color: Black;
  background: lighten($darker-color,40%);
  padding: { left:3px; right:1px; top:0px; bottom:0px; }
  margin: 0px;
}

#revert-title
{
  display: inline;
  font: bold 10px sans-serif;
  color: Black;
  padding-left: 4px;
  vertical-align: middle;
  letter-spacing: 0.02em;
}

.revert-checkbox-cell
{
  display: inline-block;
  color: Black;
  cursor: pointer;
  background: lighten($darker-color,40%);
  border: none;
  margin-left: 2px;
  padding-right: 1px;
  border-radius:3px;
}

.revert-checkbox
{
  cursor: pointer;
  width: 11px;
  height: 13px;
}
