#review-page
{
  .review-grid
  {
    display: flex;
    @include non-code-font();
    margin: { top:39px; left:2px; }
    padding: 0px;
    background: $darker-color;
    color: $lighter-color;
  }

  .left-gutter
  {
    height: 610px;
    max-height: 610px;
    display: inline-block;
    margin: { top:1px; left:5px; }
    position: relative; // To allow charity/sponsor absolute:bottom
  }

  .left-column
  {
    margin-left: 20px;
    width: 275px; // Prevent movement when diff checkbox toggles
  }
}
