#review-page
{
  .review-grid
  {
    display: flex;
    @include non-code-font();
    margin: { top:39px; left:2px; }
    padding: 0px;
    background: $darker-color;
    color: $lighter-color;
  }

  .left-gutter
  {
    width: 100px;
    height: 610px;
    max-height: 610px;
    display: inline-block;
    position: relative;
  }

  .left-column
  {
    width: 365px;
  }

  .right-column
  {
    width: 1110px;
  }
}
