#review-page
{
  .review-grid
  {
    display: flex;
    @include non-code-font();
    margin: { top:39px; left:2px; }
    padding: 0px;
    background: $darker-color;
    color: $lighter-color;
  }

  .right-gutter { width: 132px; }
  .left-column { width: 275px; }
  .right-column {}
}
