
@mixin diff-pre-block
{
  white-space: pre;
      display: block;
}

#review-page
{
  @include non-code-font();
  margin: { top: 36px; left: 35px; }
  display: none;
     padding: 0px;
  background: $darker-color;
       color: $lighter-color;

  #review-top-row
  {
    max-width: 1145px;
    padding-top: 3px;
    display: flex;
  }

  .left-column { width: 365px; }

  .controls { margin-top: 10px; }

  #avatar-navigator, #traffic-light-navigator { max-height: 25px; }

  #review-avatar-image-box
  {
    img.avatar-image
    {
      @include rounded-corner(6px);
       cursor: pointer;
        width: 25px;
       height: 25px;
       margin: 0px;
      padding: 0px;
       margin: 0px;
    }
  }

  #resume-button
  {
    @include font-size-medium();
    margin: { left:0px; right: 5px; }
         padding: { top:0px; bottom:2px; left:8px; right:8px; }
      text-align: center;
     font-weight: bold;
  }

  #resume-button-box,
  #fork-button-box,
  #checkout-button-box
  {
    display: inline;
    margin: 0px;
  }

  #fork-button, #checkout-button
  {
    @include rounded-corner(3px);
    text-align: left;
    font-size: 10px;
    margin-left: 5px;
    padding: { bottom:1px; top:1px; left:6px; right:6px; }
    position: relative;
    top: -3px;
  }

  #review-traffic-lights
  {
    display: flex;
    margin-top: 3px;
    overflow-x: auto;
    overflow-y: auto;
    &::-webkit-scrollbar:horizontal { height: 0px; }

    .light.box
    {
      display: grid;
      margin-right: 2px;
    }

    img.revert, img.tick, img.cross
    {
      width:16px;
      height:16px;
    }
    img.checkout
    {
      width:18px;
      height:18px;
      border-radius:9px;
    }

    img.diff-traffic-light, img#traffic-light-marker
    {
      width: 25px;
    }
    img.diff-traffic-light
    {
      height:25px;
    }
    img#traffic-light-marker
    {
      height:3px;
      vertical-align:top;
      margin-top:4px;
    }
  }

  #traffic-light-navigator, #avatar-navigator
  {
    @include edged-panel();
    background: lighten($darker-color,10%);
    padding-bottom: 0px;
    display: flex;
    margin-left: 1px;
    margin-right: 6px;
    #review-index-box
    {
      min-width: 30px;
      #index-number
      {
        @include rounded-corner(4px);
           padding: { left: 3px; right: 3px; }
         font-size: 21px;
        text-align: center;
          position: relative;
               top: -3px;
      }
    }
    .triangle.button
    {
      @include rounded-corner(4px);
      width: 20px;
      height: 20px;
      padding: 0px;
      border: 1px solid lighten($darker-color,35%);
      &:hover { border: 1px dotted lighten($darker-color,35%); }
      &[disabled]
      {
        background: lighten($darker-color,35%);
        &:hover { border: 1px solid lighten($darker-color,35%); }
      }
    }
    #first-index, #prev-index, #next-index, #last-index,
    #prev-avatar, #next-avatar
    {
      img
      {
        @include rounded-corner(0px);
           width: 12px;
          height: 12px;
         padding: 0px;
         position: relative; top: 1px; // down
      }
    }
    #first-index, #last-index
    {
      &.triangle.button
      {
        width: 15px;
        height: 15px;
      }
      img
      {
        width: 6px;
       height: 6px;
       padding: 0px;
       position: relative; top: -1px; // up
      }
    }
  }

  #diff-filenames
  {
    display: flex;
    flex-direction: column;
    float: left;
    max-height: 435px;
    margin: { top: 8px; }
    overflow-x: auto;
    overflow-y: auto;
    &::-webkit-scrollbar:vertical { width: 0px; }
    &::-webkit-scrollbar:horizontal { height: 0px; }

    font-size: 11pt;

    .filename
    {
      @include wide-list-item();
      @include rounded-corner(3px);
      letter-spacing: 0.03em;

       height: 16px;
      padding: { left: 4px; top: 2px; bottom: 4px; }
       border: 1px solid $darker-color;
       margin: { bottom: 2px; }

           width: 230px;
       max-width: 230px;

      color: lighten($darker-color,50%);

      &.selected
      {
        background: $lighter-color;
        color: $darker-color;
      }
    }
  }

  #diff-content, #diff-content-output { position:relative; top:10px; }

  .diff-line-numbers,
  .diff-sheet
  {
    background: $projector-background;
    @include code-font();
     font-size: 11.4pt; // Matches font used in CodeMirror
        height: 575px;
        margin: 0px;
       padding: 0px;
        cursor: default;

    added, deleted, same
    {
      @include diff-pre-block;
      padding-left: 0px;
      color: black;
    }
    added   { background: $diff-added-line-background; }
		deleted { background: $diff-deleted-line-background; }
  }

  .diff-line-numbers
  {
    background: darken($projector-background, 5%);
         width: 40px;
    text-align: right;
      overflow: hidden;
        border: none;
    border-top-left-radius: 1px;
    added, deleted, same { color: lighten($darker-color, 30%); }
      added:after { content: '+'; }
    deleted:after { content: '-'; }
       same:after { content: ' '; }
  }

  .diff-sheet
  {
         width: 735px; // Just enough for 80 characters at 11.4pt font.
    text-align: left;
    overflow-x: auto;
    overflow-y: auto;
    outline: none;
     border: none;

      added { border-left: 2px solid $diff-added-line-background; }
    deleted { border-left: 2px solid $diff-deleted-line-background; }
       same { border-left: 2px solid $projector-background; }

    added, deleted, same
    {
      &:hover { border-left: 2px solid darken($projector-background,40%); }
    }
  }
}

.no-title .ui-dialog-titlebar { display: none; }
