
@mixin diff-pre-block
{
  white-space: pre;
      display: block;
}

#review-page
{
  margin: { top: 40px; left: 35px; }
  .left-column { width: 295px; }

  @include non-code-font();
     padding: none;
  background: $darker-color;
       color: $lighter-color;

  #resume-button-box,
  #diff-checkbox-container,
  #fork-button-box,
  #checkout-button-box
  {
    display: inline;
    margin: 0px;
  }

  img.avatar-image
  {
    @include rounded-corner(6px);
    display: inline-block;
     cursor: default;
      width: 26px;
     height: 26px;
     margin: 0px;
    padding: 0px;
     margin: 0px;
     position:relative;
     top: 5px;
  }

  #resume-button
  {
    @include non-code-font();
    @include font-size-medium();
     font-weight: bold;
    margin-right: 4px;
         padding: { top:0px; bottom:2px; left:8px; right:8px; }
      text-align: center;
  }

  #diff-checkbox-container
  {
    @include edged-panel();
    background: lighten($darker-color,10%);
       width: 55px;
      margin: { left: 2px; right: 5px; }
     padding: { top:5px; bottom:2px; right:0px; }
    position: relative;
         top: 1px;
    #diff-checkbox-title
    {
      @include plaintext-font();
          cursor: pointer;
       font-size: 12px;
         display: inline;
         position: relative;
           bottom: 3px;
    }
  }

  #fork-button, #checkout-button
  {
    @include rounded-corner(4px);
    text-align: left;
    font-size: 10px;
    margin-right: 3px;
    padding: { bottom:1px; top:1px; left:6px; right:6px; }
    position: relative;
    top: -3px;
  }

  #review-traffic-lights
  {
       display: inline-flex;
        margin: 0px;
     max-width: 733px;
    overflow-x: auto;
    overflow-y: hidden;
    &::-webkit-scrollbar:horizontal { height: 0px; }

    table { border-collapse: collapse; }
    tr td { padding:0px; margin:0px; border:none; line-height:0; vertical-align:top; }

    img.diff-traffic-light
    {
      cursor: pointer;
      width: 22px;
      height: 22px;
    }
    img.marker
    {
      padding-left: 1px;
      width: 22px;
      height: 3px;
    }
  }

  #traffic-light-navigator, #avatar-navigator
  {
    display: inline;
    font-size: 0; // remove whitespace between child inline-block elements
    position:relative; top:-8px;
    margin-left: 0px;
    margin-right: 6px;
    #review-index-box
    {
      display: inline-block;
      width: 37px;
      #index-number
      {
        @include rounded-corner(4px);
        background: lighten($darker-color,15%);
           padding: { left: 3px; right: 3px; }
         font-size: 20px;
        text-align: center;
      }
    }
    #review-avatar-image-box
    {
      display: inline-block;
    }
    .triangle.button
    {
      position: relative; top: -3px; // up
      @include rounded-corner(4px);
      width: 20px;
      height: 20px;
      padding: 0px;
      border: 1px solid lighten($darker-color,35%);
      &:hover { border: 1px dotted lighten($darker-color,35%); }
      &[disabled]
      {
        background: lighten($darker-color,35%);
        &:hover { border: 1px solid lighten($darker-color,35%); }
      }
    }
    #first-index, #prev-index, #next-index, #last-index,
    #prev-avatar, #next-avatar
    {
      display: inline-block;
      img
      {
        @include rounded-corner(0px);
           width: 12px;
          height: 12px;
         padding: 0px;
         position: relative; top: 1px; // down
      }
    }
    #first-index, #last-index
    {
      &.triangle.button
      {
        width: 15px;
        height: 15px;
      }
      img
      {
        width: 6px;
       height: 6px;
       padding: 0px;
       position: relative; top: -1px; // up
      }
    }
  }

  #diff-filenames
  {
    display: flex;
    flex-direction: column;
    float: left;
    height: 490px;
    margin: { top: 8px; }
    overflow-x: auto; // make scrollbars invisible
    overflow-y: auto;
    &::-webkit-scrollbar:vertical { width: 0px; }
    &::-webkit-scrollbar:horizontal { height: 0px; }

    font-size: 11pt;

    .diff-filename-box
    {
      display: flex;
      flex-direction: row;
    }

    .filename
    {
      @include wide-list-item();
       height: 16px;
      padding: { left: 4px; top: 0px; bottom: 4px; }
       border: 1px solid $darker-color;
       margin: { bottom: 2px; }

           width: 230px;
       max-width: 230px;

      &[data-filename='stdout'] { margin-top: 20px; }
      &[data-filename='status'] { margin-bottom: 20px; }
    }
  }

  .diff-line-numbers,
  .diff-sheet
  {
    background: $projector-background;
    @include code-font();
        height: 572px;
        margin: 0px;
       padding: 0px;
        cursor: default;

    added, deleted, same
    {
      @include diff-pre-block;
      padding-left: 0px;
      color: black;
    }
    added   { background: $diff-added-line-background; }
		deleted { background: $diff-deleted-line-background; }
  }

  .diff-line-numbers
  {
    background: darken($projector-background, 5%);
         width: 40px;
    text-align: right;
      overflow: hidden;
        border: none;
    border-top-left-radius: 1px;
    added, deleted, same { color: lighten($darker-color, 50%); }
      added:after { content: '+'; }
    deleted:after { content: '-'; }
       same:after { content: ' '; }
  }

  .diff-sheet
  {
         width: 805px;
    text-align: left;
    overflow-x: auto;
    overflow-y: auto;
    &::-webkit-scrollbar:vertical { width: 7px; }
    // If the horizontal scrollbar has any height you lose
    // the vertical scroll-alignment with the line-numbers.
    // So make the horizontal scrollbar invisible whilst
    // retaining its functionality.
    &::-webkit-scrollbar:horizontal { height: 0px; }
    outline: none;
     border: none;

      added { border-left: 2px solid $diff-added-line-background; }
    deleted { border-left: 2px solid $diff-deleted-line-background; }
       same { border-left: 2px solid $projector-background; }

    added, deleted, same
    {
      &:hover { border-left: 2px solid darken($projector-background,40%); }
    }
  }

  .diff-deleted-line-count,
  .diff-added-line-count
  {
    @include rounded-corner(4px);
    @include right-align(0px);
    @include diff-line-count;
     color: $darker-color;
    border: 1px solid lighten($darker-color,6%);
    margin: { right: 2px; }
    &:hover { border: 1px dotted lighten($darker-color,6%); }
    &[disabled]:hover { border: 1px solid lighten($darker-color,6%); }
    cursor: pointer;

    &[disabled]
    {
      background: lighten($darker-color,10%);
      cursor: default;
    }

    &[data-filename='stdout'] { margin: {    top: 20px;  } }
    &[data-filename='status'] { margin: { bottom: 20px;  } }
  }

  .diff-deleted-line-count
  {
    background: $diff-deleted-count-color;
    &[disabled] { color: lighten($diff-deleted-count-color,5%); }
  }

  .diff-added-line-count
  {
    background: $diff-added-count-color;
    &[disabled] { color: lighten($diff-added-count-color,5%); }
  }

  .diff-added-line-count, .diff-deleted-line-count
  {
    &.on  { &:before { content: ' '; } }
    &.off { &:before { content: '*'; } }
  }
}

.no-title .ui-dialog-titlebar { display: none; }
