
#setup-page.busy * { cursor: wait !important; }

#setup-pull-dialog
{
  .avatars-grid
  {
            width: 140px;
    padding-right: 25px;
  }
  .selection { @include font-size-medium(); }
}

#setup-start-point-page
{
  margin: { left: 85px; top: 10px; }

  font-size: 1.15em;

  #setup-a-practice-session
  {
    @include non-code-font();
         color: $lighter-color;
     font-size: 3.2em;
    text-align: left;
  }

  #start-points-language-container,
  #start-points-exercise-container,
  #start-points-custom-container
  {
    @include edged-panel();
    padding: 10px;
    .title
    {
      @include font-size-medium();
      color: lighten($darker-color, 30%);
      text-align: left;
      padding-left: 5px;
      font-weight: bold;
    }
    hr
    {
      border: 0;
      border-bottom: 1px dotted gray;
      background: black;
    }
  }

  #languages-list, #exercises-list, #custom-list
  {
    @include non-code-font();
     height: 340px;
    padding: 6px;
     margin-right: 5px;

    overflow-y: auto;
    overflow-x: none;
    &::-webkit-scrollbar:vertical { width: 10px; }

    .filename
    {
      @include font-size-medium();
        padding-left: 0px;
      font-size: 13pt;
      text-align: left;
      &[class~='selected']
      {
        font-style: bold;
             color: darken($lighter-color, 5%);
      }
    }
  }
  #languages-list { width: 240px; }
  #exercises-list { width: 200px; }

  #custom-list
  {
    .display-name
    {
      @include wide-list-item();
      text-align: left;
      max-width: 350px;
    }
    max-width: 350px;
    width: 350px;
  }

  button#ok
  {
    @include non-code-font();
    @include font-size-large();
    margin-top: 5px;
  }

  #language-info-container, #exercise-info-container
  {
    @include plaintext-font();
         width: 450px;
        height: 350px;
      position: relative;
           top: 48px;
       padding: 10px;

  }

  #language-info-container { text-align: left; }

  #exercise-info-container
  {
    @include code-font();
    @include rounded-corner();
    &::-webkit-scrollbar:vertical { width: 10px; }
     font-size: 10pt;
         color: $lighter-color;
    background: lighten($darker-color, 5%);
        border: none;
    overflow-y: scroll;
       outline: none;
        resize: none;
  }
}
