
#setup-start-point-page
{
  margin: { top: 10px; }

  font-size: 1.15em;

  #heading
  {
    @include non-code-font();
         color: $lighter-color;
     font-size: 87px;
    text-align: center;
  }

  .title
  {
    @include font-size-medium();
    color: $lighter-color;
    text-align: left;
    padding-left: 5px;
    font-weight: bold;
  }

  #languages-list, #exercises-list, #custom-list
  {
    @include non-code-font();
     height: 340px;
    padding: 6px;
     margin-right: 5px;

    overflow-y: auto;
    overflow-x: none;
    &::-webkit-scrollbar:vertical { width: 10px; }

    .filename
    {
      @include font-size-medium();
        padding-left: 0px;
      font-size: 13pt;
      text-align: left;
      &[class~='selected']
      {
        font-style: bold;
             color: darken($lighter-color, 5%);
      }
    }
  }

  #languages-list, #exercises-list, #custom-list
  {
    @include edged-panel();
    padding: 10px;
  }
  #languages-list { width: 260px; }
  #exercises-list { width: 200px; }

  #custom-list
  {
    .display-name
    {
      @include wide-list-item();
      text-align: left;
      max-width: 350px;
    }
    max-width: 350px;
    width: 350px;
  }

  #button-container
  {
    text-align: center;
  }

  button#ok
  {
    @include non-code-font();
    @include font-size-large();
    margin-top: 5px;
  }

  #language-info-container, #exercise-info-container
  {
    @include plaintext-font();
         width: 450px;
        height: 342px;
       padding: 10px;
       display: none;
       position: relative;
       top: -2px;
  }

  #language-info-container { text-align: left; }

  #exercise-info-container
  {
    @include code-font();
    @include rounded-corner();
     font-size: 10pt;
         color: $lighter-color;
    background: lighten($darker-color, 5%);
        border: none;
    overflow-y: scroll;
       outline: none;
        resize: none;
        &::-webkit-scrollbar:vertical { width: 10px; }
  }
}
