
#setup-start-point-page
{
  margin: { top: 10px; }

  font-size: 1.15em;

  #heading
  {
    @include non-code-font();
         color: $lighter-color;
     font-size: 87px;
    text-align: center;
  }

  .title
  {
    @include font-size-small();
    color: $lighter-color;
      text-align: left;
    padding-left: 5px;
     font-weight: bold;
  }

  #languages-list, #exercises-list, #custom-list
  {
    @include non-code-font();
           height: 340px;
          padding: 6px;
     margin-right: 5px;

    overflow-y: auto;
    overflow-x: none;
    &::-webkit-scrollbar:vertical { width: 10px; }

    .filename
    {
      @include font-size-medium();
        padding-left: 0px;
           font-size: 13pt;
          text-align: left;
      &[class~='selected']
      {
        font-style: bold;
             color: darken($lighter-color, 5%);
      }
    }
  }

  #languages-list, #exercises-list, #custom-list
  {
    @include edged-panel();
    padding: 10px;
  }
  #languages-list { width: 260px; }
  #exercises-list { width: 200px; }

  #custom-list
  {
    max-width: 350px;
        width: 350px;

    .display-name
    {
      @include wide-list-item();
      text-align: left;
       max-width: 350px;
    }
  }

  #button-box { text-align: center; }

  button#ok
  {
    @include non-code-font();
    @include font-size-large();
    margin-top: 5px;
  }

  #language-info-box, #exercise-info-box
  {
    @include plaintext-font();
      height: 342px;
       width: 450px;
     padding: 10px;
     display: none;
    position: relative;
         top: -2px;
  }

  #language-info-box
  {
    font-size: 12pt;
    text-align: left;
    .traffic-light
    {
      width: 20px;
      height: 20px;
      margin: { top: 2px; bottom: 0px; left: 10px; right: 5px; }
      padding: 0px;
    }
  }

  #exercise-info-box
  {
    @include code-font();
    @include rounded-corner();
     font-size: 10pt;
         color: $lighter-color;
    background: lighten($darker-color, 5%);
        border: none;
    overflow-y: scroll;
       outline: none;
        resize: none;
        &::-webkit-scrollbar:vertical { width: 10px; }
  }
}
