
#setup-page.busy * { cursor: wait !important; }

#setup-language-page, #setup-exercise-page {

  margin: { top: 55px; }
  font-size: 1.15em;

  #setup-a-practice-session {
    @include non-code-font();
         color: $lighter-color;
     font-size: 3.5em;
    text-align: right;
  }

  #languages-container, #tests-container, #exercises-container {
    @include edged-panel();
    padding: 10px !important;
  }

  #languages-list, #tests-list, #exercises-list {
    @include non-code-font();
     height: 370px;
    padding: 6px;
     margin: { right: 5px; }

    overflow-y: auto;
    overflow-x: none;
    &::-webkit-scrollbar:vertical { width: 10px; }

    .filename {
      @include font-size-medium();
        padding: { right: 0px; }
      font-size: 13pt !important;
          width: 145px;
      direction: ltr;
      &[class~='selected'] {
        font-style: bold;
             color: darken($lighter-color, 5%);
      }
    }
  }

  #ok, #next {
    @include non-code-font();
    @include font-size-large();
    margin: { top: 5px; }
  }
}

// - - - - - - - - - - - - - - - - - - - -

#setup-language-page {

  margin: { left: 150px; }

  #info-container {
    @include plaintext-font();
        height: 365px;
         width: 300px;
       padding: { left: 100px; }
    text-align: right;
  }
}

// - - - - - - - - - - - - - - - - - - - -

#setup-exercise-page {

  margin: { left: 150px; }

  #exercises-container {

    padding: 10px !important;
    margin-left: 110px;

    #exercises-list { width: 165px; }

    #instructions {
      @include code-font();
      &::-webkit-scrollbar:vertical { width: 10px; }
      border-top-left-radius: 5px;
           width: 450px;
         padding: 6px;
       font-size: 10pt;
           color: $lighter-color;
      background: lighten($darker-color, 5%);
          border: none;
          height: 370px;
          margin: { left: 0px; }
      overflow-y: scroll;
         outline: none;
          resize: none;
    }
  }
}
