
#setup-page.busy * { cursor: wait !important; }

#setup-pull-dialog {
  .avatars-grid {
            width: 140px;
    padding-right: 25px;
  }
  .selection {
    @include font-size-medium();
  }
}

#setup-start-point-page, #setup-exercises-page {

  margin: { top: 25px; }
  font-size: 1.15em;

  #setup-a-practice-session {
    @include non-code-font();
         color: $lighter-color;
     font-size: 3.2em;
    text-align: right;
  }

  #start-points-major-container, #start-points-minor-container, #exercises-container {
    @include edged-panel();
    margin-top: 15px;
    padding: 10px;
    .title {
      @include font-size-medium();
      color: lighten($darker-color, 30%);
      text-align: left;
      padding-left: 5px;
      font-weight: bold;
    }
    hr {
      border: 0;
      border-bottom: 1px dotted gray;
      background: black;
    }
  }

  #languages-list, #tests-list, #exercises-list {
    @include non-code-font();
     height: 340px;
      width: 190px;
    padding: 6px;
     margin-right: 5px;

    overflow-y: auto;
    overflow-x: none;
    &::-webkit-scrollbar:vertical { width: 10px; }

    .filename {
      @include font-size-medium();
        padding-left: 0px;
      font-size: 13pt;
      text-align: left;
      &[class~='selected'] {
        font-style: bold;
             color: darken($lighter-color, 5%);
      }
    }
  }
  #choose-exercise, #no-exercise {
    @include non-code-font();
    @include font-size-large();
    margin-top: 5px;
  }

  #create-it {
    @include non-code-font();
    @include font-size-large();
    margin-top: 5px;
  }

}

// - - - - - - - - - - - - - - - - - - - -

#setup-start-point-page {

  margin-left: 150px;

  #info-container {
    @include plaintext-font();
        height: 335px;
         width: 300px;
       padding: { left: 89px; top: 58px; }
    text-align: right;
  }
}

// - - - - - - - - - - - - - - - - - - - -

#setup-exercises-page {

  margin-left: 187px;

  #exercises-container {

        padding: 10px;
    margin-left: 110px;

    #exercises-list { width: 185px; }

    #exercises {
      @include code-font();
      &::-webkit-scrollbar:vertical { width: 10px; }
      border-top-left-radius: 5px;
           width: 450px;
         padding: 6px;
       font-size: 10pt;
           color: $lighter-color;
      background: lighten($darker-color, 5%);
          border: none;
          height: 350px;
          margin-left: 0px;
      overflow-y: scroll;
         outline: none;
          resize: none;
          position: relative;
          top: 20px;
    }
  }
}
