
#setup-page.busy * { cursor: wait !important; }

#setup-start-point-page, #setup-exercises-page {

  margin: { top: 55px; }
  font-size: 1.15em;

  #setup-a-practice-session {
    @include non-code-font();
         color: $lighter-color;
     font-size: 2.2em;
    text-align: right;
  }

  #start-points-major-container, #start-points-minor-container, #exercises-container {
    @include edged-panel();
    padding: 10px !important;
    .title {
      @include font-size-medium();
      color: lighten($darker-color, 30%);
      text-align: right;
      padding-right: 10px;
      font-weight: bold;
    }
    hr {
      border: 0;
      border-bottom: 1px dotted gray;
      background: black;
    }
  }

  #languages-list, #tests-list, #exercises-list {
    @include non-code-font();
     height: 370px;
      width: 140px;
    padding: 6px;
     margin: { right: 5px; }

    overflow-y: auto;
    overflow-x: none;
    &::-webkit-scrollbar:vertical { width: 10px; }

    .filename {
      @include font-size-medium();
        padding: { right: 0px; }
      font-size: 13pt !important;
      direction: ltr;
      &[class~='selected'] {
        font-style: bold;
             color: darken($lighter-color, 5%);
      }
    }
  }
  #ok, #next {
    @include non-code-font();
    @include font-size-large();
    margin: { top: 5px; }
  }
}

// - - - - - - - - - - - - - - - - - - - -

#setup-start-point-page {

  margin: { left: 150px; }

  #info-container {
    @include plaintext-font();
        height: 365px;
         width: 400px;
       padding: { left: 100px; }
    text-align: right;
  }
}

// - - - - - - - - - - - - - - - - - - - -

#setup-exercises-page {

  margin: { left: 150px; }

  #exercises-container {

        padding: 10px !important;
    margin-left: 110px;

    #exercises-list { width: 165px; }

    #exercises {
      @include code-font();
      &::-webkit-scrollbar:vertical { width: 10px; }
      border-top-left-radius: 5px;
           width: 450px;
         padding: 6px;
       font-size: 10pt;
           color: $lighter-color;
      background: lighten($darker-color, 5%);
          border: none;
          height: 420px;
          margin: { left: 0px; }
      overflow-y: scroll;
         outline: none;
          resize: none;
    }
  }
}

#pull-spinner {
     display: none;
  background: url('/images/rotate-cyber-dojo.gif') no-repeat;
       width: 500px;
      height: 500px;
    position: absolute;
         top: 150px;
        left: 400px;
}

#pull-overlay {
    // mimic jQuery modal dialog background
    background: #666666 url(images/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat;
       opacity: .50;
        filter: Alpha(Opacity=50);
       z-index: 999;
      position: absolute;
          left: 0;
           top: 0;
         width: 100%;
        height: 100%;
}


