
#sha-page
{
  margin-top: 40px;
  #aligner { @include center-align(); }
  @include code-font(); // fixed-width
  #aligner td
  {
    padding-left: 0px;
    padding-right: 10px;
    text-align: right;
  }
}
