
@mixin  right-align($margin-right) { margin: { left : auto; right: $margin-right; } }
@mixin   left-align($margin-left ) { margin: { left : $margin-left; right: auto; } }
@mixin center-align                { text-align: center; margin: { left : auto; right: auto; } }

@mixin edged-panel {
  @include rounded-corner(5px);
  background: $darker-color;
     display: inline-block;
      border: 1px dotted gray;
     padding: 5px;
  margin: { right: 10px; }
}

@mixin diff-line-count {
  text-align: right;
      margin: none;
      margin: { bottom: 2px; }
     padding: 2px;
   font-size: 13px;
       width: 20px;
}

//----------------------------------------------

.align-left    { text-align: left; }
.align-center  { @include center-align; }
.align-right   { text-align: right;  }

.valign-top    { vertical-align: top;    }
.valign-center { vertical-align: center; }

//----------------------------------------------

a:link, a:visited { color: $text-color; }

[data-cursor=pointer] { cursor: pointer; }

#wait-spinner { width: 20px; }

//----------------------------------------------

.right-arrow {
   font-size: 15px;
  padding-bottom: 5px;
}

//----------------------------------------------

.diff-traffic-light {
  cursor: pointer;
  margin : { left: 0px; right: 0px; }
  padding: { left: 0px; right: 0px; }
  img {
      width: 22px;
     height: 22px;
    padding: { left: 1px; right: 0px; }
    margin : { left: 0px; right: 0px; }
  }
}

.avatar-image img {
  @include rounded-corner(4px);
    width: 30px;
   height: 30px;
   margin: 0px;
  padding: 0px;
   border: 1px solid lighten($darker-color, 15%);
}

.traffic-light-count {
  font-size: 28px;
    padding: { left: 4px; bottom: 0px; }
}

.avatar_name, #id { @include font-size-tiny(); text-align: right; }

//----------------------------------------------

.dojo-id
{
  position: absolute;
  left: 120px;
  top: 30px;
}

//----------------------------------------------

.avatar-background
{
  @include center-align();
  background: url('/images/avatars/all_avatars_background.png') no-repeat;
       width: 315px;
      height: 315px;

  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;

  .centerer
  {
           display: inline-block;
            height: 100%;
    vertical-align: middle;
  }

  .avatar_image
  {
             width: 162px;
            height: 162px;
    vertical-align: middle;
  }
}
