
@mixin  right-align($margin-right) { margin: { left : auto; right: $margin-right; } }
@mixin   left-align($margin-left ) { margin: { left : $margin-left; right: auto; } }
@mixin center-align                { text-align: center; margin: { left : auto; right: auto; } }

@mixin edged-panel
{
  @include rounded-corner(5px);
     display: inline-block;
      border: 1px solid lighten(black,25%);
     padding: 4px;
}

@mixin diff-line-count
{
  text-align: right;
      margin: 0px;
      margin: { bottom: 2px; }
     padding: 2px;
   font-size: 13px;
       width: 20px;
}

//----------------------------------------------

.align-left    { text-align: left; }
.align-center  { @include center-align; }
.align-right   { text-align: right;  }

.valign-top    { vertical-align: top;    }
.valign-center { vertical-align: middle; }

//----------------------------------------------

a:link, a:visited { color: $text-color; }

[data-cursor=pointer] { cursor: pointer; }

//----------------------------------------------

.right-arrow {
   font-size: 15px;
  padding-bottom: 5px;
}

//----------------------------------------------

.traffic-light-count {
  @include non-code-font();
  cursor: default;
  margin: 0px;
  padding: { left: 8px; right: 5px; }
  font-size: 22px;
  text-align: center;
  position: relative;
  top: -2px;
}

.diff-traffic-light {
  cursor: pointer;
  margin : { left: 0px; right: 0px; }
  padding: { left: 0px; right: 0px; }
  img {
      width: 22px;
     height: 22px;
    padding: { left: 1px; right: 0px; }
    margin : { left: 0px; right: 0px; }
  }
}

.avatar-image img {
  @include rounded-corner(6px);
    width: 30px;
   height: 30px;
   margin: 0px;
  padding: 0px;
}

.avatar_name, #id {
  @include font-size-tiny();
  text-align: right;
}

//----------------------------------------------

.dojo-id
{
  position: absolute;
  left: 120px;
  top: 30px;
}
