button.sponsorship
{
  border-radius: 3px;
  margin: { left:0px; right:0px; top:0px; bottom:7px; }
  padding: { left:2px; right:2px; top:0px; bottom:1px; }
  color: darken($darker-color, 10%);
  font-size: 10px;
  font-weight: bold;
  width: 74px;
  text-align: center;
  position: relative;
  right: -1px;  
}

#sponsorship-dialog
{
  a { color: khaki !important; }
}

.sponsors-cell
{
  display: grid;
  margin: 8px;
  margin-top: 0px;
  padding: 5px;
  border-radius: 3px;
  background: lighten($darker-color, 15%);
  max-width: 75px;
  position: absolute;
  bottom: 0px;
}

.sponsor { display: inline-flex; }

.your-logo-here
{
  font-family: sans-serif;
  font-size: 9px;
  font-weight: bold;
  background: Black;
  color: White;
  padding: 4px;
  border-radius: 3px;
  width: 66px;
  margin: { top:2px; bottom:7px; }
}

#merkely-cell #merkely-image,
#praqma-cell #praqma-image,
#curbralan-cell #curbralan-image,
#wingman-cell #wingman-image,
#showcode-cell #showcode-image,
#bluefruit-cell #bluefruit-image,
#samman-coaching-cell #samman-coaching-image,
#pro-agile-cell #pro-agile-image
{
  border-radius: 2px;
  padding: 0px;
  height: 15px;
  margin-top:0px;
  width: 74px;
}

#bluefruit-cell #bluefruit-image,
#samman-coaching-cell #samman-coaching-image
{
  width: 72px;
  border: 1px solid white;
}


#merkely-cell { margin-bottom: 3px; }
#praqma-cell { margin-bottom: 3px; }
#curbralan-cell { margin-bottom: 3px; }
#bluefruit-cell { margin-bottom: 3px; }
#samman-coaching-cell { margin-bottom: 3px; }
#pro-agile-cell { margin-bottom: 3px; }

#cucumber-cell #cucumber-image,
#showcode-cell #showcode-image,
#pro-agile-cell #pro-agile-image,
{
  margin-bottom: 3px;
  border: 1px solid Gray;
  border-radius: 2px;
  padding: 0px;
  height: 19px;
}
