
#sponsors
{
  margin-top: 20px;
}

.sponsor
{
  padding-left:5px;
  float:left;
}

#praqma-box #praqma-image,
#curbralan-box #curbralan-image,
#wingman-box #wingman-image
{
  @include rounded-corner(2px);
  padding: 0px;
   height: 15px;
   margin: { top:0px; left:3px; }
   position: relative;
   top: 3px;
}

#cucumber-box #cucumber-image
{
  padding: 0px;
   height: 19px;
   margin: { left:3px; }
}

#accu-box #accu-image
{
  @include rounded-corner(3px);
  background: CornSilk;
     padding: 2px;
       width: 43px;
      height: 11px;
      margin: { top:3px; left:9px;  }
      position: relative;
      top: 2px;
}
