#sponsors-cell
{
  display: grid;
  margin: 8px;
  padding: 5px;
  border-radius: 3px;
  background: lighten($darker-color, 15%);
}

#sponsors-title
{
  margin: { bottom:4px; }
  font-size: 12px;
  @include plaintext-font()
  letter-spacing: 0.02em;
}

.sponsor { display: inline-flex; }

#praqma-cell #praqma-image,
#curbralan-cell #curbralan-image,
#wingman-cell #wingman-image
{
  border-radius: 2px;
  padding: 0px;
  height: 15px;
  margin-top:0px;
  width: 74px;
}

#praqma-cell { margin-bottom: 3px; }
#curbralan-cell { margin-bottom: 3px; }
#cucumber-cell #cucumber-image
{
  margin-bottom: 3px;
  border: 1px solid Gray;
  border-radius: 2px;
  padding: 0px;
  height: 19px;
}
