
#team-page
{
  margin: { top: 25px; }

  .center-content { @include center-align(); }

  #title
  {
    @include non-code-font();
         color: $lighter-color;
     font-size: 5.2em;
     padding: { top: 20px; bottom: 20px; }
  }

  #avatars-grid
  {
    width: 303px;
    height: 303px;
    position: relative;
    top: -2px;
    filter: grayscale(100%);
  }

  button
  {
    &#create, &#create-custom, &#join, &#rejoin, &#review
    {
      @include non-code-font();
           color: $darker-color;
      text-align: left;
           width: 290px;
       font-size: 1.97em;
     line-height: 95%;
         padding: 12px;
         padding-left: 20px;
          margin: { top: 0px; bottom: 10px; left: 10px; }
    }

    &#join
    { @include font-size-largest(); }

    &#rejoin, &#create, &#create-custom, &#review
    { @include font-size-medium(); }
  }

  #nadya
  {
    @include plaintext-font();
    text-align: left;
     font-size: 12px;
        padding: { left: 3px; }
  }
}
