
#team-page
{
  margin: { top: 25px; }

  .center-content { @include center-align(); }

  #title
  {
    @include non-code-font();
         color: $lighter-color;
     font-size: 4.2em;
     padding: { top: 20px; bottom: 20px; }
  }

  #avatars-grid
  {
    width: 303px;
    height: 303px;
    position: relative;
    top: -2px;
  }

  button
  {
    &#setup, &#custom-setup, &#enter, &#resume, &#review
    {
      @include non-code-font();
           color: $darker-color;
      text-align: right;
           width: 337px;
       font-size: 1.97em;
     line-height: 95%;
         padding: 12px;
          margin: { top: 0px; bottom: 10px; left: 10px; }
    }

    &#enter
    { @include font-size-largest(); }

    &#resume, &#setup, &#custom-setup, &#review
    { @include font-size-medium(); }
  }

}
