#test-control
{
  margin-left: 35px;
  margin: { top:8px; bottom:8px; }
}

#test-button
{
  display: block;
  border-radius: 5px;
  font-size: 18px;
  width: 61px;
      margin: { top:1px; bottom:0px; }
     padding: { top:0px; bottom:1px; left:7px; right:7px; }
  text-align: center;
  font-weight: bold;
  &:hover { border: 2px dotted Black; }
}
