#test-control
{
  margin-left: $left-column-left-margin;
  margin: { top:0px; bottom:8px; }
}

#test-button
{
  display: block;
  border-radius: 3px;
  font-size: 25px;
  width: 62px;
  margin: { top:1px; bottom:0px; }
  padding: { top:0px; bottom:1px; left:5px; right:4px; }
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.03em;
  &:hover { border: 2px dotted Black; }
}
