#traffic-lights-counts
{
  margin-left:5px; 

  #red-count, #amber-count, #green-count
  {
    @include edged-panel();
    max-height: 26px;
    min-width: 15px;
    width:35px;
    max-width:45px;
    font-size: 23px;
    text-align: center;
    margin-bottom: 1px;
    padding: { left:5px; right:5px; top:2px; bottom:5px; }
    color: lighten(Black, 20%);
    background: lighten($darker-color,35%);
    border: none;
  }

  #red-count.current
  {
    background: $red;
  }

  #amber-count.current
  {
    background: $amber;
  }

  #green-count.current
  {
    background: $green;
  }
}
