#traffic-lights-counts
{
  display:inline-block;

  #red-count, #amber-count, #green-count
  {
    @include edged-panel();
    max-height:23px;
    min-width:14px;
    font-size:23px;
    margin: { left:0px; right:0px; }
    padding: { left:4px; right:4px; top:2px; bottom:7px; }
    position:relative;
    top:0px;
    color:Black;
  }
  #red-count   { background: lighten($red  ,10%); }
  #amber-count { background: lighten($amber,10%); }
  #green-count { background: lighten($green,10%); }
}
