.traffic-light-count
{
  @include non-code-font();
  cursor: default;
  margin: 0px;
  padding: { left: 8px; right: 5px; }
  font-size: 22px;
  text-align: center;
  position: relative;
  top: -2px;
}

#traffic-lights-counts
{
  display: grid;
  width: 61px;
  border-radius: 3px;
  padding: { left:5px; right:4px; top:4px; bottom:2px; }
  background: lighten($darker-color, 15%);
  margin: 8px;
  margin-right: 0px;

  .total
  {
    font-family: sans-serif;
    font-size: 9px;
    color: DarkGray;
    margin-top: 4px;
    letter-spacing: 0.06em;
  }
  .box
  {
    display: inline-flex;
    max-height:28px;
    width:45px; max-width:45px;
    margin-bottom: 1px;
    padding:0px;
  }
  .count
  {
    display: inline-block;
    border-radius: 3px;
    font-size: 18px;
    text-align: right;
    min-width: 25px;
    max-width: 35px;
    color: lighten(Black, 20%);
    padding: { left:4px; right:4px; top:3px; bottom:1px; }
    background: lighten($darker-color, 40%);
    &.actual
    {
      &.red   { background: $red  ; }
      &.amber { background: $amber; }
      &.green { background: $green; }
      &.timed_out { background: #2CDFF0; }
      &.faulty    { background: #2CDFF0; }
      &.pulling   { background: #2CDFF0; }
    }
  }
  img
  {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: { left:5px; top:3px; right:3px; }
  }
}
