
@mixin wide-list-item
{
  @include plaintext-font();

       color: $lighter-color;
  background: $darker-color;

      margin: { bottom: 2px; left: 0px; left: 0px; right: 0px; }
     padding: { right: 0px; }
      cursor: pointer;
  text-align: right;

  // no up/down scrolling, #filename-list has its own
  overflow-y: none;
  &::-webkit-scrollbar:vertical { width: 0px; }

  // individual left/right scrolling for looooooong filenames
  &::-webkit-scrollbar:horizontal { height: 0px; }
    max-width: 250px;
   overflow-x: auto;

  // See app/assets/javascripts/cyber-dojo_files.js function radioEntrySwitch()
  &[class~='selected'] {
    background: lighten($darker-color, 20%);
        cursor: default;
  }
}