
@mixin wide-list-item
{
  @include plaintext-font();

       color: $lighter-color;
  background: $darker-color;

  text-align: left;

      border: 1px solid $darker-color;
      margin: { bottom: 0px; left: 0px; left: 0px; right: 0px; }
     padding: { left: 4px; right: 0px; }
      cursor: pointer;

  // no up/down scrolling, #filename-list has its own
  overflow-y: none;
  &::-webkit-scrollbar:vertical { width: 0px; }

  // individual left/right scrolling for looooooong filenames
  &::-webkit-scrollbar:horizontal { height: 0px; }
    max-width: 295px;
   overflow-x: auto;

  // See app/assets/javascripts/cyber-dojo_files.js function radioEntrySwitch()
  &[class~='selected'] {
    color: $darker-color;
    background-color: $lighter-color;
    cursor: default;
  }
  &:hover {
    border: 1px dotted lighten($darker-color,25%);
  }
}
