
@mixin wide-list-item
{
  @include plaintext-font();

       color: $lighter-color;
  background: $darker-color;

  text-align: left;

      border: 1px solid $darker-color;
      margin: 0px;
      cursor: pointer;

  &:hover { background: lighten($darker-color, 5%); }

  // no up/down scrolling, #filename-list has its own
  overflow-y: hidden;
  &::-webkit-scrollbar:vertical { width: 0px; }

  // individual left/right scrolling for looooooong filenames
  &::-webkit-scrollbar:horizontal { height: 0px; }
   overflow-x: auto;
}
