<div id="full-info">
  <table class="align-center">
    <% 8.times do |y| %>
    <tr>
      <% 8.times do |x| %>
      <td>
        <% index = y*8 + x %>
        <img src="/images/avatars/<%= index %>.jpg"
             class="avatar small" />
      </td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>
