<script type="text/javascript"><!--
'use strict';
$(() => {

  const inputId = $('input#id');
  const dropDown = $('#drop-down');
  const avatarStart = $('#avatar-start');
  const loText = $('#lo-text');
  const ok = $('button#ok');
  const cancel = $('button#cancel');

  const autoDropDown = () => {
    const id = inputId.val();
    if (id.length >= 6) {
      $.getJSON('/id_join/drop_down', { id: id }, (dojo) => {
        if (dojo.exists) {
          if (dojo.full) {
            loText.html('sorry, full up!');
            avatarStart.html(dojo.fullHtml);
            ok.hide();
            cancel.show();
          } else {
            loText.html('your animal is the ' + dojo.avatarName);
            avatarStart.html(dojo.avatarStartHtml);
            ok.unbind().click(() => {
              const url = '/kata/edit/' + dojo.id;
              window.location.href = cd.homePageUrl(dojo.id);
              window.open(url);
            });
            ok.show();
            cancel.hide();
          }
          inputId.prop('disabled', true);
          inputId.slideUp('fast', () => {
            dropDown.slideDown('slow');
          });
        }
      });
    }
  };

  dropDown.hide();

  cancel.click(() => {
    dropDown.slideUp('slow', () => {
      inputId.show()
             .prop('disabled', false)
             .val('')
             .slideDown('fast')
             .focus();
    });
  });

  cd.onlyBase58(inputId);

  inputId.focus().keyup(() => { autoDropDown(); });

});

//--></script>

<input type="text"
       id="id"
       placeholder="id?"
       size="8"
       value="">
</input>

<div id="drop-down">
  <div id="avatar-start"></div>
  <div id="lo-text"></div>
  <button id="ok">ok</button>
  <button id="cancel">cancel</button>
</div>
