<script type="text/javascript"><!--
'use strict';
$(() => {

  const inputId = $('input#id');
  const dropDown = $('#drop-down');
  const hiDiv = $('#hi-div');
  const loDiv = $('#lo-div');
  const ok = $('button#ok');
  const cancel = $('button#cancel');

  const inputIdHandler = () => {
    const id = inputId.val();
    inputId.removeClass('invalid');
    if (id.length > 6) {
      inputId.addClass('invalid');
    }
    else if (id.length === 6) {
      inputId.prop('disabled', true);
      cd.waitSpinner.fadeIn('slow', () => {
        $.post('/id_join/join', { id:id }, dropDownHandler)
         .always(() => {
           cd.waitSpinner.fadeOut('slow');
           inputId.prop('disabled', false);
         });
       });
    }
  };

  const dropDownHandler = (response) => {
    if (response.exists) {
      if (response.full) {
        prepareFullDropDown();
      } else {
        prepareAvatarDropDown(response.avatarIndex, response.avatarName, response.id);
      }
      inputId.slideUp('fast', () => dropDown.slideDown('slow'));
    } else {
      inputId.addClass('invalid');
    }
  };

  const prepareFullDropDown = () => {
    hiDiv.html($('#full-info').html());
    loDiv.html('sorry, full up!');
    ok.hide();
    cancel.show();
  };

  const prepareAvatarDropDown = (index, name, id) => {
    showAvatar(index, name);
    cancel.hide();
    ok.unbind()
      .click(() => join(id))
      .show();
  };

  const showAvatar = (index, name) => {
    const $avatar = $('<img>', {
      class:'avatar large',
        src:`/avatars/image/${index}`
    });
    hiDiv.append($avatar);
    loDiv.html(`your animal is the ${name}`);
  };

  const join = (id) => {
    window.open(`/kata/edit/${id}`);
    window.location.href = cd.homePageUrl();
  };

  cancel.click(() => {
    dropDown.slideUp('slow', () => {
      inputId.show()
             .prop('disabled', false)
             .val('')
             .slideDown('fast')
             .focus();
    });
  });

  //- - - - - - - - - - - - - - - - - - - - -

  cd.onlyBase58(inputId);
  inputId.keyup(() => inputIdHandler())
         .focus();

  inputIdHandler();

});

//--></script>

<input type="text"
       id="id"
       placeholder="6-char-id?"
       value="<%= @id %>">
</input>
<br/>

<div id="drop-down" style="display:none;">
  <div id="hi-div"></div>
  <div id="lo-div"></div>
  <button id="ok">ok</button>
  <button id="cancel">cancel</button>
</div>
