<script type="text/javascript"><!--
'use strict';
$(() => {

  const inputId = $('input#id');
  const waitSpinner = $('#wait-spinner');
  const dropDown = $('#drop-down');

  const hiDiv = $('#hi-div');
  const loDiv = $('#lo-div');

  const ok = $('button#ok');
  const cancel = $('button#cancel');

  const inputIdHandler = () => {
    const id = inputId.val();
    if (id.length >= 6) {
      const args = { id:id };
      inputId.prop('disabled', true);
      waitSpinner.show();
      $.getJSON('/id_join/drop_down', args, dropDownHandler)
      .always(() => {
        waitSpinner.hide();
        inputId.prop('disabled', false);
      });
      // TODO: add .fail() handler
    }
  };

  const dropDownHandler = (response) => {
    if (response.exists) {
      if (response.full) {
        prepareFullDropDown();
      } else {
        prepareAvatarDropDown(response.avatarIndex, response.avatarName, response.id);
      }
      inputId.slideUp('fast', () => dropDown.slideDown('slow'));
    }
  };

  const prepareFullDropDown = () => {
    hiDiv.html($('#full-info').html());
    loDiv.html('sorry, full up!');
    ok.hide();
    cancel.show();
  };

  const prepareAvatarDropDown = (avatarIndex, avatarName, id) => {
    showTrafficLightInfo();
    showAvatar(avatarIndex, avatarName);
    cancel.hide();
    ok.unbind()
      .click(() => join(id))
      .show();
  };

  const showTrafficLightInfo = () => {
    hiDiv.html($('#traffic-light-info').html());
  };

  const showAvatar = (avatarIndex, avatarName) => {
    $('#avatar',hiDiv).html($('<img>', {
      'class':'avatar large',
      'src':`/avatar/image/${avatarIndex}`
    }));
    loDiv.html(`your animal is the ${avatarName}`);
  };

  const join = (id) => {
    const url = `/kata/edit/${id}`;
    window.open(url);
    window.location.href = cd.homePageUrl(id);
  };

  cancel.click(() => {
    dropDown.slideUp('slow', () => {
      inputId.show()
             .prop('disabled', false)
             .val('')
             .slideDown('fast')
             .focus();
    });
  });

  //- - - - - - - - - - - - - - - - - - - - -

  cd.onlyBase58(inputId);
  inputId.keyup(() => inputIdHandler())
         .focus();
  inputIdHandler();

});

//--></script>

<input type="text"
       id="id"
       placeholder="id?"
       size="8"
       value="<%= @id %>">
</input>
<br/>
<%= render partial: 'shared/wait_spinner' %>

<div id="drop-down" style="display:none;">
  <div id="hi-div"></div>
  <div id="lo-div"></div>
  <button id="ok">ok</button>
  <button id="cancel">cancel</button>
</div>
