<script type="text/javascript"><!--
'use strict';
$(() => {

  const inputId = $('input#id');
  const dropDown = $('#drop-down');
  const hiDiv = $('#hi-div');
  const loDiv = $('#lo-div');
  const ok = $('button#ok');
  const cancel = $('button#cancel');

  const inputIdHandler = () => {
    const id = inputId.val();
    if (id.length >= 6) {
      autoDropDown(id);
    }
  };

  const autoDropDown = (id) => {
    $.getJSON('/id_join/drop_down', { id:id }, (r) => {
      if (r.exists) {
        if (r.full) {
          prepareFullDropDown();
        } else {
          prepareAvatarDropDown(r.avatarName, r.id);
        }
        inputId.prop('disabled', true);
        inputId.slideUp('fast', () => dropDown.slideDown('slow'));
      }
    });
  };

  const prepareFullDropDown = () => {
    hiDiv.html($('#full-info').html());
    loDiv.html('sorry, full up!');
    ok.hide();
    cancel.show();
  };

  const prepareAvatarDropDown = (avatarName, id) => {
    showTrafficLightInfo();
    showAvatar(avatarName);
    cancel.hide();
    ok.unbind()
      .click(() => join(id))
      .show();
  };

  const showTrafficLightInfo = () => {
    hiDiv.html($('#traffic-light-info').html());
  };

  const showAvatar = (avatarName) => {
    $('#avatar',hiDiv).html($('<img>', {
      'class':'avatar large',
      'src':`/images/avatars/${avatarName}.jpg`
    }));
    loDiv.html(`your animal is the ${avatarName}`);
  };

  const join = (id) => {
    const url = `/kata/edit/${id}`;
    window.location.href = cd.homePageUrl(id);
    window.open(url);
  };

  cancel.click(() => {
    dropDown.slideUp('slow', () => {
      inputId.show()
             .prop('disabled', false)
             .val('')
             .slideDown('fast')
             .focus();
    });
  });

  //- - - - - - - - - - - - - - - - - - - - -

  dropDown.hide();
  cd.onlyBase58(inputId);
  inputId.keyup(() => inputIdHandler())
         .focus();
});

//--></script>

<input type="text"
       id="id"
       placeholder="id?"
       size="8"
       value="">
</input>

<div id="drop-down">
  <div id="hi-div"></div>
  <div id="lo-div"></div>
  <button id="ok">ok</button>
  <button id="cancel">cancel</button>
</div>
