<div id="traffic-light-info">
  <table class="align-center">
    <tr>
      <td id="avatar" rowspan="2">
        <img class='avatar large'
             src="/images/avatars/lionXX.jpg" />
      </td>
      <td><%= render partial: 'traffic_light_bulb_info' %></td>
    </tr>
    <tr><td><%= render partial: 'traffic_light_click_info' %></td></tr>
  </table>
</div>
