<div id="id-join-page">

  <div id="heading" class="center-content">
    join&nbsp;an&nbsp;exercise
  </div>

  <div class="center-content">
    <%= render partial: 'id' %>
  </div>

  <div style="display:none;">
    <%= render partial: 'avatar' %>
    <%= render partial: 'full' %>
  </div>

</div>
