<div id="id-join-page">

  <div id="heading" class="center-content">
    join&nbsp;a&nbsp;session
  </div>

  <div class="center-content">
    <%= render partial: 'id' %>
  </div>

  <div style="display:none;">
    <%= render partial: 'start' %>
  </div>

</div>

<%= render partial: 'shared/app_bar_short',
    locals: { help_url: "http://blog.cyber-dojo.org/p/learn-more.html" } %>
