<script type="text/javascript"><!--
'use strict';
$(() => {

  $('button#create').click(() => {
    const url = '/creator/kata_exercise_choose';
    window.location = url;
  });

});
//--></script>

<button id="create">
  create&nbsp;a&nbsp;new&nbsp;exercise
</button>
