<script type="text/javascript"><!--
'use strict';
$(() => {

  $('button#create-custom').click(() => {
    const url = '/creator/kata_custom_choose';
    window.location = url;
  });

});
//--></script>

<button id="create-custom">
  create&nbsp;a&nbsp;new&nbsp;<i>custom</i>&thinsp;&nbsp;exercise
</button>
