<script type="text/javascript"><!--

$(() => {

  $('button#create').click(() => {
    const url = "/setup_default_start_point/show/<%= @id %>?from=individual";
    window.location = url;
  });

});

//--></script>

<button id="create">
  create&nbsp;a&nbsp;new&nbsp;session
</button>