
<script type="text/javascript"><!--

$(function() {

  $('button#custom-setup').click(function() {
    const url = "/setup_custom_start_point/show/<%= @id %>?from=individual";
    window.location = url;
  });

});

//--></script>

<button id="custom-setup">
  create &amp; join a new custom session
</button>