
<script type="text/javascript"><!--

$(function() {

  $('button#custom-setup').click(function() {
    const url = "/setup_custom_start_point/show/<%= @id %>?from=individual";
    window.location = url;
  });

});

//--></script>

<button id="custom-setup">
  set up and enter a new <i>custom</i> practice
</button>