
<script type="text/javascript"><!--

$(function() {

  $('button#enter').click(function() {
    window.location = '/id_enter/show/';
  });

});

//--></script>

<button id="enter">
  enter a practice
</button>