
<script type="text/javascript"><!--

$(function() {

  $('#re-enter-button').click(function() {
    const url = "/reenter/show";
    window.location = url;
  });

});

//--></script>

<button type="button" id="re-enter-button">
  re-enter a practice
</button>