
<script type="text/javascript"><!--

$(function() {

  $('button#rejoin').click(function() {
    window.location = '/id_rejoin/show?from=individual';
  });

});

//--></script>

<button id="rejoin">
  rejoin&nbsp;my&nbsp;session
</button>