<script type="text/javascript"><!--

$(() => {

  $('button#rejoin').click(() => {
    window.location = '/id_rejoin/show?from=individual';
  });

});

//--></script>

<button id="rejoin">
  rejoin&nbsp;one&nbsp;of&nbsp;my&nbsp;sessions
</button>
