
<script type="text/javascript"><!--

$(function() {

  $('button#rejoin').click(function() {
    window.location = '/id_rejoin/show';
  });

});

//--></script>

<button id="rejoin">
  rejoin a session
</button>