
<script type="text/javascript"><!--

$(function() {

  $('#resume').click(function() {
    window.location = '/resume/show';
  });

});

//--></script>

<button type="button" id="resume">
  resume a practice
</button>