
<script type="text/javascript"><!--

$(function() {

  $('button#setup').click(function() {
    const url = "/setup_default_start_point/show_languages/<%= @id %>?from=individual";
    window.location = url;
  });

});

//--></script>

<button id="setup">
  set up and enter a new practice
</button>