
<script type="text/javascript"><!--

$(function() {

  $('#setup-button').click(function() {
    const url = "/setup_default_start_point/show_languages/<%= @id %>?from=individual";
    window.location = url;
  });

});

//--></script>

<button type="button" id="setup-button">
  setup and enter a new practice
</button>