
<div id="individual-page" class="align-center">

<div id="title" class="center-content">
I'm practising on my own
</div>

<table class="center-content" cellpadding="0" cellspacing="0">
  <tr><td><%= render partial: 'setup_button' %></td></tr>
  <tr><td><%= render partial: 'custom_setup_button' %></td></tr>
  <tr><td><%= render partial: 'enter_button' %></td></tr>
  <tr><td><%= render partial: 'resume_button' %></td></tr>
</table>

</div>
