<div id="individual-page">

  <div id="heading" class="center-content">
    i'm&nbsp;on&nbsp;my&nbsp;own
  </div>

  <table class="center-content">
    <tr><td><%= render partial: 'create_button' %></td></tr>
    <tr><td><%= render partial: 'create_custom_button' %></td></tr>
    <tr><td><%= render partial: 'rejoin_button' %></td></tr>
  </table>

</div>
