<script type="text/javascript">
'use strict';
$(() => {

  const $box = $('.avatar-image-box');
  if ($box.length > 0) {
    const avatarIndex = parseInt("<%= @avatar_index %>");
    $box.append($('<img>', {
        src:`/images/avatars/${avatarIndex}.jpg`,
        alt:'avatar image',
      class:'avatar-image'
    }));
    cd.setupAvatarNameHoverTip($box, '', avatarIndex, '');
  }

});
</script>

<% if @avatar_index %>
  <div class='avatar-image-box'>
  </div>
<% end %>
