
<script type="text/javascript"><!--

$(() => {

  const avatar = $('#avatar-image-opens-dashboard');

  avatar.click(() => {
    const id = avatar.data('id');
    const url = '/dashboard/show/' + id;
    window.open(url);
  });

  cd.createTip(avatar, 'open a dashboard');

  cd.scrollAvatarImageIntoView = () => {
    $('.avatar-image').scrollIntoView();
  };

  cd.scrollAvatarImageIntoView();

});

//--></script>

<% if @avatar_name != '' %>
<div id="avatar-image-opens-dashboard"
     class="avatar-image"
     data-id="<%= @kata.id %>">
  <img src="/images/avatars/<%= @avatar_name %>.jpg"
       alt="<%= @avatar_name %>"
       class="avatar-image" />
</div>
<% end %>
