<% if @manifest['group_index'] %>
  <div class='avatar-image-box'>
  </div>
<% end %>

<script>
'use strict';
$(() => {

  const $box = $('.avatar-image-box');
  if ($box.length > 0) {
    const avatarIndex = parseInt("<%= @manifest['group_index'] %>");
    $box.append($('<img>', {
        src:`/images/avatars/${avatarIndex}.jpg`,
        alt:'avatar image',
      class:'avatar-image'
    }));
    cd.setupAvatarNameHoverTip($box, '', avatarIndex, '');
  }

});
</script>
