<div class='avatar-image-box'></div>

<script>
'use strict';
$(() => {

  const manifest = cd.kata.manifest(cd.kata.id);
  const avatarIndex = manifest.group_index;

  if (avatarIndex) {
    const $img = cd.lib.$makeAvatarImage(avatarIndex);
    $('.avatar-image-box').append($img);
    cd.createTip($img, 'switch to review mode');
    $img.click(() => cd.review.fromTestPage(cd.kata.id, -1));
  }

});
</script>
