
<script type="text/javascript"><!--

$(function() {

  const avatar = $('#avatar-image-opens-dashboard');

  avatar.click(function() {
    var id = $(this).data('id');
    var url = '/dashboard/show/' + id;
    window.open(url);
  });

  cd.createTip(avatar, 'open a dashboard');

  cd.scrollAvatarImageIntoView = function() {
    $('.avatar-image').scrollIntoView();
  };

  cd.scrollAvatarImageIntoView();

});

//--></script>

<div id="avatar-image-opens-dashboard"
     class="avatar-image"
     data-id="<%= @kata.id %>">
  <img src="/images/avatars/<%= @avatar.name %>.jpg"
       alt="<%= @avatar.name %>"
       class="avatar-image" />
</div>
