<% if @manifest['group_index'] %>
  <div class='avatar-image-box'>
  </div>
<% end %>

<script>
'use strict';
$(() => {

  const $box = $('.avatar-image-box');

  if ($box.length > 0) {
    const avatarIndex = parseInt("<%= @manifest['group_index'] %>");
    const $img = cd.lib.$makeAvatarImage(avatarIndex);
    cd.createTip($img, [
      'review or checkout!',
      "any avatar's files"
    ].join('<br/>'));
    $img.click(() => cd.lib.openAvatarSelectorDialog($img, cd.kata.id, setupActiveAvatar));
    $box.append($img);
  }

  const setupActiveAvatar = ($img, index, avatar, $selector) => {
    cd.setupAvatarNameHoverTip($img, '', index, '');
    $img.click(() => {
      cd.removeTip();
      $selector.dialog('close');
      cd.review.fromTestPage(avatar.id, -1);
    });
  };

});
</script>
