<script type="text/javascript">
'use strict';
$(() => {

  $('.avatar-image-box').each(function() {
    const $div = $(this);
    const avatarIndex = parseInt("<%= @avatar_index %>");
    $.getJSON('/images/avatars/names.json', {}, (avatarNames) => {
      const avatarName = avatarNames[avatarIndex];
      const $image = $('<img>', {
        'src':`/images/avatars/${avatarIndex}.jpg`,
        'alt':avatarName,
        'class':'avatar-image'
      });
      $div.append($image);
      cd.createTip($image, avatarName);
    });
  });

});
</script>

<% if @avatar_index %>
  <div class='avatar-image-box'>
  </div>
<% end %>
