<% if @manifest['group_index'] %>
  <div class='avatar-image-box'>
  </div>
<% end %>

<script>
'use strict';
$(() => {

  const $box = $('.avatar-image-box');

  if ($box.length > 0) {
    const avatarIndex = parseInt("<%= @manifest['group_index'] %>");
    const $img = cd.lib.$makeAvatarImage(avatarIndex);
    cd.createTip($img, 'switch to review mode');
    $img.click(() => cd.review.fromTestPage(cd.kata.id, -1));
    $box.append($img);
  }

});
</script>
