<script type="text/javascript"><!--

$(() => {

  const avatar = $('#avatar-image-opens-dashboard');

  avatar.click(() => {
    const groupId = avatar.data('group-id');
    const url = '/dashboard/show/' + groupId;
    window.open(url);
  });

  cd.createTip(avatar, 'open a dashboard');

  cd.scrollAvatarImageIntoView = () => {
    $('.avatar-image').scrollIntoView();
  };

  cd.scrollAvatarImageIntoView();

});

//--></script>

<% if @kata.avatar %>
  <div id="avatar-image-opens-dashboard"
       class="avatar-image"
       data-group-id="<%= @kata.group.id %>">
    <img src="/images/avatars/<%= @kata.avatar.name %>.jpg"
         alt="<%= @kata.avatar.name %>"
         class="avatar-image" />
  </div>
<% end %>
