<button type="button" class="kata charity-button">our&nbsp;charity</button>

<script>
'use strict';
$(() => {

  const $button = $('.kata.charity-button');

  //cd.createTip($button, 'show charity info', cd.kata.tabs.filename());

  $button.click(() => openCharityInfoDialog());

  const openCharityInfoDialog = () => {
    $('#charity-dialog').dialog({
              width: 700,
           autoOpen: true,
      closeOnEscape: true,
              modal: true,
              title: cd.dialogTitle('cyber-dojo Foundation'),
        beforeClose: () => cd.kata.editor.refocus()
    });
  };

});
</script>
