
<div id="visible-files-box"></div>

<script type="text/javascript">
'use strict';
$(() => {

  const editor = cd.kata.editor;

  //- - - - - - - - - - - - - - - - - - - - - - - - - - - -

  <% @files.each do |filename,file| %>
    cd.fileCreate("<%= j raw(filename) %>", {
      content: "<%= j raw(file['content']) %>"
    });
  <% end %>

});
</script>
