
<div id="visible-files-box"></div>

<script type="text/javascript">
'use strict';
$(() => {

  cd.loadInitialFiles = () => {
    const files = [];
    <% @files.each do |filename,file| %>
      var file = {
           name:"<%= j raw(filename) %>",
        content:"<%= j raw(file['content']) %>"
      };
      files.push(file);
    <% end %>
    cd.kata.editor.createFiles(files);
    cd.kata.filenames.refresh();    
  };

});
</script>
