
<div class="fake-filenames">
  <div class="fake-filename">repl</div>
  <div class="fake-filename">stdout</div>
  <div class="fake-filename">stderr</div>
  <div class="fake-filename">status</div>
<div>
  
<script type="text/javascript">
'use strict';
$(() => {

  cd.fileCreate('repl', { content:
    ['Python 3.8.2 (default, Feb 29 2020, 17:03:31)',
     '[GCC 9.2.0] on linux',
     'Type "help", "copyright", "credits" or "license" for more information.',
     '>>>'
    ].join("\n")
  });

});
</script>
