
<!-- when page is loaded hidden inputs are stored in here -->
<div id="file_hashes_incoming_container"></div>

<!-- when tests are run hidden inputs are stored in here -->
<div id="file_hashes_outgoing_container"></div>
