<div class="file-operations">
  <button type="button" class="delete-file">&ndash;</button>
  <button type="button" class="rename-file">&curarr;</button>
  <button type="button" class="create-file">+</button>
</div>

<script>
'use strict';
$(() => {

  cd.createFileButton = () => $('.create-file');
  cd.deleteFileButton = () => $('.delete-file');
  cd.renameFileButton = () => $('.rename-file');

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  const openCreateFileDialog = () => {
    const initialFilename = `filename${cd.extensionFilenames()[0]}`;
    const okInitiallyDisabled = !isValidFilename(initialFilename);
    const okClicked = (newFilename) => {
      cd.kata.editor.createFile(newFilename, {content:''});
      cd.kata.filenames.refresh();
      cd.kata.filenames.select(newFilename);
    };
    openDialog('+', 'create', initialFilename, okInitiallyDisabled, okClicked);
  };

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  const openDeleteFileDialog = () => {
    const filename = cd.kata.tabs.filename().click().text();
    const okInitiallyDisabled = false;
    const okClicked = () => {
      cd.kata.editor.deleteFile(filename);
      cd.kata.filenames.refresh();
      cd.kata.filenames.select(cd.kata.filenames.top());
    };
    openDialog('&mdash;', 'delete', filename, okInitiallyDisabled, okClicked);
  };

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  const openRenameFileDialog = () => {
    const oldFilename = cd.kata.tabs.filename().click().text();
    const okInitiallyDisabled = true;
    const okClicked = (newFilename) => {
      cd.kata.editor.renameFile(oldFilename, newFilename);
      cd.kata.filenames.refresh();
      cd.kata.filenames.select(newFilename);
    };
    openDialog('&curarr;', 'rename', oldFilename, okInitiallyDisabled, okClicked);
  };

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  const openDialog = (glyph, title, initialFilename, okInitiallyDisabled, okClicked) => {

    const input = makeInput(title, initialFilename);
    const okButton = $('<button>', {
      text: 'ok',
      id: 'file-create',
      disabled: okInitiallyDisabled,
      click: () => {
        const newFilename = $.trim(input.val());
        okClicked(newFilename);
        closeDialog();
      }
    });
    const closeDialog = () => okButton.closest('.ui-dialog').remove();

    // Position dialog near to tab.filename because if tab.output is
    // selected then filename will not be selected in filename list.
    const pos = cd.kata.tabs.filename().offset();
    const xPos = pos.left;
    const yPos = pos.top + 25;

    const onDialogOpen = () => {
      input.focus();
      input[0].setSelectionRange(...filenameRange(initialFilename));
    };

    const onDialogClose = (event) => {
      if (event.keyCode === $.ui.keyCode.ESCAPE) {
        closeDialog();
        cd.kata.editor.refocus();
        return true;
      }
    };

    input.keyup((event) => {
      const newFilename = $.trim(input.val());
      okButton.prop('disabled', !isValidFilename(newFilename));
      if (!okButton.prop('disabled') && event.keyCode === $.ui.keyCode.ENTER) {
        okButton.click();
      }
    });

    $('<div>').append(input).append(okButton).dialog({
      open: onDialogOpen,
  	  title: cd.dialogTitle(`${glyph} ${title} file`),
    	autoOpen: true,
      width: 450,
      position: [xPos,yPos],
  	  modal: true,
      beforeClose: onDialogClose,
      closeOnEscape: true,
    });
  };

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  const filenameRange = (f) => {
    let lo = 0;
    // remove trailing .extension
    const ext = f.lastIndexOf('.');
    let hi = (ext != -1) ? ext : f.length;
    const filename = () => f.substring(lo, hi).toLowerCase();
    // remove leading d/i/r/s/
    const dirPos = filename().lastIndexOf('/');
    if (dirPos != -1) {
      lo += dirPos + 1;
    }
    const testWords = [ 'tests', 'test', 'spec', 'steps' ];
    const separators = [ '.', '_', '-', '' ];
    testWords.forEach(word => {
      separators.forEach(sep => {
        // leading remove
        if (filename().startsWith(word.concat(sep)) ||
            filename().startsWith(sep.concat(word))) {
          lo += word.length;
          lo += sep.length;
        }
        // trailing remove
        if (filename().endsWith(word.concat(sep)) ||
            filename().endsWith(sep.concat(word))) {
          hi -= word.length;
          hi -= sep.length;
        }
      });
    });
    return [lo,hi];
  };

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  const makeInput = (name, filename) => {
    const input = $('<input>', {
        type: 'text',
          id: `${name}-filename`,
      'name': `${name}-filename`,
       value: filename
    });
    if (name === 'delete') {
      input.attr('disabled', 'disabled');
    }
    return input;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  const isValidFilename = (filename) => {
    const alreadyExists = (filename) => cd.kata.editor.filenames().includes(filename);
    const contains = (illegal) => filename.indexOf(illegal) !== -1;
    if (alreadyExists(filename)) { return false; }
    if (contains('..')) { return false; }
    if (contains('\\')) { return false; }
    if (contains(' '))  { return false; }
    if (filename === '+REPL') { return false; }
    if (filename === '') { return false; }
    return true;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  cd.createTip(cd.createFileButton(), 'create a new file');

  cd.setTip(cd.deleteFileButton(), () => {
    const currentFilename = cd.kata.tabs.filename().text();
    cd.showHoverTip(cd.deleteFileButton(), `delete ${currentFilename}`);
  });

  cd.setTip(cd.renameFileButton(), () => {
    const currentFilename = cd.kata.tabs.filename().text();
    cd.showHoverTip(cd.renameFileButton(), `rename ${currentFilename}`);
  });

  cd.createFileButton().click(() => openCreateFileDialog());
  cd.deleteFileButton().click(() => openDeleteFileDialog());
  cd.renameFileButton().click(() => openRenameFileDialog());

});
</script>
