
<div id="filename-list"></div>

<script type="text/javascript">
'use strict';
$(() => {

  const filenames = cd.kata.filenames;

  filenames.sorted = () => cd.sortedFilenames();
  filenames.length = () => filenames.sorted().length;
  filenames.selected = () => $('.filename.selected').text().trim();

  //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // Filenames hot-key navigation
  //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // See app/assets/javascripts/cyber-dojo_codemirror.js
  // See app/views/shared/_hotkeys.html.erb
  // Alt-J ==> selectNext()
  // Alt-K ==> selectPrevious()

  filenames.selectNext = () => cd.loadFile(nextFilename());
  filenames.selectPrevious = () => cd.loadFile(previousFilename());

  const nextFilename = () => filenames.sorted()[indexOfNext()];
  const indexOfNext = () => {
    const index = indexOfSelected();
    if (index === -1) {
      return 0;
    } else {
      return (index + 1) % filenames.length();
    }
  };

  const previousFilename = () => filenames.sorted()[indexOfPrevious()];
  const indexOfPrevious = () => {
    const index = indexOfSelected();
    if (index === 0 || index === -1) {
      return filenames.length() - 1;
    } else {
      return index - 1;
    }
  };
  const indexOfSelected = () => filenames.sorted().indexOf(filenames.selected());

  filenames.top = () => {
    return filenames.sorted()[0];
  };

  //= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = =

  let theCurrentFilename = '';

  cd.loadInitialFile = () => cd.loadFile(filenames.top());
  cd.currentFilename = () => theCurrentFilename;
  cd.editorRefocus = () => cd.loadFile(cd.currentFilename());

  //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // Load a named file
  //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  cd.unloadFile = (filename) => fileDiv(filename).hide();

  cd.loadFile = (filename) => {
    // unshow what is currently being shown
    cd.unloadFile('stdout');
    cd.unloadFile('stderr');
    cd.unloadFile('status');
    cd.unloadFile(cd.currentFilename());
    // show filename's contents
    fileDiv(filename).show();
    cd.focusSyntaxHighlightEditor(filename);
    if (!cd.isOutputFile(filename)) {
      selectFileInFileList(filename);
      theCurrentFilename = filename;
    }
    setRenameAndDeleteButtons(filename);
    cd.kata.tabs.setFilename(filename);
  };

  const selectFileInFileList = (filename) => {
    // Can't do $('radio_' + filename) because filename
    // could contain characters that aren't strictly legal
    // characters in a dom node id so I do this instead...
    $('.filename').removeClass('selected');
    const node = $(`[id="radio_${filename}"]`);
    node.addClass('selected');
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  cd.loadTestOutputFiles = (colour, stdout, stderr, status) => {
    cd.fileChange('stdout', { content: stdout });
    cd.fileChange('stderr', { content: stderr });
    cd.fileChange('status', { content: status });
    const empty = (s) => s.length === 0;
    switch (colour) {
      case 'timed_out':
      case 'faulty':
        cd.loadFile('status');
        break;
      case 'red':
      case 'green':
        if (!empty(stdout) || empty(stderr)) {
          cd.loadFile('stdout');
        } else {
          cd.loadFile('stderr');
        }
        break;
      case 'amber':
        if (stdout.length > stderr.length) {
          cd.loadFile('stdout');
        } else {
          cd.loadFile('stderr');
        }
        break;
    }
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  cd.filenames = () => {
    // Gets the kata/edit page filenames. The review/show
    // page/dialog collects filenames in its own way.
    const filenames = [];
    const prefix = 'file_content_for_';
    $(`textarea[id^=${prefix}]`).each(function(_) {
      const id = $(this).attr('id');
      const filename = id.substr(prefix.length, id.length - prefix.length);
      filenames.push(filename);
    });
    return filenames;
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // cd.sortedFilenames()
  //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // Returns how the filenames appear in the filename list.
  // Used in two places
  // 1. kata/edit page to help show filename-list
  // 2. review/show page/dialog to help show filename-list

  cd.sortedFilenames = (filenames) => {
    if (filenames === undefined) {
      filenames = cd.filenames(); // default arg
    }
    const trueFilenames = filenames.slice().filter(filename => !cd.isOutputFile(filename));
    trueFilenames.sort(orderer);
    return trueFilenames;
  };

  const orderer = (lhs,rhs) => {
    const lhsFileCat = fileCategory(lhs);
    const rhsFileCat = fileCategory(rhs);
    if (lhsFileCat < rhsFileCat) { return -1; }
    else if (lhsFileCat > rhsFileCat) { return +1; }
    else if (lhs < rhs) { return -1; }
    else if (lhs > rhs) { return +1; }
    else { return +1; }
  };

  const fileCategory = (filename) => {
    let category = undefined;
    if (isHighlightFile(filename))    { category = 1; }
    else if (isSourceFile(filename))  { category = 2; }
    else                              { category = 3; }
    // Special cases
    if (filename === 'readme.txt')    { category = 0; }
    // Shell test frameworks (eg shunit2) use .sh as their
    // extension but cyber-dojo.sh is always lowest category
    if (filename === 'cyber-dojo.sh') { category = 3; }
    return category;
  };

  const isHighlightFile = (filename) => {
    return cd.highlightFilenames().includes(filename);
  };

  const isSourceFile = (filename) => {
    return cd.extensionFilenames().find(ext => filename.endsWith(ext));
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // new-file, rename-file, delete-file
  //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // See app/views/kata/_file_new_rename_delete.html.erb
  // See app/views/kata/_files.html.erb
  // See app/views/kata/_run_tests.js.erb

  cd.fileChange = (filename, file) => {
    cd.fileDelete(filename);
    cd.fileCreate(filename, file);
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  cd.fileCreate = (filename, file) => {
    cd.kata.editor.createFile(filename, file);
    rebuildFilenameList();
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  cd.fileDelete = (filename) => {
    fileDiv(filename).remove();
    rebuildFilenameList();
    cd.loadFile(filenames.top());
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  cd.fileRename = (oldFilename, newFilename) => {
    // This should restore the caret/cursor/selection
    // but it currently does not. See
    // https://github.com/cyber-dojo/web/issues/51
    const content = fileContent(oldFilename);
    cd.fileDelete(oldFilename);
    cd.fileCreate(newFilename, { content:content });
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  const fileContent = (filename) => {
    cd.saveCodeFromIndividualSyntaxHighlightEditor(filename);
    return jqElement(`file_content_for_${filename}`).val();
  };

  const jqElement = (name) => {
    return $(`[id="${name}"]`);
  };

  const fileDiv = (filename) => {
    return jqElement(`${filename}_div`);
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  const setRenameAndDeleteButtons = (filename) => {
    const disable = (node) => node.prop('disabled', true);
    const enable  = (node) => node.prop('disabled', false);
    if (cantBeRenamedOrDeleted(filename)) {
      disable(cd.renameFileButton());
      disable(cd.deleteFileButton());
    } else {
      enable(cd.renameFileButton());
      enable(cd.deleteFileButton());
    }
  };

  const cantBeRenamedOrDeleted = (filename) => {
    return cd.isOutputFile(filename) || filename === 'cyber-dojo.sh';
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  filenames.refresh = () => {
    rebuildFilenameList();
  };

  const rebuildFilenameList = () => {
    const filenameList = $('#filename-list');
    filenameList.empty();
    cd.sortedFilenames().forEach(filename => {
      filenameList.append(makeFileListEntry(filename));
    });
  };

  const makeFileListEntry = (filename) => {
    const div = $('<div>', {
        class: 'filename',
           id: `radio_${filename}`,
         text: filename
    });
    if (isHighlightFile(filename)) {
      div.addClass('highlight');
    }
    div.click(() => { cd.loadFile(filename); });
    return div;
  };

});
</script>
