<!-- when page is loaded <input> hashes are stored in here -->
<div id="file_hashes_incoming_container"></div>
<!-- when tests are run <input> hashes are stored in here -->
<div id="file_hashes_outgoing_container"></div>

<script type="text/javascript"><!--
$(() => {

  cd.storeIncomingFileHashes = () => {
    const container = $('#file_hashes_incoming_container');
    container.empty();
    cd.eachFilename((filename) => {
      container.append(inputHash('incoming', filename));
    });
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  cd.storeOutgoingFileHashes = () => {
    const container = $('#file_hashes_outgoing_container');
    container.empty();
    cd.eachFilename((filename) => {
      container.append(inputHash('outgoing', filename));
    });
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  const inputHash = (io, filename) => {
    return $('<input>', {
      'type': 'hidden',
      'data-filename': filename,
      'name': 'file_hashes_' + io + '[' + filename + ']',
      'value': cd.hashOfFile(filename)
    })
  };

});
//--></script>
