<div class="filename-tab">repl</div>
<div class="filename-tab">stdout</div>
<div class="filename-tab">stderr</div>
<div class="filename-tab">status</div>
<div id="visible-files-container"></div>

<script type="text/javascript">
'use strict';
$(() => {

  <% @files.each do |filename,file| %>
    cd.fileCreate("<%= j raw(filename) %>", {
      content: "<%= j raw(file['content']) %>"
    });
  <% end %>

  cd.fileCreate('repl', { content:
    ['Python 3.8.2 (default, Feb 29 2020, 17:03:31)',
     '[GCC 9.2.0] on linux',
     'Type "help", "copyright", "credits" or "license" for more information.',
     '>>>'
    ].join("\n")
  }); // FAKE

});
</script>
