
<script type="text/javascript"><!--

$(function() {

  const openDialog = function(name, initialFilename, okInitiallyDisabled, okClicked) {
    const input = makeInput(name, initialFilename);
    const ok = {
      text: 'ok',
      id: 'file-ok',
      disabled: okInitiallyDisabled,
      click: function() {
        const newFilename = $.trim(input.val());
        okClicked(newFilename);
        $(this).remove();
      }
    };
    const cancel = {
      text: 'cancel',
      click: function() { $(this).remove(); }
    };
    const div = $('<div>');
    div.append(input);
    const fileOperationDialog = div.dialog({
      closeOnEscape: true,
      close: function() { $(this).remove(); },
  	  title: cd.dialogTitle(name + '&nbsp;file'),
    	autoOpen: false,
      width: 250,
  	  modal: true,
      buttons: [ ok, cancel ]
    });
  	input.keyup(function(event) {
      const ok = $('#file-ok');
      const newFilename = $.trim(input.val());
      event.preventDefault();
      if (isValidFilename(newFilename))  {
        ok.button('enable');
        if (event.keyCode == $.ui.keyCode.ENTER) {
          okClicked(newFilename);
          ok.closest('.ui-dialog').remove();
        }
      } else {
        ok.button('disable');
      }
    });
    const lastDot = initialFilename.lastIndexOf('.');
    const end = (lastDot != -1) ? lastDot : initialFilename.length;
    input[0].setSelectionRange(0, end);
    fileOperationDialog.dialog('open');
  };

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  const makeInput = function(name, filename) {
    const input = $('<input>', {
      type: 'text',
      id: name+'-filename',
      'name': name+'-filename',
      value: filename
    });
    if (name == 'delete') {
      input.attr('disabled', 'disabled');
    }
    return input;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  const renameFileFromTo = function(oldFilename, newFilename) {
    cd.saveCodeFromIndividualSyntaxHighlightEditor(oldFilename);
    const oldFile = cd.fileContentFor(oldFilename);
    const content = oldFile.val();
    const scrollTop = oldFile.scrollTop();
    const scrollLeft = oldFile.scrollLeft();
    const caretPos = oldFile.caret();

    cd.fileDiv(oldFilename).remove();

    cd.newFileContent(newFilename, content);
    cd.rebuildFilenameList();
    cd.loadFile(newFilename);
  };

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  const isValidFilename = function(filename) {
    const contains = function(illegal) { return filename.indexOf(illegal) != -1; };
    if (cd.filenameAlreadyExists(filename)) { return false; }
    if (contains('..')) { return false; }
    if (contains('\\')) { return false; }
    if (contains(' '))  { return false; }
    if (filename == '') { return false; }
    return true;
  };

  const fileButtons =  $('#file-operations');
  const    newFile = fileButtons.find('#new');
  const renameFile = fileButtons.find('#rename');
  const deleteFile = fileButtons.find('#delete');

  newFile.click(function() {
    const initialFilename = 'filename' + cd.extensionFilenames()[0];
    const okInitiallyDisabled = !isValidFilename(initialFilename);
    const okClicked = function(filename) {
      cd.newFileContent(filename, '');
      cd.editorRefocus();
    };
    openDialog('new', initialFilename, okInitiallyDisabled, okClicked);
  });

  renameFile.click(function() {
    const initialFilename = cd.currentFilename();
    const okInitiallyDisabled = true;
    const okClicked = function(filename) {
      renameFileFromTo(initialFilename, filename);
    };
    openDialog('rename', initialFilename, okInitiallyDisabled, okClicked);
  });

  deleteFile.click(function() {
    const initialFilename = cd.currentFilename();
    const okInitiallyDisabled = false;
    const okClicked = function(filename) {
      cd.deleteFile(filename);
    };
    openDialog('delete', initialFilename, okInitiallyDisabled, okClicked);
  });

});

//--></script>

<div id="file-operations">
  <div><button type="button" id="new">new&nbsp;file</button></div>
  <div><button type="button" id="rename">rename&nbsp;file</button></div>
  <div><button type="button" id="delete">delete&nbsp;file</button></div>
</div>
