
<div class="file-operations">
  <button type="button" class="new-file">&#65291;</button>
  <button type="button" class="delete-file">&#65293;</button>
</div>

<script type="text/javascript">
'use strict';
$(() => {

  cd.newFileButton = () => $('.new-file');
  cd.deleteFileButton = () => $('.delete-file');

  cd.newFileButton().click(() => openNewFileDialog());
  cd.deleteFileButton().click(() => openDeleteFileDialog());

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  const openNewFileDialog = () => {
    const initialFilename = `filename${cd.extensionFilenames()[0]}`;
    const okInitiallyDisabled = !isValidFilename(initialFilename);
    const okClicked = newFilename => {
      cd.kata.editor.createFile(newFilename, {content:''});
      cd.kata.filenames.refresh();
      cd.kata.filenames.select(newFilename);
    };
    openDialog('new', cd.newFileButton(), initialFilename, okInitiallyDisabled, okClicked);
  };

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  const openDeleteFileDialog = () => {
    const $filenames = $('#filename-list');
    const initialFilename = $('.filename.selected', $filenames).text().trim();
    const okInitiallyDisabled = false;
    const okClicked = filename => {
      cd.kata.editor.deleteFile(filename);
      cd.kata.filenames.refresh();
      cd.kata.filenames.select(cd.kata.filenames.top());
    };
    openDialog('delete', cd.deleteFileButton(), initialFilename, okInitiallyDisabled, okClicked);
  };

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  cd.openRenameFileDialog = (originator, filename) => {
    const okInitiallyDisabled = true;
    const okClicked = newFilename => {
      cd.kata.editor.renameFile(filename, newFilename);
      cd.kata.filenames.refresh();
      cd.kata.filenames.select(newFilename);
    };
    openDialog('rename', originator, filename, okInitiallyDisabled, okClicked);
  };

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  const openDialog = (title, originator, initialFilename, okInitiallyDisabled, okClicked) => {

    const input = makeInput(title, initialFilename);
    const okButton = $('<button>', {
      text: 'ok',
      id: 'file-create',
      disabled: okInitiallyDisabled,
      click: () => {
        const newFilename = $.trim(input.val());
        okClicked(newFilename);
        closeDialog();
      }
    });
    const closeDialog = () => okButton.closest('.ui-dialog').remove();
    // position the dialog next to the button that launched it.
    const xPos = originator.offset().left;
    const yPos = originator.offset().top + 24;

    const onDialogOpen = () => {
      const lastDot = initialFilename.lastIndexOf('.');
      const end = (lastDot !== -1) ? lastDot : initialFilename.length;
      input.focus();
      input[0].setSelectionRange(0, end);
    };
    const onDialogClose = (event) => {
      if (event.keyCode === $.ui.keyCode.ESCAPE) {
        closeDialog();
        cd.kata.editor.refocus();
        return true;
      }
    };

    input.keyup((event) => {
      const newFilename = $.trim(input.val());
      okButton.prop('disabled', !isValidFilename(newFilename));
      if (!okButton.prop('disabled') && event.keyCode === $.ui.keyCode.ENTER) {
        okButton.click();
      }
    });

    $('<div>').append(input).append(okButton).dialog({
      open: onDialogOpen,
  	  title: cd.dialogTitle(title+' file'),
    	autoOpen: true,
      width: 450,
      position: [xPos,yPos],
  	  modal: true,
      beforeClose: onDialogClose,
      closeOnEscape: true,
    });
  };

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  const makeInput = (name, filename) => {
    const input = $('<input>', {
        type: 'text',
          id: `${name}-filename`,
      'name': `${name}-filename`,
       value: filename
    });
    if (name === 'delete') {
      input.attr('disabled', 'disabled');
    }
    return input;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  const isValidFilename = filename => {
    const contains = illegal => filename.indexOf(illegal) !== -1;
    if (alreadyExists(filename)) { return false; }
    if (sss(filename)) { return false; }
    if (contains('..')) { return false; }
    if (contains('\\')) { return false; }
    if (contains(' '))  { return false; }
    if (filename === '+REPL') { return false; }
    if (filename === '') { return false; }
    return true;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  const alreadyExists = (filename) => cd.kata.editor.filenames().includes(filename);

  const sss = (filename) => {
    return filename === 'stdout' || filename === 'stderr' || filename === 'status';
  };

});
</script>
