<script type="text/javascript"><!--

$(() => {

  <% @kata.files.each do |filename,content| %>
    cd.newFile("<%= j raw(filename) %>", "<%= j raw(content) %>");
  <% end %>

});

//--></script>

<div id="visible-files-container"></div>
