<div id="visible-files-container"></div>

<script type="text/javascript">
'use strict';
$(() => {

  <% @files.each do |filename,file| %>
    cd.fileCreate("<%= j raw(filename) %>", {
      content: "<%= j raw(file['content']) %>"
    });
  <% end %>

});
</script>
