
<div class="info">
  Please:<ul>
    <li>
      if your use of https://cyber-dojo.org is commercial,
      <a href="http://blog.cyber-dojo.org/2015/08/cyber-dojo-foundation.html" target="_blank">buy a licence</a>
    </li>
    <li>
      consider <a href="javascript:;" onClick="cd.dialog_donate().dialog('open');">making a donation</a>
    </li>
    <li>
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw"
         class="twitter-share-button"
         data-text="I&#39;m honing my craft with #cyberdojo!"
         data-url="https://cyber-dojo.org"
         data-show-count="false" target="_blank">Tweet</a>
      <script async src="https://platform.twitter.com/widgets.js"
              charset="utf-8">
      </script>
      to help publicize cyber-dojo, make suggestions, or report errors.
    </li>
  </ul>
</div>
