<script type="text/javascript"><!--
'use strict';
$(() => {

  cd.emailFeedback = () => {
    const url = "mailto:feedback@cyber-dojo.org?subject=cyber-dojo feedback";
    window.open(url, '_blank');
    return false;
  };

});
//--></script>

<div class="info">
  Please:<ul>
    <li>
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw"
         class="twitter-share-button"
         data-text="I&#39;m honing my craft with #cyberdojo!"
         data-url="https://cyber-dojo.org"
         data-show-count="false" target="_blank">Tweet</a>
      <script async src="https://platform.twitter.com/widgets.js"
              charset="utf-8">
      </script>
      to help publicize cyber-dojo
    </li>
    <li>
    <a href="javascript:;" onClick="cd.emailFeedback()">email</a>
    suggestions, error reports, offers of help
    </li>
    <li>
      consider <a href="javascript:;" onClick="cd.dialog_donate().dialog('open');">making a donation</a>
    </li>
    <li>
      if you are using <code>https://cyber-dojo.org</code> commercially,
      <a href="http://blog.cyber-dojo.org/2015/08/cyber-dojo-foundation.html" target="_blank">buy a licence</a>
    </li>
    <li>
      100% of license fees and donations helps
      <a href="https://blog.cyber-dojo.org/2016/10/cyber-dojo-raspberry-pies-in-action.html" target="_blank">children learn about software</a>.
    </li>
    <li>
      The <a href="https://blog.cyber-dojo.org/2015/08/cyber-dojo-foundation.html" target="_blank">cyberdojo Foundation</a> is a
      Scottish Charitable Incorporated Organisation.<br/>
    </li>
  </ul>
</div>
