<div id="predict-counts">
  <div class="tick box">
    <img src="/images/traffic-light/circle-tick.png">
    <div id="tick-count" class="count">0</div>
  </div>
  <div class="circle box">
    <img src="/images/traffic-light/circle-cross.png">
    <div id="cross-count" class="count">0</div>
  </div>
  <div class="revert box">
    <img src="/images/traffic-light/circle-revert.png">
    <div id="revert-count" class="count">0</div>
  </div>
</div>

<script>
'use strict';

const $predictCounts = $('#predict-counts');

cd.kata.showPredictCounts = () => $predictCounts.show('slow');
cd.kata.hidePredictCounts = () => $predictCounts.hide('slow');

$(() => {

  cd.kata.updatePredictCounts = (light) => {
    $('.box', $predictCounts).removeClass('red amber green');
    if (cd.lib.isPredict(light)) {
      const isRight = (light.colour === light.predicted);
      const name = isRight ? 'tick' : 'cross';
      $(`#${name}-count`, $predictCounts).text(counts[name] += 1);
      $(`#${name}-box`, $predictCounts).addClass(light.predicted);
    }
    if (light.revert) {
      counts.revert += 1;
    }
  };

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  const counts = {
    tick: 0,
    cross: 0,
    revert: 0
  };

});
</script>
