<div class="kata predict-counts" style="display:none;">
  <div class="tick box">
    <div class="tick count">0</div>
    <img src="/images/traffic-light/circle-tick.png">
  </div>
  <div class="circle box">
    <div class="cross count">0</div>
    <img src="/images/traffic-light/circle-cross.png">
  </div>
  <div class="total">0&nbsp;predictions</div>
</div>

<script>
'use strict';
const $predictCounts = $('.kata.predict-counts');
cd.kata.predictCounts = {
  show: () => $predictCounts.show('slow'),
  hide: () => $predictCounts.hide('slow')
};

$(() => {

  cd.kata.predictCounts.update = (light) => {
    const colour = light.colour;
    if (cd.lib.hasPrediction(light) && colour != 'pulling' && colour != 'faulty') {
      $('.count', $predictCounts).removeClass('red amber green');
      const isRight = (colour === light.predicted);
      const name = isRight ? 'tick' : 'cross';
      const $count = $(`.${name}.count`, $predictCounts);
      $count.text(counts[name] += 1);
      if (!isRight) {
        $count.addClass(light.predicted);
      }
      const total = counts.tick + counts.cross;
      $('.total', $predictCounts).html(`${total}&nbsp;prediction${plural(total)}`);
    }
    else if (!cd.lib.isRevert(light)) {
      $('.count', $predictCounts).removeClass('red amber green');
    }
  };

  const plural = (n) => n == 1 ? '' : 's';

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  const counts = {
    tick: 0,
    cross: 0
  };

});
</script>
