<input name="predicted" type="hidden" value="none">

<div id="predict-checkbox-container">
  <div id="predict-checkbox-title">predict</div>
  <input type="checkbox" id="predict-checkbox"/>
  <label for="predict-checkbox"></label>
</div>
<div id="revert-checkbox-container" style="display:none;">
  <div id="revert-checkbox-title">+&nbsp;auto&nbsp;revert</div>
  <input type="checkbox" id="revert-checkbox"/>
  <label for="revert-checkbox"></label>
</div>

<div id="predict-buttons-container" style="display:none;">
  <table>
    <tr>
      <td style="max-width:75px;">
        <button class="predict red"   data-colour="red"   type="button">some tests will fail</button>
        <input type="checkbox" id="revert-red-checkbox"/>
        <button class="predict amber" data-colour="amber" type="button">tests will not run</button>
        <input type="checkbox" id="revert-amber-checkbox"/>
        <button class="predict green" data-colour="green" type="button">all tests will pass</button>
        <input type="checkbox" id="revert-green-checkbox"/>
      </td>
      <td>
        <%= render partial: 'predict_counts' %>
      </td>
    </tr>
  </table>
</div>

<script>
'use strict';
$(() => {

  //- - - - - - - - - - - - - - - - - - - - - - -
  // Predict checkbox

  const $predictContainer = $('#predict-checkbox-container');
  const $predict = $('#predict-checkbox');

  cd.setTip($predictContainer, () => {
    const tip = [
    'when predict is on there',
    'there are <u>three</u> test buttons:',
    '&nbsp;&bull; predict <span class="red">red</span>',
    '&nbsp;&bull; predict <span class="amber">amber</span>',
    '&nbsp;&bull; predict <span class="green">green</span>'
    ].join('<br/>');
    if (cd.settings.predict() === 'off') {
      cd.showHoverTip($predictContainer, tip);
    }
  });

  $('#predict-checkbox-title').click(() => {
    $predict.prop('checked', !$predict.is(':checked'));
    predictCheckBoxChanged();
  });

  $predict.prop('checked', cd.settings.predict() === 'on')
          .click(() => predictCheckBoxChanged());

  const predictCheckBoxChanged = () => {
    if ($predict.prop('checked')) {
      predictOn();
    } else {
      predictOff();
    }
  };

  // TODO: after showPredictImages() I need to scroll to the last traffic-light...
  const predictOn = () => {
    cd.settings.predict('on');
    cd.kata.testButton.hide(() => {
      $buttonsContainer.slideDown('slow');
      cd.kata.predictCounts.show();
      cd.kata.showPredictImages();
      setFilenameListMaxHeight(470);
      cd.kata.editor.refocus();
    });
  };

  const predictOff = () => {
    cd.settings.predict('off');
    if ($revert.is(':checked')) {
      // predict just went to !checked,
      // so ensure revert is !checked
      $revert.prop('checked', false);
      revertOff();
    }
    $buttonsContainer.slideUp('slow', () => {
      cd.kata.testButton.show();
      cd.kata.predictCounts.hide();
      cd.kata.hidePredictImages();
      setFilenameListMaxHeight(530);
      cd.kata.editor.refocus();
    });
  };

  const setFilenameListMaxHeight = (value) => {
    $('#kata-page #filename-list').css('max-height', value);
  };

  //- - - - - - - - - - - - - - - - - - - - - - -
  // Predict buttons

  const $predicted = $('input[name=predicted]');

  cd.kata.predictedColour = () => $predicted.val();

  const $buttonsContainer = $('#predict-buttons-container');
  const $buttons = $('button.predict');

  $('button.predict').click((event) => {
    disableButtons();
    const rag = $(event.target).data('colour');
    $predicted.val(rag);
    cd.kata.runTests(() => {
      $predicted.val('none');
      enableButtons();
    });
  });

  const disableButtons = () => $buttons.prop('disabled', true );
  const enableButtons  = () => $buttons.prop('disabled', false);

  //- - - - - - - - - - - - - - - - - - - - - - -
  // Revert checkbox

  const $revertContainer = $('#revert-checkbox-container');
  const $revert  = $('#revert-checkbox');

  cd.createTip($revertContainer, [
    'when auto revert is checked,',
    'an incorrect prediction will',
    'automatically revert to the',
    'previous traffic-light!'
  ].join('<br/>'));

  $('#revert-checkbox-title').click(() => {
    $revert.prop('checked', !$revert.is(':checked'));
    revertCheckBoxChanged();
  });

  $revert.prop('checked', cd.settings.revert() === 'on')
         .click(() => revertCheckBoxChanged());

  const revertCheckBoxChanged = () => {
    if ($revert.prop('checked')) {
      revertOn();
    } else {
      revertOff();
    }
    cd.kata.editor.refocus();
  };

  const revertOn = () => {
    cd.settings.revert('on');
    if (!$predict.is(':checked')) {
      // revert just went to to checked
      // so ensure predict is checked
      $predict.prop('checked', true);
      predictOn();
    }
  };

  const revertOff = () => {
    cd.settings.revert('off');
  };

  //- - - - - - - - - - - - - - - - - - - - - - -

  if (cd.settings.predict() === 'on') {
    predictOn();
  } else {
    predictOff();
  }

});
</script>
