<input name="predicted" type="hidden" value="none">

<div id="predict-checkbox-container">
  <div id="predict-checkbox-title">predict</div>
  <input type="checkbox" id="predict-checkbox"/>
  <label for="predict-checkbox"></label>
</div>

<div id="XXXX_revert-checkbox-container" style="display:none;">
  <div id="revert-checkbox-title">+&nbsp;auto&nbsp;revert</div>
  <input type="checkbox" id="revert-checkbox"/>
  <label for="revert-checkbox"></label>
</div>

<div id="predict-buttons-container" style="display:none;">
  <table>
    <tr>
      <td style="max-width:75px;">
        <button class="predict red"   data-colour="red"   type="button">some tests will fail</button>
        <input type="checkbox" class="revert-checkbox" data-colour="red"  />
        <button class="predict amber" data-colour="amber" type="button">tests will not run</button>
        <input type="checkbox" class="revert-checkbox" data-colour="amber"/>
        <button class="predict green" data-colour="green" type="button">all tests will pass</button>
        <input type="checkbox" class="revert-checkbox" data-colour="green"/>
      </td>
      <td>
        <%= render partial: 'predict_counts' %>
      </td>
    </tr>
  </table>
</div>

<script>
'use strict';
$(() => {

  //- - - - - - - - - - - - - - - - - - - - - - -
  // Predict checkbox

  const $predictCheckboxContainer = $('#predict-checkbox-container');
  const $predict = $('#predict-checkbox');

  cd.setTip($predictCheckboxContainer, () => {
    const tip = [
    'when checked there are <u>three</u> test buttons:',
    '&nbsp;&bull; predict <span class="red">red</span>',
    '&nbsp;&bull; predict <span class="amber">amber</span>',
    '&nbsp;&bull; predict <span class="green">green</span>'
    ].join('<br/>');
    if (cd.settings.predict() === 'off') {
      cd.showHoverTip($predictCheckboxContainer, tip);
    }
  });

  $('#predict-checkbox-title').click(() => {
    $predict.prop('checked', !$predict.is(':checked'));
    predictCheckBoxChanged();
  });

  $predict.prop('checked', cd.settings.predict() === 'on')
          .click(() => predictCheckBoxChanged());

  const predictCheckBoxChanged = () => {
    if ($predict.prop('checked')) {
      predictOn();
    } else {
      predictOff();
    }
  };

  // TODO: after showPredictImages() I need to scroll to the last traffic-light...
  const predictOn = () => {
    cd.settings.predict('on');
    cd.kata.testButton.hide(() => {
      $buttonsContainer.slideDown('slow');
      cd.kata.showPredictImages();
      setFilenameListMaxHeight(470);
      cd.kata.editor.refocus();
    });
  };

  const predictOff = () => {
    cd.settings.predict('off');
    $buttonsContainer.slideUp('slow', () => {
      cd.kata.testButton.show();
      cd.kata.hidePredictImages();
      setFilenameListMaxHeight(530);
      cd.kata.editor.refocus();
    });
  };

  const setFilenameListMaxHeight = (value) => {
    $('#kata-page #filename-list').css('max-height', value);
  };

  //- - - - - - - - - - - - - - - - - - - - - - -
  // Predict buttons

  const $predicted = $('input[name=predicted]');

  cd.kata.predictedColour = () => $predicted.val();

  const $buttonsContainer = $('#predict-buttons-container');
  const $buttons = $('button.predict');

  $('button.predict').click((event) => {
    disableButtons();
    const rag = $(event.target).data('colour');
    $predicted.val(rag);
    cd.kata.runTests(() => {
      $predicted.val('none');
      enableButtons();
    });
  });

  const disableButtons = () => $buttons.prop('disabled', true );
  const enableButtons  = () => $buttons.prop('disabled', false);

  //- - - - - - - - - - - - - - - - - - - - - - -
  // Revert checkboxs

  const $revertContainer = $('#revert-checkbox-container');
  cd.createTip($revertContainer, [
    'when checked an incorrect prediction will',
    'automatically revert to the previous',
    'traffic-light!'
  ].join('<br/>'));

  $('.revert-checkbox').click((event) => {
    const $box = $(event.target);
    const colour = $box.data('colour');
    if ($box.is(':checked')) {
      cd.settings.revert(colour, 'on');
    } else {
      cd.settings.revert(colour, 'off');
    }
    cd.kata.editor.refocus();
  });

  //- - - - - - - - - - - - - - - - - - - - - - -

  if (cd.settings.predict() === 'on') {
    predictOn();
  } else {
    predictOff();
  }

});
</script>
