
<button class="resume-button" type="button">resume</button>
<div id="repl-terminal"></div>

<script type="text/javascript">
'use strict';
$(() => {

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // Notes
  // 1. If the repl docker container's id was based *only* on the kata-id,
  // then creating a new repl could  fail if there was a very recent
  // [resume], which caused a repl DELETE request, but the docker daemon
  // had not yet actually deleted the repl container.
  // So the repl and socket Urls for a repl session have a random suffix.
  // 2. Trying to put Terminal inside a jQuery dialog is, empirically,
  // very tricksy (because of CSS z-Index issues I think).

  const kataPage = $('#kata-page');
  const replPage = $('#repl-page');

  cd.openReplPage = () => {
    kataPage.fadeOut('slow', () => {
      replPage.fadeIn('slow', () => {
        const element = document.getElementById('repl-terminal');
        const terminal = createTerminalIn(element);
        const kataId = "<%= @kata.id %>";
        const sid = Math.random().toString(36).replace(/[^a-z]+/g, '').substr(0,6);
        const route = `${location.hostname}/repler/${kataId}-${sid}`;
        const repl = new Repl(`http://${route}`, terminal);
        const socket = new WebSocketMonitor(`ws://${route}`, terminal);
        const resumeButton = $('.resume-button', replPage);
        cd.saveCodeFromSyntaxHighlightEditors();
        repl.create().then(() => socket.open());
        resumeButton.click(() => closeReplPage(repl, socket));
      });
    });
  };

  const closeReplPage = (repl, socket) => {
    repl.delete().then(() => socket.close());
    replPage.fadeOut('slow', () => {
      kataPage.fadeIn('slow', () => {
        $('#repl-terminal').empty(); // Ensure clean for next time.
      });
    });
  };

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  function WebSocketMonitor(url, terminal) {
    this.url = url;
    this.terminal = terminal;
  };

  WebSocketMonitor.prototype.open = function() {
    const that = this;
    this.socket = new WebSocket(this.url);
    this.socket.onopen = function(_event) {
      that.terminal.greenWriteln('Opening WebSocket');
      that.terminal.attach(that.socket);
      that.terminal._initialize = true;
    };
    this.socket.onclose = function(event) {
      const NGINX_TIMEOUT_CODE = 1006;
      if (event.code === NGINX_TIMEOUT_CODE) {
        that.terminal.greenWriteLn('WebSocket timed out');
        that.start(); // silently restart
      }
    };
    this.socket.onerror = function(event) {
      this.terminal.greenWriteln('WebSocket error');
    };
  };

  WebSocketMonitor.prototype.close = function() {
    this.terminal.greenWriteln('Closing WebSocket');
    this.terminal.detach(this.socket);
    this.socket.close(1000, 'User closed the WebSocket');
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  const createTerminalIn = (element) => {
    const terminal = new Terminal({
      cursorBlink: true,
      scrollback: 10,
      tabStopWidth: 10
    });
    Terminal.applyAddon(attach);
    Terminal.applyAddon(fit);
    Terminal.applyAddon(fullscreen);
    Terminal.applyAddon(search);
    Terminal.applyAddon(winptyCompat);
    terminal.open(element);
    terminal.winptyCompatInit();
    terminal.fit();
    terminal.focus();
    terminal.greenWriteln = (s) => {
      const greenCode = '\u001b[32m';
      const resetCode = '\u001b[0m';
      terminal.writeln(`${greenCode}${s}${resetCode}`);
      console.log(s);
    };
    return terminal;
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  function Repl(url, terminal) {
    this.url = url;
    this.terminal = terminal;
  };

  Repl.prototype.create = function() {
    this.terminal.greenWriteln('Creating REPL');
    return fetch(this.url, {
      method: 'POST',
      body: JSON.stringify($('form').serializeArray()),
      headers: { 'content-type': 'application/json' }
    });
  };

  Repl.prototype.delete = function() {
    this.terminal.greenWriteln('Deleting REPL');
    return fetch(this.url, { method: 'DELETE' });
  };

});
</script>
