
<button type="button" id="repl-button" title="starts a REPL">repl</button>

<script type="text/javascript">
'use strict';
$(() => {

  const replButton = $("#repl-button");
  cd.setupReplButton = (onOff) => {
    // By default the [repl] button is not visible.
    if (onOff === 'on') {
      replButton.show();
    }
  };

  replButton.click(() => {
    cd.openReplPage();
  });

});
</script>
