<div id="sponsors-title">sponsors</div>
<table id="sponsors">
  <tr><td><%= render partial: 'shared/sponsors/praqma' %></td></tr>
  <tr><td><%= render partial: 'shared/sponsors/cucumber' %></td></tr>
  <tr><td><%= render partial: 'shared/sponsors/curbralan' %></td></tr>
  <tr><td><%= render partial: 'shared/sponsors/wingman' %></td></tr>
</table>

<script>
'use strict';
$(() => {

  cd.createTip($('.sponsor'),
    '100% of donations and license fees go to<br/>' +
    "the cyber-dojo Foundation charity.<br/>" +
    'Thank you to all our sponsors who help to<br/>' +
    'cover https://cyber-dojo.org hosting costs.<br/>' +
    "Please email sponsor@cyber-dojo.org if you'd<br/>" +
    'like to become a sponsor.'
    ,
    { of: cd.kata.tabs.filename() }
  );

});
</script>
