
<div class="sponsors">
  <div class="praqma sponsor">
    <a href="https://www.praqma.com" target="_blank">
      <img id="praqma-image"
          src="/images/praqma.png" />
    </a>
  </div>
  <div class="cucumber sponsor">
    <a href="https://cucumber.io" target="_blank">
      <img id="cucumber-image"
          src="/images/cucumber-white-128.png" />
    </a>
  </div>
</div>

<script type="text/javascript">
'use strict';
$(() => {

  cd.createTip($('.sponsor'), [
    'cyber-dojo operations are generously',
    'supported by Praqma, Cucumber Limited,',
    'and CodeEntropy'
  ].join(' '));

});
</script>
