<div id="traffic-light-info" style="display:none">
  <table>
    <tr>
      <td><%= render partial: 'shared/traffic_light_bulb_info' %></td>
    </tr>
    <tr>
      <td><%= render partial: 'shared/traffic_light_click_info' %></td>
    </tr>
    <tr>
      <td><%= render partial: 'please_blurb' %></td>
    </tr>
  </table>

  <div id="charity-info">
  The <a href="https://blog.cyber-dojo.org/2015/08/cyber-dojo-foundation.html" target="_blank">cyberdojo Foundation</a> is a
  Scottish Charitable Incorporated Organisation.
  100% of license fees and donations helps
  <a href="https://blog.cyber-dojo.org/2016/10/cyber-dojo-raspberry-pies-in-action.html" target="_blank">children learn about software</a>.
  </div>
</div>
