<script type="text/javascript"><!--
'use strict';
$(() => {

  cd.showStartingInfoDialog = () => {
    if (cd.trafficLightsCount() === 0) {
      const node = $('#starting-info');
      node.dialog({
                width: 420,
             autoOpen: true,
        closeOnEscape: true,
                modal: true,
                title: cd.dialogTitle('welcome'),
              buttons: { close: () => {
                  node.remove();
                }
              },
          beforeClose: event => {
            if (event.keyCode === $.ui.keyCode.ESCAPE) {
              node.remove();
              return true;
            }
          }
      });
    }
  };

});
//--></script>

<div id="starting-info" style="display:none">
  <table>
    <tr><td><%= render partial: 'traffic_light_bulb_info' %></td></tr>
    <tr><td><%= render partial: 'traffic_light_click_info' %></td></tr>
    <tr><td><%= render partial: 'please_blurb' %></td></tr>
  </table>
</div>
