
<tr class="valign-top">
  <td class="align-right">
    <button type="button"
              id="syntax-highlight-button"
              title="turns syntax highlighting off"
              value="syntax-highlight-off"
              onclick="cd.toggleSyntaxHighlight();">
        toggle syntax highlight
    </button>
  </td>
  <td class="align-right">
    <% if syntax_highlight_enabled? %>
      Theme:
      <select onChange="cd.switchTheme()" name="CodeMirrorTheme" id="code-mirror-theme">
        <option value="cyber-dojo" selected>cyber-dojo</option>
        <option value="">CodeMirror (default)</option>
        <option value="night">night</option>
      </select>
    <% end %>
  </td>
</tr>
