
<div class="tab-filenames"></div>

<script type="text/javascript">
'use strict';
$(() => {

  cd.isOutputFile = filename => ['stdout','stderr','status',$replTab().text()].includes(filename);

  const tabs = cd.kata.tabs;

  tabs.setup = (options) => {
    // By default the [repl] is hidden.
    const inDev = true;
    if (options.repl !== 'on' && !inDev) {
      $replTab().hide();
    }
  };

  tabs.setFilename = (filename) => {
    // Called from filenames. filename can be
    //  o) a true filename (but never '+REPL')
    //  o) 'stdout', 'stderr', 'status'
    if ($selectedTab().text() === $replTab().text()) {
      cd.kata.repl.close();
    }
    const id = cd.isOutputFile(filename) ? `radio_${filename}` : 'current_filename';
    const $tab = $(`#${id}`, $tabs);
    $tab.text(filename);
    select($tab);
  };

  tabs.toggle = () => {
    // Alt-O tabs hot-key navigation
    // See app/assets/javascripts/cyber-dojo_codemirror.js
    // See app/views/shared/_hotkeys.html.erb
    const editor = cd.kata.editor;
    switch ($selectedTab().text()) {
    default               : $stdoutTab().click(); break;
    case 'stdout'         : $stderrTab().click(); break;
    case 'stderr'         : $statusTab().click(); break;
    case 'status'         : $filenameTab().click(); break;
    case $replTab().text(): $filenameTab().click(); break;
    }
  };

  const $replTab     = () => $('#radio_repl'      , $tabs);
  const $filenameTab = () => $('#current_filename', $tabs);
  const $stdoutTab   = () => $('#radio_stdout'    , $tabs);
  const $stderrTab   = () => $('#radio_stderr'    , $tabs);
  const $statusTab   = () => $('#radio_status'    , $tabs);

  //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  const $tabs = $('.tab-filenames');
  const $selectedTab = () => $('.selected', $tabs);
  const currentFilename = () => $filenameTab().text();
  const alreadySelected = $tab => $tab.hasClass('selected');
  const select = $tab => {
    $('.tab-filename').removeClass('selected');
    $tab.addClass('selected');
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  // [+REPL]

  const setupReplTab = (text) => {
    const $tab = $('<div>', {
        class: 'tab-filename',
           id: 'radio_repl',
         text: text
    });
    $tabs.append($tab);
    setupReplTabClickHandler($tab);
  };

  const setupReplTabClickHandler = ($tab) => {
    $tab.click(() => {
      if (alreadySelected($tab)) { return; }
      cd.kata.editor.hideCurrentFile();
      cd.kata.repl.open();
      select($tab);
    });
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // [current-filename]                     [stdout]  [stderr] [status]

  const setupCurrentFilenameTab = (filename) => {
    const $tab = $('<div>', {
      class:'tab-filename',
         id:'current_filename',
       text:filename
    });
    $tabs.append($tab);
    setupFilenameTabClickHandler($tab);
  };

  const setupOutputTab = (text) => {
    const $tab = $('<div>', {
        class: 'tab-filename',
           id: `radio_${text}`,
         text: text
    });
    $tabs.append($tab);
    setupFilenameTabClickHandler($tab);
  };

  const setupFilenameTabClickHandler = ($tab) => {
    $tab.click(() => {
      if (alreadySelected($tab)) { return; }
      const filename = $tab.text();
      cd.kata.repl.close();
      cd.kata.editor.showFile(filename);
      select($tab);
    });
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -

  setupReplTab('+REPL')
  setupCurrentFilenameTab('cyber-dojo.sh');
  setupOutputTab('status')
  setupOutputTab('stderr')
  setupOutputTab('stdout')

});
</script>
