
<div class="tab-filenames"></div>

<script type="text/javascript">
'use strict';
$(() => {

  cd.setupReplTab = (onOff) => {
    // By default the [repl] tab will be hidden.
    const inDev = true;
    if (onOff !== 'on' && !inDev) {
      replTab().hide();
    }
  };

  const $tabs = $('.tab-filenames');
  const selectedTabFilename = () => $('.selected', $tabs).text();
  const currentFilename = () => $('#current_filename', $tabs).text();

  cd.isOutputFile = filename => ['stdout','stderr','status',replTab().text()].includes(filename);

  cd.toggleOutputFile = () => {
    switch (selectedTabFilename()) {
    default              : cd.loadFile('stdout'); break;
    case 'stdout'        : cd.loadFile('stderr'); break;
    case 'stderr'        : cd.loadFile('status'); break;
    case 'status'        : cd.loadFile(currentFilename()); break;
    case replTab().text(): cd.loadFile(currentFilename()); break;
    }
  };

  cd.setFilenameTab = (filename) => {
    // filename = from filename-knave, stdout, stderr, status (never +REPL)
    if (selectedTabFilename() === replTab().text()) {
      cd.closeRepl();
    }
    const id = cd.isOutputFile(filename) ? `radio_${filename}` : 'current_filename';
    const tab = $(`#${id}`, $tabs);
    tab.text(filename);
    $('.tab-filename').removeClass('selected');
    tab.addClass('selected');
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  // [current-filename]

  const setupCurrentFilenameTab = (filename) => {
    const $tab = $('<div>', {
      class:'tab-filename',
         id:'current_filename',
       text:filename
    });
    $tabs.append($tab);
    setupFilenameTabClickHandler($tab);
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  // stdout, stderr

  const setupOutputTab = (text) => {
    const $tab = $('<div>', {
        class: 'tab-filename',
           id: `radio_${text}`,
         text: text
    });
    $tabs.append($tab);
    setupFilenameTabClickHandler($tab);
  };

  const setupFilenameTabClickHandler = (div) => {
    div.click(() => {
      if (div.hasClass('selected')) { return; }
      const filename = div.text();
      cd.loadFile(filename);
      $('.tab-filename').removeClass('selected');
      div.addClass('selected');
    });
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  // repl

  const replTab = () => $('#radio_repl', $tabs);

  const setupReplTab = (text) => {
    const $tab = $('<div>', {
        class: 'tab-filename',
           id: 'radio_repl',
         text: text
    });
    $tabs.append($tab);
    setupReplTabClickHandler($tab);
  };

  const setupReplTabClickHandler = (div) => {
    div.click(() => {
      if (div.hasClass('selected')) { return; }
      cd.unloadFile(selectedTabFilename());
      cd.openRepl();
      $('.tab-filename').removeClass('selected');
      div.addClass('selected');
    });
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -

  setupReplTab('+REPL')
  setupCurrentFilenameTab('cyber-dojo.sh');
  setupOutputTab('status')
  setupOutputTab('stderr')
  setupOutputTab('stdout')

});
</script>
