
<div class="tab-filenames"></div>

<script type="text/javascript">
'use strict';
$(() => {

  const $tabFilenames = $('.tab-filenames');
  const fakeFilenames = ['stdout','stderr','repl'];
  const selectedTabFilename = () => $('.selected', $tabFilenames).text();
  const currentFilename = () => $('#current_filename', $tabFilenames).text();

  cd.isOutputFile = filename => filename === 'status' || fakeFilenames.includes(filename);

  cd.toggleOutputFile = () => {
    switch (selectedTabFilename()) {
    default      : cd.loadFile('stdout'); break;
    case 'stdout': cd.loadFile('stderr'); break;
    case 'stderr': cd.loadFile(currentFilename()); break;
    case 'repl'  : cd.loadFile(currentFilename()); break;
    }
  };

  cd.setupReplTab = (onOff) => {
    // By default the [repl] tab will be hidden.
    const inDev = true;
    if (onOff !== 'on' && !inDev) {
      $('#radio_repl', $tabFilenames).hide();
    }
  };

  cd.setFilenameTab = (filename) => {
    if (selectedTabFilename() === 'repl') {
      cd.closeRepl();
    }
    const id = cd.isOutputFile(filename) ? `radio_${filename}` : 'current_filename';
    const tab = $(`#${id}`, $tabFilenames);
    tab.text(filename);
    $('.tab.filename').removeClass('selected');
    tab.addClass('selected');
  };

  const setupCurrentFilenameTab = () => {
    const $currentFilenameTab = $('<div>', {
      class:'tab filename',
         id:'current_filename',
       text:'cyber-dojo.sh'
    });
    $tabFilenames.append($currentFilenameTab);
    setupTabFilenameClickHandler($currentFilenameTab);
  };

  const setupFakeFilenameTabs = () => {
    fakeFilenames.forEach(filename => {
      const $div = $('<div>', {
          class: 'tab filename',
             id: `radio_${filename}`,
           text: filename
      });
      $tabFilenames.append($div);
      setupTabFilenameClickHandler($div);
    });
  };

  const setupTabFilenameClickHandler = (div) => {
    div.click(() => {
      const filename = div.text();
      if (filename === 'repl') {
        if (selectedTabFilename() !== 'repl') {
          cd.unloadFile(selectedTabFilename());
          cd.openRepl();
        }
      } else {
        cd.loadFile(filename);
      }
      $('.tab.filename').removeClass('selected');
      div.addClass('selected');
    });
  };

  setupCurrentFilenameTab();
  setupFakeFilenameTabs();

});
</script>
