
<div class="tab-filenames"></div>

<script type="text/javascript">
'use strict';
$(() => {

  cd.isOutputFile = filename => ['stdout','stderr','status',tabs.repl().text()].includes(filename);

  const tabs = cd.kata.tabs;

  tabs.setup = (options) => {
    // By default the [repl] is hidden.
    const inDev = true;
    if (options.repl !== 'on' && !inDev) {
      tabs.repl().hide();
    }
  };

  tabs.setFilename = (filename) => {
    // Called from filenames. filename can be
    //  o) a true filename (but never '+REPL')
    //  o) 'stdout', 'stderr', 'status'
    if ($selectedTab().text() === tabs.repl().text()) {
      cd.kata.repl.close();
    }
    const id = cd.isOutputFile(filename) ? `radio_${filename}` : 'current_filename';
    const $tab = $(`#${id}`, $tabs);
    $tab.text(filename);
    select($tab);
  };

  tabs.toggle = () => {
    // Alt-O tabs hot-key navigation
    // See app/assets/javascripts/cyber-dojo_codemirror.js
    // See app/views/shared/_hotkeys.html.erb
    switch ($selectedTab().text()) {
    default                : tabs.stdout().click(); break;
    case 'stdout'          : tabs.stderr().click(); break;
    case 'stderr'          : tabs.status().click(); break;
    case 'status'          : tabs.filename().click(); break;
    case tabs.repl().text(): tabs.filename().click(); break;
    }
  };

  tabs.repl     = () => $('#radio_repl'      , $tabs);
  tabs.filename = () => $('#current_filename', $tabs);
  tabs.stdout   = () => $('#radio_stdout' , $tabs);
  tabs.stderr   = () => $('#radio_stderr' , $tabs);
  tabs.status   = () => $('#radio_status' , $tabs);

  //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  const $tabs = $('.tab-filenames');
  const $selectedTab = () => $('.selected', $tabs);
  const currentFilename = () => tabs.filename().text();
  const alreadySelected = $tab => $tab.hasClass('selected');
  const select = $tab => {
    $('.tab-filename').removeClass('selected');
    $tab.addClass('selected');
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  // [+REPL]

  const setupReplTab = (text) => {
    const $tab = $('<div>', {
        class: 'tab-filename',
           id: 'radio_repl',
         text: text
    });
    $tabs.append($tab);
    setupReplTabClickHandler($tab);
  };

  const setupReplTabClickHandler = ($tab) => {
    $tab.click(() => {
      if (alreadySelected($tab)) { return; }
      cd.kata.editor.hideCurrentFile();
      cd.kata.repl.open();
      select($tab);
    });
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // [current-filename]                     [stdout]  [stderr] [status]

  const setupCurrentFilenameTab = (filename) => {
    const $tab = $('<div>', {
      class:'tab-filename',
         id:'current_filename',
       text:filename
    });
    $tabs.append($tab);
    setupFilenameTabClickHandler($tab);
  };

  const setupOutputTab = (text) => {
    const $tab = $('<div>', {
        class: 'tab-filename',
           id: `radio_${text}`,
         text: text
    });
    $tabs.append($tab);
    setupFilenameTabClickHandler($tab);
  };

  const setupFilenameTabClickHandler = ($tab) => {
    $tab.click(() => {
      if (alreadySelected($tab)) { return; }
      const filename = $tab.text();
      cd.kata.repl.close();
      cd.kata.editor.showFile(filename);
      select($tab);
    });
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -

  setupReplTab('+REPL')
  setupCurrentFilenameTab('cyber-dojo.sh');
  setupOutputTab('status')
  setupOutputTab('stderr')
  setupOutputTab('stdout')

});
</script>
