
<div class="tab-filenames"></div>

<script type="text/javascript">
'use strict';
$(() => {

  const $tabFilenames = $('.tab-filenames');
  const fakeFilenames = ['stdout','stderr','repl'];
  const selectedTabFilename = () => $('.selected', $tabFilenames).text();
  const currentFilename = () => $('#current_filename', $tabFilenames).text();

  cd.isOutputFile = filename => filename === 'status' || fakeFilenames.includes(filename);

  cd.toggleOutputFile = () => {
    switch (selectedTabFilename()) {
    default      : cd.loadFile('stdout'); break;
    case 'stdout': cd.loadFile('stderr'); break;
    case 'stderr': cd.loadFile(currentFilename()); break;
    case 'repl'  : cd.loadFile(currentFilename()); break;
    }
  };

  cd.setupReplTab = (onOff) => {
    // By default the [repl] tab will be hidden.
    const inDev = true;
    if (onOff !== 'on' && !inDev) {
      $('#radio_repl', $tabFilenames).hide();
    }
  };

  cd.setFilenameTab = (filename) => {
    if (selectedTabFilename() === 'repl') {
      cd.closeRepl();
    }
    const id = cd.isOutputFile(filename) ? `radio_${filename}` : 'current_filename';
    const tab = $(`#${id}`, $tabFilenames);
    tab.text(filename);
    $('.tab-filename').removeClass('selected');
    tab.addClass('selected');
  };

  const setupCurrentFilenameTab = (filename) => {
    const $tab = $('<div>', {
      class:'tab-filename',
         id:'current_filename',
       text:filename
    });
    $tabFilenames.append($tab);
    setupTabFilenameClickHandler($tab);
  };

  const setupStdoutTab = () => {
    const $tab = $('<div>', {
        class: 'tab-filename',
           id: 'radio_stdout',
         text: 'stdout'
    });
    $tabFilenames.append($tab);
    setupTabFilenameClickHandler($tab);
  };

  const setupStderrTab = () => {
    const $tab = $('<div>', {
        class: 'tab-filename',
           id: 'radio_stderr',
         text: 'stderr'
    });
    $tabFilenames.append($tab);
    setupTabFilenameClickHandler($tab);
  };

  const setupReplTab = () => {
    const $tab = $('<div>', {
        class: 'tab-filename',
           id: 'radio_repl',
         text: 'repl'
    });
    $tabFilenames.append($tab);
    setupReplClickHandler($tab);
  };

  const setupTabFilenameClickHandler = (div) => {
    div.click(() => {
      if (div.hasClass('selected')) { return; }
      const filename = div.text();
      cd.loadFile(filename);
      $('.tab-filename').removeClass('selected');
      div.addClass('selected');
    });
  };

  const setupReplClickHandler = (div) => {
    div.click(() => {
      if (div.hasClass('selected')) { return; }
      cd.unloadFile(selectedTabFilename());
      cd.openRepl();
      $('.tab-filename').removeClass('selected');
      div.addClass('selected');
    });
  };

  setupCurrentFilenameTab('cyber-dojo.sh');
  setupStdoutTab()
  setupStderrTab()
  setupReplTab()

});
</script>
