
<div class="tab-filenames">
  <div class="tab filename">cyber-dojo.sh</div>
  <div class="tab REPL">+REPL</div>
  <%# These three float:right so are in reverse order of appearance %>
  <div class="tab output">output</div>
</div>

<script type="text/javascript">
'use strict';
$(() => {

  const tabs = cd.kata.tabs;

  tabs.setup = (options) => {
    const inDev = false;
    if (options.repl === 'on' && "<%= raw @image_name %>".includes('python')) {
      tabs.repl().show();
    } else if (inDev) {
      tabs.repl().show();
    }
  };

  const $tabs = $('.tab-filenames');
  const alreadySelected = $tab => $tab.hasClass('selected');
  const select = $tab => {
    $('.tab', $tabs).removeClass('selected');
    $tab.addClass('selected');
  };

  tabs.filename = () => $('.tab.filename', $tabs);
  tabs.output   = () => $('.tab.output'  , $tabs);
  tabs.repl     = () => $('.tab.REPL'    , $tabs);

  tabs.selected = () => $('.tab.selected', $tabs);

  tabs.reserves = filename => {
    const tabNames = [];
    tabNames.push(tabs.output().text());
    tabNames.push('status');
    tabNames.push(tabs.repl().text());
    return tabNames.includes(filename);
  };

  tabs.setFilename = (filename) => {
    // Called from filenames. Always a true filename.
    const $tab = $('.tab.filename', $tabs);
    if (filename === 'cyber-dojo.sh') {
      $tab.removeClass('vellipsis');
    } else {
      $tab.addClass('vellipsis');
    }
    $tab.removeClass('selected');
    $tab.text(filename).show().click();
  };

  tabs.toggle = () => {
    // Alt-O tabs hot-key navigation
    // See app/assets/javascripts/cyber-dojo_codemirror.js
    // See app/views/shared/_hotkeys.html.erb
    switch (tabs.selected().text()) {
    default                  : tabs.output().click(); break;
    case tabs.output().text(): tabs.filename().click(); break;
    }
  };

  const setupFileTabClickHandler = ($tab) => {
    $tab.click(() => {
      const filename = $tab.text();
      cd.kata.editor.showFile(filename);
      cd.kata.repl.close();
      if ($tab.is('.selected.filename.vellipsis')) {
        cd.openRenameFileDialog($tab, filename);
      }
      select($tab);
    });
  };

  const setupReplTabClickHandler = ($tab) => {
    $tab.click(() => {
      if (alreadySelected($tab)) { return; }
      select($tab);
      tabs.repl().show();
      cd.kata.editor.hideCurrentFile();
      cd.kata.repl.open();
    });
  };

  setupFileTabClickHandler(tabs.filename());
  setupFileTabClickHandler(tabs.output());
  setupReplTabClickHandler(tabs.repl());

});
</script>
