
<div class="tab-filenames"></div>

<script type="text/javascript">
'use strict';
$(() => {

  const tabFilenames = $('.tab-filenames');
  ['stdout','stderr','status'].forEach(filename => {
    const div = $('<div>', {
        class: 'tab filename',
           id: `radio_${filename}`,
         text: filename
    });
    div.click(() => {
      $('.filename').removeClass('selected');
      cd.loadFile(filename);
      div.addClass('selected');
    });
    tabFilenames.append(div);
  });

});
</script>
