
<div class="tab-filenames">
  <div class="tab filename">cyber-dojo.sh</div>
  <div class="tab REPL">+REPL</div>
  <div class="tab status">status</div>
  <div class="tab stderr">stderr</div>
  <div class="tab stdout">stdout</div>
</div>

<script type="text/javascript">
'use strict';
$(() => {

  cd.isOutputFile = filename => ['stdout','stderr','status',tabs.repl().text()].includes(filename);

  const tabs = cd.kata.tabs;
  const $tabs = $('.tab-filenames');
  const alreadySelected = $tab => $tab.hasClass('selected');
  const select = $tab => {
    $('.tab', $tabs).removeClass('selected');
    $tab.addClass('selected');
  };

  tabs.filename = () => $('.tab.filename', $tabs);
  tabs.stdout   = () => $('.tab.stdout'  , $tabs);
  tabs.stderr   = () => $('.tab.stderr'  , $tabs);
  tabs.status   = () => $('.tab.status'  , $tabs);
  tabs.repl     = () => $('.tab.REPL'    , $tabs);

  tabs.selected = () => $('.tab.selected', $tabs);

  tabs.setup = (options) => {
    tabs.repl().hide(); // By default the [repl] tab is hidden.
    const inDev = true;
    if (options.repl === 'on' || inDev) {
      tabs.repl().show();
    }
  };

  tabs.setFilename = (filename) => {
    // Called from filenames. Always a true filename.
    cd.kata.repl.close();
    const $tab = $('.tab.filename', $tabs);
    $tab.text(filename).show().click();
  };

  tabs.toggle = () => {
    // Alt-O tabs hot-key navigation
    // See app/assets/javascripts/cyber-dojo_codemirror.js
    // See app/views/shared/_hotkeys.html.erb
    switch (tabs.selected().text()) {
    default                : tabs.stdout().click(); break;
    case 'stdout'          : tabs.stderr().click(); break;
    case 'stderr'          : tabs.status().click(); break;
    case 'status'          : tabs.filename().click(); break;
    }
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // [filename]                 [stdout] [stderr] [status][REPL]

  const setupFilenameTabClickHandler = ($tab) => {
    $tab.click(() => {
      select($tab);
      const filename = $tab.text();
      cd.kata.editor.showFile(filename);
      cd.kata.repl.close();
    });
  };

  const setupReplTabClickHandler = ($tab) => {
    $tab.click(() => {
      if (alreadySelected($tab)) { return; }
      select($tab);
      tabs.repl().show();
      cd.kata.editor.hideCurrentFile();
      cd.kata.repl.open();
    });
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -

  setupFilenameTabClickHandler(tabs.filename());
  setupFilenameTabClickHandler(tabs.stdout());
  setupFilenameTabClickHandler(tabs.stderr());
  setupFilenameTabClickHandler(tabs.status());
  setupReplTabClickHandler(tabs.repl());

});
</script>
