
<div class="tab-filenames"></div>

<script type="text/javascript">
'use strict';
$(() => {

  const $tabFilenames = $('.tab-filenames');
  const outputTabNames = ['stdout','stderr'];
  const selectedTabFilename = () => $('.selected', $tabFilenames).text();
  const currentFilename = () => $('#current_filename', $tabFilenames).text();

  cd.isOutputFile = filename => filename === 'status' || outputTabNames.includes(filename);

  cd.toggleOutputFile = () => {
    switch (selectedTabFilename()) {
    default      : cd.loadFile('stdout'); break;
    case 'stdout': cd.loadFile('stderr'); break;
    case 'stderr': cd.loadFile(currentFilename()); break;
    }
  };

  cd.setFilenameTab = (filename) => {
    const id = cd.isOutputFile(filename) ? `radio_${filename}` : 'current_filename';
    const tab = $(`#${id}`);
    tab.text(filename);
    $('.tab.filename').removeClass('selected');
    tab.addClass('selected');
  };

  const setupCurrentFilenameTab = () => {
    const $currentFilenameTab = $('<div>', {
      class:'tab filename',
         id:'current_filename',
       text:'cyber-dojo.sh'
    });
    $tabFilenames.append($currentFilenameTab);
    setupTabFilenameClickHandler($currentFilenameTab);
  };

  const setupOutputTabs = () => {
    outputTabNames.forEach(filename => {
      const $div = $('<div>', {
          class: 'tab filename',
             id: `radio_${filename}`,
           text: filename
      });
      $tabFilenames.append($div);
      setupTabFilenameClickHandler($div);
    });
  };

  const setupTabFilenameClickHandler = (div) => {
    div.click(() => {
      $('.tab.filename').removeClass('selected');
      const filename = div.text();
      cd.loadFile(filename);
      div.addClass('selected');
    });
  };

  setupCurrentFilenameTab();
  setupOutputTabs();

});
</script>
