
<script type="text/javascript"><!--

$(() => {

  const testButton  = $('#test-button');
  const testSpinner = $('#test-spinner');
  const testOverlay = $('<div id="test-overlay"></div>');

  const form = testButton.closest('form');

  testButton.enable = () => {
    testButton.attr('disabled', false);
  };

  testButton.disable = () => {
    testButton.attr('disabled', true);
  };

  testButton.click(() => {
    // Called from 3 places
    // 1. when you click [test]
    // 2. when you hot-key Alt-T
    // 3. when you revert from a diff-dialog

    cd.saveCodeFromSyntaxHighlightEditors();
    cd.storeOutgoingFileHashes();

    $.ajax({
      timeout: 30000, // 30 seconds (twice server timeout)
         type: 'POST',
          url: form.attr('action'),
         data: form.serialize(),

      beforeSend: (_xhr, _settings) => {
        testButton.disable();
        testOverlay.insertAfter($('body'));
        testSpinner.show();
      },
      error: (_xhr, status, thrown) => {
        let info = "ERROR\n";
        info += thrown + "\n";
        info += 'status=' + status + "\n";
        if (status == 'timeout') {
          info += 'have you lost your network connection?'
        }
        if (status == 'error') {
          info += 'is the cyber-dojo server down?';
        }
        cd.deleteFile('output');
        cd.newFile('output', info);
      },
      complete: (_xhr, _status) => {
        testSpinner.hide();
        testOverlay.remove();
        testButton.enable();
        cd.loadFile('output');
      }
    });
  });

});

//--></script>
