
<script type="text/javascript">
'use strict';
$(() => {

  const predicted = $('input[name=predicted]');

  cd.predict = {
    reset:() => {
      const predict = cd.settings.predict();
      if (predict === 'off') {
        cd.countPredictBox().hide();
        circleImages().hide();
      } else {
        cd.updateTrafficLightsCount();
        cd.countPredictBox().show();
        circleImages().show();
      }
    }
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  cd.predictTrafficLight = (runTests) => {
    // Called from the test-button handler
    predicted.val('none');
    if (cd.settings.predict() === 'on') {
      openPredictionDialog(runTests);
    } else {
      runTests();
    }
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  cd.checkout = (args) => {
    // eg args = { src_id:'Xd4f2P', src_index:17 };
    args.id = cd.kataId();
    args.index = cd.getIndex();
    $.post('/reverter/revert', args, (data) => {
      cd.kata.editor.deleteFiles();
      for (const filename in data.files) {
        cd.kata.editor.createFile(filename, { content:data.files[filename] });
        cd.kata.editor.showFile(filename);
      }
      cd.kata.editor.output(data.stdout.content, data.stderr.content, data.status);
      cd.kata.tabs.output().click();
      cd.kata.filenames.refresh();
      cd.appendTrafficLight(data.light);
      cd.updateTrafficLightsCount();
      cd.updateIndex(data.light.index);
      cd.scrollLastTrafficLightIntoView();
    }, 'json');
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  const circleImages = () => {
    const cssSelector = [
      '#traffic-lights img.revert',
      '#traffic-lights img.tick',
      '#traffic-lights img.cross',
    ].join(',');
    return $(cssSelector);
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  const openPredictionDialog = (runTests) => {
    const html = '<div>' + predictButtons() + predictInfo() + '</div>';
    const $node = $(html);
    setupRagClick(runTests, $node, 'red');
    setupRagClick(runTests, $node, 'amber');
    setupRagClick(runTests, $node, 'green');
    setupBlurbClick(runTests, $node, 'red');
    setupBlurbClick(runTests, $node, 'amber');
    setupBlurbClick(runTests, $node, 'green');
    setupAutoRevertCheckBox($node, 'red');
    setupAutoRevertCheckBox($node, 'amber');
    setupAutoRevertCheckBox($node, 'green');

    const originator = cd.testButton;
    const xPos = originator.offset().left;
    const yPos = originator.offset().top + 37;
    $node.dialog({
              width: 370,
           position: [xPos,yPos],
           autoOpen: true,
      closeOnEscape: true,
              modal: true,
              title: cd.dialogTitle('prediction'),
              close: () => $node.dialog('destroy'),
        beforeClose: event => {
          if (event.keyCode === $.ui.keyCode.ESCAPE) {
            return true;
          }
        }
    });
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  const setupAutoRevertCheckBox = ($node, colour) => {
    const $checkbox = $(`#${colour}-revert-checkbox`, $node);
    $checkbox
      .prop('checked', autoRevert[colour])
      .change(() => autoRevert[colour] = $checkbox.prop('checked'));
    cd.createTip($checkbox,
      `auto-revert when<br/>
       prediction == <span class="${colour}">${colour}</span><br/>
       actual != <span class="${colour}">${colour}</span>`
    );
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  const setupRagClick = (runTests, $node, colour) => {
    $(`#predict-${colour}`, $node).click(() => {
      $node.remove();
      predicted.val(colour);
      const $oldLast = $lastTrafficLight();
      runTests(() => testRunComplete(colour, $oldLast));
    });
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  const setupBlurbClick = (runTests, $node, colour) => {
    $(`.predict-blurb.${colour}`, $node).click(() => {
      $node.remove();
      predicted.val(colour);
      const $oldLast = $lastTrafficLight();
      runTests(() => testRunComplete(colour, $oldLast));
    });
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  const testRunComplete = (predictedColour, $oldLast) => {
    const $newLast = $lastTrafficLight();
    const actualColour = $newLast.data('colour');
    const predictedWrong = (actualColour != predictedColour);
    const autoRevertOn = autoRevert[predictedColour];
    const lightToRevertTo = ($oldLast != undefined);
    if (predictedWrong && autoRevertOn && lightToRevertTo) {
      const srcIndex = $oldLast.data('index');
      cd.checkout({ src_id:cd.kataId(), src_index:srcIndex });
    }
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  const $lastTrafficLight = () => {
    return $('#traffic-lights .diff-traffic-light').last();
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  const autoRevert = {
      red:false,
    amber:false,
    green:false
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  const predictButtons = () => {
    let html = '';
    html += '<table>';
    html += predictRow('red',   blurb('red',   'some of the tests will fail'));
    html += predictRow('amber', blurb('amber', 'the tests wont run'));
    html += predictRow('green', blurb('green', 'all of the tests will pass'));
    html += '</table>';
    return html;
  };

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  const predictRow = (rag, blurb) =>
    `<tr>
      <td>${lightImg(rag)}</td>
      <td>${blurb}</td>
      <td class="predict">${predictCheckbox(rag)}</td>
    </tr>`;

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  const blurb = (colour, text) =>
    `<div class="predict-blurb ${colour}">
      ${text}
     </div>`;

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  const lightImg = (rag) =>
    `<div id="predict-${rag}">
      <img src="/traffic-light/image/${rag}.png">
     </div>`;

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  const predictCheckbox = (rag) =>
    `<input type="checkbox" id="${rag}-revert-checkbox"/>
     <label for="${rag}-revert-checkbox"></label>`;

  //- - - - - - - - - - - - - - - - - - - - - - - - -
  const predictInfo = () => {
    return '' +
      `<div class="predict info">
        When a checkbox is ticked, an incorrect prediction will be automatically reverted!
       </div>
       <div class="predict info">
         Traffic-lights will be prefixed by a small icon.<br/>
         For example:
         <table>
           <tr>
             <td>
               <img class="cross" src="/traffic-light/image/circle-cross.png">
               <img src="/traffic-light/image/amber.png">
             </td>
             <td>
               incorrectly predicted <span class="red">red</span> or <span class="green">green</span>
             </td>
           </tr>
           <tr>
             <td class="text-align:right;">
               <img class="tick" src="/traffic-light/image/circle-tick.png">
               <img src="/traffic-light/image/green.png">
             </td>
             <td>
               correctly predicted <span class="green">green</span>
             </td>
           </tr>
           <tr>
             <td>
               <img class="revert" src="/traffic-light/image/circle-revert.png">
               <img src="/traffic-light/image/red.png">
             </td>
             <td>
               auto-reverted back to <span class="red">red</span>
             </td>
           </tr>
         </table>
       </div>`;
  };

});
</script>
