
<div id="edit-summary">
  <table>
    <tr>
      <td><%= render partial: 'avatar_image' %></td>
      <td><%= render partial: 'test_button' %></td>
      <td><%= render partial: 'traffic_lights_pie_chart' %></td>
      <td><%= render partial: 'traffic_lights_count' %></td>
    </tr>
  </table>
</div>
