<button type="button" id="test-button">test</button>

<script>
'use strict';
$(() => {

  const $button = $('#test-button');

  cd.kata.testButton = {
     enable: () => $button.attr('disabled', false),
    disable: () => $button.attr('disabled', true )
  };

  $button.click(() => {
    cd.kata.testButton.disable();
    cd.kata.runTests(cd.kata.testButton.enable);
  });

});
</script>
