<button type="button" id="test-button">test</button>

<script>
'use strict';
$(() => {

  const $button = $('#test-button');

  cd.kata.testButton = {
    hide: () => $button.hide('slide', {direction:'left'}, 500),
    show: () => $button.show('slide', {direction:'left'}, 500)
  };

  $button.click(() => {
    cd.kata.testButton.disable();
    cd.kata.runTests(cd.kata.testButton.enable);
  });

});
</script>
