<button type="button" id="test-button">test</button>

<script>
'use strict';
$(() => {

  cd.kata.testButton = $('#test-button');
  cd.kata.testButton.enable  = () => cd.kata.testButton.attr('disabled', false);
  cd.kata.testButton.disable = () => cd.kata.testButton.attr('disabled', true);

  cd.kata.testButton.click(() => {

    // Called from 2 places
    // 1. when you click [test]
    // 2. when you hot-key Alt-T (and predict === 'off')
    const form = $('form');
    cd.kata.testButton.disable();
    cd.saveCodeFromSyntaxHighlightEditors();
    cd.waitSpinner.fadeIn('slow', () => {
      $.ajax({
           timeout: 30000, // [X]
              type: 'POST',
               url: form.attr('action'),
              data: form.serialize(),
             error: error,
          complete: (_xhr, _status) => {
            if (cd.settings.predict() === 'off') {
              cd.kata.testButton.enable();
            }
            cd.waitSpinner.fadeOut('slow');
          }
      });
    });
    // [X] This 30s timeout is different to runner's max_seconds
    // from the start-point's manifest.json file.
  });

  //- - - - - - - - - - - - - - - - - - - - - - -
  const error = (request, status, thrown) => {
    const message = [
      request.responseText,
      '----------------------------',
      `Status=${status}`,
      thrown
    ].join("\n");
    cd.dialogError(message);
  };

});
</script>
