<button type="button" id="test-button">test</button>

<script>
'use strict';
$(() => {

  const $button = $('#test-button');

  cd.kata.testButton = {
    hide: () => $button.hide('slide', {direction:'left'}, 500),
    show: () => $button.show('slide', {direction:'left'}, 500)
  };

  const  enableTestButton = () => $button.attr('disabled', false);
  const disableTestButton = () => $button.attr('disabled', true );

  $button.click(() => {
    disableTestButton();
    cd.kata.runTests(enableTestButton);
  });

});
</script>
