
<button type="button"
        id="test-button"
        value="test">
</button>

<script type="text/javascript"><!--
'use strict';
$(() => {

  cd.testButton = $('#test-button');
  cd.testButton.enable  = () => cd.testButton.attr('disabled', false);
  cd.testButton.disable = () => cd.testButton.attr('disabled', true);

  cd.testButton.click(() => {
    // Called from 3 places
    // 1. when you click [test]
    // 2. when you hot-key Alt-T
    // 3. when you checkout from a diff-review
    cd.testButton.disable();
    cd.saveCodeFromSyntaxHighlightEditors();
    cd.waitSpinner.fadeIn('slow', () => {
      const form = cd.testButton.closest('form');
      $.ajax({
           timeout: 30000, // 30 seconds
              type: 'POST',
               url: form.attr('action'),
              data: form.serialize(),
          complete: complete,
             error: error
      });
    });
  });

  //- - - - - - - - - - - - - - - - - - - - - - -
  const complete = (_xhr, _status) => {
    cd.waitSpinner.fadeOut('slow', () => {
      cd.testButton.enable();
    });
  };

  //- - - - - - - - - - - - - - - - - - - - - - -
  const error = (request, status, thrown) => {
    cd.dialogError([
      request.responseText,
      '----------------------------',
      `Status=${status}`,
      thrown
    ].join("\n"));
  };

});
//--></script>
