<button type="button" id="test-button">test</button>

<script>
'use strict';
$(() => {

  const kata = cd.kata;

  const $button = $('#test-button');

  $button.click(() => kata.testButton.click());

  kata.testButton = {
    hide: (f) => {
      disableTestButton();
      $button.hide('slow', f);
    },
    show: () => {
      $button.show('slow', enableTestButton);
    },
    click: () => {
      disableTestButton();
      kata.noPrediction();
      kata.runTests(enableTestButton);
    }
  };

  const  enableTestButton = () => $button.attr('disabled', false);
  const disableTestButton = () => $button.attr('disabled', true );

});
</script>
