<button type="button" id="test-button">test</button>

<script>
'use strict';
$(() => {

  const $button = $('#test-button');

  cd.kata.testButton = {
    // TODO: slide <-->
    hide: () => $button.hide(),
    show: () => $button.show()
  };

  $button.click(() => {
    cd.kata.testButton.disable();
    cd.kata.runTests(cd.kata.testButton.enable);
  });

});
</script>
