
<script type="text/javascript"><!--

$(() => {

  const testButton  = $('#test-button');
  const testSpinner = $('#test-spinner');
  const testOverlay = $('<div id="test-overlay"></div>');

  const form = testButton.closest('form');

  testButton.enable = () => {
    testButton.attr('disabled', false);
  };

  testButton.disable = () => {
    testButton.attr('disabled', true);
  };

  testButton.click(() => {
    // Called from 3 places
    // 1. when you click [test]
    // 2. when you hot-key Alt-T
    // 3. when you revert

    cd.saveCodeFromSyntaxHighlightEditors();
    cd.storeOutgoingFileHashes();

    $.ajax({
      timeout: 30000, // 30 seconds (twice server timeout)
         type: 'POST',
          url: form.attr('action'),
         data: form.serialize(),

      beforeSend: (_xhr, _settings) => {
        testButton.disable();
        testOverlay.insertAfter($('body'));
        testSpinner.show();
      },
      success: (_data, _status, _xhr) => {
        cd.rebuildFilenameList();
        cd.storeIncomingFileHashes();
      },
      error: (_xhr, status, _thrown) => {
        const output = cd.fileContentFor('output');
        if (status == 'timeout') {
          output.val(status + ': have you lost your network connection?');
        }
        if (status == 'error') {
          output.val(status + ': is the cyber-dojo server down?');
        }
      },
      complete: (_xhr, _status) => {
        testSpinner.hide();
        testOverlay.remove();
        testButton.enable();
        cd.loadFile('output');
      }
    });
  });

});

//--></script>
