<div id="traffic-lights-counts">
  <div class="box">
    <div class="red count">0</div>
    <img src="/images/traffic-light/red.png">
  </div>
  <div class="box">
    <div class="amber count">0</div>
    <img src="/images/traffic-light/amber.png">
  </div>
  <div class="box">
    <div class="green count">0</div>
    <img src="/images/traffic-light/green.png">
  </div>
  <div class="timed_out box" style="display:none;">
    <div class="timed_out count">0</div>
    <img src="/images/traffic-light/timed_out.png">
  </div>
  <div class="pulling box" style="display:none;">
    <div class="pulling count">0</div>
    <img src="/images/traffic-light/pulling.png">
  </div>
  <div class="faulty box" style="display:none;">
    <div class="faulty count">0</div>
    <img src="/images/traffic-light/faulty.png">
  </div>
</div>

<script>
'use strict';
$(() => {

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // cd.kata.updateTrafficLightsCounts() updates the total-counts
  // It is called from these places:
  //   1) views/kata/_edit.html.erb when page loads/refreshes.
  //   2) views/kata/run_tests.js.erb when [test] is clicked.
  //   3) views/review/_review.html.erb when [checkout] is clicked.

  const $counts = $('#traffic-lights-counts');

  cd.kata.updateTrafficLightsCounts = (light) => {
    const colour = light.colour;
    if (counts[colour] > 0) {
      $(`.${colour}.box`).show();
    }
    $('.count', $counts).removeClass('actual');
    $(`.${colour}.count`, $counts)
      .text(counts[colour] += 1)
      .addClass('actual');
  };

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  const counts = {
    red: 0,
    amber: 0,
    green: 0,
    timed_out: 0,
    pulling: 0,
    faulty:0,
  };

});
</script>
