<div class="kata traffic-lights-counts">
  <div class="box">
    <div class="red count">0</div>
    <img src="/images/traffic-light/red.png">
  </div>
  <div class="box">
    <div class="amber count">0</div>
    <img src="/images/traffic-light/amber.png">
  </div>
  <div class="box">
    <div class="green count">0</div>
    <img src="/images/traffic-light/green.png">
  </div>
  <div class="timed_out box" style="display:none;">
    <div class="timed_out count">0</div>
    <img src="/images/traffic-light/timed_out.png">
  </div>
  <div class="pulling box" style="display:none;">
    <div class="pulling count">0</div>
    <img src="/images/traffic-light/pulling.png">
  </div>
  <div class="faulty box" style="display:none;">
    <div class="faulty count">0</div>
    <img src="/images/traffic-light/faulty.png">
  </div>
</div>

<script>
'use strict';
$(() => {

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // cd.kata.updateTrafficLightsCounts() is called from:
  //   1) views/kata/_edit.html.erb when page loads/refreshes.
  //   2) views/kata/run_tests.js.erb when [test] is clicked.
  //   3) views/review/_review.html.erb when [checkout] is clicked.

  const $counts = $('.kata.traffic-lights-counts');

  const counts = {
    red: 0, amber: 0, green: 0,
    timed_out: 0, pulling: 0, faulty:0,
  };

  cd.kata.trafficLightsCounts = {};

  cd.kata.trafficLightsCounts.update = (light) => {
    // An incorrect prediction with revert-on for the predicted
    // colour results in two traffic-lights; a 1st for the
    // incorrect prediction, a 2nd to revert it.
    // The 2nd revert light contributes to the current colour-outcome.
    const colour = light.colour;
    const $count = $(`.${colour}.count`, $counts);
    $('.count', $counts).removeClass('actual');
    $count.addClass('actual');
    // The 2nd revert light does _not_ contribute to the count
    // totals which is the number of times there has been
    // a test submission (with or without a prediction).
    if (!cd.lib.isRevert(light) && !cd.lib.isCheckout(light)) {
      $count.text(counts[colour] += 1);
    }
    // Most katas will have only red/amber/green totals,
    // so don't show timed_out,pulling,faulty unless they occur.
    if (counts[colour] > 0) {
      $(`.${colour}.box`, $counts).show();
    }
  };

});
</script>
