<div id="traffic-lights"></div>

<script>
'use strict';
$(() => {

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // There are two sequences of traffic-lights:
  // o) kata-page traffic-lights live under #traffic-lights.
  //    Click any of these to open the diff-review
  // o) review-page traffic-lights live under #review-traffic-lights.
  //    Click any of these to move to it in the diff-review.
  // The first of these are controlled here.
  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  const avatarIndex = () => '<%= @manifest['group_index'] %>';

  const $lights = $('#kata-page #traffic-lights');

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // cd.kata.appendTrafficLight() sets up the tip/click handlers
  // for the kata-page (but not review-page) traffic-lights.
  // It is called in these places:
  //   1) From views/kata/edit.html.erb
  //      - When the page loads.
  //   2) From views/kata/run_tests.js.erb
  //      - When you run the [test]s (and when there is a revert)
  //   3) From views/review/_checkout_button.html.erb
  //      - When you click [checkout].
  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  cd.kata.appendTrafficLight = (light, option={scrollIntoView:false}) => {
    if (cd.lib.isVisible(light)) {
      cd.lib.appendImageIfPrediction($lights, light);
      cd.lib.appendImageIfCheckout($lights, light);
      const index = light.index;
      const colour = light.colour;
      const $light = $trafficLightImage(index, colour);
      $lights.append($light);
      if (option.scrollIntoView) {
        $light.scrollIntoView({
          direction: 'horizontal',
           duration: 'slow'
        });
      }
      cd.kata.updateTrafficLightsCounts(light);
      cd.kata.updatePredictCounts(light);
      const id = cd.kata.id();
      $light.click(() => cd.review.fromTestPage(id, index));
      cd.setupTrafficLightTip($light, colour, avatarIndex, id, index-1, index);
    }
  };

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // Don't use show() hide() here as the animation is far
  // too slow (even on 'fast') when you have a reasonably
  // large number of traffic-lights.

  const $predictImages = () => $('img.revert, img.tick, img.cross', $lights);

  cd.kata.hidePredictImages = () => {
    $predictImages().addClass('hide');
    cd.kata.scrollLastTrafficLightIntoView();
  };

  cd.kata.showPredictImages = () => {
    $predictImages().removeClass('hide');
    cd.kata.scrollLastTrafficLightIntoView();
  };

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  const $trafficLightImage = (index, colour) => {
    // Revert needs colour+index properties
    return $('<img>', {
      class: 'diff-traffic-light',
        src: `/images/traffic-light/${colour}.png`,
        alt: `${colour} traffic-light`,
      'data-colour': colour,
      'data-index': index
    });
  };

});
</script>
