<script type="text/javascript"><!--
'use strict';
$(() => {

  const reviewPage = () => {
    return $('#review-page')
      .dialog({
          dialogClass: 'no-title',
                width: 1150,
               height: 650,
                modal: true,
             autoOpen: false,
        closeOnEscape: true,
      });
  };

  // wasIndex holds the index of rightmost traffic-light
  // and is needed when run_tests.js.erb calls
  // setupReviewDialogTrafficLights() with its new traffic-light.
  let wasIndex = 0;

  cd.setupReviewDialogTrafficLights = ($lights) => {
    $lights.each((_i,element) => {
      const $light = $(element);
      const id = $light.data('id');
      const nowIndex = $light.data('index');
      setupTrafficLightReviewDialog($light, id, wasIndex, nowIndex);
      cd.setupTrafficLightTip($light, id, wasIndex, nowIndex);
      wasIndex = nowIndex;
    });
  };

  const setupTrafficLightReviewDialog = ($light, id, wasIndex, nowIndex) => {
    $light.click(() => {
      cd.setReviewDialogData(id, "<%= @kata.avatar_name %>", wasIndex, nowIndex);
      $('#kata-page').hide();
      $('#review-page').show();
    });
  };

  cd.setupReviewDialogTrafficLights($('.diff-traffic-light'));

});
//--></script>

<table>
  <tr id="traffic-lights-row">
    <% @kata.lights.each do |light| %>
      <td><%= raw diff_traffic_light(light) %></td>
    <% end %>
  </tr>
</table>
