<div class="traffic-lights-count"></div>

<script type="text/javascript"><!--
'use strict';
$(() => {

  const updateTrafficLightsCount = () => {
    const rags = $('#traffic-lights .diff-traffic-light');
    const redCount     = cd.ragCount(rags, 'red');
    const amberCount   = cd.ragCount(rags, 'amber');
    const greenCount   = cd.ragCount(rags, 'green');
    const timeOutCount = cd.ragCount(rags, 'timed_out');
    const count = redCount + amberCount + greenCount + timeOutCount;
    const colour = rags.last().data('colour');
    const newCount = $('<div>', {
      'class': `traffic-light-count ${colour}`,
      'data-tip': 'traffic_light_count',
      'data-avatar-name': "<%= @kata.avatar_name %>",
      'data-red-count': redCount,
      'data-amber-count': amberCount,
      'data-green-count': greenCount,
      'data-timed-out-count': timeOutCount
    }).text(count);

    if (count > 0) {
      $('.traffic-lights-count').html(newCount);
      // cant reuse newCount, have to refind it
      cd.setupHoverTip($('.traffic-light-count'));
    }
  };

  updateTrafficLightsCount();

});
//--></script>
