<div id="traffic-lights-counts">
  <div id="red-count"   class="count">0</div>
  <div id="amber-count" class="count">0</div>
  <div id="green-count" class="count">0</div>
</div>

<script>
'use strict';
$(() => {

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // cd.kata.updateTrafficLightsCounts() updates the total-counts
  // It is called from these places:
  //   1) views/kata/_edit.html.erb when page loads/refreshes.
  //   2) views/kata/run_tests.js.erb when [test] is clicked.
  //   3) views/review/_review.html.erb when [checkout] is clicked.

  const $counts = $('#traffic-lights-counts');
  cd.setTip($counts, () => cd.showHoverTip($counts, trafficLightsTotalCountHoverTip()));

  cd.kata.updateTrafficLightsCounts = (light) => {
    const colour = light.colour;
    counts[colour] += 1;
    $('.count', $counts).removeClass('current');
    if (['red','amber','green'].includes(colour)) {
      $(`#${colour}-count`).text(counts[colour]).addClass('current');
    }
  };

  const counts = {
    red:0,
    amber:0,
    green:0,
    timed_out:0,
    pulling: 0,
    faulty:0,
  };

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -

  const trafficLightsTotalCountHoverTip = () => {
    let html = '';
    html += '<table>';
    html += lightTr(counts, 'red'  , 'red'  );
    html += lightTr(counts, 'amber', 'amber');
    html += lightTr(counts, 'green', 'green');
    if (counts.timed_out > 0) {
      html += lightTr(counts, 'timed_out', 'timed-out');
    }
    if (counts.pulling > 0) {
      html += lightTr(counts, 'pulling', 'preparing');
    }
    if (counts.faulty > 0) {
      html += lightTr(counts, 'faulty', 'faulty');
    }
    html += '</table>';
    return html;
  };

  const lightTr = (counts, name, text) => {
    const tr = (s) => `<tr>${s}</tr>`;
    const td = (s) => `<td>${s}</td>`;
    return '' +
      tr(td(`<img
              class="traffic-light-diff-tip-traffic-light-image"
              src="/images/traffic-light/${name}.png">`) +
         td(`<div class='traffic-light-diff-tip-tag ${name}'>
              ${counts[name]}
             </div>`) +
         td(text));
  };

});
</script>
