<div id="traffic-lights-counts">
  <div id="red-count"   class="count">0</div>
  <div id="amber-count" class="count">0</div>
  <div id="green-count" class="count">0</div>
</div>

<script>
'use strict';
$(() => {

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  // cd.kata.updateTrafficLightsCounts() updates the total-counts
  // It is called from these places:
  //   1) views/kata/_edit.html.erb when page loads/refreshes.
  //   2) views/kata/run_tests.js.erb when [test] is clicked.
  //   3) views/review/_review.html.erb when [checkout] is clicked.

  const $counts = $('#traffic-lights-counts');
  cd.setTip($counts, () => cd.showHoverTip($counts, trafficLightsTotalsCountHoverTip()));

  cd.kata.updateTrafficLightsCounts = (light) => {
    const colour = light.colour;
    counts[colour] += 1;
    $('.count', $counts).removeClass('current');
    if (['red','amber','green'].includes(colour)) {
      $(`#${colour}-count`).text(counts[colour]).addClass('current');
    }
  };

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  const counts = {
    red: 0,
    amber: 0,
    green: 0,
    timed_out: 0,
    pulling: 0,
    faulty:0,
  };

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  const trafficLightsTotalsCountHoverTip = () => {
    let html = '';
    html += 'tests';
    html += '<table id="traffic-lights-counts-hover-table">';
    html += lightTr('red'  , 'red'  );
    html += lightTr('amber', 'amber');
    html += lightTr('green', 'green');
    if (counts.timed_out > 0) {
      html += lightTr('timed_out', 'timed-out');
    }
    if (counts.pulling > 0) {
      html += lightTr('pulling', 'preparing');
    }
    if (counts.faulty > 0) {
      html += lightTr('faulty', 'faulty');
    }
    html += '</table>';
    return html;
  };

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  const lightTr = (name, text) => {
    return '' +
      tr(td(`<div class='traffic-light-diff-tip-tag ${name}'>
           ${counts[name]}
          </div>`) +
         td(`<img
              class="traffic-light-diff-tip-traffic-light-image"
              src="/images/traffic-light/${name}.png">`) +
         td(text));
  };

  // - - - - - - - - - - - - - - - - - - - - - - - - - - - -
  const tr = (s) => `<tr>${s}</tr>`;
  const td = (s) => `<td>${s}</td>`;

});
</script>
