
<%= render partial: 'shared/hover_tip_container' %>
<%= render partial: 'shared/app_bar' %>

<div id="review-page" style="display:none">
  <%= render partial: 'review/review' %>
</div>

<div id="kata-page">
  <%= render partial: 'view_test' %>
</div>

<script type="text/javascript">
'use strict';
$(() => {
  cd.loadInitialFile();
});
</script>
