
<div id="review-page" style="display:none">
  <%= render partial: 'review/review' %>
</div>

<div id="kata-page">
  <%= render partial: 'view_test' %>
</div>

<%= render partial: 'shared/hover_tip_container' %>
<%= render partial: 'shared/app_bar',
           locals: {
              help_url:"https://blog.cyber-dojo.org/2014/10/the-cyber-dojo-test-page.html"
           } %>

<script type="text/javascript"><!--
'use strict';
$(() => {
  cd.loadInitialFile();
});
//--></script>
