
<script type="text/javascript"><!--

$(function() {

  const ok = $('button#ok');

  ok.click(function() {
    window.location.href = "/dashboard/show/<%= @kata_id %>";
  });

  cd.createTip(ok, 'open a dashboard');

});

//--></script>

<div id="group-landing-page">
  <table class="align-center">
    <tr>
      <td>
        <div id="title">our&nbsp;new&nbsp;session&nbsp;ID&nbsp;is</div>
        <div id="kata-id"><%= @kata_id[0..5] %></div>
      <td>
    </tr>
  </table>

  <div class="align-center">
    <button id="ok">
      ok
    </button>
  </div>

</div>

<%= render partial: 'shared/app_bar_short',
    locals: { help_url: "http://blog.cyber-dojo.org/p/learn-more.html" } %>
