
<script type="text/javascript"><!--

$(function() {

  $('button#ok').click(function() {
    window.location.href = cd.homePageUrl('<%= @kata_id %>');
  });

});

//--></script>

From: <%= @from %>
<br/>
The session-ID is <%= @kata_id %>
<br/>

<button type="button" id="ok">
  ok
</button>

<%= render partial: 'shared/app_bar_short',
    locals: { help_url: "http://blog.cyber-dojo.org/p/learn-more.html" } %>
