
<script type="text/javascript"><!--

$(function() {

  $('button#ok').click(function() {
    window.location.href = cd.homePageUrl('<%= @kata_id %>');
  });

});

//--></script>

<div id="group-landing-page">
  <table class="align-center" cellpadding="0" cellspacing="0">
    <tr>
      <td>
        <div id="title">our new session ID is</div>
        <div id="kata-id"><%= @kata_id[0..5] %></div>
      <td>
    </tr>
  </table>

  <div class="align-center">
    <button id="ok">
      ok
    </button>
  </div>

</div>

<%= render partial: 'shared/app_bar_short',
    locals: { help_url: "http://blog.cyber-dojo.org/p/learn-more.html" } %>
