#avatar-navigator
{
  width: 66px;
  height: 23px;
  padding: 4px;
  margin-left: 28px;
  margin-bottom: -4px;
  right: 0px;
  top: 5px;
  transform: scale(1.4);
  position: relative;
  top: -2px;
}
#review-avatar-image-box
{
  img.avatar-image
  {
    border-radius: 6px;
    cursor: pointer;
    width: 21px;
    height: 21px;
    margin: { left: 2px; right: 2px; }
    padding: 0px;
  }
}
