
$black: #000;
$darker-color: darken(#666, 25%);
$lighter-color: lighten(Khaki, 5%);
$text-color: darken($lighter-color, 10%);

$fadePercent: 15%;

$pulling: #2CDFF0;
$red:   lighten(#F00, $fadePercent);
$amber: lighten(#FF0, $fadePercent);
$green: lighten(#0F0, $fadePercent);

$blue:  #00F;

.create { color: Gray; }

.red       { color: $red;   }
.amber     { color: $amber; }
.green     { color: $green; }

.file_create { color: Gray; }
.file_delete { color: Gray; }
.file_rename { color: Gray; }
.file_edit   { color: Gray; }

.timed_out { color: Gray;     }
.faulty    { color: DarkGray; }
.pulling   { color: $pulling;   }

$diff-added-count-color: lighten($green, 20%);
$diff-deleted-count-color: lighten($red, 20%);
$diff-same-count-color: Gray;

$projector-background: White;

$diff-added-line-background: lighten($green, 25%);
$diff-deleted-line-background: lighten($red, 25%);
