#diff
{
  font: bold 10px sans-serif;
  border-radius: 6px;
  display: inline-block;
  width: 79px;
  color: $lighter-color;
  background: lighten($darker-color,10%);
  padding: 2px;
  margin: { top:10px; left:55px; } 
  label 
  {
    position: relative;
    top: -3px;
  }
}

#diff-title
{
  display: block;
  padding-left: 4px;
  position: relative;
  bottom: -2px;
  padding-bottom: 3px;
}
