#XX_diff-checkbox-cell
{
  display: inline-block;
  width: 39px;
  border-radius: 3px;
  color: Black;
  background: lighten($darker-color,40%);
  padding: { left:3px; right:1px; top:0px; bottom:0px; }
  margin: { top: 5px; left: 55px; } 
}

#XX_diff-checkbox-title
{
  display: inline;
  font: bold 10px sans-serif;
  padding-left: 4px;
  cursor: pointer;
  position: relative;
  bottom: 2px;
}

#XX_diff-checkbox
{
  display: inline;
  margin: 0px;
  vertical-align: middle;
  cursor: pointer;
  transform: scale(0.9);
  position: relative;
  top: -1px;
}
