#predict-checkbox-cell
{
  white-space: nowrap;
  display: inline-block;
  width: 66px;
  border-radius: 3px;
  color: Black;
  background: lighten($darker-color,40%);
  padding: { left:3px; right:1px; top:0px; bottom:1px; }
  margin-top: 3px;
  margin-bottom: 3px;
}

#predict-checkbox-title
{
  display: inline;
  font: bold 11px sans-serif;
  padding: { left:7px; right:2px; }
  cursor: pointer;
  vertical-align: middle;
  letter-spacing: 0.02em;
}

#predict-checkbox
{
  display: inline;
  margin: 0px;
  vertical-align: middle;
  cursor: pointer;
  transform: scale(0.9);
  position: relative;
  top: -1px;
}
