#review-page
{
  display: none; // Because also present in edit page

  .controls
  {
    margin: { top:1px; bottom: 10px; left:$left-column-left-margin; }
  }

  #traffic-light-navigator
  {
    width: 115px;
    max-height: 25px;
    vertical-align: top;
    margin: { left: 0px; right: 2px; top: 1px; bottom: 0px; }
  }

  #review-traffic-lights
  {
    display: inline-flex;
    width: 630px;
    margin: { top:2px; bottom:5px; }
  }

  //- - - - - - - - - - - - - - - - - -

  #resume-button
  {
    font-size: 25px;
    padding: { top:1px; bottom:3px; left:7px; right:6px; }
    margin-right:5px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.02em;
    position: relative;
    top: 1px;
  }
  #checkout-button, #revert-button, #fork-button
  {
    font-size: 11px;
    padding: { top:1px; bottom:1px; left:3px; right:3px; }
    margin-top: 8px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.02em;
  }
  #fork-button { width: 38px; }
  #revert-button, #checkout-button { width: 70px; }

  //- - - - - - - - - - - - - - - - - -

  #traffic-light-navigator, #avatar-navigator
  {
    display: inline-flex;
    border-radius: 5px;
    background: lighten($darker-color,10%);
    padding: 4px;
    #review-index-box
    {
      min-width: 40px;
      #index-number
      {
        border-radius: 4px;
        padding: { left: 3px; right: 3px; }
        font-size: 17px;
        text-align: center;
      }
    }
    .triangle.button
    {
      border-radius: 4px;
      width: 20px;
      height: 20px;
      padding: 0px;
      border: 1px solid lighten($darker-color,35%);
      &:hover { border: 1px dotted lighten($darker-color,35%); }
      &[disabled]
      {
        background: lighten($darker-color,35%);
        &:hover { border: 1px solid lighten($darker-color,35%); }
      }
    }
    #first-index, #prev-index, #next-index, #last-index,
    #prev-avatar, #next-avatar
    {
      img
      {
        border-radius: 0px;
        width: 12px;
        height: 12px;
        padding: 0px;
        position: relative; top: 1px; // down
      }
    }
    #first-index, #last-index
    {
      &.triangle.button
      {
        width: 15px;
        height: 15px;
      }
      img
      {
        width: 6px;
       height: 6px;
       padding: 0px;
       position: relative; top: -2px; // up
      }
    }
  }
}

#traffic-light-navigator { padding-bottom: 3px !important; }
#avatar-navigator { padding-bottom: 2px !important; }

.no-title .ui-dialog-titlebar { display: none; }
