#traffic-lights, #review-traffic-lights
{
  display: flex;
  margin: { left:0px; top:0px; right:0px; bottom:9px; }
  overflow-x: auto;
  overflow-y: hidden;
  &::-webkit-scrollbar:horizontal { height:0px; }
}

$traffic-light-size: 19px;

@mixin circle-border($width)
{
  border-radius: $width / 2 + 1;
}

img.diff-traffic-light
{
  cursor: pointer;
  width: $traffic-light-size;
  height: $traffic-light-size;
  @include circle-border($traffic-light-size);
  border-radius: 10px;
  padding: { left:0px; right:0px; }
  margin: { left:0px; right:2px; }
}

img.diff-traffic-light[data-colour|='file_create'],
img.diff-traffic-light[data-colour|='file_delete'],
img.diff-traffic-light[data-colour|='file_rename'],
img.diff-traffic-light[data-colour|='file_edit']
{
  width: $traffic-light-size - 2;
  height: $traffic-light-size - 2;
  margin: { left:1px; right:3px; }
  position: relative; top: 2px;
  padding-bottom: 2px;
}

img.revert, img.checkout
{
  width: $traffic-light-size - 2px;
  height: $traffic-light-size - 2px;
  @include circle-border($traffic-light-size);
}

img.tick, img.cross
{
  width: 11px;
  height: 11px;
  @include circle-border(11px);
  margin-right: -1px;
  &.hide { display:none; }
}

img.revert, img.checkout, img.tick, img.cross
{
  &.red   { border: 1px solid $red  ; }
  &.amber { border: 1px solid $amber; }
  &.green { border: 1px solid $green; }
}

.current-light-box { display: grid; }

img#traffic-light-marker
{
  width: $traffic-light-size;
  height: 3px;
  margin-top: 2px;
}
