#traffic-lights, #review-traffic-lights
{
  display: flex;
  margin: { left:0px; top:0px; right:0px; bottom:9px; }
  overflow-x: auto;
  overflow-y: hidden;
  &::-webkit-scrollbar:horizontal { height:0px; }
}

$traffic-light-size: 19px;

@mixin circle-border($width)
{
  border-radius: $width / 2 + 1;
}

img.diff-traffic-light
{
  cursor: pointer;
  width: $traffic-light-size;
  height: $traffic-light-size;
  @include circle-border($traffic-light-size);
  border-radius: 10px;
  padding: { left:0px; right:0px; }
  margin: { left:0px; right:2px; }
}

img.tick, img.cross-red, img.cross-amber, img.cross-green,
img.revert, img.checkout
{
  width: 11px;
  height: 11px;
  @include circle-border(11px);
  margin-right: -1px;
  &.hide { display:none; }
}

img.cross-red, img.cross-amber, img.cross-green 
{
  border: 1px solid Gray;
}

.current-light-box { display: grid; }

img#traffic-light-marker
{
  width: $traffic-light-size;
  height: 3px;
  margin-top: 2px;
}
