<script type="text/javascript">
'use strict';
$(() => {

  cd.waitSpinner = $('#wait-overlay');

});
</script>

<div id="wait-overlay"
     style="display:none;">
  <img
  src="/images/rotate-cyber-dojo.gif"
   id="wait-spinner">
</div>
